<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
<span></span>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('ProductId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ProductId'"></cb-svg></th>
      <th class="not-sortable cb_table-col_image">Image</th>
      <th (click)="sortBy('Name')">Product Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Name'"></cb-svg></th>
      <th class="cb_table-col_active" (click)="sortBy('IsActive')" data-status="true">Active <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='IsActive'"></cb-svg></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td>
          <input type="checkbox" [(ngModel)]="selectedProducts[row.ProductId]" /> &nbsp;
          {{row.ProductId}}
        </td>
        <td>
          <img *ngIf="row.ImageFile" src="{{row.ImageFile | imagePath: imageRoot}}" />
          <img *ngIf="!row.ImageFile" src="assets/img/noimage.gif" />
        </td>
        <td>{{row.Name}}</td>
        <td [attr.data-status]="row.IsActive"><cb-svg [icon]="'power'"></cb-svg></td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>

<br/>
<br/>
<div class="cb_content_submit">
  <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
  <button class="cb_input-keyAction" (click)="save()">Save</button>
</div>