@import (reference) "corebridge/colors";
@import (reference) "custom/function-vars";
@import (reference) "styles";

.container {
    color: @cb_06;
}



.featured-container{
    height: 200px;
    width: 200px;
    min-width: 200px;
    min-height: 200px;
    border: 1px solid #999;
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px;
}

.cb_drop-zone {
    background-image: linear-gradient(to right, #dbdbdb 50%, transparent 50%), linear-gradient(to right, #dbdbdb 50%, transparent 50%), linear-gradient(to bottom, #dbdbdb 50%, transparent 50%), linear-gradient(to bottom, #dbdbdb 50%, transparent 50%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 3px, 20px 3px, 3px 20px, 3px 20px;
    height: 260px;
    text-align: center;
    margin: 10px 0;

    &.shrink {
        height: 60px;

        .file-upload-copy {
            padding-top: 20px;
            color: #939393;
        }
    }

    .file-upload-copy {
        padding-top: 110px;
        font-weight: 500;
        font-size: 14px;
        color: #939393;
        & > .file-upload-copy-extension-hint{
            font-weight: normal;
        }
    }

    .btn-success.upload-icon {
        border-radius: 3px;
        border: 1px transparent solid;
        margin: 12px;
        i {
            width: 20px;
            height: 16px;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }
    }
}

:host ::ng-deep {
  .nv-file-drag {
      background-image: linear-gradient(to right, @cb-1 50%, transparent 50%), linear-gradient(to right, @cb-1 50%, transparent 50%), linear-gradient(to bottom, @cb-1 50%, transparent 50%), linear-gradient(to bottom, @cb-1 50%, transparent 50%);
      background-position: left top, left bottom, left top, right top;
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      background-size: 20px 3px, 20px 3px, 3px 20px, 3px 20px;
      body.mistype-1 & {
        background-image: linear-gradient(to right, @cy-1 50%, transparent 50%), linear-gradient(to right, @cy-1 50%, transparent 50%), linear-gradient(to bottom, @cy-1 50%, transparent 50%), linear-gradient(to bottom, @cy-1 50%, transparent 50%);
      }
  }
  .nv-file-over {
    background-color: rgba(227, 240, 201, 0.1);
    background-image: none;
    border: solid 2px @cb-1;
    body.mistype-1 & {
        border-color: @cy-1;
    }
  }
  .nv-file-drag .file-upload-copy, .nv-file-over .file-upload-copy {
      color: @cb-1 !important;
      body.mistype-1 & {
        color: @cy-1 !important;
      }
  }
}

.another-file-over-class {
    border: dotted 3px @button-success-background-color;
}
html, body {
    height: 100%;
}
.cb_file-uploader-input[type="file"] {
	color: transparent;
}
.cb_file-input-text {
    color: @text-link;
    text-decoration: underline;
}
.cb_file-input-text:active {
    color: @text-link-active;
}
.cb_file-input-text:hover {
    color: @text-link-hover;
}
.cb_file-input-text:hover {
    cursor: pointer;
    color: @button-primary-hover-background-color;
}
.btn-danger {
    border: none;
    background-color: #ea706c !important;
}
.btn-danger:hover {
    background-color: #e42923 !important;
}
.progress-bar {
    background-color: @button-success-background-color;
    transition: width 1s;
}
.cb_input-url {
    width: 100%;
    line-height: 30px;
    border: solid 1px lightgray;
    margin-bottom: 10px;
}
.form-control-float-wrapper {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 20px;
}
.cb_upload-alert-wrapper button{
    margin-left: 20px;
}
cb-svg.checkMark {
	color: @default-record-icon-color;
}
cb-svg.warningTriangle {
	color: @state-warning;
}
.url-default-progress {
    width: 0%;
}
.url-progress .url-progress-bar {
    width: 100%;
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
}
@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

.cb_upload-url-button {
    padding: 6px 16px;
}

.cb_filename-label, .cb_via-url-label {
    font-weight: 500;
    color: #939393;
}

.file-upload-progress {
    height: 202px;
    overflow-y: scroll;
    padding-right: 30px;
    margin-top: 20px;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
        background-color: #f2f2f2;
        border-radius: 20px;
    }

    .file-upload-item {
        margin-bottom: 20px;
    }

    p {
        font-size: 14px;
        margin-bottom: 14px;
        color: #939393;
    }

    .progress {
        height: 6px;
        margin-bottom: 5px;
    }

    .progress-info {
        font-weight: 300;
        color: #939393;
    }

    display: flex;
    .file-upload-item {
        display: flex;
        > div {
            height: 200px;
            width: 200px;
            border: 1px solid #797979;
            display:flex;
            > div {
                height: 48px;
                width:48px;
                margin:auto;
                > i {
                    font-size:48px;
                    color: #8c8c8c;
                }
            }
        }
    }
}

.url-banner{
    white-space: nowrap;
    overflow: hidden;
}

.cb_uploader-url-container input {
    width: 80%;
    margin-right: 20px;
}

.cb_uploader-url-container button {
    margin-top: -5px;
}

.uploader__container {
    height: 100%;

    .uploader__drop-zone {
        height: 50%;

        &.full {
            height: 100%;
        }
    }
}

.file-upload-item:not(:first-child) {
    margin-left: 10px;
}


// LESS styling for ngx-dropzone
:host ::ng-deep {
  .preview-container {
    display: flex;
    flex-wrap: wrap;
    // margin: 15px 0px;

    custom-dropzone-preview {
      height: 100px !important;
      width: 100px !important;
      &.featured {
        height: 200px !important;
        width: 200px !important;
        min-width: 200px !important;
        min-height: 200px !important;
      }
    }
  }

  button.manual-upload-btn {
    color: white;
    border: 0;
    display: flex;
    border-radius: 3px;
    .fa-cloud-upload {
      font-size: 16px;
      padding: 4px;
    }
    .ui-button-text {
      display: none;
    }
    body.mistype-0 & {
      background-color: @cb-1;
    }
    body.mistype-1 & {
      background-color: @cy-1;
    }
  }
  ngx-dropzone {
    min-height: 80px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-width: 0;

    &.empty {
      // height: 250px;
      border-width: 2px;
    }
    body.drag-start & {
      border-width: 2px;
      border-color: @cb-1;
      color: @cb-1;
    }

    body.drag-start.mistype-1 & {
        border-color: @cy-1 !important;
        color: @cy-1;
    }

    ngx-dropzone-label {
      margin: auto;
    }
    &.ngx-dz-hovered {
      color: @cb-1 !important;
      border-color: @cb-1 !important;
      body.mistype-1 & {
        color: @cy-1 !important;
        border-color: @cy-1 !important;
      }
    }
    // button.manual-upload-btn {
      // position: relative;
      // bottom: 105px;
      // right: 5px;
    // }

    .custom-drag-and-drop-div {
      display: flex;
      align-items: center;
      height: 80px;
      width: 100%;
      border: 2px dashed;
      body.drag-start & {
        display: none;
      }

      > div {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.wrapper{
  display: flex;
  flex-wrap: wrap;

}

// TEST STYLES
.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 115px);
    min-width: 10vw;
    max-width: 25vw; // controls images per row in gallery
  }

  
  .selected{
    height: 106px;
  }

  .selected:hover {
    cursor: grab;

    
  }

  .selected:active{
    cursor: grabbing;
  }
