

  <!-- TODO: Add on click method for showing image that is slected -->
  <!-- TODO: Update & Save list of images when images are swapped  -->


<div class="wrapper" >
  <div class="featured-container" *ngIf="items && items.length">
    <img [src]="items[0].ImageFile" width="100%" height="100%">
</div>
  <div class="items-container" dragula="ITEMS" [(dragulaModel)]="items">
    <!-- <div *ngFor="let item of items" class="item-box" [ngStyle]="{'background-image':' url(' + item.ImageFile + ')'}"  style="margin: 5px;" > -->
      <app-image-gallery-image
        #selected_item
        class="selected"
        *ngFor="let item of items; index as i"
        [data]="item"
        [enableInfoButton]="1"
        [enableRemoveButton]="1"
        (onRemoveFile)="remove(item)"
        (onDisplayInfo)="displayInfo($event)"
      ></app-image-gallery-image



        >
    </div>
  </div>
<div>




<ngx-dropzone (change)="onSelect($event)" [class.empty]="!items.length">
  <!-- <ngx-dropzone-label
    style="display: flex;
    width: 100%;"
>

  </ngx-dropzone-label> -->




  <div *ngIf="items.length" class="custom-drag-and-drop-div">
    <div>
      <button
      pButton
      type="button"
      icon="fal fa-cloud-upload"
      iconPos="right"
      class="manual-upload-btn"
      (click)="showManualUploadModal($event)"
      style="    position: relative;
    right: 346px;
    top: 12px;"
    ></button>
      <span>Drag and drop to upload</span>
    </div>
  </div>
</ngx-dropzone>


<!-- POP UP MODAL -->
<cb-insert-image-modal #manualUpload (onUploadDone)="manualUploadDone($event)">
</cb-insert-image-modal>
