:host ::ng-deep {
  min-height: unset !important;
  max-height: unset !important;
  min-width: unset !important;
  max-width: unset !important;

  // height: 100px !important;
  // width: 100px !important;
  margin: 10px !important;
  padding: 0 !important;

  // border: solid 1px #979797;
  border-radius: 0px !important;

 
  //  Individual Image Wrapper
  .inner-container{
    height: 96px;
    width: 96px;
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #999;
}

.inner-container:hover{
  opacity: 0.8;
  .thumbnail-header{
    opacity: 1;
  }
}


  &.featured {
    height: 200px !important;
    width: 200px !important;
  }

  &:hover ngx-dropzone-label-container,
  &:focus ngx-dropzone-label-container {
    opacity: 0.6;
    ngx-dropzone-remove-badge, .ui-button {
      opacity: 1;
    }
  }

  .ui-button:hover, .ui-button:focus {
    background-color: #cccccc;
    color: #000;
  }

  .thumbnail-header {
    height: 32px;
    background-color: white;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover:hover .thumbnail-header  {
    opacity: 1;
    cursor: pointer;
  }

  &:active:active .thumbnail-header {
    opacity: 0;
  }

  .ui-button {
    border: none;
    background-color: transparent;
  }

  .ngx-dropzone-label-container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    border: solid 1px #979797;
    i {
      font-size:48px;
      color: #8c8c8c;
    }
  }

  ngx-dropzone-label {
    margin: auto;
  }

  .ui-button-text.ui-clickable {
    padding: 0;
  }

  
}

.item-box {
    
  list-style: none;
  width: 96px;
  height: 96px;
  border: solid 1px #ccc;
  font-size: 25pt;
  font-weight: bold;
  background: #fff;
  //background: url("../../assets/img/spinner.gif");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  color: rgba(255, 255, 255, 1);
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  //text-shadow: 1px 2px 3px rgba(0,0,0,0.25);
  border: 1px solid #333;
  border-radius: 1px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  // 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  // 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.item-box:active {
  
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: .6;
  cursor: grabbing;
}

