<div class="inner-container" [style.backgroundImage]="'url(' + imageThumbnail + ')'" >
  <!-- <div class="ngx-dropzone-label-container"> -->
    <!-- <ng-content *ngIf="!imageThumbnail" select="ngx-dropzone-label"></ng-content> -->
  <!-- </div> -->
  <!-- <div class="thumbnail-header" style="height: 26px; background-color: white;" *ngIf="productImageId || file.ProductImageID"> -->
    <div class="thumbnail-header" style="height: 26px; background-color: white;" >
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button pButton type="button" icon="fal fa-grip-vertical" class="ui-button-secondary ui-button-icon-only"></button>
      </div>
      <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="fal fa-info" [disabled]="!enableInfoButton" class="ui-button-success ui-button-icon-only" styleClass="flat"  (click)="displayInfoCallback($event)"></button>
        <button pButton type="button" icon="fal fa-trash-alt" [disabled]="!enableRemoveButton" class="ui-button-danger ui-button-icon-only" styleClass="flat" (click)="deleteFileCallback($event)"></button>
      </div>
    </p-toolbar>
  </div>

</div>
