<!--div class="cb_content_primary-toolbar">
    <div class="cb_input-filter-wrapper solo">
    <input class="cb_input-filter" type="text">
    </div>
</div-->

<ul class="cb_accordion">
    <li class="cb_accordion-segment" *ngFor="let SubSection of subSections">
        <input class="cb_accordion-segment_toggle" type="checkbox"/>
        <div class="cb_accordion-segment_header clearfix">
            <i class="cb_accordion-segment_header-openState"></i>
            <h3 class="cb_accordion-segment_header-title">{{SubSection.Name}}:</h3>
            <p class="cb_accordion-segment_header-description">{{SubSection.Description}}</p>
        </div>
        <ul class="cb_accordion-segment_content">
            <ng-container *ngFor="let Report of SubSection.Reports">
                <a href="{{Report.Link}}" target="_blank">
                    <li class="cb_accordion-segment_content-item clearfix">
                        <p class="cb_accordion-segment_content-item_description"><span class="cb_accordion-segment_content-item_title">{{Report.Name}}:</span> {{Report.Description}}</p>
                        <a class="cb_accordion-segment_content-item_link" href="{{Report.Link}}" target="_blank"></a>
                    </li>
                </a>
            </ng-container>
        </ul>
    </li>
</ul>
