<cb-flex-modal #previewDialog (onCloseDialog)="onCloseDialog($event)" (onCancelDialog)="displayDialog = false"
  [displayDialog]="displayDialog" modalTitle="Associate Products" [isLoading]="loading"
  [buttonTexts]="{cancelText: 'Close', saveText: 'Add', saveAndClose: 'Add and Close'}"
  (onSave)="onSave()" [isSubmitValid]="productsAssociateTable.selected.length"
  >
  <div class="flex-modal-body-content">
    <!-- <cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
      <ng-content></ng-content>
    </cb-table-toolbar>
    <br>
    <cb2-table [value]="filtered" [cols]="_columns" idField="CategoryId" >
    </cb2-table> -->
  </div>
  <!-- <div class="store-theme-dialog-header line-item-detail-header">
    <button pButton class="black back" (click)="closeDialog()" icon="fal fa-arrow-left" label="Back"></button>
  </div> -->

  <!-- <div class="store-theme-dialog-content flex-modal-body-content">
    <div>
      <cb-record-search-actions></cb-record-search-actions>
      <cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
        <ng-content></ng-content>
      </cb-table-toolbar>
      <br>
      <h5>Displaying: {{filtered.length}} Result<span *ngIf="filtered.length > 1">s</span></h5>

      <cb2-table [value]="filtered" [cols]="_columns"
        idField="CatalogId">
      </cb2-table>
    </div>
  </div> -->

  <div class="store-theme-dialog-content flex-modal-body-content">
    <div>
      <br>
      <!-- <cb-record-search-actions></cb-record-search-actions> -->
      <cb-record-search-actions [selected]="productsAssociateTable.selected" (checked)="productsAssociateTable.setSelectAll($event)">
      </cb-record-search-actions>
      <cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search"
        (onSearchChange)="onSearchChange($event)">
        <ng-content></ng-content>
      </cb-table-toolbar>
      <br>
      <h5>Displaying: {{filtered.length}} Result<span *ngIf="filtered.length > 1">s</span></h5>

      <cb2-table [value]="filtered" [cols]="_columns" [idField]="'ProductId'" #productsAssociateTable>
      </cb2-table>
    </div>
  </div>
</cb-flex-modal>
