<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Companies <cb-tooltip locationId="customers_customers"></cb-tooltip></h1>
<p class="cb_content_primary-description">Company records are synced with {{themeService.currentTheme.name}} Management System.</p>

<cb-companies-table (onLoaded)="onLoaded()"></cb-companies-table>
