<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
<button type="button" class="cb_input-keyAction" [routerLink]="'/ecommerce/profiles/add'">+ New Profile</button>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('ProfileId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ProfileId'"></cb-svg></th>
      <th (click)="sortBy('Name')">Profile Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Name'"></cb-svg></th>
      <th class="cb_table-col_show_price" (click)="sortBy('ShowPricing')" [attr.data-status]="true">Show Price <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ShowPricing'"></cb-svg></th>
      <th class="cb_table-col_wholesale_price" (click)="sortBy('UseWholesalePricing')" [attr.data-status]="true">Wholesale Price <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='UseWholesalePricing'"></cb-svg></th>
      <th class="cb_table-col_tax_exempt" (click)="sortBy('TaxExempt')" [attr.data-status]="true">Tax Exempt <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='TaxExempt'"></cb-svg></th>
      <th class="cb_table-col_affiliate_signup" (click)="sortBy('ShowOnPartnerSignup')" [attr.data-status]="true">Affiliate Sign-Up <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ShowOnPartnerSignup'"></cb-svg></th>
      <th class="not-sortable cb_table-col_copy"></th>
      <th class="not-sortable cb_table-col_delete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="goToDetails(row.ProfileId)">
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.ProfileId}}
        </td>
        <td (click)="goToDetails(row.ProfileId)">
          {{row.Name}}
        </td>
        <td [attr.data-status]="row.ShowPricing" (click)="updatePricing(row)">
          <cb-svg title="Toggle Active State" [icon]="'power'"></cb-svg>
        </td>
        <td [attr.data-status]="row.UseWholesalePricing==true" (click)="updateWholesalePricing(row)">
          <cb-svg title="Toggle Active State" [icon]="'power'"></cb-svg>
        </td>
        <td [attr.data-status]="row.TaxExempt" (click)="updateTaxExempt(row)">
          <cb-svg title="Toggle Active State" [icon]="'power'"></cb-svg>
        </td>
        <td [attr.data-status]="row.ShowOnPartnerSignup" (click)="updatePartnerSignup(row)">
          <cb-svg title="Toggle Active State" [icon]="'power'"></cb-svg>
        </td>
        <td class="cb_table-utils">
          <cb-svg title="Duplicate Record" [icon]="'copy'" (click)="copy(row)"></cb-svg>
        </td>
        <td class="cb_table-utils" (click)="delete(row.ProfileId)">
          <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
