@import (reference) "custom/variables";
@import (reference) "custom/colors";
@import (reference) "corebridge/colors";
@import (reference) "custom/function-vars";

:host {
  position: fixed;
  right: 0;
  top: 75px;
  .detailed-alert {
    &[alert-type="error"] {
      .detailed-alert-toggler {
        background-color: @red-4;
        &:hover {
          background-color: #a62630;
        }
      }
      .detailed-alert-body {
        border: solid 1px @red-4;
      }
    }
    transform: translate3d(30px, 0px, 0px);
    pointer-events: all;
    margin-bottom: 5px;
    display: flex;
    .detailed-alert-spacer {
      flex: 1;
    }
    .detailed-alert-toggler {
      cursor: pointer;
      width: 35px;
      min-height: 35px;
      padding-top: 8px;
      text-align: center;
      i {
        color: white;
      }
    }
    .detailed-alert-body {
      flex: 1;
      background-color: white;
      padding: 8px;
      min-width: 380px;
      color: @red-4;
      u {
        cursor: pointer;
      }
    }
  }

  .detailed-alert-issue-console {
    border: solid 1px @red-4;
    background-color: white;
    max-height: 188px;
    overflow-y: auto;
    transform: translate3d(30px, 0px, 0px);
    margin: -6px 0 20px 0;
    padding: 0 15px;
    pointer-events: all;

    .issue-console-item {
      padding: 14px 0 0 33px;
      border-bottom: solid 1px #e7e7e7;

      .error-path {
        margin-bottom: 4px;
        width: 100%;

        span {
          display: inline-block;

          &.error-path-gt {
            width: 10px;
            text-align: center;
          }

          &.error-path-fragment {
            color: #8c8c8c;
            font-size: 10px;
            height: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: fit-content;
          }
        }
      }

      .error-message {
        color: #ce2f3c;
        margin-bottom: 7px;
      }
    }
  }
}

:host ::ng-deep .cb_alert {
  &.addition {
    background-color: @blue-2;
  }
  > i {
    margin-left: 14px;
    margin-right: 4px;
  }
  .cb_alert-utils {
    .cb_alert-utils_close {
      top: 12px;
    }
    .cb_alert-utils_pin {
      display: none;
    }
  }
}
