<div class="cb_alerts">

  <div class="cb_alert reveal" [ngClass]="alert.type" *ngFor="let alert of alerts">
    <i [class]="'fal ' + iconType[alert.type]"></i>
    <p class="cb_alert-message">{{alert.message}}</p>
    <div class="cb_alert-utils">
      <button class="cb_alert-utils_close" (click)="removeAlert(alert)"><i class="fal fa-times"></i></button>
      <button class="cb_alert-utils_pin" (click)="alert.pinned = true" *ngIf="false"><i class="fal fa-thumbtack"></i></button>
    </div>
  </div>

  <ng-container *ngIf="detailedAlerts && detailedAlerts.length > 0 && !(alertService.suppressDetailedErrors | async)">
      <div class="detailed-alert" [attr.alert-type]="'error'" >
        <div class="detailed-alert-spacer" [class.hidden]="toggleOn"></div>
        <div class="detailed-alert-toggler" (click)="toggleOn=!toggleOn" >
          <i class="fal fa-exclamation-circle"></i>
        </div>
        <div class="detailed-alert-body" [class.hidden]="!toggleOn">
          <ng-container *ngIf="alertService && alertService.detailedSummaryTemplate; else summaryList">
            <ng-container *ngTemplateOutlet="alertService.detailedSummaryTemplate"></ng-container>
          </ng-container>
          <ng-template #summaryList>
            <ng-container *ngFor="let summary of detailedErrorsSummary">
              <p [class.hidden]="isDetailedErrorSummaryHidden(summary.key)">
                {{ summary.summaryText }}&nbsp;<u (click)="navigateToError(summary.gotoActions)">{{ summary.gotoText }}</u>
              </p>
            </ng-container>
          </ng-template>
          <p>
            <span class="no-select pointer issue-console-toggler" (click)="_toggleConsole=!_toggleConsole">
              <i class="fas fa-caret-right" [class.hidden]="_toggleConsole"></i>
              <i class="fas fa-caret-down" [class.hidden]="!_toggleConsole"></i>
              Issue Console
            </span>
          </p>
        </div>
      </div>
      <div class="detailed-alert-issue-console" [class.hidden]="!_toggleConsole || !toggleOn">
        <div *ngFor="let error of (detailedAlerts||[])" class="issue-console-item">
          <div class="error-path">
            <ng-container
              *ngFor="let fragment of error['path']; index as idx">
              <span
              class="error-path-fragment"
              [style.max-width]="(93 / error['path'].length) + '%'">{{ fragment }}</span>
              <span class="error-path-gt" *ngIf="idx < error['path'].length - 1"> &gt; </span>
            </ng-container>
          </div>
          <div class="error-message">{{ error.ErrorMessage }}</div>
        </div>
      </div>
    </ng-container>

</div>
