<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="!catalog">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">{{title}}</h1>

<cb-tabs (onChange)="changedTab($event)">
  <cb-tab [title]="'Catalog Details'" slug="general" [hasError]="tabHasError('general')">

    <div class="cb_fieldset">
      <h3 class="cb_fieldset-headline">General</h3>
      <hr class="cb_form-divider">

      <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>
        <div class="cb_fieldset-field required" *ngIf="catalog" [class.error]="name.errors && (name.dirty || name.touched)">
          <cb-tooltip locationId="catalog_general_title" class="pull-right"></cb-tooltip>
          <div class="form-control-float-wrapper">
            <input class="cb_fieldset-field_input" [ngClass]="catalog.Name ? 'cb_input-value' : 'cb_input-empty'" type="text" [(ngModel)]="catalog.Name" (ngModelChange)="sbjRawInput.next($event)" name="name" #name="ngModel" required>
            <span class="floating-label">Catalog Title <span class="required-label">*</span></span>
          </div>
        </div>
      </form>
    </div>

  </cb-tab>
  <cb-tab [title]="'Associated Collections'" slug="associated-categories">

    <div *ngIf="catalog">
      <cb-category-nodes-table [catalog]="catalog.CatalogId" *ngIf="tabState!='general'"
        (onAssociate)="addCategory()" (onView)="viewCategory($event)" (onAdd)="tabState='add'">
      </cb-category-nodes-table>
      <cb-category-node-details *ngIf="tabState=='add' || tabState=='details'" [isNew]="tabState=='add'"
        [catalogId]="catalog.CatalogId" [categoryNodeId]="tabState=='details' && selectedObjectId" (onExit)="listCategories()" (onSave)="refreshCategories()">
      </cb-category-node-details>
    </div>

  </cb-tab>
</cb-tabs>

<cb-autosave-bar [state]="saveState" (clickCancel)="cancel()" (clickClose)="cancel()" (clickSave)="save()"></cb-autosave-bar>
