<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<p class="cb_content_primary-headline">Font Groups</p>

<cb-font-groups-table (onLoaded)="onLoaded()"></cb-font-groups-table>
