<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<h1 class="cb_content_primary-headline">New Storefront</h1>
<p class="cb_content_primary-description">Create a new storefront. After the new storefront is created, edit the record to add a logo and configure advanced storefront settings.</p>

<div *ngIf="portal">
    <form class="cb_form" (ngSubmit)="save()" ngNativeValidate #cbForm="ngForm">
        <div class="cb_fieldset">

            <h3 class="cb_fieldset-headline">Store Identity</h3>
            <hr class="cb_form-divider">

            <div class="cb_fieldset-field required" [class.error]="storeName.errors && (storeName.dirty || storeName.touched)">
              <cb-tooltip locationId="store_details_name" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input" [ngClass]="portal.StoreName ? 'cb_input-value' : 'cb_input-empty'" type="text"
                  [(ngModel)]="portal.StoreName" (blur)="onBlur($event, 'Store Name')" name="storeName" #storeName="ngModel" required>
                <span class="floating-label">Store Name <span class="required-label">*</span></span>
              </div>
            </div>

            <div class="cb_fieldset-field required" [class.error]="companyName.errors && (companyName.dirty || companyName.touched)">
              <cb-tooltip locationId="store_details_brand" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input" [ngClass]="portal.CompanyName ? 'cb_input-value' : 'cb_input-empty'" type="text"
                  [(ngModel)]="portal.CompanyName" (blur)="onBlur($event, 'Brand Name')" name="companyName" #companyName="ngModel" required>
                <span class="floating-label">Brand Name <span class="required-label">*</span></span>
              </div>
            </div>
            <div class="cb_fieldset-field">
              <cb-tooltip locationId="store_details_tagline" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input" *ngIf="portal.PortalSetting"
                  [ngClass]="portal.PortalSetting.PortalTagline ? 'cb_input-value' : 'cb_input-empty'" type="text"
                  [(ngModel)]="portal.PortalSetting.PortalTagline" name="storeTagline" #storeTagline="ngModel">
                <span class="floating-label">Store Tagline</span>
              </div>
            </div>

            <div class="cb_fieldset-field required" *ngIf="catalogs && catalog && catalog.CatalogId">
              <cb-tooltip
                locationId="store_details_catalog"
                class="pull-right"
              ></cb-tooltip>
              <div class="cb_fieldset-field_wrapper" style="margin-right: 25px;">
                <cbx-dropdown
                  name="catalog"
                  dataValue="CatalogId"
                  dataText="Name"
                  label="Store Catalog"
                  [options]="catalogs"
                  [ngModel]="catalog.CatalogId"
                  [selectedColor]="misType === 1 ? '#cae1ed' : '#e3f0c9'"
                  style="width: 99%"
                  (onSelect)="selectCatalog($event)"
                >
                </cbx-dropdown>
              </div>
            </div>

            <div class="cb_fieldset-field required" *ngIf="styles" [class.error]="stylesheetId==0">
                <label class="cb_fieldset-field_label">Store Stylesheet</label>
                <div class="cb_fieldset-field_wrapper">
                    <div class="cb_input-dropdown">
                        <select [(ngModel)]="stylesheetId" name="stylesheetId">
                            <option value="0" disabled="disabled">Select</option>
                            <option *ngFor="let style of styles" [ngValue]="style.CSSID">{{style.Name}}</option>
                        </select>
                    </div>
                </div>
                <p class="cb_fieldset-input_error">Store Stylesheet is required</p>
            </div>

            <h3 class="cb_fieldset-headline">Security</h3>
            <hr class="cb_form-divider">

            <div class="cb_fieldset-field">
              <cbx-checkbox [(ngModel)]="portal.RequireLogin" name="requireLogin" label="Require User Login"></cbx-checkbox>
              <cb-tooltip locationId="store_details_requireLogin"></cb-tooltip>
            </div>

            <div class="cb_fieldset-field">
              <cbx-checkbox [(ngModel)]="!portal.AccountCreationDisabled" name="accountCreationDisabled" label="Enable Public Customer Sign-up"></cbx-checkbox>
              <cb-tooltip locationId="store_details_disableSignup"></cb-tooltip>
            </div>

        </div>

        <div class="cb_fieldset">

            <h3 class="cb_fieldset-headline">Store Information</h3>
            <hr class="cb_form-divider">

            <div class="cb_fieldset-field required" [class.error]="portal.SalesPhoneNumber==''">
              <cb-tooltip locationId="store_details_salesPhone" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <p-inputMask mask="(999) 999-9999? x99999"
                  [styleClass]="(portal.SalesPhoneNumber ? 'cb_input-value' : 'cb_input-empty') + ' cb_fieldset-field_input'"
                  [(ngModel)]="portal.SalesPhoneNumber" (blur)="onBlur($event, 'Sales Department Phone Number')" name="salesPhoneNumber" required>
                </p-inputMask>
                <span class="floating-label">Sales Department Phone Number <span class="required-label">*</span></span>
              </div>
            </div>

            <div class="cb_fieldset-field">
              <cb-tooltip locationId="store_details_servicePhone" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <p-inputMask mask="(999) 999-9999? x99999" [styleClass]="(portal.CustomerServicePhoneNumber ? 'cb_input-value' : 'cb_input-empty') + ' cb_fieldset-field_input'" [(ngModel)]="portal.CustomerServicePhoneNumber" name="customerServicePhoneNumber"></p-inputMask>
                <span class="floating-label">Customer Service Phone Number</span>
              </div>
            </div>

            <div class="cb_fieldset-field">
              <cb-tooltip locationId="store_details_mailingAddress" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <textarea class="cb_fieldset-field_textarea ng-pristine ng-valid ng-touched" [ngClass]="(portal.MailingAddressBlock ? 'cb_input-value' : 'cb_input-empty')" [(ngModel)]="portal.MailingAddressBlock" name="MailingAddressBlock" ng-reflect-name="MailingAddressBlock" ng-reflect-model=""></textarea>
                <span class="floating-label">Mailing Address</span>
              </div>
              <p class="cb_fieldset-input_error"></p>
            </div>

            <div class="cb_fieldset-field required" [class.error]="adminEmail.errors && (adminEmail.dirty || adminEmail.touched)">
              <cb-tooltip locationId="store_details_adminEmail" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input" type="text" [ngClass]="(portal.AdminEmail ? 'cb_input-value' : 'cb_input-empty')"
                  [(ngModel)]="portal.AdminEmail" (blur)="onBlur($event, 'Administrator\'s Email')" name="adminEmail" #adminEmail="ngModel" required
                  pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)$">
                <span class="floating-label">Administrator's Email <span class="required-label">*</span></span>
              </div>
            </div>

            <div class="cb_fieldset-field required" [class.error]="salesEmail.errors && (salesEmail.dirty || salesEmail.touched)">
              <cb-tooltip locationId="store_details_salesEmail" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input" type="text" [ngClass]="(portal.SalesEmail ? 'cb_input-value' : 'cb_input-empty')"
                  [(ngModel)]="portal.SalesEmail" (blur)="onBlur($event, 'Sales Department Email')" name="salesEmail" #salesEmail="ngModel" required
                  pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)$">
                <span class="floating-label">Sales Department Email <span class="required-label">*</span></span>
              </div>
            </div>

            <div class="cb_fieldset-field required" [class.error]="customerServiceEmail.errors && (customerServiceEmail.dirty || customerServiceEmail.touched)">
              <cb-tooltip locationId="store_details_serviceEmail" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input" type="text"
                  [ngClass]="(portal.CustomerServiceEmail ? 'cb_input-value' : 'cb_input-empty')" (blur)="onBlur($event, 'Customer Service Email')"
                  [(ngModel)]="portal.CustomerServiceEmail" name="customerServiceEmail" #customerServiceEmail="ngModel" required
                  pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)$">
                <span class="floating-label">Customer Service Email <span class="required-label">*</span></span>
              </div>
            </div>
            <div class="cb-field-indent-left">
                <div class="cb_fieldset-field">
                  <cb-tooltip locationId="store_details_customServiceEmailLabel" class="pull-right"></cb-tooltip>
                  <div class="form-control-float-wrapper">
                    <input class="cb_fieldset-field_input" type="text" [ngClass]="(portal.CustServiceEmailLabel ? 'cb_input-value' : 'cb_input-empty')" [(ngModel)]="portal.CustServiceEmailLabel" name="customLabel" #customLabel="ngModel">
                    <span class="floating-label">Custom Label</span>
                  </div>
                </div>
                <div class="cb_fieldset-field">
                  <cbx-checkbox [(ngModel)]="portal.CustServiceEmailShowInTopNav" name="custServiceEmailShowInTopNav" label="Show in Top Navigation"></cbx-checkbox>
                  <cb-tooltip locationId="store_details_serviceEmailShowInTopNav"></cb-tooltip>
                </div>
            </div>
            <div>
                <div class="cb_fieldset-field">
                  <cb-tooltip locationId="store_details_customLinkUrl" class="pull-right"></cb-tooltip>
                  <div class="form-control-float-wrapper">
                    <input class="cb_fieldset-field_input" type="text" [ngClass]="(portal.CustomLinkUrl ? 'cb_input-value' : 'cb_input-empty')" [(ngModel)]="portal.CustomLinkUrl" name="customLinkUrl" #custoLinkUrl="ngModel">
                    <span class="floating-label">Custom Link 1 URL</span>
                  </div>
                </div>
                <div class="cb-field-indent-left">
                    <div class="cb_fieldset-field">
                      <cb-tooltip locationId="store_details_customLinkLabel" class="pull-right"></cb-tooltip>
                      <div class="form-control-float-wrapper">
                        <input class="cb_fieldset-field_input" type="text" [ngClass]="(portal.CustomLinkLabel ? 'cb_input-value' : 'cb_input-empty')" [(ngModel)]="portal.CustomLinkLabel" name="customLinkLabel" #customLinkLabel="ngModel">
                        <span class="floating-label">Custom Label</span>
                      </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- <div class="cb_content_submit">
            <button class="cb_input-keyAction cancel" type="button" (click)="cancel()">Cancel</button>
            <button class="cb_input-keyAction" type="submit">
                <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
                Save
            </button>
        </div> -->

    </form>

    <cb-autosave-bar [isNewEntity]="true" [isManualSave]="true" [state]="saveState" (clickCancel)="cancel()"
      (clickClose)="cancel()" (clickSave)="cbForm.invalid ? focusInvalid() : save()">
    </cb-autosave-bar>

</div>
