<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
<button type="button" class="cb_input-keyAction" (click)="create()">+ New Tier</button>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('ProductTierId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ProductTierId'"></cb-svg></th>
      <th (click)="sortBy('ProfileId')">Storefront <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ProfileId'"></cb-svg></th>
      <th (click)="sortBy('TierStart')">Tier Start <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='TierStart'"></cb-svg></th>
      <th (click)="sortBy('TierEnd')">Tier End <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='TierEnd'"></cb-svg></th>
      <th (click)="sortBy('Price')">Price <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Price'"></cb-svg></th>
      <th class="not-sortable cb_table-col_delete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="goToDetails(row.ProductTierId)">
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.ProductTierId}}
        </td>
        <td (click)="goToDetails(row.ProductTierId)" *ngIf="row.ProfileName">{{row.ProfileName}}</td>
        <td (click)="goToDetails(row.ProductTierId)" *ngIf="!row.ProfileName">All Storefronts</td>
        <td (click)="goToDetails(row.ProductTierId)">{{row.TierStart}}</td>
        <td (click)="goToDetails(row.ProductTierId)">{{row.TierEnd}}</td>
        <td (click)="goToDetails(row.ProductTierId)">{{row.Price | number:'1.2-2'}}</td>
        <td class="cb_table-utils" (click)="delete(row.ProductTierId)">
          <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
