<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">New Shipping Method</h1>
<p class="cb_content_primary-description">Create a new shipping option. After a shipping option is created, edit the record to define the four shipping rules.</p>

<form class="cb_form" (ngSubmit)="save()" ngNativeValidate>

  <div class="cb_fieldset">

    <h3 class="cb_fieldset-headline">General Settings</h3>

    <div class="cb_fieldset-field required" [class.error]="description.errors && (description.dirty || description.touched)">
      <label class="cb_fieldset-field_label">Display Name <cb-tooltip locationId="shipping_options_display_name"></cb-tooltip></label>
      <input class="cb_fieldset-field_input" type="text" placeholder="Display Name" [(ngModel)]="shippingOption.Description" name="description" #description="ngModel" required>
      <p class="cb_fieldset-input_error">Display Name is required</p>
    </div>

    <div class="cb_fieldset-field required" [class.error]="shippingCode.errors && (shippingCode.dirty || shippingCode.touched)">
      <label class="cb_fieldset-field_label">Shipping Code <cb-tooltip locationId="shipping_options_shipping_code"></cb-tooltip></label>
      <input class="cb_fieldset-field_input" type="text" placeholder="Shipping Code" [(ngModel)]="shippingOption.ShippingCode" (change)="checkIfUniqueValue($event)" name="shippingCode" #shippingCode="ngModel" required>
      <p class="cb_fieldset-input_error" *ngIf="!shipCodeInvalid">Shipping Code is required</p>
      <p class="cb_fieldset-input_error" [ngStyle]="{'display':!shipCodeUnique ? 'block':'none' }">Shipping Code must be unique</p>
      <p class="cb_fieldset-input_error" [ngStyle]="{'display': shipCodeInvalid ? 'block':'none' }">Allowed special characters: - . _</p>
    </div>

    <div class="cb_fieldset-field required" *ngIf="profiles">
      <label class="cb_fieldset-field_label">Storefront <cb-tooltip locationId="shipping_options_storefront"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select [(ngModel)]="shippingOption.ProfileId" name="profileId">
            <option value="0" disabled="disabled">Select</option>
            <option value="-1">All Storefronts</option>
            <option *ngFor="let profile of profiles" [value]="profile.ProfileId">{{profile.Name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="cb_fieldset-field required unit price" [class.error]="handlingCharge.errors && (handlingCharge.dirty || handlingCharge.touched)">
      <label class="cb_fieldset-field_label">Handling Charge <cb-tooltip locationId="shipping_options_handling_charge"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <input class="cb_fieldset-field_input" type="text" placeholder="0.00" value="{{ isNumber(shippingOption.HandlingCharge) ? (shippingOption.HandlingCharge | number:'1.2-2') : 0.00 }}" #handlingCharge (blur)="shippingOption.HandlingCharge=handlingCharge.value" name="handlingCharge" required>
        <p class="cb_fieldset-input_error">Handling Charge is required</p>
      </div>
    </div>

    <div class="cb_fieldset-field required" *ngIf="countries">
      <label class="cb_fieldset-field_label">Destination Country <cb-tooltip locationId="shipping_options_destination_country"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select [(ngModel)]="shippingOption.CountryCode" name="countryCode">
            <option value="0">All Countries</option>
            <option *ngFor="let country of countries" [value]="country.Code">{{country.Name}}</option>
          </select>
        </div>
      </div>
    </div>


  </div>

  <div class="cb_fieldset">

    <h3 class="cb_fieldset-headline">Display Settings</h3>

    <div class="cb_fieldset-field">
      <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="shippingOption.ActiveInd" name="activeInd"><span class="cb_fieldset-field_label--inline_text_content"> Active for checkout</span> <cb-tooltip locationId="shipping_options_enable"></cb-tooltip></label>
    </div>

    <div class="cb_fieldset-field required" [class.error]="displayOrder.errors && (displayOrder.dirty || displayOrder.touched)">
      <label class="cb_fieldset-field_label">Display Order <cb-tooltip locationId="shipping_options_display_order"></cb-tooltip></label>
      <input class="cb_fieldset-field_input" type="text" placeholder="Display Order" [(ngModel)]="shippingOption.DisplayOrder" name="displayOrder" #displayOrder="ngModel" required>
      <p class="cb_fieldset-input_error">Display Order is required</p>
    </div>

  </div>

  <div class="cb_content_submit">
    <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
    <button class="cb_input-keyAction" type="submit">
        <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
        Save
    </button>
  </div>

</form>
