<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
<button type="button" class="cb_input-keyAction" [routerLink]="'/ecommerce/merchandise/addons/add'"> + New Add-On</button>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('AddOnId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='AddOnId'"></cb-svg></th>
      <!-- <th (click)="sortBy('Title')">Title <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Title'"></cb-svg></th> -->
      <th class="cb_table-col_lg" (click)="sortBy('Name')">Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Name'"></cb-svg></th>
      <th class="cb_table-col_order" (click)="sortBy('DisplayOrder')">Order <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='DisplayOrder'"></cb-svg></th>
      <th class="not-sortable cb_table-col_copy"></th>
      <th class="not-sortable cb_table-col_min"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="gotoDetail(row.AddOnId)">
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.AddOnId}}
        </td>
        <!-- <td (click)="gotoDetail(row.AddOnId)" title={{row.Title}}>{{row.Title}}</td> -->
        <td (click)="gotoDetail(row.AddOnId)">{{row.Name}}</td>
        <td (click)="gotoDetail(row.AddOnId)">{{row.DisplayOrder}}</td>
        <td class="cb_table-utils">
          <cb-svg title="Duplicate Record" [icon]="'copy'" (click)="copy(row)"></cb-svg>
        </td>
        <td class="cb_table-utils" (click)="delete(row.AddOnId)">
          <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<div *ngIf="!total">
  No results for this filter.
</div>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
