<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<h1 class="cb_content_primary-headline">{{ title }}</h1>

<div class="full-page-loader" *ngIf="!product">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<cb-tabs (onChange)="changedTab($event)">
  <cb-tab
    [title]="'Product Details'"
    slug="general"
    [hasError]="tabHasError('general')"
  >
    <cb-product-tab-detail
      *ngIf="unchanged"
      #productDetail
      (onValidate)="validate($event)"
      (onSave)="onSaveProductDetails($event)"
      (onViewError)="tabs.openTab('general')"
      (onTitleChange)="setSeoDefaults($event)"
      [product]="product"
      [sku]="sku"
      [productInfo]="productInfo"
      [title]="product.Name"
      [shippingRuleTypes]="shippingRuleTypes"
      [taxClasses]="taxClasses"
      [settings]="settings"
      [isActiveTab]="tabs.isActiveTab('general')"
    >
    </cb-product-tab-detail>

    <!-- <div class="cb_content_submit">
      <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
      <button class="cb_input-keyAction" (click)="save()" [disabled]="productDetail.ngForm.pristine || productDetail.ngForm.invalid">
          <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
         <span *ngIf="productDetail.ngForm?.pristine">Saved</span><span *ngIf="!productDetail.ngForm?.pristine">Save</span>
      </button>
    </div> -->
  </cb-tab>
  <cb-tab
    [title]="'Images & Art'"
    slug="images"
    ng2FileDrop
    (fileOver)="hasDragFile = $event"
    [uploader]="uploader"
  >
    <form
      class="cb_form"
      style="max-width: 870px;"
      (ngSubmit)="save()"
      ngNativeValidate
      #imagesArtForm="ngForm"
    >
      <div
        class="cb_tabs-header_headline"
        style="position:relative; top:-20px;"
        *ngIf="product"
      >
        <cbx-toggle
          (ngModelChange)="onProductCustomizationToggle($event)"
          name="cb_product_customization_toggle"
          [optionOneLabel]="'Customizable'"
          [optionTwoLabel]="'Standard'"
          [activeColor]="misType === 1 ? '#2f82af' : '#99C93C'"
          [(ngModel)]="product.ProductSetting.IsCustom"
        >
        </cbx-toggle>
        <cb-tooltip locationId="undefined"></cb-tooltip>
      </div>

      <div
        *ngIf="product"
        class="cb_fieldset"
        [style.width]="product?.ProductSetting.IsCustom ? '375px' : '100%'"
      >
        <h3 class="cb_fieldset-headline">
          Product Images
          <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
        </h3>
        <hr class="cb_form-divider" style="margin-bottom: 10px;" />

        <cb-file-upload
          (onUploadComplete)="imageUploadComplete($event)"
          [files]="productImages"
          [items]="productImages"
          [enableInfoButton]="true"
          [enableRemoveButton]="true"
          (onDelete)="deleteProductImage($event)"
          (onDisplayInfo)="imagePropertiesModal.showDialog($event)"
        ></cb-file-upload>
        <cb-image-properties-dialog
          #imagePropertiesModal
        ></cb-image-properties-dialog>
      </div>
      <div
        [class.hidden]="!product?.ProductSetting.IsCustom"
        class="cb_fieldset"
        style="width: 375px;"
      >
        <h3 class="cb_fieldset-headline">
          Custom Art
          <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
        </h3>
        <hr class="cb_form-divider" style="margin-bottom: 10px;" />
        <cb-product-image-custom
          (onSave)="onSave($event)"
          (onError)="setErrorState()"
        >
        </cb-product-image-custom>
      </div>
    </form>
    <br>

    <div *ngIf="product" class="hidden">
      <h3 class="cb_fieldset-headline" *ngIf="tabState.images == 'list'">
        Product Images
      </h3>

      <cb-product-images-table
        *ngIf="tabState.images == 'list'"
        [productId]="product.ProductId"
        (onView)="viewProductImage($event)"
        (onCreate)="addProductImage()"
      ></cb-product-images-table>
      <cb-product-image-new
        *ngIf="tabState.images == 'new'"
        [product]="product"
        (onExit)="listProductImages()"
      ></cb-product-image-new>
      <cb-product-image-details
        *ngIf="tabState.images == 'detail'"
        [product]="product"
        [productImageId]="selectedObjectId"
        (onExit)="listProductImages()"
        (onLoad)="addBreadcrumb($event)"
      ></cb-product-image-details>
    </div>
  </cb-tab>
  <cb-tab
    [title]="'Information'"
    slug="information"
    [hasError]="tabHasError('information')"
  >
    <form
      class="cb_form"
      (ngSubmit)="save()"
      ngNativeValidate
      #informationForm="ngForm"
      style="max-width: fit-content !important;"
    >
      <div class="cb_fieldset" style="width: 380px;" *ngIf="product && tabs.isActiveTab('information')">
        <h3 class="cb_fieldset-headline">
          Product Description
          <cb-tooltip
            locationId="products_description"
            class="pull-right"
          ></cb-tooltip>
        </h3>
        <hr class="cb_form-divider" />
        <editor
          [(ngModel)]="product.Description"
          name="description"
          #description="ngModel"
          [init]="{
            height: 220,
            menubar: false,
            branding: false,
            base_url: '../../..',
            suffix: '.min',
            plugins: [
              'visualblocks',
              'lists',
              'image',
              'media',
              'link',
              'anchor',
              'table',
              'hr',
              'charmap',
              'code',
              'fullscreen'
            ],
            toolbar:
              'bold italic strikethrough | alignleft aligncenter alignright | bullist numlist | code',
            toolbar_drawer: 'floating'
          }"
        ></editor>
      </div>

      <div class="cb_fieldset" style="width: 380px;" *ngIf="product">
        <h3 class="cb_fieldset-headline">
          Store Search Description
          <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
        </h3>
        <hr class="cb_form-divider" />

        <div class="cb_fieldset-field">
          <cb-tooltip
            locationId="products_search_description"
            class="pull-right"
          ></cb-tooltip>
          <div class="form-control-float-wrapper">
            <input
              class="cb_fieldset-field_input"
              [ngClass]="
                product.ShortDescription ? 'cb_input-value' : 'cb_input-empty'
              "
              type="text"
              [(ngModel)]="product.ShortDescription"
              maxlength="100"
              name="shortDescription"
              #shortDescription="ngModel"
            />
            <span class="floating-label">Search Description</span>
          </div>
        </div>

        <h3 class="cb_fieldset-headline">
          SEO Settings
          <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
        </h3>
        <hr class="cb_form-divider" />

        <div class="cb_fieldset-field required">
          <cb-tooltip
            locationId="product_seo_title"
            class="pull-right"
          ></cb-tooltip>
          <div class="form-control-float-wrapper">
            <input
              class="cb_fieldset-field_input"
              [ngClass]="product.SeoTitle ? 'cb_input-value' : 'cb_input-empty'"
              type="text"
              [(ngModel)]="product.SeoTitle"
              name="seoTitle"
              #seoTitle="ngModel"
            />
            <span class="floating-label"
              >SEO Title <span class="required-label">*</span></span
            >
          </div>
        </div>

        <div class="cb_fieldset-field">
          <cb-tooltip
            locationId="product_seo_title"
            class="pull-right"
          ></cb-tooltip>
          <div class="form-control-float-wrapper">
            <textarea
              class="cb_fieldset-field_textarea"
              [ngClass]="
                product.SeoDescription ? 'cb_input-value' : 'cb_input-empty'
              "
              [(ngModel)]="product.SeoDescription"
              name="seoDescription"
              #seoDescription="ngModel"
            ></textarea>
            <span class="floating-label">SEO Description</span>
          </div>
          <p class="cb_fieldset-input_error"></p>
        </div>

        <div class="cb_fieldset-field required" [class.error]="seoUrlInvalid">
          <cb-tooltip
            locationId="product_seo_urlHandle"
            class="pull-right"
          ></cb-tooltip>
          <div class="form-control-float-wrapper">
            <input
              class="cb_fieldset-field_input"
              [ngClass]="product.SeoUrl ? 'cb_input-value' : 'cb_input-empty'"
              type="text"
              [(ngModel)]="product.SeoUrl"
              name="seoUrl"
              #seoUrl="ngModel"
              (keyup)="setUrlHandle()"
              maxlength="100"
            />
            <span class="floating-label"
              >URL Handle <span class="required-label">*</span></span
            >
          </div>
        </div>
      </div>

      <!-- TODO: Use only as reference to the old code. To be removed -->
      <!-- <div class="cb_fieldset wide" *ngIf="product">
      <div class="cb_tabs-header">
        <h2 class="cb_tabs-header_headline">Details</h2>
      </div>

      <div class="cb_fieldset-field">
        <label class="cb_fieldset-field_label"
          >Search Description
          <cb-tooltip locationId="products_search_description"></cb-tooltip
        ></label>
        <textarea
          class="cb_fieldset-field_textarea--half"
          [(ngModel)]="product.ShortDescription"
          (keyup)="truncateShortDescription()"
          name="shortDescription"
        ></textarea>
      </div>

      <div class="cb_fieldset-field">
        <label class="cb_fieldset-field_label"
          >Short Description
          <cb-tooltip locationId="products_short_description"></cb-tooltip
        ></label>
        <ckeditor
          [(ngModel)]="product.Description"
          [config]="{ height: '100px' }"
          debounce="500"
          name="description"
        ></ckeditor>
      </div>

      <div class="cb_fieldset-field">
        <label class="cb_fieldset-field_label"
          >Feature Description
          <cb-tooltip locationId="products_feature_description"></cb-tooltip
        ></label>
        <ckeditor
          [(ngModel)]="product.FeaturesDescription"
          [config]="{ height: '100px' }"
          debounce="500"
          name="featuresDescription"
        ></ckeditor>
      </div>

      <div class="cb_fieldset-field">
        <label class="cb_fieldset-field_label"
          >Product Specifications
          <cb-tooltip locationId="products_product_specifications"></cb-tooltip
        ></label>
        <ckeditor
          [(ngModel)]="product.Specifications"
          [config]="{ height: '100px' }"
          debounce="500"
          name="specifications"
        ></ckeditor>
      </div>

      <div class="cb_fieldset-field">
        <label class="cb_fieldset-field_label"
          >Shipping Information
          <cb-tooltip locationId="products_shipping_information"></cb-tooltip
        ></label>
        <ckeditor
          [(ngModel)]="product.AdditionalInfo"
          [config]="{ height: '100px' }"
          debounce="500"
          name="additionalInfo"
        ></ckeditor>
      </div>

      <div class="cb_fieldset-field" *ngIf="product">
        <label
          class="cb_fieldset-field_label"
          style="border-bottom: 1px solid #B9BFC7; padding-bottom: 10px; margin-bottom: 15px;"
        >
          Downloads <cb-tooltip locationId="products_assets"></cb-tooltip>
        </label>
        <cb-product-assets-table
          *ngIf="product.ProductId"
          [productId]="product.ProductId"
        ></cb-product-assets-table>
      </div>
    </div> -->

      <div class="cb_fieldset" style="width: 820px;" *ngIf="product && tabs.isActiveTab('information')">
        <h3 class="cb_fieldset-headline">
          Additional Information
          <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
        </h3>
        <hr class="cb_form-divider" />
        <div class="subtab-container inline-block">
          <div class="subtab-list">
            <div
              *ngFor="
                let subtab of [
                  'Features',
                  'Specifications',
                  'Shipping Info',
                  'Downloads'
                ]
              "
              class="subtab"
              [class.active]="activeInfoTab == subtab"
              (click)="activeInfoTab = subtab"
            >
              <span class="subtab-name">{{ subtab }}</span>
            </div>
          </div>
        </div>
        <br />
        <div *ngIf="activeInfoTab == 'Features'">
          <editor
            [(ngModel)]="product.FeaturesDescription"
            name="featuresDescription"
            #featuresDescription="ngModel"
            [init]="{
              height: 220,
              menubar: false,
              branding: false,
              base_url: '../../..',
              suffix: '.min',
              plugins: [
                'visualblocks',
                'lists',
                'image',
                'media',
                'link',
                'anchor',
                'table',
                'hr',
                'charmap',
                'code',
                'fullscreen',
                'preview'
              ],
              toolbar:
                'undo redo | formatselect | bold italic strikethrough backcolor forecolor | alignleft aligncenter alignright alignjustify visualblocks | bullist numlist outdent indent | image media link anchor | table hr blockquote charmap | removeformat | code | fullscreen preview',
              toolbar_drawer: 'floating'
            }"
          ></editor>
        </div>

        <div *ngIf="activeInfoTab == 'Specifications'">
          <editor
            [(ngModel)]="product.Specifications"
            name="specifications"
            #specifications="ngModel"
            [init]="{
              height: 220,
              menubar: false,
              branding: false,
              base_url: '../../..',
              suffix: '.min',
              plugins: [
                'visualblocks',
                'lists',
                'image',
                'media',
                'link',
                'anchor',
                'table',
                'hr',
                'charmap',
                'code',
                'fullscreen',
                'preview'
              ],
              toolbar:
                'undo redo | formatselect | bold italic strikethrough backcolor forecolor | alignleft aligncenter alignright alignjustify visualblocks | bullist numlist outdent indent | image media link anchor | table hr blockquote charmap | removeformat | code | fullscreen preview',
              toolbar_drawer: 'floating'
            }"
          ></editor>
        </div>
        <div *ngIf="activeInfoTab == 'Shipping Info'">
          <editor
            [(ngModel)]="product.AdditionalInfo"
            name="additionalInfo"
            #additionalInfo="ngModel"
            [init]="{
              height: 220,
              menubar: false,
              branding: false,
              base_url: '../../..',
              suffix: '.min',
              plugins: [
                'visualblocks',
                'lists',
                'image',
                'media',
                'link',
                'anchor',
                'table',
                'hr',
                'charmap',
                'code',
                'fullscreen',
                'preview'
              ],
              toolbar:
                'undo redo | formatselect | bold italic strikethrough backcolor forecolor | alignleft aligncenter alignright alignjustify visualblocks | bullist numlist outdent indent | image media link anchor | table hr blockquote charmap | removeformat | code | fullscreen preview',
              toolbar_drawer: 'floating'
            }"
          ></editor>
        </div>
        <div *ngIf="activeInfoTab == 'Downloads'">
          <cb-product-assets-table
            #productAssets
            *ngIf="product.ProductId"
            [productId]="product.ProductId"
            (onClickUpload)="insertImageModal.open()"
          ></cb-product-assets-table>
          <cb-product-information-insert-image-modal
            #insertImageModal
            [productId]="product.ProductId"
            (onUploadDone)="productAssets.getRows()"
          >
          </cb-product-information-insert-image-modal>
        </div>
      </div>
      <!-- <div class="cb_content_submit">
      <button class="cb_input-keyAction cancel" (click)="cancel()">
        Cancel
      </button>
      <button class="cb_input-keyAction" (click)="save()">
        <img
          src="/assets/img/ring.gif"
          style="max-height: 13px;float: left;margin-right: 13px;"
          *ngIf="loading"
        />
        Save
      </button>
    </div> -->
    </form>
  </cb-tab>
  <cb-tab [title]="'Add-Ons'" slug="add-ons">
    <div *ngIf="product">
      <cb-product-addons-table
        *ngIf="tabState['add-ons'] == 'list'"
        [productId]="product.ProductId"
        (onAssociate)="associateAddOns.show()"
        #productAddons
      ></cb-product-addons-table>
      <cb-product-addons-associate-table
        #associateAddOns
        [productId]="product.ProductId"
        (onExit)="onExitAddonsAssociate($event)"
        [isAssociateList]="true"
      ></cb-product-addons-associate-table>
    </div>
  </cb-tab>
  <cb-tab [title]="'Collections'" slug="categories">
    <div *ngIf="product">
      <cb-product-categories-table
        [product]="product.ProductId"
      ></cb-product-categories-table>
    </div>
  </cb-tab>
  <cb-tab [title]="'Tiered Pricing'" slug="tiered-pricing">
    <div class="cb_tabs-header" *ngIf="tabState['tiered-pricing'] == 'list'">
      <h2 class="cb_tabs-header_headline">Tiered Pricing</h2>
      <p class="cb_tabs-header_description">
        Tiered pricing enables you to specify a product price based on the
        number of items ordered. For example: you could offer discounted pricing
        if the customer buys more than 10 items
      </p>
    </div>

    <div *ngIf="product">
      <cb-product-tiers-table
        *ngIf="tabState['tiered-pricing'] == 'list'"
        [product]="product.ProductId"
        (onCreate)="addProductTier()"
        (onView)="viewProductTier($event)"
      ></cb-product-tiers-table>
      <cb-product-tier-new
        *ngIf="tabState['tiered-pricing'] == 'new'"
        [product]="product"
        (onExit)="listProductTiers()"
      ></cb-product-tier-new>
      <cb-product-tier-details
        *ngIf="tabState['tiered-pricing'] == 'detail'"
        [product]="product"
        [productTierId]="selectedObjectId"
        (onExit)="listProductTiers()"
        (onLoad)="addBreadcrumb($event)"
      ></cb-product-tier-details>
    </div>
  </cb-tab>
  <cb-tab [title]="'Bundled'" slug="bundles">
    <div *ngIf="product">
      <cb-bundle-table
        *ngIf="product.ProductId"
        [product]="product"
      ></cb-bundle-table>
    </div>
  </cb-tab>
  <cb-tab [title]="'Files'" slug="files"> </cb-tab>
  <cb-tab [title]="'Customer Based Pricing'" *ngIf="false">
    <h3 class="cb_fieldset-headline">Customer Based Pricing</h3>
    <div class="cb_fieldset-field">
      <label class="cb_fieldset-field_label">Search Customer</label>
      <input class="cb_fieldset-field_input" type="text" />
    </div>
  </cb-tab>
  <cb-tab [title]="'Extras'" *ngIf="false">
    <div class="cb_tabs-header">
      <h2 class="cb_tabs-header_headline">
        <strong>Edit Product:</strong> {{ title }}
      </h2>
    </div>

    <h3 class="cb_fieldset-headline">Facets</h3>
    <table class="cb_table">
      <thead>
        <tr>
          <th class="cb_table-col_id">ID</th>
          <th>Name</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody *ngIf="facets">
        <tr *ngFor="let facet of facets">
          <td>{{ facet.FacetGroupID }}</td>
          <td>{{ facet.FacetName }}</td>
          <td>{{ facet.CatalogID }}</td>
        </tr>
      </tbody>
    </table>
    <p class="cb_content_primary-description" *ngIf="facets != []">
      There currently are no facets created.
    </p>
    <button type="button" class="cb_input-keyAction">+Add Facets</button>

    <h3 class="cb_fieldset-headline">Highlights</h3>
    <p class="cb_content_primary-description">
      Highlights enable you to showcase common product features. For example,
      you could display the "Certified Organic" label for specific products.
    </p>
    <button type="button" class="cb_input-keyAction">+Add Highlight</button>

    <table class="cb_table">
      <thead>
        <tr>
          <th class="cb_table-col_id">ID</th>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody *ngIf="highlights">
        <tr *ngFor="let highlight of highlights">
          <td>{{ highlight.HighlightId }}</td>
          <td>{{ highlight.Name }}</td>
          <td>{{ highlight.HighlightTypeName }}</td>
        </tr>
      </tbody>
    </table>

    <h3 class="cb_fieldset-headline">Digital Assets</h3>
    <p class="cb_content_primary-description">
      Digital assets could be serial numbers or other information that are used
      for downloadable or software products
    </p>
    <table class="cb_table">
      <thead>
        <tr>
          <th class="cb_table-col_id">ID</th>
          <th>Digital Asset</th>
          <th cb_table-col_delete></th>
        </tr>
      </thead>
      <tbody *ngIf="digitalAssets">
        <tr *ngFor="let asset of digitalAssets">
          <td>{{ asset.DigitalAssetID }}</td>
          <td>{{ asset.DigitalAsset }}</td>
          <td>
            <cb-svg icon="closeCircle"></cb-svg>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!digitalAssets" class="cb_content_primary-description">
      There currently are no digital assets created.
    </p>
    <button type="button" class="cb_input-keyAction">+Add Digital Asset</button>

    <div class="cb_content_submit">
      <button class="cb_input-keyAction cancel" (click)="cancel()">
        Cancel
      </button>
      <button class="cb_input-keyAction" (click)="save()">
        <img
          src="/assets/img/ring.gif"
          style="max-height: 13px;float: left;margin-right: 13px;"
          *ngIf="loading"
        />
        Save
      </button>
    </div>
  </cb-tab>
</cb-tabs>

<!-- <div class="cb_content_submit">
  <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
  <button class="cb_input-keyAction" (click)="save()" [disabled]="saveText == 'Saved' || validationErrors.length > 0 || loading">
    <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
    <span>{{ saveText }}</span>
  </button>
</div> -->
<cb-autosave-bar
  parentBaseSelector=".cb_content"
  (clickCancel)="cancel()"
  (clickClose)="cancel()"
  (clickSave)="save()"
  [state]="saveState"
  [isManualSave]="tabs?.isActiveTab('images')"
>
</cb-autosave-bar>
