:host ::ng-deep {
  &cbx-toggle button.toggle-btn::after {
    width: 13.2px;
  }

  &.ui-fileupload-buttonbar {
    .ui-fileupload-choose {
      width: 100%;
      height: 200px;
      border: 2px dashed #dbdbdb;
      .ui-button-icon-left {
        display: none;
      }

      .ui-button-text {
        top: 45%;
        position: relative;
        .choose {
          color: #1b9ad7;
          text-decoration-line: underline;
        }
      }
    }
    p-button[type="button"] {
      display: none;
    }
  }

  &.upload-via-url-container {
    display: flex;
    button {
      margin-left: 10px;
      border-radius: 4px;
      width: 100px;
    }
  }

  &.ui-fileupload-content.ui-widget-content.ui-corner-bottom {
    display: none;
  }

  cbx-toggle + cb-tooltip:not(.pull-right) .cb_tooltip {
    padding: 0 10px;
    top: -2px;
  }
}
