@import (reference) "custom/variables";
@import (reference) "custom/colors";
@import (reference) "corebridge/colors";
@import (reference) "custom/function-vars";

.preview-display-text{
  font-style: italic;
}

.btn-group {
  width: 100%;
}

.btn.btn-block.dropdown-toggle {
  &.cb_select-page-action-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px transparent solid;
    height: 30px;
    max-height: 30px;
  }

  background: none;
  background-position-x: 98% !important;//needed important to replicate cb_select-fa-arrow
  box-shadow: none;
}



:host ::ng-deep button.btn.btn-block.dropdown-toggle.cb_select {
  &.readonly {
    opacity: 1;

    &:hover {
      border-color: transparent!important;
      cursor: default;
      opacity: 1;

      span {
        color: #666666;
      }
    }
  }
}

button[type="button"] {
  display: flex;
  text-align: left;
  & :disabled{
    cursor: not-allowed !important;
  }
}

.caret {
  position: absolute;
  right: 7px;
  top: 45%;
  color: @input-inner-icon-color;
}

.cb_dropdown-ul {
  &.restrained-width {
    max-width: 100%;

    & > li > a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  & > li a{
    cursor: pointer;
    &:hover{
      background-color: @gray-2;
    }
  }
//   width: 100%;
  top: calc(~'100% - 1px');
  max-height: 200px;
  overflow-y: auto;
  min-width: 100%;
}

.cb_dropdown-ul {
  &.icon-dropdown-content {
    width: auto;
  }

  &.align-dropdown-on-right {
    left: unset;
    right: 0;
  }
}

.cb_dropdown-li__custom-input {
  input {
    border: unset;
    outline: unset;
    font-size: 13px;
    color: @gray-9;
    width: 100%;
    padding-left: 8px;
    padding-bottom: 7px;
    padding-right: 7px;
  }
}

.cb_select_opacity_40 {
  opacity: .40;
}

.btn.focus, .btn:focus, .btn:hover {
  color: @input-dropdown-text-color;
  text-decoration: none;
  border: solid 1px @gray-5;
  overflow: hidden;
  white-space: nowrap;
  content:'Select';
}
button.btn.btn-block.dropdown-toggle.cb_select {
  position: relative;
  padding: 6px 9px;
  min-width: 100px;
  width: 100%;

  span {
    padding-right: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
  }
}

.cb_select {
  &::before {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAMFBMVEUAAACHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eajNekAAAAEHRSTlMABhMUHiYnKDhJWW/t7/X7P0GMYwAAACpJREFUCFtjYEACmxkYWBYw9Cow+BUwcBxieQYU6pkXACQ5voLlBRhQAADp9Qb+VU0zXgAAAABJRU5ErkJggg==") no-repeat center !important;
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    visibility: hidden;
  }
  &.cb_select-toggle-bg::before, &:hover:before {
    visibility: visible;
  }
}

.btn {
  font-size: 13px;
  font-weight: normal;

  &:focus {
    border: solid 1px @state-info;
  }
  &:active,
  &:focus {
    outline-style: none;
  }
}

li a {
  padding-left: 8px;
  font-size: 13px;

  &.none {
    color: @gray-7;
  }
}

.cb_selected-option {
  background-color: @green-1;
  color: @gray-9;
}

.open .dropdown-menu {
  display: block;
}
.cb_dropdown-container{
  position: relative;
  
  &:hover button.btn.btn-block.dropdown-toggle.cb_select, &:focus button.btn.btn-block.dropdown-toggle.cb_select{
    border: solid 1px @gray-6;
    color: #666666;

    &::before {
      visibility: visible;
    }
  }

  &.open > .cb_select::before {
    visibility: visible;
    transform: scaleY(-1);
  }
}

.cb_select-icon-button.fa-plus {
  color: @cb_42;
}

.cb_select-icon-button.fa-angle-down {
  font-size: 1.4em;
}

.dropdown-menu::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: @white;
  width: 15px;
}

.dropdown-menu::-webkit-scrollbar {
  width: 5px;
  background-color: #d8d8d8;
  position: relative;
  left: 10px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);//warning: Also define the standard property 'box-shadow' for compatibility
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #d8d8d8;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #d8d8d8;
}

//https://github.com/angular/angular-cli/issues/9099

/*# sourceURL=cb-select.component.less */
.mb-0 { margin-bottom: 0!important;}
.cb_dropdown-li_last:hover { background-color: unset!important; }
.cb_dropdown-li__link { 
  color: #1b9ad7; 
  font-size: 11px; 

  &:hover {
    color: #157aaa;
  }
}
:host ::ng-deep .cbSelect_Label{
  // padding-right: 0px !important; https://corebridge.atlassian.net/browse/END-5763
  top: -3px !important;
  width: unset !important;
  z-index: 98 !important;
  font-size: 11px;
  line-height: 5px;
  left: 6px;
}

i.clear-all {
  color: @gray-5;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 9px;

  &:hover {
    color: @gray-6;
  }
}

:host(.with-tooltip) {
  & i.clear-all {
    right: 50px;
  }
}

:host .floating-label .required-label{
  font-size: 11px;
  font-weight: 100;
  color: #D95762;
}