<div #cbDropdown="bs-dropdown" class="cb_dropdown-container" dropdown 
  [isDisabled]="isDisabled || readonly"
  (onHidden)="handlePopoverChange(false,$event)" 
  (onShown)="handlePopoverChange(true,$event)" 
  cbFocusExtension
  [autoClose]="!enableCustomOptionInput"
  [container]="appendDropdownTo"
  (mouseenter)="onBtnMouseEnter($event)"
  (mouseleave)="mouseOvered=false"
  >
  <span class="floating-label" [class.cbSelect_Label]="floatLabelOnNull || (ngModel != '' && ngModel != null)">{{Label}}
    <span *ngIf="required" class="required-label">*</span>
  </span>
  <button #cbButton cbDropdownToggle type="button" class="btn btn-block dropdown-toggle"
    [class.cb_select_opacity_40]="isDisabled || readonly"
    [class.cb_input-empty]="ngModel == null"
    [class.cb_select-toggle-bg]="ngModel == null"
    [class.readonly]="readonly"
    [ngClass]="cbSelectClass"
    (click)="buttonClick($event)"
    (keydown)="keyboard.onKeyAny($event)"
    [tabIndex]="tabindex"
    (blur)="handleFocus(false)"
    (focus)="handleFocus(true)"
    >
    <i *ngIf="isIconButton && !onlyDropdownIcon" class="cb_select-icon-button" [ngClass]="buttonIcon"></i>
    <i *ngIf="isIconButton" class="fal fa-angle-down cb_select-icon-button"></i>
    <span class="preview-display-text" *ngIf="previewDisplayText">
      {{ previewDisplayText }}
    </span>
    <span *ngIf="!previewDisplayText">
      {{!isIconButton? (ngModelDisplayText || '&nbsp;') : ''}}
    </span>
  </button>
  <i *ngIf="!isIconButton && !onlyDropdownIcon && ngModel!==null && (mouseOvered || cbDropdown.isOpen) && !isDisabled && !readonly" (click)="clearSelected();" class="clear-all fas fa-times-circle"></i>

  <ul #cbList *dropdownMenu class="dropdown-menu cb_dropdown-ul" [class.restrained-width]="restrainedWidth" role="menu" [class.icon-dropdown-content]="isIconButton" [class.align-dropdown-on-right]="alignDropDownOnRight" (click)="event.requirePath($event, 'li')" (mousedown)="$event.stopPropagation(); $event.preventDefault();">
    <ng-container *ngIf="enableCustomOptionInput">
      <li class="cb_dropdown-li__custom-input" (click)="toggleDropDown(true)">
        <input #cbCustomInput type="text" (keyup.enter)="createCustomInput(customOptionInputValue)" [disabled]="readonly" [(ngModel)]="customOptionInputValue" (blur)="createCustomInput(customOptionInputValue)" placeholder="Enter Custom">
      </li>
      <li class="divider dropdown-divider"></li>
    </ng-container>
    <li class="cb_dropdown-li" *ngFor="let option of options; index as i" role="menu" [class.hidden]="option.hidden || hiddenOptions.includes(option)" >
      <a href="javascript:void(0);" [id]="enableAutoFocus ? option.value : '' " (click)="selectOption(option)" [ngClass]="keyboard.selectedIndex == i ? 'cb_selected-option' : ''" [class.none]="option.value == null">
        {{optionText? option[optionText]:option}}
      </a>
    </li>

    <ng-container *ngIf="hasBottomLink">    
      <li class="divider dropdown-divider mb-0"></li>
      <li class="cb_dropdown-li_last">
        <a href="javascript:void(0);" class="cb_dropdown-li__link" [innerText]="bottomLinkText"></a>
      </li>
    </ng-container>
  </ul>
</div>