<div class="cb_tabs-header">
  <div class="cb_content_primary-description-container">
    <div class="cb_content_primary-description">
      <i aria-hidden="true" class="fal fa-exclamation-circle"></i>
      Manage custom Store pages.
    </div>
  </div>
</div>

<cb-record-search-actions entity="Page" (clickButtonEvent)="create()"
  [selected]="contentPagesTable.selected" (checked)="contentPagesTable.setSelectAll($event)">
</cb-record-search-actions>
<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
<!-- <button type="button" class="cb_input-keyAction" (click)="create()"> + </button> -->
</cb-table-toolbar>

<cb-record-search-filter-list class="cb-filter-box" [results]="_rows" [customResultsCount]="search === '' ? null : filtered.length" ></cb-record-search-filter-list>
<cb2-table [value]="filtered" [cols]="cols" [idField]="'ContentPageID'" [rowActions]="rowActions"
  (gotoDetail)="gotoDetail($event)" (deleteEvent)="delete($event)" #contentPagesTable>
</cb2-table>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
