@import (reference) "custom/function-vars";
@import (reference) "custom/colors";

:host, div, ul, li{
    display: inline-block;
}
ul{
    margin:0;
    padding-left: 0px;
}
.cb-criteria-chips{
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 12px;
    color: #b6b6b6;
    border-radius:3px;
    padding:4px 16px;
    cursor: pointer;
}
.cb-criteria-chips:not(.clear-chip){
    background-color: #f3f3f3;
}
.cb-criteria-chips.system-filter{
    font-style: italic;
}
.cb-criteria-chips:hover:not(.clear-chip){
    background-color: #fbece8;
    color: #878787;
}
.cb-criteria-chips i.fal.fa-times{
    font-size: 9px;
    margin-left: 4px;
    color: @gray-5;
}
.cb-criteria-chips:hover i.fal.fa-times{
    color: @gray-6;
}

/*clear chip*/
.cb-criteria-chips.clear-chip{
    color: #b6b6b6;
    font-weight: 500;
}
.cb-criteria-chips.clear-chip:hover{
    color: #878787;
}

/*clear all circle*/
.cb-criteria-chips i.fa.fa-times-circle{
    color:#b6b6b6;
}
.cb-criteria-chips:hover i.fa.fa-times-circle{
    color: @input-danger-label-icon-color;
}


.filter-result-counter{
    width: 180px;
}
.filter-result-counter>label,
.filter-list>label{
    font-weight: normal;
    color:  #878787;
    font-size: 12px;
}
.medium{
    font-weight: 500;
    line-height: 2.5;
}
.filter-result-counter {
    span.displaying-text {
        font-weight: 500;
    }
}