<div class="filter-result-counter" *ngIf="results">
	<label>
        <ng-container *ngIf="customResultsCount === null">
            <span class="displaying-text">Displaying:</span> {{results.length}} Result<span *ngIf="results.length > 1">s</span>
        </ng-container>
        <ng-container *ngIf="customResultsCount !== null">
            <span class="displaying-text">Displaying:</span> {{customResultsCount}} Result<span *ngIf="customResultsCount > 1">s</span>
        </ng-container>
    </label>
</div>
