<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<div id="wrapper" [class]="fontFamilyClass">
  <div id="top_nav" [style.background]="styleData.top_nav_bg_color" [style.color]="styleData.top_nav_text_color"><span
      class="hoverable" #hoverText (mouseover)="updateColor($event)" (mouseleave)="defaultColorOfText()">Top
      Nav</span></div>
  <div id="header" [style.background]="styleData.header_bg_color">
    <div class="logo" [style.background-image]="backgroundImage.logo">

    </div>
  </div>
  <div id="buttons">
    <button class="primary" [style.background]="styleData.primary_button">Primary</button>
    <button class="secondary" [style.background]="styleData.secondary_button">Secondary</button>
  </div>
  <div id="nav" [style.background]="styleData.nav_bg_color">
    <!-- <p-button icon="pi pi-save" class="ui-button-secondary" type="button" (click)="updateLive(event)" label="Save"></p-button> -->

    <!-- <p-button icon="pi pi-home" id="home"></p-button> -->
    <button id="home" (mouseover)="updateNavHomeColor($event)" (mouseleave)="defaultHomeColor($event)">
      <i class="pi pi-home"></i>
    </button>

    <div class="nav_link hoverable" (mouseover)="updateNavTextColor($event)" (mouseleave)="defaultNavTextColor($event)">
      TEST CATEGORY 1</div>
    <div class="nav_link hoverable" (mouseover)="updateNavTextColor($event)" (mouseleave)="defaultNavTextColor($event)">
      TEST CATEGORY 2</div>
    <div class="nav_link hoverable" (mouseover)="updateNavTextColor($event)" (mouseleave)="defaultNavTextColor($event)">
      TEST CATEGORY 3</div>

  </div>


  <div class="banner" [style.background-image]="backgroundImage.top">

  </div>

  <h2 class="header" [style.color]="styleData.heading_text_color">Featured Categories</h2>
  <hr [style.color]="styleData.heading_text_color" />
  <div class="spacer"></div>
  <div id="feat_cats">
    <div class="cat_box">
      <div class="image"
        [style.background-image]="catData[0].ImageFile ? 'url('+catData[0].ImageFile+')' : defaultImage"></div>
      <div class="cat_name">{{ catData[0].Title }}</div>
    </div>
    <div class="cat_box">
      <div class="image"
        [style.background-image]="catData[1].ImageFile ? 'url('+catData[1].ImageFile+')' : defaultImage"></div>
      <div class="cat_name">{{ catData[1].Title }}</div>
    </div>
    <div class="cat_box">
      <div class="image"
        [style.background-image]="catData[2].ImageFile ? 'url('+catData[2].ImageFile+')' : defaultImage"></div>
      <div class="cat_name">{{ catData[2].Title }}</div>
    </div>
  </div>

  <h2 class="header" [style.color]="styleData.heading_text_color">Featured Products</h2>
  <hr [style.color]="styleData.heading_text_color" />
  <div id="feat_cats">
    <div class="cat_box">
      <div class="image"
        [style.background-image]="productData[0].ImageFile ? 'url('+productData[0].ImageFile+')' : defaultImage"></div>
      <div class="cat_name">{{productData[0].Name}}</div>
      <div class="cat_price">{{productData[0].RetailPrice | currency:'USD':true}}</div>
      <button class="productBtn primary" [style.background]="styleData.primary_button">Primary</button>
    </div>
    <div class="cat_box">
      <div class="image"
      [style.background-image]="productData[1].ImageFile ? 'url('+productData[0].ImageFile+')' : defaultImage"></div>
      <div class="cat_name">{{productData[1].Name}}</div>
      <div class="cat_price">{{productData[1].RetailPrice | currency:'USD':true}}</div>
      <button class="productBtn primary" [style.background]="styleData.primary_button">Primary</button>
    </div>
    <div class="cat_box">
      <div class="image"
      [style.background-image]="productData[2].ImageFile ? 'url('+productData[0].ImageFile+')' : defaultImage"></div>
      <div class="cat_name">{{productData[2].Name}}</div>
      <div class="cat_price">{{productData[2].RetailPrice | currency:'USD':true}}</div>
      <button class="productBtn primary" [style.background]="styleData.primary_button">Primary</button>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="banner" [style.background-image]="backgroundImage.lower">
  </div>
  <div id="footer_top" [style.background]="styleData.footer_bg">
    <div id="feat_cats" [style.color]="styleData.footer_text" [style.background]="styleData.footer_bg">
      <div class="cat_box" [style.color]="styleData.footer_text" [style.background]="styleData.footer_bg">
        <span>{{styleData?.footerData?.length > 0 ? styleData.footerData[0].name : 'Category Name'}}</span>
        <hr>
        <ul>
          <li class="dcaret" id="list_cat" (mouseover)="updateFooterTextColor($event)"
            (mouseleave)="defaultFooterTextColor($event)">Cat 1</li>
          <li class="dcaret" id="list_cat" (mouseover)="updateFooterTextColor($event)"
            (mouseleave)="defaultFooterTextColor($event)">Cat 2</li>
        </ul>
      </div>
      <div class="cat_box" [style.color]="styleData.footer_text" [style.background]="styleData.footer_bg">
        <span>{{styleData?.footerData?.length > 1 ? styleData.footerData[1].name : 'Category Name'}}</span>
        <hr>
        <ul>
          <li class="dcaret" id="list_cat" (mouseover)="updateFooterTextColor($event)"
            (mouseleave)="defaultFooterTextColor($event)">Link 1</li>
          <li class="dcaret" id="list_cat" (mouseover)="updateFooterTextColor($event)"
            (mouseleave)="defaultFooterTextColor($event)">Link 2</li>
        </ul>
      </div>
      <div class="cat_box" [style.color]="styleData.footer_text" [style.background]="styleData.footer_bg">
        <span>{{styleData?.footerData?.length > 2 ? styleData.footerData[2].name : 'Category Name'}}</span>
        <hr>
        <ul>
          <li class="dcaret" id="list_cat" (mouseover)="updateFooterTextColor($event)"
            (mouseleave)="defaultFooterTextColor($event)">Address 1</li>
          <li class="dcaret" id="list_cat" (mouseover)="updateFooterTextColor($event)"
            (mouseleave)="defaultFooterTextColor($event)">Address 2</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer_bottom" [style.color]="styleData.footer_text" [style.background]="styleData.footer_bg"></div>
</div>
