.spacer{
    height: 12px;
    width: 100%;
    background: white;
}

h2{
    margin-top: 20px;
    font-family: Arial;
}

.noimage{
    background-size: 100% 100%;
    background-image: url("../../../../../assets/img/noimage.gif");
    height: 65%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;

}

.image{
    //background: black;
    background-size: 100% 100%;
    background-image: url("../../../../../assets/img/noimage.gif");
    height: 65%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;

}

.hoverable{
    cursor:pointer;
}

button{
    border-radius: 5px;
    background: #9aca3f;
    margin-left: 20px;
    margin-bottom: 9px;
    width: 50%;
    padding: 0px;
    height: 34px;
    border: none;

}

.productBtn{
    // margin-top: 20px;
    // margin-top: 5px;
    // margin-left: -6px;
    // height: 24px;
    // color: white;
    margin-top: -4px;
    margin-left: -6px;
    height: 21px;
}

.hoverText:hover{
    color: #9aca3f;
    cursor: pointer;
}

.primary{
    background: #166d9c;
    color: white;
}

.secondary{
    background: #ff66ab;
}

#buttons{
    left: 33%;
    width: 23%;
    float: right;
    margin-top: -11%;
}

#home{
    width: 40px;
    cursor: pointer;
    border: none;
    margin-left: 63px;
    margin-top: 5px;
    height: 40px;
    color: #ffffff;
    background-color: #080808;
    font-size: 14px;
    transition: background-color 0.2s, box-shadow 0.2s;
    border-radius: 99px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    i {
      font-family: 'primeicons' !important;
      background-color: transparent !important;
    }
}

#wrapper{
    position: fixed;
    height: 85vh;
    width: 60vw;
    overflow-y: auto;
    overflow-x: auto;

    &.times-new-roman * {
        font-family: 'Times New Roman', Times, serif;
    }
    &.arial * {
        font-family: Arial, Helvetica, sans-serif;
    }
    &.lucida-console * {
        font-family: "Lucida Console", Monaco, monospace;
    }
}

#top_nav{
    height: 25px;
    width: 100%;
    background: black;
    color: white;
    font-size: 14px;
    padding: 5px;
    font-family: Arial;
}

#header{
    height: 143px;
    width: 100%;
    background: white;

}

#nav{
    background: rgb(154, 202, 63);
    display: inline-flex;
    width: 100%;
    font-size: 13px;
    height: 50px;
}

.nav_link{
    height: 30px;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: Arial;
}

.banner{
    height: 230px;
    background: black;
    background-size: 100% 100%;
    left: 120px;
    width: 840;
    color: white;
}

#feat_cats{
    margin-top:20px;
    margin-bottom: 70px;
    display: inline-flex;
    width: 100%;
    height: 208px;
    margin-left: 10%;
}

.cat_box:first-child{
    height: 264px;
    width: 245px;
    left: 431px;
    margin-right: 32px;
}

.cat_box{
    height: 264px;
    width: 245px;
    background: transparent;
    margin-right: 32px;
    border: 1px solid gray;
    text-align: center;
}

.cat_name{
    text-align: center;
    bottom: 0;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-overflow: ellipsis;
    width: 80%;
    margin-left: 5%;
    white-space: nowrap;
    overflow: hidden;
}

.cat_price{
    text-align: left;
    margin-top: -3px;
    margin-left: 6%;
    font-weight: 900;
    font-size: 16px;
}

#footer_top{
    height: 250px;
    width: 100%;
    background: gray;
    border-bottom: 2px solid white;
}

#footer_bottom{
    height: 74px;
    background: gray;
    margin-bottom: 20px;

}

.logo{
    position: relative;
    height: 42%;
    width: 200px;
    background-color: transparent;
    background-size: 100% 100%;
    left: 40px;
    top: 20px;
}

#footer_top > #feat_cats{
    background: gray;
    color: white;
    font-family: Arial;
    font-size: 20px;
    margin-top: 0px;

}

#footer_top > #feat_cats > .cat_box{
    height: 202px;
    //background: black;
    color: white;
    text-align: left;
    margin-top: 10px;
    border: none;

}



ul{
    list-style: none;
}

#list_cat{
    font-size: 14px;
    margin-bottom: 5px;
}

// Caret CSS

.dcaret{
    position: relative;
    cursor: pointer;
}

.dcaret:before {
    content: "";
    position: absolute;
    top: 15%;
    left: -8px;
    border-left: 4px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.dcaret:after{
    content: '';
    position: absolute;
    top: 25%;
    left: 13px;
    border-top: 11px d #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

.cat_box > ul {
    margin-left: -25px;
    margin-top: 10px;
}

