<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Contacts</h1>
<p class="cb_content_primary-description">A contact is a record for an individual. Contacts are synced with {{themeService.currentTheme.name}} Management System.</p>

<cb-contacts-table (onLoaded)="onLoaded()"></cb-contacts-table>
