<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Dev Support</h1>

<form class="cb_form">


  <!--<div class="cb_fieldset">
    <div class="cb_fieldset-field">
      <label class="cb_field-switch cb_fieldset-field_label--inline">
          <i class="fa fa-toggle-on active" data-field="EnableFileUpload" *ngIf="configSetting.EnableFileUpload == true" (click)="changeStatus($event)"></i>
          <i class="fa fa-toggle-on fa-rotate-180 inactive" data-field="EnableFileUpload" *ngIf="configSetting.EnableFileUpload == false" (click)="changeStatus($event)"></i>
          <span class="cb_fieldset-field_label--inline_text_content cb_field-text-swtich-inline">File Upload</span>
      </label>
    </div>
  </div>-->
  <div class="cb_form">
    <h3 class="cb_fieldset-headline">Features</h3>
    <div class="cb_fieldset">
      <div class="cb_fieldset-field">
        <label class=" cb_field-switch cb_fieldset-field_label--inline">
          <i class="fa fa-toggle-on active" data-field="EnableCarrierRate"
            *ngIf="configSetting.EnableCarrierRate == true" (click)="changeStatus($event)"></i>
          <i class="fa fa-toggle-on fa-rotate-180 inactive" data-field="EnableCarrierRate"
            *ngIf="!configSetting.EnableCarrierRate" (click)="changeStatus($event)"></i>
          <span class="cb_fieldset-field_label--inline_text_content cb_field-text-swtich-inline">Carrier Rate
            Shipping</span>
        </label>
      </div>
    </div>

    <div class="cb_fieldset">
      <div class="cb_fieldset-field">
        <label class="cb_field-switch cb_fieldset-field_label--inline">
          <i class="fa fa-toggle-on active" data-field="EnableOrderApprovals"
            *ngIf="configSetting.EnableOrderApprovals == true" (click)="changeStatus($event)"></i>
          <i class="fa fa-toggle-on fa-rotate-180 inactive" data-field="EnableOrderApprovals"
            *ngIf="!configSetting.EnableOrderApprovals" (click)="changeStatus($event)"></i>
          <span class="cb_fieldset-field_label--inline_text_content cb_field-text-swtich-inline">Order Approvals</span>
        </label>
      </div>
    </div>
  </div>

  <div class="cb_form">
    <div class="cb_fieldset">
      <div class="cb_fieldset-field">
        <label class="cb_field-switch cb_fieldset-field_label--inline">
          <i class="fa fa-toggle-on active" data-field="EnableCustomersCanvas"
            *ngIf="configSetting.EnableCustomersCanvas == true" (click)="changeStatus($event)"></i>
          <i class="fa fa-toggle-on fa-rotate-180 inactive" data-field="EnableCustomersCanvas"
            *ngIf="!configSetting.EnableCustomersCanvas" (click)="changeStatus($event)"></i>
          <span class="cb_fieldset-field_label--inline_text_content cb_field-text-swtich-inline">Customer Canvas</span>
        </label>
      </div>
    </div>
  </div>

  <div class="cb_form">
    <h3 class="cb_fieldset-headline">Development</h3>
    <div class="cb_fieldset">
      <div class="cb_fieldset-field">
        <label class="cb_field-switch cb_fieldset-field_label--inline">
          <i class="fa fa-toggle-on active" data-field="EnableOnlineTaxLookup"
            *ngIf="configSetting.EnableOnlineTaxLookup == true" (click)="changeStatus($event)"></i>
          <i class="fa fa-toggle-on fa-rotate-180 inactive" data-field="EnableOnlineTaxLookup"
            *ngIf="!configSetting.EnableOnlineTaxLookup" (click)="changeStatus($event)"></i>
          <span class="cb_fieldset-field_label--inline_text_content cb_field-text-swtich-inline">ATE</span>
        </label>
      </div>
    </div>
    <div class="cb_fieldset">
      <div class="cb_fieldset-field">
        <label class="cb_field-switch cb_fieldset-field_label--inline">
          <i class="fa fa-toggle-on active" data-field="EnableTermsAndConditions"
            *ngIf="configSetting.EnableTermsAndConditions == true" (click)="changeStatus($event)"></i>
          <i class="fa fa-toggle-on fa-rotate-180 inactive" data-field="EnableTermsAndConditions"
            *ngIf="!configSetting.EnableTermsAndConditions" (click)="changeStatus($event)"></i>
          <span class="cb_fieldset-field_label--inline_text_content cb_field-text-swtich-inline">Terms and
            Conditions</span>
        </label>
      </div>
    </div>
  </div>
</form>