<div class="cb_login-wrapper">
  <div class="cb_login-container">
    <div class="cb_login-loader" [style.opacity]="loadingOpacity">
      <img [src]="themeService.currentTheme.loginLoader" width="100" height="100">
    </div>
    <h1 class="cb_login-brand">{{themeService.currentTheme.name}}</h1>
    <h2 class="cb_login-headline">Login</h2>
    <form class="cb_login-form">
      <fieldset class="cb_login-form_credentials">
        <div class="cb_login-form_credentials-row">
          <label class="cb_login-form_credentials-label">Username</label>
          <div class="cb_login-form_credentials-validator" [ngClass]="{invalid: usernameError}">
            <input class="cb_login-form_credentials-input" type="text" name="username" placeholder="Username" [(ngModel)]="login.username" (change)="checkUsername()" tabindex="1" autofocus="autofocus">
          </div>
					<p class="cb_login-error">{{usernameError}}</p>
        </div>
        <div class="cb_login-form_credentials-row">
          <label class="cb_login-form_credentials-label">Password</label>
          <div class="cb_login-form_credentials-validator" [ngClass]="{invalid: passwordError}">
            <input class="cb_login-form_credentials-input" type="password" name="password" placeholder="Password" [(ngModel)]="login.password" (change)="checkPassword()" tabindex="2">
          </div>
					<p class="cb_login-error">{{passwordError}}</p>
        </div>
      </fieldset>
      <div class="cb_login-form_credentials-row">
        <a class="cb_login-form_credentials-forgot" tabindex="3" (click)="forgotPassword()">Forgot Password?</a>
        <label class="cb_login-form_credentials-remember">
          <input type="checkbox" name="remember" tabindex="4" [(ngModel)]="rememberMe">Remember Me
        </label>
      </div>
      <input class="cb_login-form_submit" type="submit" value="Login" (click)="submitLogin($event)" tabindex="5">
    </form>
  </div>
  <p class="cb_softwareMeta">
    <span class="cb_softwareMeta-homepage">{{themeService.currentTheme.url}}</span>
    <span class="cb_softwareMeta-version">Version {{systemVersion}}</span>
  </p>
</div>

<cb-alerts></cb-alerts>

<footer class="cb_support">
  <p class="cb_support-browsers">Supported Browser: <img src="assets/svg/firefox.svg" alt="Mozilla Firefox" width="50px"><strong class="cb_support-emphasis">Firefox</strong> <img src="assets/svg/chrome.svg" alt="Google Chrome" width="45px"><strong class="cb_support-emphasis">Chrome</strong></p>
</footer>
