
.cb_login-form_credentials-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.cb_login-form_credentials-label {
  display: block;
  flex: 0 0 80px;
  min-width: 80px;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  padding-top: 10px;
  color: inherit;
}
