<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>
<cb-error *ngFor="let profileError of profileErrors">{{
  profileError
}}</cb-error>

<cb-record-search-actions entity="Store" [selected]="storesTable.selected" (checked)="storesTable.setSelectAll($event)"
  relativeAddPath="../storefronts/add">
</cb-record-search-actions>
<cb-table-toolbar
  (onCountChange)="onCountChange($event)"
  [search]="search"
  (onSearchChange)="onSearchChange($event)"
  style="margin-top: 15px;margin-bottom: 15px;"
>
  <ng-content></ng-content>
  <!-- <div>
    <button
      type="button"
      class="cb_input-keyAction"
      [routerLink]="'/ecommerce/storefronts/add'"
      *ngIf="limit && total < limit"
    >
      + New Storefront
    </button>
    <span style="margin-left:15px;" *ngIf="limit"
      >{{ limit - total }} Storefronts Remaining
      <cb-tooltip
        *ngIf="limit && total >= limit"
        locationId="portal_max_storefronts"
      ></cb-tooltip
    ></span>
  </div> -->
</cb-table-toolbar>
<br>
<h5>Displaying: {{filtered.length}} Results</h5>
<cb2-table [value]="filtered" [cols]="cols" [rowActions]="rowActions" [idField]="'PortalId'" #storesTable
  (copyEvent)="copy($event)" (gotoDetail)="gotoDetail($event)" (previewEvent)="previewDomain($event)" (deleteEvent)="delete($event)">
</cb2-table>

<div *ngIf="!total">
  No results for this filter.
</div>

<!-- <cb-table-pagination
  *ngIf="total"
  [total]="filtered.length"
  [count]="count"
  (onPageChange)="onPageChange($event)"
>
</cb-table-pagination> -->
