<cb-flex-modal modalTitle="Upload Template" [displayDialog]="displayDialog"
  [buttonTexts]="{ cancelText: 'Cancel', saveAndClose: 'Import' }"
  [isCancelDisabled]="isFileUploading || isProcessingTemplate || saving"
  (onCloseDialog)="closeDialog($event)" [isSubmitValid]="parsePSDResponse?.parsedSuccessfully && !saving && !hasErrors"
  [width]="'553px'"
  [styleClass]="'upload-state'">

  <div class="flex-modal-body-content" style="margin-bottom: 20px;">
    <br>
    <div>
      <div class="file-upload-progress" *ngIf="uploadedFile">
        <div class="file-upload-item">
          <p class="cb_filename-label">{{ uploadedFile?.name }}</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploadProgress + '%' }"></div>
          </div>
          <div class="progress-info">
            <span *ngIf="!isFileUploading">
              {{fileSize}} of {{fileSize}} (100% done)
            </span>
            <span *ngIf="isFileUploading">
              {{uploadedSize}} of {{fileSize}} ({{uploadProgress}}% done)
            </span>
          </div>
        </div>

        <div class="processing-template-container" *ngIf="isProcessingTemplate">
          <i class="fal fa-spinner fa-spin"></i>
          <p>Processing Template</p>
        </div>

        <div class="success-message-container message-container" *ngIf="!isProcessingTemplate && parsePSDResponse?.parsedSuccessfully">
          <div class="row-message">
            <label>Type</label>
            <span>Custom Art</span>
          </div>
          <div class="row-message">
            <label>Surfaces</label>
            <span>{{parsePSDResponse?.numberOfSurfaces}}</span>
          </div>
          <div class="row-message" [class.no-errors]="!hasErrors" [class.error-message-container]="hasErrors">
            <label>Errors</label>
            <span *ngIf="!hasErrors">No Errors</span>
            <span *ngIf="hasErrors">{{errorMessage}}</span>
          </div>
        </div>

        <div class="error-message-container message-container" *ngIf="!isProcessingTemplate && hasErrors">
          <div class="row-message">
            <label>Errors</label>
            <span>{{errorMessage}}</span>
          </div>
        </div>
      </div>

      <div *ngIf="!uploadedFile">
        <p-fileUpload accept=".psd, .idml" customUpload="true" (onUpload)="onUpload($event)" (onError)="onError($event)"
          (onProgress)="onProgress($event)" (onSelect)="onSelect($event)">
        </p-fileUpload>

        <br />
        <h5 class="hidden">Upload Via URL</h5>
        <div class="upload-via-url-container hidden">
          <input class="cb_fieldset-field_input" placeholder="Copy and Paste URL" type="text" />
          <button class="btn-primary btn" disabled="true">Upload</button>
        </div>
      </div>
    </div>
  </div>
</cb-flex-modal>