<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<h1 class="cb_content_primary-headline" *ngIf="account">{{account.CompanyName}}</h1>
<p class="cb_content_primary-description">Company information is viewable here in the Ecommerce module and editable in the {{themeService.currentTheme.name}} Management System.</p>

<div class="cb_display" *ngIf="account">
	<div class="cb_display-segment">
		<p class="cb_display-segment_heading">Contact Information</p>

		<p class="cb_display-segment_label">Company Name</p>
		<p class="cb_display-segment_value">{{account.CompanyName}}</p>
		<p class="cb_display-segment_label">Phone Number</p>
		<p class="cb_display-segment_value">{{account.PhoneNumber | phone}}</p>

	</div>

	<div class="cb_display-segment">
		<p class="cb_display-segment_heading">Additional Information</p>

		<p class="cb_display-segment_label">Website</p>
		<p class="cb_display-segment_value">{{account.Website}}</p>

		<p class="cb_display-segment_label">Description</p>
		<p class="cb_display-segment_value">{{account.Description}}</p>

		<p class="cb_display-segment_label">Source</p>
		<p class="cb_display-segment_value">{{account.Source}} <span *ngIf="!account.Source">Blank</span></p>

    <p class="cb_display-segment_label">{{themeService.currentTheme.name}} Company Id</p>
		<p class="cb_display-segment_value">{{account.ExternalId}}</p>

		<p class="cb_display-segment_label">Created</p>
		<p class="cb_display-segment_value">{{ account.CreateDate | date:"MM/dd/yy" }}</p>
		<p class="cb_display-segment_label">Last Update</p>
		<p class="cb_display-segment_value">{{ account.UpdateDate | date:"MM/dd/yy" }}</p>
	</div>
</div>
