<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<div *ngIf="addonValue">

  <div class="cb_tabs-header">
    <h2 class="cb_tabs-header_headline">{{title}}</h2>
    <a href="javascript:void(0)" (click)="cancel()" class="cb_tabs-header_return">&lt; Return to Values</a>
  </div>

  <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>

      <div class="cb_fieldset">
        <h3 class="cb_fieldset-headline">General Settings</h3>

        <div class="cb_fieldset-field required" [class.error]="name.errors && (name.dirty || name.touched)">
          <label class="cb_fieldset-field_label">Label <cb-tooltip locationId="addons_label"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Label" [(ngModel)]="addonValue.Name" name="name" #name="ngModel" required>
          <p class="cb_fieldset-input_error">Label is required</p>
        </div>

        <div class="cb_fieldset-field required" [class.error]="sku.errors && (sku.dirty || sku.touched) || skuInvalid">
          <label class="cb_fieldset-field_label">SKU or Part# <cb-tooltip locationId="addons_sku"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="text" placeholder="SKU" [(ngModel)]="addonValue.SKU" (blur)="onBlur($event, true)" name="sku" #sku="ngModel" required>
          <p class="cb_fieldset-input_error" *ngIf="!skuInvalid">SKU or Part# is required</p>
          <p class="cb_fieldset-input_error" *ngIf="skuInvalid">Allowed special characters: - . _</p>
        </div>

        <h3 class="cb_fieldset-headline">Pricing</h3>

        <div class="cb_fieldset-field unit price">
          <label class="cb_fieldset-field_label">Retail Price <cb-tooltip locationId="addons_retail_price"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <input class="cb_fieldset-field_input" type="text" placeholder="Retail Price" value="{{isNumber(addonValue.RetailPrice)? (addonValue.RetailPrice | number:'1.2-2') : addonValue.RetailPrice}}" #RetailPrice (blur)="addonValue.RetailPrice=RetailPrice.value" name="RetailPrice" pattern="^-?(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d{1,2})?$" title="Valid price format is 9999.99 or 9,999.99">
          </div>
        </div>

        <div class="cb_fieldset-field unit price">
          <label class="cb_fieldset-field_label">Sale Price <cb-tooltip locationId="addons_sale_price"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <input class="cb_fieldset-field_input" type="text" placeholder="Sale Price" value="{{isNumber(addonValue.SalePrice)? (addonValue.SalePrice | number:'1.2-2') : addonValue.SalePrice}}" #salePrice (blur)="addonValue.SalePrice=salePrice.value" name="salePrice" pattern="^-?(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d{1,2})?$" title="Valid price format is 9999.99 or 9,999.99">
          </div>
        </div>

        <div class="cb_fieldset-field unit price">
          <label class="cb_fieldset-field_label">Wholesale Price <cb-tooltip locationId="addons_wholesale_price"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <input class="cb_fieldset-field_input" type="text" placeholder="Wholesale Price" value="{{isNumber(addonValue.WholesalePrice)? (addonValue.WholesalePrice | number:'1.2-2') : addonValue.WholesalePrice}}" #wholesalePrice (blur)="addonValue.WholesalePrice=wholesalePrice.value" name="wholesalePrice" pattern="^-?(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d{1,2})?$" title="Valid price format is 9999.99 or 9,999.99">
          </div>
        </div>

        <div class="cb_fieldset-field" *ngIf="false">
          <label class="cb_fieldset-field_label">Select Supplier <cb-tooltip locationId="addons_supplier"></cb-tooltip></label>
          <select [(ngModel)]="addonValue.SupplierId" name="supplierId">
            <option disabled="disabled">Select</option>
            <option value="0">None</option>
            <option *ngFor="let supplier of suppliers" value="{{supplier.SupplierId}}">{{supplier.Name}}</option>
          </select>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">Taxability <cb-tooltip locationId="addons_tax_class"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <div class="cb_input-dropdown">
              <select [(ngModel)]="addonValue.TaxClassId" name="taxClassId">
                <option disabled="disabled">Select</option>
                <option *ngFor="let taxClass of taxClasses" value="{{taxClass.TaxClassId}}">{{taxClass.Name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div *ngIf="this.addon.TrackInventory">
          <h3 class="cb_fieldset-headline">Inventory Settings</h3>
          <!--
          <div class="cb_fieldset-field required" [class.error]="sku.errors && (sku.dirty || sku.touched)">
            <label class="cb_fieldset-field_label">SKU or Part# <cb-tooltip locationId="addons_sku"></cb-tooltip></label>
            <input class="cb_fieldset-field_input" type="text" placeholder="SKU" [(ngModel)]="addonValue.SKU" name="sku" #sku="ngModel" required>
            <p class="cb_fieldset-input_error">SKU is required</p>
          </div>-->
          <div class="cb_fieldset-field required" [class.error]="quantityOnHand.errors && (quantityOnHand.dirty || quantityOnHand.touched)">
            <label class="cb_fieldset-field_label">Quantity on Hand <cb-tooltip locationId="addons_quantity"></cb-tooltip></label>
            <input class="cb_fieldset-field_input" type="text" placeholder="0" [(ngModel)]="addonValue.QuantityOnHand" name="quantityOnHand" #quantityOnHand="ngModel" required>
            <p class="cb_fieldset-input_error">Quantity is required</p>
          </div>
        </div>

        <div class="cb_fieldset-field" *ngIf="false">
          <label class="cb_fieldset-field_label">Re-Order Level <cb-tooltip locationId="addons_reorder_level"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="text" placeholder="1" [(ngModel)]="addonValue.ReOrderLevel" name="reOrderLevel">
        </div>

      </div>

      <div class="cb_fieldset">
        <h3 class="cb_fieldset-headline">Shipping Settings</h3>

        <div class="cb_fieldset-field near">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="addonValue.FreeShippingInd" name="freeShippingInd"><span class="cb_fieldset-field_label--inline_text_content"> Free Shipping</span> <cb-tooltip locationId="addons_free_shipping"></cb-tooltip></label>
        </div>

        <div class="cb_fieldset-field" *ngIf="!addonValue.FreeShippingInd">
          <label class="cb_fieldset-field_label">Shipping Type <cb-tooltip locationId="addons_shipping_type"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <div class="cb_input-dropdown">
              <select [(ngModel)]="addonValue.ShippingRuleTypeId" name="shippingRuleTypeId">
                <option disabled="disabled">Select</option>
                <option value="0">Flat Rate Per Item</option>
                <option value="1">Quantity-Based Rate</option>
                <option value="2">Weight-Based Rate</option>
                <option value="3">Fixed Rate Per Item</option>
              </select>
            </div>
          </div>
        </div>

        <h3 class="cb_fieldset-headline" *ngIf="false">Recurring Billing Settings</h3>

        <div class="cb_fieldset-field" *ngIf="false">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="addonValue.RecurringBillingInd" name="recurringBillingInd"><span class="cb_fieldset-field_label--inline_text_content"> Enable Recurring Billing</span> <cb-tooltip locationId="addons_recurring_billing"></cb-tooltip></label>
        </div>

        <div class="cb_fieldset-field required" *ngIf="addonValue.RecurringBillingInd" [class.error]="recurringBillingInitialAmount.errors && (recurringBillingInitialAmount.dirty || recurringBillingInitialAmount.touched)">
          <label class="cb_fieldset-field_label">Billing Amount</label>
          <input class="cb_fieldset-field_input" type="text" [(ngModel)]="addonValue.RecurringBillingInitialAmount" name="recurringBillingInitialAmount" #recurringBillingInitialAmount="ngModel" required>
          <p class="cb_fieldset-input_error">Billing Amount is required</p>
        </div>

        <div class="cb_fieldset-field" *ngIf="addonValue.RecurringBillingInd" >
          <label class="cb_fieldset-field_label">Billing Period</label>
          <select [(ngModel)]="addonValue.RecurringBillingPeriod" name="recurringBillingPeriod">
            <option value="0" disabled="disabled">Select</option>
            <option value="Week">Weekly</option>
            <option value="Month">Monthly</option>
            <option value="Year">Yearly</option>
          </select>
        </div>

        <h3 class="cb_fieldset-headline">Display Settings</h3>

        <div class="cb_fieldset-field required" [class.error]="displayOrder.errors && (displayOrder.dirty || displayOrder.touched)">
          <label class="cb_fieldset-field_label">Display Order <cb-tooltip locationId="addons_display_order"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="number" placeholder="99" [(ngModel)]="addonValue.DisplayOrder" name="displayOrder" #displayOrder="ngModel" required>
          <p class="cb_fieldset-input_error">Display Order is required</p>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="addonValue.IsDefault" name="isDefault"><span class="cb_fieldset-field_label--inline_text_content"> Default Selected Item</span> <cb-tooltip locationId="addons_display_selected_item"></cb-tooltip></label>
        </div>

        <div class="cb_fieldset-field unit inch">
          <label class="cb_fieldset-field_label">Width <cb-tooltip locationId="addons_width"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <input class="cb_fieldset-field_input" type="number" [(ngModel)]="addonValue.Width" name="width" step="0.001">
          </div>
        </div>
        <div class="cb_fieldset-field unit inch">
          <label class="cb_fieldset-field_label">Height <cb-tooltip locationId="addons_height"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <input class="cb_fieldset-field_input" type="number" [(ngModel)]="addonValue.Height" name="height" step="0.001">
          </div>
        </div>
        <div class="cb_fieldset-field unit inch">
          <label class="cb_fieldset-field_label">Length <cb-tooltip locationId="addons_length"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <input class="cb_fieldset-field_input" type="number" [(ngModel)]="addonValue.Length" name="length" step="0.001">
          </div>
        </div>
        <div class="cb_fieldset-field unit lbs">
          <label class="cb_fieldset-field_label">Weight <cb-tooltip locationId="addons_weight"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <input class="cb_fieldset-field_input" type="number" [(ngModel)]="addonValue.Weight" name="weight">
          </div>
        </div>

      </div>

      <div class="cb_content_submit">
        <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
        <button class="cb_input-keyAction" type="submit">
            <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="saving" />
            Save
        </button>
      </div>

  </form>

</div>
