@import (reference) "custom/colors";
@import (reference) "custom/function-vars";
@import (reference) 'styles';

.customer-canvas-integration-dialog-header {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  color: @gray-5;
  font-size: 14px;

  div.pull-right {
    margin-left: auto;
    i {
      font-size: 20px !important;
      padding-right: 30px;
    }
  }

  button {
    outline: none;
    background: transparent;
    border: none !important;
    top: -2px;

    &:hover {
      background: fade(@blue-gray-1, 40%);
    }

    &.back {
      font-size: @font-size-large;
    }

    &::ng-deep .ui-button-icon-right {
      font-size: 20px;
      padding: 0;
    }
  }
}

.customer-canvas-integration-dialog-content {
  // padding: 0 30px;
  padding-left: 30px;
  height: 100%;
  display: flex;
  .customize-theme-form-container {
    width: 100%;
    border-right: 1px solid @gray-3;
    .form-headline {
      font-size: 12px;
      font-family: Roboto;
      height: 32px;
      padding: 5px;
      color: @gray-7;
      button {
        width: 20px;
        height: 21px;
        padding: 0;
        font-size: 9px;
        + span {
          margin: 5px;
          vertical-align: text-top;
        }
      }
      > .pull-right {
        i {
          padding: 5px 10px;
        }
      }
    }

    > hr {
      border-top-color: @gray-3;
      margin: 0 0 20px -30px;
    }

    .tab-container {
      .cb_tabs-navigation {
        width: 348px;
      }

      .cb_fieldset {
        > label {
          color: @gray-7;
          float: left;
          font-size: 14px;
          padding-top: 5px;
          + .cb_fieldset-field {
            margin-left: 40px;
          }
        }
      }

      .no-template-header {
        color: @gray-8;
        font-size: 14px;
        font-weight: normal;
      }
      .big-buttons {
        button {
          border-width: 2px;
          margin-right: 10px;
          vertical-align: bottom;
        }
        .subtext {
          display: block;
          font-size: 9px;
        }
      }
    }
  }

  .container-right {
    width: 270px;
    .header {
      background-color: #E6E6E6;
      display: flex;
      text-align: center;
      padding: 15px;
      justify-content: space-around;
      button {
        height: 30px;
        border-radius: 3px;
        border-style: unset;
        > i {
          padding: 0 5px;
        }
        background-color: @cb-1;
        border-color: @cb-1;

        // body.mistype-1 & {
        //   background-color: @cy-1;
        //   border-color: @cy-1;
        // }
      }
      .filter-icon {
        position: absolute;
        margin-top: 7px;
        margin-left: -15px;
        i {
          width: 30px;
          text-align: center;
          font-size: 14px;
          align-items: center;
          align-self: center;
          color: #cccccc;
        }
      }
      input {
        height: 30px;
        width: 120px;
        border-radius: 3px;
        border-style: unset;
        border: 1px solid #cdcdcd;
      }
    }
    div.content {
      padding: 10px 20px;
      opacity: 0.5;
      background-color: #e6f2ce;
      border-bottom: 1px solid #e6e6e6;
    }
  }

  .preview-container {
    width: 90%;
    iframe, textarea {
      width: 100%;
      height: 100%;
    }
  }
}

cb-tabs::ng-deep .cb_tabs {
  margin-left: 0px;
  margin-right: 30px;

  .cb_fieldset-headline {
    margin-top: 0px;
    padding: 15px 0px 3px;
    svg {
      top: -1px;
    }
  }

  nav.cb_tabs-navigation {
    margin-bottom: 21px;
    padding: 0;
  }

  cb-tab {
    .cb_tabs-content > .cb_content_primary {
      padding-left: 0px;
      padding-right: 0px;
      .cb_fieldset {
        width: 100%;
        .form-control-float-wrapper {
          margin-right: 20px;
          input.cb_fieldset-field_input {
            width: 290px;
          }
          p-colorpicker {
            margin-left: 8px;
            position: relative;
            input.ui-colorpicker-preview {
              width: 30px;
              border-radius: 3px;
              border: 1px solid;
            }
          }
        }
        .cb_input-dropdown {
          height: 30px;
          margin-right: 20px;
        }
      }
      .cb_form-divider {
        margin-bottom: 21px;
      }
    }
  }
}

.cb_input-upload:active, .cb_input-upload.active {
  color: #ffffff !important;
}

.cb_content_primary-description {
  line-height: 1.5;
  font-size: 12px;
}

.cb_content_primary-description-container {
  display: flex;
  margin-top: 10px;
  > .exclamation-icon {
    width: 21px;
  }
  > .cb_content_primary-description {
    max-width: 480px;
  }
}

.cb_content_submit {
  width: calc(100% - 30px) !important;
}

:host ::ng-deep {
  .container-right {
    div.content {
      body.mistype-1 & {
        background-color: @cy-7 !important;
      }
    }
  }
}
div.safety-line-row {
  display: flex;
  flex-direction: row;
}
div.safety-line-column {
  display: flex;
  flex-direction: column;
  width: 50px;

  &.left {
    margin-right: 26px;
  }
}
div.safety-line-preview {
  border-width: 2px;
  border-style: dashed;
  width: 25px;
  height: 25px;
  top: 5px;
  right: -30px;
  position: relative;
}

.units {
  color: @gray-6;
  text-align: right;
}

.safety-line-name {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  margin-left: 6px;
  color: @gray-10;
}

.safety-line-pdf-box {
  font-family: Roboto, sans-serif;
  font-size: 9px;
  color: @gray-6;
  position: relative;
  top: -1px;
  margin-left: 3px;
}

ul.safety-line-list {
  list-style: none;
  padding-left: 0;
}
