<cb-full-size-modal #previewDialog (onCloseDialog)="displayDialog = false" (onCancelDialog)="displayDialog = false"
  [displayDialog]="displayDialog">
  <div class="customer-canvas-integration-dialog-header line-item-detail-header">
    Full Color Brochure
    <div class="pull-right">
      <i class="fal fa-cog"></i>
      <button pButton class="black back" (click)="closeDialog()" icon="fal fa-times" iconPos="right"
        label="Close"></button>
    </div>
  </div>

  <div class="customer-canvas-integration-dialog-content line-item-detail-content">
    <div class="customize-theme-form-container">
      <div class="form-headline">
        <button class="cb_content_pager-prev"><i class="fal fa-chevron-left"></i></button>
        <button class="cb_content_pager-next"><i class="fal fa-chevron-right"></i></button>
        <span>Template #1 of 1</span>
        <div class="pull-right">
          <i class="fal fa-history"></i>
          <i class="fal fa-ellipsis-v-alt"></i>
        </div>
      </div>
      <hr>

      <div class="tab-container">
        <div class="cb_fieldset">
          <label>T1</label>
          <div class="cb_fieldset-field required">
            <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
            <div class="form-control-float-wrapper">
              <input class="cb_fieldset-field_input" type="text" maxlength="255" name="templateName"
                #templateName="ngModel" [(ngModel)]="_templateName"
                [ngClass]="_templateName ? 'cb_input-value' : 'cb_input-empty'" />
              <span class="floating-label">Template Name <span class="required-label">*</span></span>
            </div>
          </div>
        </div>
        <cb-tabs>
          <cb-tab [title]="'Template Details'" slug="template-details">
            <div *ngIf="!importCompleted">
              <div class="no-template-header">
                <i class="fal fa-info-circle"></i>
                &nbsp;&nbsp;
                <span>No template. Select an option below.</span>
              </div>
              <br>
              <div class="big-buttons">
                <button type="button" class="btn-white-green green-hover">
                  <i class="fa fa-file"></i>
                  <span>Blank</span>
                </button>
                <button type="button" class="btn-white-green green-hover">
                  <i class="far fa-copy"></i>
                  <span>Copy From Existing</span>
                </button>
                <button type="button" class="btn-white-green green-hover" (click)="openModalToUploadFile()">
                  <i class="fa fa-cloud-upload"></i>
                  <span>Upload Template</span>
                  <span class="subtext">(IDML, PSD)</span>
                </button>
              </div>

              <upload-file-to-generate-state-modal #fileUploadToStateModal (onSave)="handleImportCompleted($event)" [productId]= product?.ProductId>
              </upload-file-to-generate-state-modal>
            </div>
            <div *ngIf="importCompleted">
              <div *ngIf="selectedProductTemplate">
                <div class="cb_fieldset" style="margin-bottom: 0px;">
                    <h3 class="cb_fieldset-headline">Template Details
                      <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                    </h3>
                    <hr class="cb_form-divider">
                    <div class="cb_fieldset-field required near" [class.error]="name.errors &&(name.dirty || name.touched)">
                      <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                      <div class="form-control-float-wrapper">
                        <input type="text" name="name" #name="ngModel" required class="cb_fieldset-field_input"
                               [ngClass]="selectedProductTemplate.name ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="selectedProductTemplate.name" />
                        <span class="floating-label">Template Name <span class="required-label">*</span></span>
                      </div>
                    </div>
                </div>
                <div class="cb_fieldset" style="margin-bottom: 0px;">
                    <h3 class="cb_fieldset-headline">Default Surface Boundaries
                      <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                    </h3>

                    <hr class="cb_form-divider">
                    <div class="cb_fieldset-field required near">
                      <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                      <div class="form-control-float-wrapper">
                        <cbx-dropdown label="Surface Preset" name="templatePreset" id="templatePreset" dataValue="id" dataText="name"
                                      [options]="templatePresets" [ngModel]="selectedTemplatePreset" (onSelect)="onTemplatePresetSelected($event)"></cbx-dropdown>
                      </div>
                    </div>
                    <hr class="cb_form-divider">
                    <div class="cb_fieldset-field required near" *ngIf="selectedTemplatePresetJsonModel">
                      <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                      <div class="form-control-float-wrapper">
                        <ul class="safety-line-list">
                          <li *ngFor="let safetyLine of selectedTemplatePresetJsonModel?.safetyLines">
                            <strong><i class="fa fa-lock"></i> <span class="safety-line-name">{{safetyLine.name}}</span> <span class="safety-line-pdf-box">&nbsp;&nbsp;(PDF {{safetyLine.pdfBox}}Box)</span></strong>
                            <div>
                              <div class="safety-line-row">
                                <div class="safety-line-row">
                                  <div class="safety-line-column">
                                    <div class="units">Top</div>
                                    <div class="units">Bottom</div>
                                  </div>
                                  <div class="safety-line-column">
                                    <div><strong style="margin-left: 16px">{{safetyLine.margin.top}} in</strong></div>
                                    <div><strong style="margin-left: 16px">{{safetyLine.margin.bottom}} in</strong></div>
                                  </div>
                                </div>
                                <div class="safety-line-row">
                                  <div class="safety-line-column">
                                    <div class="units">Right</div>
                                    <div class="units">Left</div>
                                  </div>
                                  <div class="safety-line-column">
                                    <div><strong style="margin-left: 16px">{{safetyLine.margin.right}} in</strong></div>
                                    <div><strong style="margin-left: 16px">{{safetyLine.margin.left}} in</strong></div>
                                  </div>
                                </div>
                                <div class="safety-line-preview" [style.border-color]="safetyLine.color"></div>
                              </div>
                            </div>
                            <hr class="cb_form-divider">
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

              </div>
            </div>
            <div>
              <div>
                <div class="cb_fieldset" style="margin-bottom: 0px;">
                  <div class="cb_fieldset near">
                    <h3 class="cb_fieldset-headline">Background Image Library
                      <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                    </h3>
                    <hr class="cb_form-divider">
                  </div>
                </div>
              </div>
            </div>

            <!-- <h1>Template Details</h1>
            <form class="cb_form">
              <div class="cb_fieldset">
                <div class="cb_fieldset-field">
                  <div class="cb_fieldset-field_wrapper">
                    <cbx-dropdown
                      label="Design Editor"
                      name="editorPreset"
                      id="editorPreset"
                      [options]="editorPresets"
                      dataValue="id"
                      dataText="name"
                      [ngModel]="editorPresetId"
                      (onSelect)="setEditorPreset($event)"
                    >
                    </cbx-dropdown>
                  </div>
                </div>
                <div class="cb_fieldset-field">
                  <div class="cb_fieldset-field_wrapper">
                    <cbx-dropdown
                      label="Template Editor"
                      name="templatePreset"
                      id="templatePreset"
                      [options]="templatePresets"
                      dataValue="id"
                      dataText="name"
                      [ngModel]="templatePresetId"
                      (onSelect)="setTemplatePreset($event)"
                    ></cbx-dropdown>
                  </div>
                </div>
              </div>
            </form> -->
          </cb-tab>
          <cb-tab [title]="'Surface Details'" slug="surface-details">
            <h1>Surface Details</h1>

            <div class="cb_input-upload" [class.active]="uploading" [attr.disabled]="uploading">
              Add Surface<input #inputuploadpsd type="file" accept=".psd, .idml" (change)="upload()" />
              <img src="/assets/img/ring.gif" *ngIf="uploading"
                style="max-height: 13px;float: left;margin-right: 13px;" />
            </div>

            <div class="cb_content_primary-description-container" *ngIf="stateFileGeneratedSuccessfully">
              <div class="exclamation-icon">
                <i class="fal fa-exclamation-circle" aria-hidden="true"></i>
              </div>
              <div class="cb_content_primary-description">
                State file named <strong>{{ stateFileName }}</strong> was
                generated successfully!
              </div>
            </div>
          </cb-tab>
          <cb-tab [title]="'Surface Editor'" slug="surface-editor">
            <!-- <h1>Surface Editor</h1> -->
            <cb-customers-canvas #customerCanvas></cb-customers-canvas>
          </cb-tab>
        </cb-tabs>
      </div>

      <div class="cb_content_submit">
        <button class="cb_input-keyAction cancel" type="button" (click)="cancel()">
          Cancel
        </button>
        <button class="cb_input-keyAction" type="button" [disabled]="!allInformationAreFilled" (click)="save()">
          <img src="/assets/img/ring.gif" style="max-height: 13px;float: left;margin-right: 13px;" *ngIf="loading" />
          Save
        </button>
      </div>
    </div>
    <div class="container-right">
      <div class="header">
        <button class="btn-success">
          <i class="fal fa-plus"></i>
          <i class="fal fa-angle-down"></i>
        </button>
        <!-- <input type="text" style="width: 120px;border-radius: 3px;"> -->
        <div class="filter-icon">
          <i class="fal fa-filter"></i>
        </div>
        <input style="width: 120px;" class="cb_input-filter" type="text">
      </div>
      <div class="content">
        T1
      </div>
    </div>
  </div>
</cb-full-size-modal>
