<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Styles</h1>
<p class="cb_content_primary-description">Manage storefront styles.</p>

<cb-styles-table (onLoaded)="onLoaded()"></cb-styles-table>
