<form class="cb_form" #cbForm="ngForm">
  <p-accordion *ngIf="profile" [multiple]="true" [collapseIcon]="'pi pi-fw pi-chevron-up'" [activeIndex]="activeIndex">
    <p-accordionTab *ngFor="let group of orderApprovals; let groupIndex = index">
      <p-header>
        <ng-container *ngIf="groupIndex == 0">{{group.Name}}</ng-container>
        <ng-container *ngIf="groupIndex > 0">
          <ng-template #popTemplate>
            <ul>
              <li (click)="rename($event, groupIndex, group)" *ngIf="!group['editing']">
                <cb-icon icon="fal fa-pen"></cb-icon> Rename
              </li>
              <li (click)="removeGroup($event, groupIndex, group)">
                <cb-icon icon="fal fa-trash-alt"></cb-icon> Delete
              </li>
            </ul>
          </ng-template>
          <button type="button" class="cb_popover-button cb-row-menu-trigger pull-right" (click)="$event.stopPropagation();"
            [popover]="popTemplate" [outsideClick]="true" placement="bottom">
            <i class="fal fa-ellipsis-v-alt"></i>
          </button>
          <ng-container *ngIf="group['editing']">
            <input type="text" [name]="'groupName' + groupIndex" #groupName="ngModel" [(ngModel)]="group.Name" required
              class="cb_fieldset-field_input" style="width: 55%;" (blur)="onBlurName(group)" (click)="$event.stopPropagation();"
              (keydown)="$event.stopPropagation();" (keypress)="$event.stopPropagation();" (keyup)="$event.stopPropagation();">
          </ng-container>
          <div *ngIf="!group['editing']" style="padding-top: 3px;">
            {{group.Name}}
          </div>
        </ng-container>
      </p-header>
      <div style="display: flex; margin-top: -20px;">

        <!-- Rules Section -->
        <div class="cb_fieldset">
          <h3 class="cb_fieldset-headline">Rules
            <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
          </h3>
          <hr class="cb_form-divider">

          <!-- Order Limit -->
          <div class="cb_fieldset-field">
            <label class="cb_fieldset-field_label--inline">
              <cbx-checkbox [(ngModel)]="group.orderLimited.IsActive" (ngModelChange)="updateRules(group, group.orderLimited, $event)"
                [name]="'limitOrder' + groupIndex" label="Order Limit"></cbx-checkbox>
            </label>
          </div>

          <div class="cb_fieldset-field scoped" [class.disabled]="!group.orderLimited.IsActive">
            <label class="cb_fieldset-field_label--inline">
              <p class="cb_fieldset-title">Can place orders up to, but not exceeding</p>
            </label>
            <label class="cb_fieldset-field_label--inline">
              <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup cb_fieldset-field_inputgroup">
                  <span class="ui-inputgroup-addon">$</span>
                  <input class="cb_fieldset-field_input" type="number" [name]="'limitAmount' + groupIndex"
                    (keyup)="updateRules(group, group.orderLimited, $event)"
                    [(ngModel)]="group.orderLimited.CurrencyLimit">
                </div>
              </div>
              <div class="ui-g-12 ui-md-8">
                <span>without additional approval</span>
              </div>
            </label>

            <div class="cb_fieldset-field scoped">
              <label class="cb_fieldset-field_label--inline">
                <p class="cb_fieldset-title">
                  Orders over this amount:
                  <cb-tooltip locationId="store_approvals_limitType"></cb-tooltip>
                </p>
              </label>
              <div class="cb_fieldset-field near">
                <cbx-radio-group display="inline" [options]="ruleLimitTypes" [dataText]="'name'" [dataValue]="'id'" [label]="' '"
                  [hideClearButton]="true" [name]="'orderLimitType' + groupIndex" [disabled]="!group.orderLimited.IsActive" [display]="'block'"
                  [(ngModel)]="group.orderLimited.ApprovalRuleLimitTypeID"
                  (ngModelChange)="setApprovalRuleLimit(group, group.orderLimited, $event)"></cbx-radio-group>
              </div>
            </div>
            <!-- End of Order Limit -->

          </div>

          <!-- Time Frame Limit -->
          <div class="cb_fieldset-field cb_fieldset-level1">
            <label class="cb_fieldset-field_label--inline">
              <cbx-checkbox [(ngModel)]="group.timeFrameLimited.IsActive" label="Time Frame Limit"
                (change)="updateRules(group, group.timeFrameLimited, $event)" [name]="'limitTimeFrame' + groupIndex"></cbx-checkbox>
            </label>
          </div>

          <div class="cb_fieldset-field scoped" [class.disabled]="!group.timeFrameLimited.IsActive">
            <label class="cb_fieldset-field_label--inline">
              <p class="cb_fieldset-title">Can place total orders up to, but not exceeding</p>
            </label>
            <label class="cb_fieldset-field_label--inline">
              <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup cb_fieldset-field_inputgroup">
                  <span class="ui-inputgroup-addon">$</span>
                  <input type="number" [(ngModel)]="group.timeFrameLimited.CurrencyLimit" [name]="'timeFrameLimitAmount' + groupIndex"
                    (keyup)="updateRules(group, group.timeFrameLimited, $event)">
                </div>
              </div>
              <div class="ui-g-12 ui-md-2"><span>per</span></div>
              <div class="ui-g-12 ui-md-3">
                <input type="number" class="cb_fieldset-field_input" [name]="'timeFrameLimit' + groupIndex"
                  [(ngModel)]="group.timeFrameLimited.DaysLimit">
              </div>
              <div class="ui-g-12 ui-md-2"><span>days</span></div>
            </label>

            <div class="cb_fieldset-field scoped">
              <label class="cb_fieldset-field_label--inline">
                <p class="cb_fieldset-title">
                  Orders over this amount:
                  <cb-tooltip locationId="store_approvals_limitType"></cb-tooltip>
                </p>
              </label>
              <div class="cb_fieldset-field near">
                <cbx-radio-group display="inline" [options]="ruleLimitTypes" [dataText]="'name'" [dataValue]="'id'" [label]="' '"
                  [hideClearButton]="true" [name]="'timeFrameLimitType' + groupIndex" [disabled]="!group.timeFrameLimited.IsActive" [display]="'block'"
                  [(ngModel)]="group.timeFrameLimited.ApprovalRuleLimitTypeID"
                  (ngModelChange)="setApprovalRuleLimit(group, group.timeFrameLimited, $event)"></cbx-radio-group>
              </div>
            </div>
          </div>
          <!-- End of Time Frame Limit -->

        </div> <!-- End of Rules Section -->

        <div class="cb_fieldset near">
          <!-- Approver Section -->
          <div class="cb_fieldset">
            <h3 class="cb_fieldset-headline">Approvers
              <cb-tooltip locationId="store_approvals_approvers" class="pull-right"></cb-tooltip>
            </h3>
            <hr class="cb_form-divider">
            <div class="cb_fieldset-field approver-group-checkbox" *ngIf="groupIndex">
              <label class="cb_fieldset-field_label--inline">
                <cbx-checkbox [(ngModel)]="group.UseDefaultGroupApprover" label="Use Default" [name]="'useDefaultApprover' + groupIndex"></cbx-checkbox>
              </label>
            </div>
            <div class="cb_fieldset-field approver-field deletable" [class.disabled]="group.UseDefaultGroupApprover" *ngIf="!group.UseDefaultGroupApprover">
              <cb-order-approval-input-field
                [selectedOption] = "group.Approvers"
                [searchDelayMs] = "300"
                [searchTermMinLength]="3"
                [searchType]="'Approver'"
                [placeholder]="'Select Approver(s)'"
                [noItemsLabel]="'No Approvers'"
                [approvalGroup]="group"
                [portalID]="portal.PortalId"
                (onSelectionChange)="handleApproversChange($event, groupIndex)"
                >
              </cb-order-approval-input-field>
              <input [name]="'approvers' + groupIndex" type="hidden" [(ngModel)]="group.Approvers" #approvers="ngModel">
              <!-- <cbx-multi-dropdown
                class="block"
                label="Select Approver(s)"
                [name]="'approvers' + groupIndex"
                [ngModel]="group['approverAccountIds']"
                (ngModelChange)="handleApproversChange($event, groupIndex)"
                [options]="approverOptions || []"
                dataText="DisplayName"
                dataValue="AccountID">
              </cbx-multi-dropdown> -->
            </div>
          </div><!-- End of Approver Section -->

          <!-- Customer Section -->
          <div class="cb_fieldset near">
            <h3 class="cb_fieldset-headline">Customers
              <cb-tooltip locationId="store_approvals_customers" *ngIf="groupIndex" class="pull-right"></cb-tooltip>
            </h3>
            <hr class="cb_form-divider">
            <div *ngIf="!groupIndex">
              <p class="cb_fieldset-description">
                The Default Approval Group applies to all purchases made on this storefront not covered by
                another group.
              </p>
              <p class="cb_fieldset-description">
                Note:
                Approval Exempt Customers are excluded from all Approval Groups.
              </p>
            </div>

            <div *ngIf="groupIndex">
              <div>
                <cb-order-approval-input-field [selectedOption]="group.Customers" [searchDelayMs]="300"
                  [searchTermMinLength]="3" [searchType]="'Customer'" [approvalGroup]="group"
                  [placeholder]="'Select Customers'"
                  [noItemsLabel]="'No Customers'"
                  [portalID]="portal.PortalId"
                  (onSelectionChange)="validate()">
                </cb-order-approval-input-field>
              </div>
            </div>
            <!-- End of Customer Section -->

          </div>
        </div>

      </div>
    </p-accordionTab>
  </p-accordion>
  <ul class="cb_accordion" *ngIf="profile">
    <div class="add-group">
      <button class="cb_input-keyAction" type="button" (click)="addGroupSection()"> + Add New Group
      </button>
    </div>

    <div *ngIf="exemptedCustomersLoaded" class="cb_fieldset" style="padding-top: 40px;">
      <h3 class="cb_fieldset-headline">Approval Exempt Customers
        <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
      </h3>
      <hr class="cb_form-divider">
      <div>
        <cb-order-approval-input-field [selectedOption]="exemptedCustomers" [searchDelayMs]="300"
          [searchTermMinLength]="3" [searchType]="'Exempt'" [approvalGroup]="null" [portalID]="portal.PortalId"
          [placeholder]="'Select Exempt Customers'"
          [noItemsLabel]="'No Exempt Customers'"
          (onSelectionChange)="validate()">
        </cb-order-approval-input-field>
      </div>
    </div>
  </ul>
</form>
