:host {

  .cb_accordion {
    margin-top: 0;
  }

  /** Panel - didn't use primeng panel cause it's causing too many errors **/
  .cb_panel h5 {
    background: #d7d7d7;
    margin: 0;
    padding: 4px 6px;
    font-size: 15px;
    font-weight: 400;
  }
  .cb_panel hr {
    margin-left: 0;
    border-top: solid #e7e7e7 1px;
    margin-bottom: 20px;
    clear: both;
    margin: 6px 0px 25px;
    max-width: 680px;
  }
  .cb_panel h5, .cb_panel .cb_column-footer {
    width: 680px;
    overflow: hidden;
    clear: both;
  }
  .cb_panel > .cb_fieldset {
    margin-bottom: 0;
  }
  .cb_panel .cb_fieldset > .cb_fieldset-field{
    margin-bottom: 0;
  }

  .approver-group-checkbox {
    margin-bottom: 20px;
  }

  .cb_fieldset-field.scoped {
    margin-bottom: 10px;
  }

  .cb_fieldset-description {
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #666666;
  }

  .cb_fieldset-field.deletable {
    margin-bottom: 15px;
  }

  .cb_fieldset-field_input {
    height: 30px;
  }

  .cb_input-default,.cb_input-error {
    margin-right: 0;
    float: right;
  }

  .cb_fieldset-field.required {
    margin-bottom: 15px;
  }

  .cb_fieldset-title {
    margin-bottom: 5px;
  }

  .cb_fieldset-field-error {
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: 600;
    color: #D95863;
  }

  .cb_accordion-segment_header {
    border: none;
    padding: 15px 10px 0 0;
    .cb_accordion-segment_header-title {
      width: 87px;
      height: 23px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.64;
      letter-spacing: normal;
      color: #686868;
    }
  }

  .cb_column-footer {
    margin-bottom: 10px;
  }

  .cb_fieldset-field.deletable .fa-times-circle-o {
    top: 26px;
    right: -30px;
  }

  .cb_fieldset-field_inputgroup input[type=number]:first-child {
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield;
    }
  }

  .disabled {
    &.deletable,&.cb_fieldset-field{
      color: #dfdfdf;

    }
  }

  .add-group {
    margin-top: 20px;
    & button {
      float: right;
    }
  }

  ::ng-deep {
    p-accordiontab {
      .ui-accordion-header {
        background-color: transparent !important;
        border-width: 0 0 1px 0 !important;
        a {
          padding: 10px 13px 13px 10px !important;
          .ui-accordion-header-text {
            font-size: 15px;
            font-weight: normal;
          }
        }
      }

      .ui-accordion-toggle-icon {
        border: 1px solid #cccccc;
        height: 20px;
        width: 20px;
        padding-top: 2px;
        color: #cccccc;
      }

      .ui-accordion-content {
        border-bottom: 1px solid #e7e7e7;

        .cb_fieldset-field {
          cb-tooltip {
            padding: 10px;
            position: relative;
          }
        }
      }

      p-header {
        width: 95%;
        button.cb_popover-button {
          font-size: 16px;
          padding: 3px;
        }
      }
    }

    cbx-radio-group input[type=radio]:checked ~ .display.radio {
      body.mistype-1 & {
        border-color: #2f82af
      }
    }
    cbx-radio-group input[type=radio]:checked:disabled ~ .display.radio {
      opacity: .5;
    }

    cbx-multi-dropdown .cbx-dropdown-menu {
      max-height: 200px;
      overflow-y: scroll;
    }
  }
}

.ui-inputgroup-addon {
  font-size: 13px;
  margin-top: 3px;
  color: #ccc;
}
