<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="!templatePreset">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">{{ title }}</h1>



<form class="cb_form" #cbForm="ngForm">
  <!-- <ng-container>
  </ng-container> -->
  <div class="cb_fieldset near" *ngIf="templatePreset">
    <h3 class="cb_fieldset-headline">Store Identity <cb-tooltip locationId="" class="pull-right"></cb-tooltip></h3>
    <hr class="cb_form-divider">

    <div class="cb_fieldset-field required near" [class.error]="presetName.errors && (presetName.dirty || presetName.touched)">
      <cb-tooltip locationId="store_details_name" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input class="cb_fieldset-field_input" [ngClass]="title ? 'cb_input-value' : 'cb_input-empty'" type="text" [(ngModel)]="templatePreset.name"
          (blur)="onBlur($event)" name="presetName" #presetName="ngModel" [disabled]="isStandard" required>
        <span class="floating-label">Preset Name <span class="required-label">*</span></span>
      </div>
    </div>
  </div>

  <div class="cb_fieldset" [style.width]="'100%'">
      <h3 class="cb_fieldset-headline">Surface Boundaries <cb-tooltip locationId="" class="pull-right"></cb-tooltip></h3>
      <hr class="cb_form-divider">

      <span class="collapse-button" (click)="collapseAll()">
        <span>{{isCollapseAll ? 'Expand ' : 'Collapse '}}All</span>
        <i class="fal fa-angle-double-{{isCollapseAll ? 'down' : 'up'}}"></i>
      </span>

      <p-accordion [multiple]="true" [collapseIcon]="'pi pi-fw pi-chevron-up'" [activeIndex]="activeIndex">
          <p-accordionTab *ngFor="let safetyLine of templatePresetJSON?.safetyLines; index as i">
            <p-header>
              <ng-container *ngIf="i < 4">
                {{safetyLine.name}}
                <span style="font-size: 11px;color:#999999;top:0px;">(PDF {{safetyLine.pdfBox}}Box)</span>
                <cb-tooltip locationId="" style="margin-left: 10px;"></cb-tooltip>
              </ng-container>
              <ng-container *ngIf="i >= 4">
                <ng-template #popTemplate>
                  <ul>
                    <li (click)="edit($event, safetyLine)" *ngIf="!safetyLine['editing']">
                      <cb-icon icon="fal fa-pen"></cb-icon> Edit
                    </li>
                    <li (click)="deleteCustom($event, i)">
                      <cb-icon icon="fal fa-trash-alt"></cb-icon> Delete
                    </li>
                  </ul>
                </ng-template>
                <button type="button" class="cb_popover-button cb-row-menu-trigger pull-right" (click)="$event.stopPropagation();" [popover]="popTemplate"
                        [outsideClick]="true" placement="bottom">
                  <i class="fal fa-ellipsis-v-alt"></i>
                </button>
                <ng-container *ngIf="safetyLine['editing']">
                  <input type="text" [name]="'safetyLineName' + i" #safetyLineName="ngModel" [(ngModel)]="safetyLine.name" required
                    class="cb_fieldset-field_input" style="width: 55%;" (blur)="onBlurCustomName(safetyLine)"  (click)="$event.stopPropagation();" (keydown)="$event.stopPropagation();" (keypress)="$event.stopPropagation();" (keyup)="$event.stopPropagation();">
                </ng-container>
                <div *ngIf="!safetyLine['editing']" style="padding-top: 3px;">
                  {{safetyLine.name}}
                </div>
              </ng-container>
            </p-header>
            <div style="display: flex;">

              <div class="cb_fieldset">
                <h3 class="cb_fieldset-headline">Offset <cb-tooltip locationId="" class="pull-right"></cb-tooltip></h3>
                <hr class="cb_form-divider">

                <div [style.display]="'flex'">
                  <div class="cb_fieldset-field" style="width:150px;">
                    <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                    <div class="form-control-float-wrapper">
                      <input type="text" [name]="'offsetTop' + i" #offsetTop="ngModel" class="cb_fieldset-field_input"
                        [ngClass]="safetyLine.margin.top ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="safetyLine.margin.top" />
                      <span class="floating-label">Top</span>
                    </div>
                  </div>
                  <div class="cb_fieldset-field" style="width:150px;">
                    <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                    <div class="form-control-float-wrapper">
                      <input type="text" [name]="'offsetRight' + i" #offsetRight="ngModel" class="cb_fieldset-field_input" [disabled]="isStandard"
                        [ngClass]="safetyLine.margin.right ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="safetyLine.margin.right" />
                      <span class="floating-label">Right</span>
                    </div>
                  </div>
                </div>
                <div [style.display]="'flex'">
                  <div class="cb_fieldset-field" style="width:150px;">
                    <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                    <div class="form-control-float-wrapper">
                      <input type="text" [name]="'offsetBottom' + i" #offsetBottom="ngModel" class="cb_fieldset-field_input" [disabled]="isStandard"
                        [ngClass]="safetyLine.margin.bottom ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="safetyLine.margin.bottom" />
                      <span class="floating-label">Bottom</span>
                    </div>
                  </div>
                  <div class="cb_fieldset-field" style="width:150px;">
                    <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                    <div class="form-control-float-wrapper">
                      <input type="text" [name]="'offsetLeft' + i" #offsetLeft="ngModel" class="cb_fieldset-field_input" [disabled]="isStandard"
                        [ngClass]="safetyLine.margin.left ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="safetyLine.margin.left" />
                      <span class="floating-label">Left</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cb_fieldset">
                <h3 class="cb_fieldset-headline">Styles <cb-tooltip locationId="" class="pull-right"></cb-tooltip></h3>
                <hr class="cb_form-divider">

                <!-- <div class="color-picker-container">
                  <store-theme-color-bar (update)="styleChange($event)" [name]="'Primary Color' + i" [cssStyle]="safetyLine.color" cssElement="primaryColor" [readOnly]="isStandard"></store-theme-color-bar>
                  <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                </div>
                <div class="color-picker-container">
                  <store-theme-color-bar (update)="styleChange($event)" [name]="'Alternate Color' + i" [cssStyle]="safetyLine.altColor" cssElement="altColor" [readOnly]="isStandard"></store-theme-color-bar>
                  <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                </div> -->

                <cb-advanced-color-picker [(colorValue)]="safetyLine.color" [name]="'Primary Color'" tooltipLocationId="store_details_logo"></cb-advanced-color-picker>
                <cb-advanced-color-picker [(colorValue)]="safetyLine.altColor" [name]="'Alternate Color'" tooltipLocationId="store_details_logo"></cb-advanced-color-picker>
                <input type="hidden" [(ngModel)]="safetyLine.color" [name]="'color' + i" #color="ngModel" />
                <input type="hidden" [(ngModel)]="safetyLine.altColor" [name]="'altColor' + i" #altColor="ngModel" />
                <div class="cb_fieldset-field">
                  <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                  <div class="form-control-float-wrapper">
                    <input type="text" [name]="'dashLength' + i" #dashLength="ngModel" class="cb_fieldset-field_input" [disabled]="isStandard"
                      [ngClass]="safetyLine.stepPx > -1 ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="safetyLine.stepPx" />
                    <span class="floating-label">Dash Length</span>
                  </div>
                </div>
                <div class="cb_fieldset-field">
                  <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                  <div class="form-control-float-wrapper">
                    <input type="text" [name]="'lineThickness' + i" #lineThickness="ngModel" class="cb_fieldset-field_input" [disabled]="isStandard"
                      [ngClass]="safetyLine.widthPx > -1 ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="safetyLine.widthPx" />
                    <span class="floating-label">Line Thickness</span>
                  </div>
                </div>
                <div class="cb_fieldset-field">
                  <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
                  <div class="form-control-float-wrapper">
                    <input type="text" [name]="'cornerRadius' + i" #cornerRadius="ngModel" class="cb_fieldset-field_input" [disabled]="isStandard"
                      [ngClass]="safetyLine.borderRadius ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="safetyLine.borderRadius" />
                    <span class="floating-label">Corner Radius</span>
                  </div>
                </div>

                <span class="manage-global-text-clickable">Manage Global System Boundary Styles ></span>


              </div>
            </div>
          </p-accordionTab>
      </p-accordion>

      <button *ngIf="!isStandard" type="button" class="btn btn-success pull-right" style="margin: 20px 0; font-weight: 400;"
        (click)="addCustom()">
        <i class="fal fa-plus"></i> New Surface Boundary
      </button>
  </div>


</form>

<cb-autosave-bar [state]="saveState" [isManualSave]="isNew"
  (clickCancel)="cancel()" (clickClose)="cancel()" (clickSave)="save()">
</cb-autosave-bar>
