@import (reference) "custom/colors";

.cb_fieldset-field cbx-dropdown {
  width: 92%;
}

.cb_form-divider {
  margin-bottom: 15px;
}

h5 {
  width: 37px;
  height: 14px;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: @gray-8;
  margin-bottom: 4px;
}

:host ::ng-deep  {
  cbx-radio-group {
    & div.options label.option-label {
      font-size: 11px !important;
    }
    &.cbx-state-disabled {
      opacity: 0.4;
    }
  }
  store-theme-color-bar {
    .cb_fieldset-field {
      margin-left: 20px;
    }
    .form-control-float-wrapper {
      display: flex;
      input.cb_fieldset-field_input {
        margin-right: 3px;
      }
    }
    p-colorpicker {
      input {
        margin-top: 1px;
      }
    }
  }

  .font-groups {
    .header-label {
      color: #999;
      font-size: 13px;
    }
    .viewEdit {
      font-size: 11px;
      color: #1b9ad7;
    }
  }

  p-accordiontab {
    &:not(:first-child) .ui-accordion-header {
      margin-top: 24px;
    }
    .ui-accordion-header {
      border-top-color: #e6e6e6;
      border-left-color: #e6e6e6;
      border-right-color: #e6e6e6;
      a {
        padding: 10px 13px 13px 22px !important;
        .ui-accordion-header-text {
          font-size: 15px;
          font-weight: normal;
        }
      }
    }
    .manage-global-text-clickable {
      font-size: 11px;
      color: #16abdf;
      cursor: pointer;
    }

    .ui-accordion-toggle-icon {
      border: 1px solid #cccccc;
      height: 20px;
      width: 20px;
      padding-top: 2px;
      color: #cccccc;
    }

    .ui-accordion-content {
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;

      .cb_fieldset-field {
        cb-tooltip {
          padding-top: 6px;
          position: relative;
          left: -7px;
        }
      }
    }

    p-header {
      width: 95%;
      button.cb_popover-button {
        font-size: 16px;
        padding: 3px;
      }
    }
  }

  store-theme-color-bar {
    .cb_fieldset-field {
      margin-left: 0px;
    }
  }

  .collapse-button {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    > span {
        font-size: 10px;
        margin-top: 9px;
        margin-right: 5px;
    }
    .fal {
        width: 14px;
        height: 14px;
        border-radius: 3px;
        border: 1px solid #cccccc;
        text-align: center;
        margin-top: 9px;
        margin-bottom: 9px;
    }
  }

  p-header {
    cb-tooltip {
      .cb_tooltip {
        top: 1px;
      }
    }
  }

  .color-picker-container {
    display: flex;
    store-theme-color-bar {
      .form-control-float-wrapper {
        margin-right: 5px;
        width: 272px;
        p-colorpicker {
          .ui-colorpicker-overlay-panel {
            width: 243px;
            left: -246px !important;
            top: 32px !important;
            border-radius: 3px;
            background-color: white;
            height: 250px;
          }
        }
      }
    }
    cb-tooltip {
      .cb_tooltip {
        top: 8px;
      }
    }
  }
}
