<cb-record-search-actions entity="Collection" relativeAddPath="../collections/add"
  [selected]="collectionsTable.selected" (checked)="collectionsTable.setSelectAll($event)">
</cb-record-search-actions>
<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">

<ng-content></ng-content>
<!-- <div>
  <button type="button" class="cb_input-keyAction" [routerLink]="'/ecommerce/merchandise/collections/add'"> + New Collection</button>
  <button type="button" class="cb_input-keyAction" (click)="reindex()" [disabled]="reindexing">
    <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="reindexing" />
    <span *ngIf="!reindexing">Start Re-Index</span>
    <span *ngIf="reindexing">Re-Index In Process</span>
  </button>
</div> -->
</cb-table-toolbar>
<br>
<h5>Displaying: {{filtered.length}} Result<span *ngIf="filtered.length > 1">s</span></h5>

<cb2-table [value]="filtered" [cols]="_columns" [rowActions]="rowActions" #collectionsTable
  idField="CategoryId" (gotoDetail)="gotoDetail($event)" (deleteEvent)="delete($event)">
</cb2-table>


