<div *ngIf="node.Catalog">

  <div class="cb_tabs-header">
    <h2 class="cb_tabs-header_headline">New Collection Hierarchy</h2>
    <a href="javascript:void(0)" (click)="cancel()" class="cb_tabs-header_return">&lt; Return to Associated Collections</a>
  </div>

  <div class="cb_form">

      <div class="cb_fieldset">
        <h3 class="cb_fieldset-headline">General Information</h3>

        <div class="cb_fieldset-field required">
          <label class="cb_fieldset-field_label">Select Collection <cb-tooltip locationId="catalog_associated_selectCategory"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <div class="cb_input-dropdown">
              <select [(ngModel)]="node.Category">
                <option value="0" disabled="disabled">Select</option>
                <option *ngFor="let category of categories" [ngValue]="category">{{category.CategoryId}} - {{category.Name}}</option>
              </select>
            </div>
          </div>
        </div>

        <h3 class="cb_fieldset-headline">Collection Settings</h3>

        <div class="cb_fieldset-field near">
          <label class="cb_fieldset-field_label">Parent Collection <cb-tooltip locationId="catalog_associated_selectParentCategory"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <div class="cb_input-dropdown">
              <select [(ngModel)]="node.ParentCategoryNodeId">
                <option selected="selected" value="0">No Parent - Root Level</option>
                <option *ngFor="let parent of parentNodes" [ngValue]="parent.CategoryNodeId">{{parent.CategoryId}} - {{parent.Name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" name="cb_integration_category" [(ngModel)]="node.IsActive"><span class="cb_fieldset-field_label--inline_text_content"> Enable This Collection</span> <cb-tooltip locationId="catalogs_enable_category"></cb-tooltip></label>
        </div>

        <div class="cb_fieldset-field required" [class.error]="node.DisplayOrder<0">
          <label class="cb_fieldset-field_label">Display Order <cb-tooltip locationId="catalog_associated_displayOrder"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Display Order" [(ngModel)]="node.DisplayOrder">
        </div>

      </div>

  </div>

  <div class="cb_content_submit">
    <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
    <button class="cb_input-keyAction" (click)="save()">Save</button>
  </div>

</div>
