<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Orders</h1>
<p class="cb_content_primary-description">An order is a record of an ecommerce transaction. Orders are synced with your {{themeService.currentTheme.name}} Management System.</p>

<cb-orders-table (onLoaded)="onLoaded()"></cb-orders-table>
