<div class="full-page-loader tab" *ngIf="loading">
    <i class="fal fa-spinner fa-spin"></i>
  </div>

<cb-product-categories-associate-table *ngIf="state=='associate'" [product]="product" (onExit)="associate()"></cb-product-categories-associate-table>

<cb-record-search-actions entity="Associate Collections" relativeAddPath="" isAssociate="true"
  [showAddButton]="!isAssociateList" [selected]="collectionsTable.selected"
  [actions]="isAssociateList ? [] : recordActions" (checked)="collectionsTable.setSelectAll($event)"
  (clickButtonEvent)="state='associate'">
</cb-record-search-actions>
<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
  <ng-content></ng-content>
</cb-table-toolbar>
<br />
<h5>Displaying: {{ filtered.length }} Result<span *ngIf="filtered.length > 1">s</span></h5>

<cb2-table #collectionsTable [value]="filtered" [idField]="isAssociateList ? 'CategoryId' : 'ProductCategoryId'"
  [cols]="_columns" [rowActions]="isAssociateList ? [] : [RowAction.Delete]" (deleteEvent)="delete($event)">
</cb2-table>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)">
</cb-table-pagination>
