<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Product Defaults</h1>
<p class="cb_content_primary-description">Configure the defaults to be used when adding new products.</p>

<form class="cb_form" ngNativeValidate>
  <div class="cb_fieldset" *ngIf="misType != 1"> <!--CoreBridge--> <!--Changed *ngIf="misType == 0" to *ngIf="misType != 1" so it can be tested in local-->
    <h3 class="cb_fieldset-headline">CoreBridge Integration</h3>

    <div class="cb_fieldset-field">
      <label class="cb_fieldset-field_label">Default Integration Type <cb-tooltip locationId="products_integration_type" [leftOffset]="20" [topOffset]="300"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select [(ngModel)]="productInfo.cb_integration_category" name="cb_integration_category">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="reporting">Reporting</option>
          </select>
        </div>
      </div>
    </div>

    <div class="cb_fieldset-field scoped" *ngIf="productInfo.cb_integration_category=='advanced'" [class.error]="quickProductCategoryId.errors && (quickProductCategoryId.dirty || quickProductCategoryId.touched)">
      <label class="cb_fieldset-field_label">Quick Product Collection</label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select [(ngModel)]="product.CoreBridgeQuickProductCategoryId" (change)="getQuickProducts($event.target.value)" name="quickProductCategoryId" #quickProductCategoryId="ngModel">
            <option value="" disabled="disabled">Select</option>
            <option value="0">Not Applicable</option>
            <option *ngFor="let category of ecommCategories" [value]="category.CategoryId">{{category.CategoryName}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="cb_fieldset-field scoped" *ngIf="productInfo.cb_integration_category=='advanced'" [class.error]="quickProductId.errors && (quickProductId.dirty || quickProductId.touched)">
      <label class="cb_fieldset-field_label">Quick Product</label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select [(ngModel)]="product.CoreBridgeQuickProductId" name="quickProductId" #quickProductId="ngModel">
            <option value="" disabled="disabled">Select</option>
            <option *ngFor="let quickProduct of quickProducts" [value]="quickProduct.Id">{{quickProduct.Name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="cb_fieldset-field scoped" *ngIf="productInfo.cb_integration_category=='reporting'" [class.error]="productCategoryId.errors && (productCategoryId.dirty || productCategoryId.touched)">
      <label class="cb_fieldset-field_label">Product Collection</label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select [(ngModel)]="product.CoreBridgeProductCategoryId" name="productCategoryId" #productCategoryId="ngModel">
            <option value="" disabled="disabled">Select</option>
            <option value="0" selected="selected">Not Applicable</option>
            <option *ngFor="let category of categories" [value]="category.CategoryId">{{category.CategoryName}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="cb_fieldset-field scoped" *ngIf="productInfo.cb_integration_category=='reporting'" [class.error]="incomeAccountId.errors && (incomeAccountId.dirty || incomeAccountId.touched)">
      <label class="cb_fieldset-field_label">Income Account</label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select [(ngModel)]="product.CoreBridgeIncomeAccountId" name="incomeAccountId" #incomeAccountId="ngModel">
            <option value="" disabled="disabled">Select</option>
            <option value="0" selected="selected">Not Applicable</option>
            <option *ngFor="let option of incomeAccounts" [ngValue]="option.Id">{{option.Name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="cb_fieldset" *ngIf="misType == 1"> <!--Cyrious-->
    <h3 class="cb_fieldset-headline">Control Integration</h3>
    <div class="cb_fieldset-field scoped required">
      <label class="cb_fieldset-field_label">Default Product Mapping</label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select name="selectedControlDefaultProduct" [(ngModel)]="selectedControlDefaultProduct" required>
            <option [ngValue]="undefined" disabled  selected>Select</option>
            <option *ngFor="let controlProduct of controlProducts" [ngValue]="controlProduct">{{controlProduct.productName}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="cb_fieldset-field">
      <label class="cb_fieldset-field_label productDefaults">Variables To Set <cb-tooltip locationId="products_variables_to_set"></cb-tooltip></label>
      <div class="cb_fieldset-field-field_wrapper">
        <textarea class="cb_variablesToSetFieldTextAreaForProductDefaults" name="controlDefaultProductVariablesToSet" [(ngModel)]="cesaDefaultProductMapping.variableValues"></textarea>
      </div>
    </div>

    <div class="cb_fieldset-field scoped required">
      <label class="cb_fieldset-field_label">Default Shipping Product Mapping</label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select name="selectedControlDefaultShippingProduct" [(ngModel)]="selectedControlDefaultShippingProduct" required>
            <option [ngValue]="undefined" disabled  selected>Select</option>
            <option *ngFor="let controlProduct of controlProducts" [ngValue]="controlProduct">{{controlProduct.productName}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="cb_fieldset-field">
      <label class="cb_fieldset-field_label productDefaults">Variables To Set <cb-tooltip locationId="products_variables_to_set"></cb-tooltip></label>
      <div class="cb_fieldset-field-field_wrapper">
        <textarea class="cb_variablesToSetFieldTextAreaForProductDefaults" name="controlDefaultShipmentVariablesToSet" [(ngModel)]="cesaDefaultShippingProductMapping.variableValues"></textarea>
      </div>
    </div>
  </div>

  <div class="cb_content_submit">
    <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
    <button class="cb_input-keyAction" (click)="save()">
      <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
      Save
    </button>
  </div>
</form>
