<div class="cb_fieldset-field">
    <div class="form-control-float-wrapper">
    <input
        class="cb_fieldset-field_input"
        type="text"
        [(ngModel)]="cssStyle"
        name="{{cssElement}}"
        (change)="getData($event, [cssElement])"
        required
        [ngClass]="cssStyle ? 'cb_input-value' : 'cb_input-empty'"
        [disabled]="readOnly"
    />
    <span class="floating-label">{{ styleElementName}}</span>
    <p-colorPicker
        [(ngModel)]="cssStyle"
        [inline]="false"
        (onUpdate)="
            getData($event, [cssElement])
        "
        (onChange)="getData($event, [cssElement])"
        name="{{cssElement}}"
        [disabled]="readOnly"
    >
    </p-colorPicker>
    </div>
</div>