@import (reference) 'custom/colors';

.cb_overlay-modal {
  padding: 20px 20px 0;
  .cb_overlay-modal_header {
    height: auto;
    min-height: 55px;
    &.successNoCancel {
      background-color: @green-3;
    }
    &.warningNoCancel {
      background-color: @red-3;
    }
  }
  .cb_overlay-modal_header-message {
    padding: 15px 24px !important;
    display: flex;
    i {
      font-size: 26px;
      margin-right: 20px;
      position: relative;
    }
    span {
      align-self: center;
    }
  }
  .cb_overlay-modal_details {
    height: auto;
    padding: 10px 0;
  }
  .cb_overlay-modal_submit {
    text-align: right;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0;
    height: 70px;
    border-top: solid 1px #cccccc;
    padding: 15px 24px 20px;
    .cb_input-keyAction {
      font-size: 13px;
      font-weight: 500;
      margin-right: 0px;
      &.warningNoCancel {
        background-color: @red-3;
      }
      &.info {
        background-color: @blue-2;
      }
    }
  }
}
