<div class="cb_overlay" [class.open]="open">

  <iframe *ngIf="modal.type=='iframe'" [src]="modal.iframeUrl" frameborder=0 class="cb_overlay-iframe_modal"></iframe>

  <div *ngIf="modal.type!='iframe'" class="cb_overlay-modal" [class.template]="modal.iframeUrl">
  	<div class="cb_overlay-modal_header" [ngClass]="modal.type" *ngIf="modal.type!='template'">
			<div class="cb_overlay-modal_header-type" *ngIf="false">
				<span class="cb_overlay-modal_header-type_icon">
					<cb-svg [icon]="'warningCircle'"></cb-svg>
        </span>
			</div>
  		<p class="cb_overlay-modal_header-message">
        <ng-container [ngSwitch]="modal.type">
          <i class="fal fa-exclamation-triangle" *ngSwitchCase="'warning'"></i>
          <i class="fal fa-exclamation-circle" *ngSwitchCase="'warningNoCancel'"></i>
          <i class="fal fa-exclamation-circle" *ngSwitchCase="'info'"></i>
          <i class="fal fa-check-circle" *ngSwitchCase="'success'"></i>
          <i class="fal fa-check-circle" *ngSwitchCase="'successNoCancel'"></i>
        </ng-container>
        <span>{{ modal.title }}</span>
      </p>
  	</div>
    <div *ngIf="!modal.iframeUrl" class="cb_overlay-modal_details" [innerHTML]="modal.message"></div>
    <div *ngIf="modal.iframeUrl" class="cb_overlay-modal_details">
      <iframe [src]="modal.iframeUrl" frameborder=0 width="100%" height="100%"></iframe>
    </div>
    <br/>
    <div class="cb_overlay-modal_submit">
			<button type="button" *ngIf="modal.type!='template' && modal.type!='warningNoCancel' && modal.type!='successNoCancel' " class="cb_input-keyAction cancel" (click)="cancel()">{{modal.cancelText}}</button>
    	<button type="button" class="cb_input-keyAction" [ngClass]="modal.type" (click)="confirm()">{{modal.confirmText}}</button>
    </div>
  </div>

</div>
