<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
  <ng-content></ng-content>
  <button type="button" class="cb_input-keyAction" [routerLink]="'/ecommerce/settings/font-groups/add'">+ New Font Group</button>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('id')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='id'"></cb-svg></th>
      <th (click)="sortBy('name')">Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='name'"></cb-svg></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="gotoDetail(row)">
          <cb-svg class="cb_table-edit" [icon]="'pencil'"></cb-svg>
          {{row.id}}
        </td>
        <td (click)="gotoDetail(row)">{{row.name}}</td>
        <td class="cb_table-utils" (click)="delete(row)"><cb-svg class="closeCircle" [icon]="'closeCircle'"></cb-svg></td>
      </tr>
    </ng-template>
  </tbody>
</table>

<div *ngIf="!total">
  No results for this filter.
</div>

<cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
