<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th (click)="sortBy('firstName')">User <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='firstName'"></cb-svg></th>
      <th (click)="sortBy('userName')">Username <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='userName'"></cb-svg></th>
      <th (click)="sortBy('userIsOnline')" data-status="true">Online <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='userIsOnline'"></cb-svg></th>
      <th (click)="sortBy('lastLogin')">Last Login <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='lastLogin'"></cb-svg></th>
      <th class="cb_table-col_status" (click)="sortBy('isActive')" data-status="true">Status <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='isActive'"></cb-svg></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td>
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.firstName}} {{row.lastName}}
        </td>
        <td>{{row.userName}}</td>
        <td [attr.data-online]="row.userIsOnline">{{row.userIsOnline}}</td>
        <td>{{row.lastLogin}}</td>
        <td [attr.data-status]="row.isActive"><cb-svg title="Toggle Active State" [icon]="'power'"></cb-svg></td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>