<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<div *ngIf="contact">
  <h1 class="cb_content_primary-headline">{{contact.FirstName}} {{contact.LastName}}</h1>
  <p class="cb_content_primary-description">Contact information is viewable here in the Ecommerce module and editable in your {{themeService.currentTheme.name}} Management System.</p>

  <div class="cb_display">
    <div class="cb_display-segment">
      <p class="cb_display-segment_heading">Contact Information</p>

      <p class="cb_display-segment_label">First Name</p>
      <p class="cb_display-segment_value">{{contact.FirstName}}</p>
      <p class="cb_display-segment_label">Last Name</p>
      <p class="cb_display-segment_value">{{contact.LastName}}</p>
      <p class="cb_display-segment_label">Company Name</p>
      <p class="cb_display-segment_value">{{contact.ParentCompanyName}}</p>
      <p class="cb_display-segment_label">Phone Number</p>
      <p class="cb_display-segment_value">{{contact.PhoneNumber ? (contact.PhoneNumber | phone) : 'none'}}</p>
      <p class="cb_display-segment_label">Email Address</p>
      <p class="cb_display-segment_value">{{contact.Email}}</p>
    </div>

    <div class="cb_display-segment">
      <p class="cb_display-segment_heading">Additional Information</p>

      <p class="cb_display-segment_label">ID</p>
      <p class="cb_display-segment_value">{{contact.AccountId}}</p>
      <p class="cb_display-segment_label">External Account No</p>
      <p class="cb_display-segment_value">{{contact.ExternalId}}</p>
      <p class="cb_display-segment_label">Created</p>
      <p class="cb_display-segment_value">{{ contact.CreateDate | date:"MM/dd/yy" }}</p>
      <p class="cb_display-segment_label">Last Update</p>
      <p class="cb_display-segment_value">{{ contact.UpdateDate | date:"MM/dd/yy" }}</p>

      <form class="cb_form" (ngSubmit)="unlockContact()">
        <div class="cb_fieldset-field" [class.disabled]="!contact.IsLockedOut">
          <button class="cb_input-keyAction empty" type="submit" [disabled]="!contact.IsLockedOut">Unlock Contact</button>
        </div>
      </form>
      <p class="cb_display-segment_label" *ngIf="taxInfo">Is Account Taxable</p>
      <p class="cb_display-segment_value" *ngIf="taxInfo">{{ taxInfo.isAccountTaxable }}</p>
      <p class="cb_display-segment_label" *ngIf="taxInfo">Is Shipping Taxable</p>
      <p class="cb_display-segment_value" *ngIf="taxInfo">{{ taxInfo.isShippingTaxable }}</p>
      <p class="cb_display-segment_label"></p>
      <!--ECOMM-829: Hide the resetPassword button, since there is no way to determine which storefront is being reset-->
      <!--<p class="cb_display-segment-value">
        <button class="cb_input-keyAction" type="button" (click)="resetPassword()" title="Resets the Contact's password and emails the new password to the Contact">Reset Password</button>
      </p>-->
    </div>
  </div>
  <form class="cb_form" (ngSubmit)="resetPassword()" ngNativeValidate>
    <div class="cb_fieldset">
      <h3 class="cb_fieldset-headline">Password Reset</h3>

      <div class="cb_fieldset-field" *ngIf="myProfiles">
        <label class="cb_fieldset-field_label">Storefront <cb-tooltip locationId="contact_storefront"></cb-tooltip></label>
        <div class="cb_fieldset-field_wrapper">
          <div class="cb_input-dropdown">
            <select [(ngModel)]="profileId" name="profileId" required *ngIf="myProfiles && myProfiles.length > 0">
              <option disabled value="0">Select Storefront</option>
              <option *ngFor="let option of myProfiles" [value]="option.ProfileId">{{option.Name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="cb_fieldset-field">
        <button class="cb_input-keyAction empty" type="submit" [disabled]="!myProfiles || myProfiles.length == 0">Initiate Reset</button>
      </div>
    </div>
  </form>
  <cb-contact-profiles-table [contact]="contact" (profilesChanged)="onProfilesChanged()"></cb-contact-profiles-table>
</div>

