<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
  <ng-content></ng-content>
  <div>
    <button *ngIf="!isSystem" type="button" class="cb_input-keyAction" [routerLink]="'/ecommerce/settings/fonts/add'"> + New Font</button>
  </div>
</cb-table-toolbar>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<table class="cb_table">
  <thead>
    <tr>
      <!-- <th class="cb_table-col_id" (click)="sortBy('id')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='id'"></cb-svg></th> -->
      <th (click)="sortBy('displayName')">Display Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='displayName'"></cb-svg></th>
      <th (click)="sortBy('fontFamilyName')">Font Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='fontFamilyName'"></cb-svg></th>
      <th class="not-sortable">Regular</th>
      <th class="not-sortable">Bold</th>
      <th class="not-sortable">Italic</th>
      <th class="not-sortable">Bold-Italic</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">

        <td (click)="gotoDetail(row)"><cb-svg class="cb_table-edit" [icon]="'pencil'"></cb-svg>{{row.displayName}}</td>
        <td (click)="gotoDetail(row)">{{row.fontFamilyName}}</td>
        <td>
          <cb-svg *ngIf="row.hasRegular || row.styles == 0" [icon]="'checkFilled'"></cb-svg>
          <span *ngIf="(row.styles == 0 || row.hasRegular) && !row.canEmbedRegular">*</span>
          <cb-svg *ngIf="!row.hasRegular && isSystem" [icon]="'checkEmpty'"></cb-svg>
          <a *ngIf="!row.hasRegular && row.styles != 0 && !isSystem" (click)="onUploadClick('Normal')">Upload</a>
        </td>
        <td>
          <cb-svg *ngIf="row.hasBold" [icon]="'checkFilled'"></cb-svg>
          <span *ngIf="row.hasBold && !row.canEmbedBold">*</span>
          <cb-svg *ngIf="!row.hasBold && isSystem" [icon]="'checkEmpty'"></cb-svg>
          <span *ngIf="row.styles == 0 && !isSystem">-</span>
          <a *ngIf="!row.hasBold && !isSystem && row.styles != 0" (click)="onUploadClick('Bold')">Upload</a>
        </td>
        <td>
          <cb-svg *ngIf="row.hasItalic" [icon]="'checkFilled'"></cb-svg>
          <span *ngIf="row.hasItalic && !row.canEmbedItalic">*</span>
          <cb-svg *ngIf="!row.hasItalic && isSystem" [icon]="'checkEmpty'"></cb-svg>
          <span *ngIf="row.styles == 0 && !isSystem">-</span>
          <a *ngIf="!row.hasItalic && !isSystem && row.styles != 0" (click)="onUploadClick('Italic')">Upload</a>
        </td>
        <td>
          <cb-svg *ngIf="row.hasItalicBold" [icon]="'checkFilled'"></cb-svg>
          <span *ngIf="row.hasItalicBold && !row.canEmbedItalicBold">*</span>
          <cb-svg *ngIf="!row.hasItalicBold && isSystem" [icon]="'checkEmpty'"></cb-svg>
          <span *ngIf="row.styles == 0 && !isSystem">-</span>
          <a *ngIf="!row.hasItalicBold && !isSystem && row.styles != 0" (click)="onUploadClick('ItalicBold')">Upload</a>

        </td>
        <td class="cb_table-utils">
          <cb-svg *ngIf="!isSystem" class="closeCircle" [icon]="'closeCircle'" (click)="delete(row.fontFamilyName)"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<input type="file" name="file" style="display:none;" accept=".ttf, .ttf, .otf" #fileUpload (change)="onFileChange($event)" />

<div *ngIf="!total">
  No results for this filter.
</div>

<cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>

<div style="float: right">* Font embedding disallowed. <cb-tooltip locationId="font_embedding_disallowed" [expandLeft]="true"></cb-tooltip></div>
