<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Catalogs</h1>
<div class="cb_content_primary-description-container">
  <div class="exclamation-icon">
    <i class="fal fa-exclamation-circle" aria-hidden="true"></i>
  </div>
  <div class="cb_content_primary-description">
    A catalog (e.g., Summer Catalog, Winter Catalog) is a hierarchical grouping of collections to be displayed in a store. Each store is assigned one catalog at a time.
  </div>
</div>
<br>

<cb-catalogs-table (onLoaded)="onLoaded()"></cb-catalogs-table>
