<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="!portal">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">{{title}}</h1>

<cb-tabs (onChange)="changedTab($event)">
    <cb-tab [title]="'Store Details'" slug="general" [hasError]="validationErrors.length > 0">
        <form class="cb_form" (ngSubmit)="save()" ngNativeValidate #general="ngForm">
          <div class="cb_fieldset" *ngIf="portal">

            <h3 class="cb_fieldset-headline">Store Logo
              <cb-tooltip locationId="store_details_logo" class="pull-right"></cb-tooltip>
            </h3>
            <hr class="cb_form-divider">
            <p class="cb_fieldset-description"></p>

            <img *ngIf="portal.LogoPath" class="cb_input-upload-preview"
              src="{{portal.LogoPath | imagePath: imageRoot}}?v={{imageVersion}}" />
            <img *ngIf="!portal.LogoPath" class="cb_input-upload-preview" src="assets/img/noimage.gif" />

            <cb-image-upload (onUpload)="uploadStoreLogo($event)"></cb-image-upload>

            <h3 class="cb_fieldset-headline">Favicon
              <cb-tooltip locationId="store_details_favicon" class="pull-right"></cb-tooltip>
            </h3>
            <hr class="cb_form-divider">
            <p class="cb_fieldset-description"></p>

            <img *ngIf="portal.FaviconPath" class="cb_input-upload-preview"
              src="{{portal.FaviconPath | imagePath: imageRoot}}?v={{faviconVersion}}" />
            <img *ngIf="!portal.FaviconPath" class="cb_input-upload-preview" src="assets/img/noimage.gif" />

            <cb-image-upload (onUpload)="uploadStoreFavicon($event)"></cb-image-upload>

            <h3 class="cb_fieldset-headline">Store Identity</h3>
            <hr class="cb_form-divider">

            <div class="cb_fieldset-field required" [class.error]="storeName.errors && (storeName.dirty || storeName.touched)">
              <cb-tooltip locationId="store_details_name" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input" [ngClass]="
                          portal.StoreName ? 'cb_input-value' : 'cb_input-empty'" type="text" [(ngModel)]="portal.StoreName"
                  (blur)="onBlur($event)" name="storeName" #storeName="ngModel" required>
                <span class="floating-label">Store Name <span class="required-label">*</span></span>
              </div>
            </div>

            <div class="cb_fieldset-field required"
              [class.error]="companyName.errors && (companyName.dirty || companyName.touched)">
              <cb-tooltip locationId="store_details_brand" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input" [ngClass]="
                          portal.CompanyName ? 'cb_input-value' : 'cb_input-empty'" type="text"
                  [(ngModel)]="portal.CompanyName" name="companyName" #companyName="ngModel" required>
                <span class="floating-label">Brand Name <span class="required-label">*</span></span>
              </div>
            </div>

            <div class="cb_fieldset-field">
              <cb-tooltip locationId="store_details_tagline" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input" *ngIf="portal.PortalSetting"
                  [ngClass]="portal.PortalSetting.PortalTagline ? 'cb_input-value' : 'cb_input-empty'" type="text"
                  [(ngModel)]="portal.PortalSetting.PortalTagline" name="storeTagline" #storeTagline="ngModel">
                <span class="floating-label">Store Tagline</span>
              </div>
            </div>

            <div class="cb_fieldset-field required" *ngIf="catalogs && portalCatalog">
              <cb-tooltip locationId="store_details_catalog" class="pull-right"></cb-tooltip>
              <div class="cb_fieldset-field_wrapper" style="margin-right: 25px;">
                <cbx-dropdown name="catalog" dataValue="CatalogId" dataText="Name" label="Store Catalog" [options]="catalogs"
                  [ngModel]="portalCatalog.CatalogId" [selectedColor]="misType === 1 ? '#cae1ed' : '#e3f0c9'" style="width: 99%"
                  (onSelect)="selectCatalog($event)">
                </cbx-dropdown>
              </div>
            </div>

            <div class="custom-theme" *ngIf="css">
              <button class="cb_input-keyAction cb_input-default" type="button"
                (click)="customThemeModal.showDialog()">Customize Theme</button>
              <store-theme-modal #customThemeModal [store]="portal" [css]="css" [misType]="misType"></store-theme-modal>
            </div>

            <h3 class="cb_fieldset-headline">Store Domains</h3>
            <hr class="cb_form-divider">

            <div class="cb_fieldset-field">
              <cb-tooltip locationId="store_details_genericDomain" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input" [ngClass]="
                          genericDomain ? 'cb_input-value' : 'cb_input-empty'" type="text" [(ngModel)]="genericDomain"
                  name="genericDomainName" disabled>
                <span class="floating-label">Generic</span>
              </div>
            </div>

            <div class="cb_fieldset-field">
              <cb-tooltip locationId="store_details_customDomain" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input" [ngClass]="
                          customDomain ? 'cb_input-value' : 'cb_input-empty'" type="text" [(ngModel)]="customDomain"
                  name="customDomainName" disabled>
                <span class="floating-label">Custom</span>
              </div>
            </div>

            <ng-container *ngIf="portal">
              <h3 class="cb_fieldset-headline">Default Product Image
                <cb-tooltip locationId="store_details_defaultImage" class="pull-right"></cb-tooltip>
              </h3>
              <hr class="cb_form-divider">

              <div class="cb_fieldset-field">

                <img class="cb_input-upload-preview" src="{{portal.ImageNotAvailablePath | imagePath : imageRoot}}" />

                <cb-image-upload (onUpload)="uploadDefaultProductImage($event)" [portalId]="portal.PortalId">
                </cb-image-upload><br /><br />

              </div>
            </ng-container>
          </div>
          <div class="cb_fieldset" *ngIf="portal && portal.PortalSetting">

            <h3 class="cb_fieldset-headline">Security</h3>
            <hr class="cb_form-divider">

            <div class="cb_fieldset-field">
              <cbx-checkbox [(ngModel)]="portal.RequireLogin" name="requireLogin" label="Require User Login"></cbx-checkbox>
              <cb-tooltip locationId="store_details_requireLogin"></cb-tooltip>
            </div>

            <div class="cb_fieldset-field">
              <cbx-checkbox [ngModel]="!portal.AccountCreationDisabled"
                (cbxChange)="enablePublicSignUp(!portal.AccountCreationDisabled)" name="accountCreationDisabled"
                label="Enable Public Customer Sign-up"></cbx-checkbox>
              <cb-tooltip locationId="store_details_disableSignup"></cb-tooltip>
            </div>

            <div class="cb_fieldset-field scoped" *ngIf="!portal.AccountCreationDisabled">
              <cbx-checkbox [(ngModel)]="portal.PortalSetting.EnableRegisterRestrictDomain"
                name="enableRegisterRestrictDomain" label="Restrict Email Domain"></cbx-checkbox>
              <cb-tooltip locationId="store_details_restrictEmailDomain"></cb-tooltip>
            </div>

            <div class="cb_fieldset-field scoped required" *ngIf="portal.PortalSetting.EnableRegisterRestrictDomain"
              [class.error]="alloweddomains.errors && (alloweddomains.dirty || alloweddomains.touched)">
              <div class="form-control-float-wrapper">
                <input class="cb_fieldset-field_input"
                  [ngClass]="portal.PortalSetting.RegisterAllowedDomains ? 'cb_input-value' : 'cb_input-empty'" type="text"
                  [(ngModel)]="portal.PortalSetting.RegisterAllowedDomains" (blur)="onBlur($event)" name="alloweddomains"
                  #alloweddomains="ngModel" required
                  pattern="^(?!(https:\/\/|http:\/\/|www\.|mailto:|smtp:|ftp:\/\/|ftps:\/\/))(((([a-zA-Z0-9])|([a-zA-Z0-9][a-zA-Z0-9\-]{0,86}[a-zA-Z0-9]))\.(([a-zA-Z0-9])|([a-zA-Z0-9][a-zA-Z0-9\-]{0,73}[a-zA-Z0-9]))\.(([a-zA-Z0-9]{2,12}\.[a-zA-Z0-9]{2,12})|([a-zA-Z0-9]{2,25}));?){0,}|((([a-zA-Z0-9])|([a-zA-Z0-9][a-zA-Z0-9\-]{0,162}[a-zA-Z0-9]))\.(([a-zA-Z0-9]{2,12}\.[a-zA-Z0-9]{2,12})|([a-zA-Z0-9]{2,25}));?){0,})$">
                <span class="floating-label">Email Domains <span class="required-label">*</span></span>
              </div>
              <!-- <p class="cb_fieldset-input_error">Email domain(s) is required and must have a valid domain format.</p> -->
            </div>

            <ng-container *ngIf="profile">
              <h3 class="cb_fieldset-headline">Store Settings</h3>
              <hr class="cb_form-divider">

              <div class="cb_fieldset-field">
                <cbx-checkbox [(ngModel)]="portal.PortalSetting.ShowPrices"
                  name="showPricing"
                  label="Show Pricing"
                  [disabled]="portal.PortalSetting.EnableOrderApproval"></cbx-checkbox>
                <cb-tooltip locationId="store_details_showpricing"></cb-tooltip>
              </div>

              <div class="cb_fieldset-field scoped" *ngIf="portal.PortalSetting.ShowPrices">
                <cbx-checkbox [(ngModel)]="profile.UseWholesalePricing" name="useWholesalePricing"
                  label="Enable Wholesale Pricing"></cbx-checkbox>
                <cb-tooltip locationId="store_details_enableWholesale"></cb-tooltip>
              </div>

              <div class="cb_fieldset-field" *ngIf="misType === 0 && fileManagementEnabled || misType === 1">
                <cbx-checkbox [(ngModel)]="enableFileUploads" name="enableFileUploads"
                  (cbxChange)="portal.PortalSetting.EnableFileUploads = enableFileUploads" label="Enable File Uploads"></cbx-checkbox>
                <cb-tooltip locationId="store_details_enableFileUploads"></cb-tooltip>
              </div>

              <h3 class="cb_fieldset-headline">Store Information</h3>
              <hr class="cb_form-divider">
              <div class="cb_fieldset-field required" [class.error]="portal.SalesPhoneNumber==''">
                <cb-tooltip locationId="store_details_salesPhone" class="pull-right"></cb-tooltip>
                <div class="form-control-float-wrapper">
                  <p-inputMask mask="(999) 999-9999? x99999"
                    [styleClass]="(portal.SalesPhoneNumber ? 'cb_input-value' : 'cb_input-empty') + ' cb_fieldset-field_input'"
                    [(ngModel)]="portal.SalesPhoneNumber" name="salesPhoneNumber" required></p-inputMask>
                  <span [ngClass]="(portal.SalesPhoneNumber ? 'floating-label' : 'floating-label-empty')">
                    Sales Department Phone Number <span class="required-label">*</span>
                  </span>
                </div>
              </div>

              <div class="cb_fieldset-field">
                <cb-tooltip locationId="store_details_servicePhone" class="pull-right"></cb-tooltip>
                <div class="form-control-float-wrapper">
                  <p-inputMask mask="(999) 999-9999? x99999"
                    [styleClass]="(portal.CustomerServicePhoneNumber ? 'cb_input-value' : 'cb_input-empty') + ' cb_fieldset-field_input'"
                    [(ngModel)]="portal.CustomerServicePhoneNumber" name="customerServicePhoneNumber"></p-inputMask>
                  <span [ngClass]="(portal.CustomerServicePhoneNumber ? 'floating-label' : 'floating-label-empty')">
                    Customer Service Phone Number
                  </span>
                </div>
              </div>
              <div class="cb_fieldset-field">
                <cb-tooltip locationId="store_details_mailingAddress" class="pull-right"></cb-tooltip>
                <div class="form-control-float-wrapper">
                  <textarea class="cb_fieldset-field_textarea ng-pristine ng-valid ng-touched"
                    [ngClass]="portal.PortalSetting.MailingAddressBlock ? 'cb_input-value' : 'cb_input-empty'"
                    [(ngModel)]="portal.PortalSetting.MailingAddressBlock" name="MailingAddressBlock" ng-reflect-name="MailingAddressBlock"
                    ng-reflect-model=""></textarea>
                  <span class="floating-label">Mailing Address</span>
                </div>
                <p class="cb_fieldset-input_error"></p>
              </div>

              <div class="cb_fieldset-field required"
                [class.error]="adminEmail.errors && (adminEmail.dirty || adminEmail.touched)">
                <cb-tooltip locationId="store_details_adminEmail" class="pull-right"></cb-tooltip>
                <div class="form-control-float-wrapper">
                  <input class="cb_fieldset-field_input" type="text"
                    [ngClass]="(portal.AdminEmail ? 'cb_input-value' : 'cb_input-empty')" [(ngModel)]="portal.AdminEmail"
                    name="adminEmail" #adminEmail="ngModel" required
                    pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9-.]+(\.[a-zA-Z0-9-]+)$">
                  <span class="floating-label">Administrator's Email <span class="required-label">*</span></span>
                </div>
              </div>

              <div class="cb_fieldset-field required"
                [class.error]="salesEmail.errors && (salesEmail.dirty || salesEmail.touched)">
                <cb-tooltip locationId="store_details_salesEmail" class="pull-right"></cb-tooltip>
                <div class="form-control-float-wrapper">
                  <input class="cb_fieldset-field_input" type="text"
                    [ngClass]="(portal.SalesEmail ? 'cb_input-value' : 'cb_input-empty')" [(ngModel)]="portal.SalesEmail"
                    name="salesEmail" #salesEmail="ngModel" required
                    pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9-.]+(\.[a-zA-Z0-9-]+)$">
                  <span class="floating-label">Sales Department Email <span class="required-label">*</span></span>
                </div>
              </div>

              <div class="cb_fieldset-field required"
                [class.error]="customerServiceEmail.errors && (customerServiceEmail.dirty || customerServiceEmail.touched)">
                <cb-tooltip locationId="store_details_serviceEmail" class="pull-right"></cb-tooltip>
                <div class="form-control-float-wrapper">
                  <input class="cb_fieldset-field_input" type="text"
                    [ngClass]="(portal.CustomerServiceEmail ? 'cb_input-value' : 'cb_input-empty')"
                    [(ngModel)]="portal.CustomerServiceEmail" name="customerServiceEmail" #customerServiceEmail="ngModel"
                    required pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9-.]+(\.[a-zA-Z0-9-]+)$">
                  <span class="floating-label">Customer Service Email <span class="required-label">*</span></span>
                </div>
              </div>

              <div class="cb-field-indent-left">
                <div class="cb_fieldset-field required"
                  [class.error]="customLabel.errors && (customLabel.dirty || customLabel.touched)">
                  <cb-tooltip locationId="store_details_customServiceEmailLabel" class="pull-right"></cb-tooltip>
                  <div class="form-control-float-wrapper">
                    <input class="cb_fieldset-field_input"
                      [ngClass]="portal.PortalSetting.CustServiceEmailLabel ? 'cb_input-value' : 'cb_input-empty'" type="text"
                      [(ngModel)]="portal.PortalSetting.CustServiceEmailLabel" name="customLabel" #customLabel="ngModel" required>
                    <span class="floating-label">Custom Label <span class="required-label">*</span></span>
                  </div>
                </div>
                <div class="cb_fieldset-field">
                  <cbx-checkbox [(ngModel)]="portal.PortalSetting.CustServiceEmailShowInTopNav"
                    name="custServiceEmailShowInTopNav" label="Show in Top Navigation"></cbx-checkbox>
                  <cb-tooltip locationId="store_details_serviceEmailShowInTopNav"></cb-tooltip>
                </div>
              </div>
              <div>
                <div class="cb_fieldset-field required"
                  [class.error]="customLinkUrl.errors && (customLinkUrl.dirty || customLinkUrl.touched)">
                  <cb-tooltip locationId="store_details_customLinkUrl" class="pull-right"></cb-tooltip>
                  <div class="form-control-float-wrapper">
                    <input class="cb_fieldset-field_input"
                      [ngClass]="portal.PortalSetting.CustomLinkUrl ? 'cb_input-value' : 'cb_input-empty'" type="text"
                      [(ngModel)]="portal.PortalSetting.CustomLinkUrl" name="customLinkUrl" #customLinkUrl="ngModel" required>
                    <span class="floating-label">Custom Link 1 URL<span class="required-label">*</span></span>
                  </div>
                </div>
                <div class="cb-field-indent-left">
                  <div class="cb_fieldset-field">
                    <cb-tooltip locationId="store_details_customLinkLabel" class="pull-right"></cb-tooltip>
                    <div class="form-control-float-wrapper">
                      <input class="cb_fieldset-field_input"
                        [ngClass]="portal.PortalSetting.CustomLinkLabel ? 'cb_input-value' : 'cb_input-empty'" type="text"
                        [(ngModel)]="portal.PortalSetting.CustomLinkLabel" name="customLinkLabel" #customLinkLabel="ngModel">
                      <span class="floating-label">Custom Label</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>

          <div *ngIf="false" class="cb_fieldset">

            <h3 class="cb_fieldset-headline">Default Settings</h3>

            <div class="cb_fieldset-field">
              <label class="cb_fieldset-field_label">Default Customer Review Status</label>
              <div class="cb_fieldset-field_wrapper">
                <div class="cb_input-dropdown">
                  <select [(ngModel)]="portal.DefaultReviewStatus" name="defaultReviewStatus">
                    <option value="0" disabled="disabled">Select</option>
                    <option value="A">Publish Immediately</option>
                    <option value="N">Do Not Publish. Require Moderator Approval</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="cb_fieldset-field">
              <label class="cb_fieldset-field_label">Default Order Status <cb-tooltip locationId="portal_order_status">
                </cb-tooltip></label>
              <div class="cb_fieldset-field_wrapper">
                <div class="cb_input-dropdown">
                  <select [(ngModel)]="portal.DefaultOrderStateId" name="defaultOrderStateId">
                    <option value="0" disabled="disabled">Select</option>
                    <option value="10">SUBMITTED</option>
                    <option value="20">SHIPPED</option>
                    <option value="30">RETURNED</option>
                    <option value="40">CANCELLED</option>
                    <option value="50">PENDING APPROVAL</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="cb_fieldset-field">
              <label class="cb_fieldset-field_label">Default Product Review Status <cb-tooltip
                  locationId="portal_product_review_status"></cb-tooltip></label>
              <div class="cb_fieldset-field_wrapper">
                <div class="cb_input-dropdown">
                  <select [(ngModel)]="portal.DefaultProductReviewStateId" name="defaultProductReviewStateId">
                    <option value="0" disabled="disabled">Select</option>
                    <option value="10">PENDING APPROVAL</option>
                    <option value="20">APPROVED</option>
                    <option value="30">DECLINED</option>
                    <option value="40">TO EDIT </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="cb_fieldset-field">
              <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox"
                  [(ngModel)]="portal.PersistentCartEnabled" name="persitentCartEnabled"><span
                  class="cb_fieldset-field_label--inline_text_content"> Enable Persistent Cart</span></label>
            </div>
            <div class="cb_fieldset-field">
              <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox"
                  [(ngModel)]="portal.EnableAddressValidation" name="enableAddressValidation"><span
                  class="cb_fieldset-field_label--inline_text_content">
                  Enable Address Validation</span></label>
            </div>
            <div class="cb_fieldset-field" style='margin-left:15px;' *ngIf="portal.EnableAddressValidation">
              <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox"
                  [(ngModel)]="portal.RequireValidatedAddress" name="requireValidatedAddress"><span
                  class="cb_fieldset-field_label--inline_text_content">
                  Require Validated Address</span></label>
            </div>
            <div class="cb_fieldset-field" *ngIf="false">
              <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox"
                  [(ngModel)]="portal.EnableCustomerPricing" name="enableCustomerPricing"><span
                  class="cb_fieldset-field_label--inline_text_content">
                  Enable Customer Base</span>d Pricing</label>
            </div>
            <div class="cb_fieldset-field near">
              <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox"
                  [(ngModel)]="portal.IsEnableCompare" name="isEnableCompare"><span
                  class="cb_fieldset-field_label--inline_text_content"> Enable Compare</span></label>
            </div>

            <div class="cb_fieldset-field near scoped" *ngIf="portal.IsEnableCompare">
              <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="radio"
                  value="Category" [(ngModel)]="portal.CompareType" name="compareType"><span
                  class="cb_fieldset-field_label--inline_text_content"> Category Level Compa</span>re</label>
            </div>
            <div class="cb_fieldset-field scoped" *ngIf="portal.IsEnableCompare">
              <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="radio"
                  value="Global" [(ngModel)]="portal.CompareType" name="compareType"><span
                  class="cb_fieldset-field_label--inline_text_content"> Global Level Compare</span></label>
            </div>

          </div>

        </form>
    </cb-tab>

    <cb-tab [title]="'Integration'" slug="Integration">
        <form class="cb_form integration" (ngSubmit)="save()" ngNativeValidate #integration="ngForm">
          <div class="cb_tabs-header_headline" style="position:relative; top:-20px;" *ngIf="portal && profile">
            <cbx-toggle (ngModelChange)="onOrderSyncToggle($event)" name="cb_order_sync_toggle" [optionOneLabel]="'Enabled'"
              [optionTwoLabel]="'Disabled'" [activeColor]="misType === 1 ? '#2f82af' : '#99C93C'"
              [(ngModel)]="profile.OrderSyncDisabled">
            </cbx-toggle>
            <cb-tooltip locationId="{{misToolTipId}}" class="pull-right"></cb-tooltip>
          </div>
          <div class="cb_content_primary-description-container" *ngIf="portal && profile">
            <div class="cb_content_primary-description">
              <i aria-hidden="true" class="fal fa-exclamation-circle"></i>
              Configure integration settings for this storefront.
            </div>
          </div>
          <div class="cb_fieldset" *ngIf="portal && profile">
            <h3 class="cb_fieldset-headline">{{misText}} Integration</h3>
            <hr class="cb_form-divider">
            <div class="cb_content_primary-description-container" *ngIf="misType === 0">
              <div class="cb_content_primary-description">
                <i aria-hidden="true" class="fal fa-exclamation-circle"></i>
                {{misText}} integration enables orders to be synced from Ecommerce to the {{misText}} MIS.
              </div>
            </div>
            <div *ngIf="misType === 1">
              <div class="cb_fieldset-field">
                <cb-tooltip locationId="store_integration_orderStation_control" class="pull-right"></cb-tooltip>
                <div class="cb_fieldset-field_wrapper">
                  <cbx-dropdown name="selectOrderStation" dataValue="stationId" dataText="stationName"
                    label="Default Order Station" [options]="orderStations" [ngModel]="orderStationId"
                    (onSelect)="selectOrderStation($event)" [selectedColor]="misType === 1 ? '#cae1ed' : '#e3f0c9'">
                  </cbx-dropdown>
                </div>
              </div>
              <div class="cb_fieldset-field">
                <cb-tooltip locationId="store_integration_lineStation_control" class="pull-right"></cb-tooltip>
                <div class="cb_fieldset-field_wrapper">
                  <cbx-dropdown name="selectedOrderLineItemStation" dataValue="stationId" dataText="stationName"
                    label="Default Order Line Item Station" [options]="orderLineItemStations" [ngModel]="orderLineItemStationId"
                    (onSelect)="selectOrderLineItemStation($event)" [selectedColor]="misType === 1 ? '#cae1ed' : '#e3f0c9'">
                  </cbx-dropdown>
                </div>
              </div>
            </div>
          </div>
        </form>
    </cb-tab>

    <cb-tab [title]="'SEO'" slug="SEO" *ngIf="false">

        <div class="cb_tabs-header">
            <h2 class="cb_tabs-header_headline">SEO</h2>
            <p class="cb_tabs-header_description">Optimize your store for search engines so visitors can find your store.</p>
        </div>

        <form class="cb_form" *ngIf="portal" (ngSubmit)="save()" ngNativeValidate>
          <div class="cb_fieldset">

            <h3 class="cb_fieldset-headline">Store Settings</h3>
            <hr class="cb_form-divider">
            <div class="cb_fieldset-field required" [class.error]="storeName.errors && (storeName.dirty || storeName.touched)">
              <label class="cb_fieldset-field_label">Store Name</label>
              <input class="cb_fieldset-field_input" type="text" [(ngModel)]="portal.StoreName" (blur)="onBlur($event)"
                name="storeName" #storeName="ngModel" required>
              <p class="cb_fieldset-input_error">Store name is required</p>
            </div>

            <div class="cb_fieldset-field">
              <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox"
                  [(ngModel)]="portal.DisableSEO" name="disableSeo"><span class="cb_fieldset-field_label--inline_text_content">
                  Disable Search Engine
                  Optimization</span></label>
            </div>

            <h3 class="cb_fieldset-headline" *ngIf="!portal.DisableSEO">
              Default Product Settings
              <cb-tooltip locationId="portal_product_settings"></cb-tooltip>
            </h3>
            <hr class="cb_form-divider">
            <div class="cb_fieldset-field" *ngIf="!portal.DisableSEO">
              <label class="cb_fieldset-field_label">SEO Default Product Title</label>
              <input class="cb_fieldset-field_input" type="text" [(ngModel)]="portal.SeoDefaultProductTitle"
                (blur)="onBlur($event)" name="seoDefaultProductTitle">
              <p class="cb_fieldset-input_error"></p>
            </div>
            <div class="cb_fieldset-field" *ngIf="!portal.DisableSEO">
              <label class="cb_fieldset-field_label">SEO Default Product Description</label>
              <textarea class="cb_fieldset-field_textarea" [(ngModel)]="portal.SeoDefaultProductDescription"
                name="seoDefaultProductDescription"></textarea>
              <p class="cb_fieldset-input_error"></p>
            </div>
            <div class="cb_fieldset-field" *ngIf="!portal.DisableSEO">
              <label class="cb_fieldset-field_label">SEO Default Product Keyword</label>
              <input class="cb_fieldset-field_input" type="text" [(ngModel)]="portal.SeoDefaultProductKeyword"
                (blur)="onBlur($event)" name="seoDefaultProductKeyword">
              <p class="cb_fieldset-input_error"></p>
            </div>

            <h3 class="cb_fieldset-headline" *ngIf="!portal.DisableSEO">
              Default Category Settings
              <cb-tooltip locationId="portal_category_settings"></cb-tooltip>
            </h3>
            <hr class="cb_form-divider">
            <div class="cb_fieldset-field" *ngIf="!portal.DisableSEO">
              <label class="cb_fieldset-field_label">SEO Default Category Title</label>
              <input class="cb_fieldset-field_input" type="text" [(ngModel)]="portal.SeoDefaultCategoryTitle"
                (blur)="onBlur($event)" name="seoDefaultCategoryTitle">
              <p class="cb_fieldset-input_error"></p>
            </div>
            <div class="cb_fieldset-field" *ngIf="!portal.DisableSEO">
              <label class="cb_fieldset-field_label">SEO Default Category Description</label>
              <textarea class="cb_fieldset-field_textarea" [(ngModel)]="portal.SeoDefaultCategoryDescription"
                name="seoDefaultCategoryDescription"></textarea>
              <p class="cb_fieldset-input_error"></p>
            </div>
            <div class="cb_fieldset-field" *ngIf="!portal.DisableSEO">
              <label class="cb_fieldset-field_label">SEO Default Category Keyword</label>
              <input class="cb_fieldset-field_input" type="text" [(ngModel)]="portal.SeoDefaultCategoryKeyword"
                (blur)="onBlur($event)" name="seoDefaultCategoryKeyword">
              <p class="cb_fieldset-input_error"></p>
            </div>
          </div>
          <div class="cb_fieldset" *ngIf="!portal.DisableSEO">
            <h3 class="cb_fieldset-headline">Default Store Info Settings <cb-tooltip locationId="portal_info_page_settings">
              </cb-tooltip>
            </h3>
            <hr class="cb_form-divider">
            <div class="cb_fieldset-field">
              <label class="cb_fieldset-field_label">SEO Default Content Title</label>
              <input class="cb_fieldset-field_input" type="text" [(ngModel)]="portal.SeoDefaultContentTitle"
                (blur)="onBlur($event)" name="seoDefaultContentTitle">
              <p class="cb_fieldset-input_error"></p>
            </div>
            <div class="cb_fieldset-field">
              <label class="cb_fieldset-field_label">SEO Default Content Description</label>
              <textarea class="cb_fieldset-field_textarea" [(ngModel)]="portal.SeoDefaultContentDescription"
                name="seoDefaultContentDescription"></textarea>
              <p class="cb_fieldset-input_error"></p>
            </div>
            <div class="cb_fieldset-field">
              <label class="cb_fieldset-field_label">SEO Default Content Keyword</label>
              <input class="cb_fieldset-field_input" type="text" [(ngModel)]="portal.SeoDefaultContentKeyword"
                (blur)="onBlur($event)" name="seoDefaultContentKeyword">
              <p class="cb_fieldset-input_error"></p>
            </div>
          </div>
        </form>
    </cb-tab>

    <cb-tab [title]="'Pages'" slug="store-info">
        <div *ngIf="portal">
            <cb-content-pages-table *ngIf="tabState.content=='list'" [portal]="portal" (onCreate)="addContent()"
                (onView)="viewContentPage($event)" [relativeAddPath]="''"></cb-content-pages-table>
            <cb-content-page-new *ngIf="false" [portal]="portal" (onExit)="listContent()">
            </cb-content-page-new>
            <cb-content-page-details [portal]="portal" (onExit)="listContent()"></cb-content-page-details>
        </div>
    </cb-tab>

    <cb-tab [title]="'Checkout'" slug="checkout" [hasError]="showCheckoutError">
        <form class="cb_form" (ngSubmit)="save()" ngNativeValidate #checkout="ngForm">
          <div class="cb_tabs-header" *ngIf="portal">
            <div class="cb_content_primary-description-container">
              <div class="cb_content_primary-description">
                <i aria-hidden="true" class="fal fa-exclamation-circle"></i>
                Manage settings associated with checkout.
              </div>
            </div>
            <div class="cb_fieldset">

              <h3 class="cb_fieldset-headline">Payment Types
                <cb-tooltip locationId="store_checkout_paymentTypes" class="pull-right"></cb-tooltip>
              </h3>
              <hr class="cb_form-divider">
              <cb-payment-settings-table [portal]="portal" (checkOnAccountOnly)="checkOnAccountOnly($event)" (onValidate)="validatePayment($event)">
              </cb-payment-settings-table>
              <input type="hidden" name="paymentSettings" [(ngModel)]="showCheckoutError">

              <h3 class="cb_fieldset-headline">Billing and Shipping Address
                <cb-tooltip locationId="store_checkout_address" class="pull-right"></cb-tooltip>
              </h3>
              <hr class="cb_form-divider">
              <cb-portal-country-table [portal]="portal">
              </cb-portal-country-table>
            </div>

            <div class="cb_fieldset" style="width: 316px;" *ngIf="profile">
              <h3 class="cb_fieldset-headline">Checkout Settings</h3>
              <hr class="cb_form-divider">

              <div class="cb_fieldset-field">
                <cbx-checkbox name="showAdditionalCheckoutInstructions" [(ngModel)]="profile.ShowAdditionalCheckoutInstructions"
                  label="Show Additional Instructions text field during Checkout."></cbx-checkbox>
                <cb-tooltip locationId="store_checkout_additionalInst"></cb-tooltip>
              </div>
              <div class="cb_fieldset-field">
                <cbx-checkbox name="RequirePO" [(ngModel)]="profile.RequirePO" label="Require PO/Dept Code"></cbx-checkbox>
                <cb-tooltip locationId="store_checkout_requirePO"></cb-tooltip>
              </div>

              <h3 class="cb_fieldset-headline">Additional Terms & Conditions
                <cb-tooltip locationId="store_checkout_tAndC" class="pull-right"></cb-tooltip>

              </h3>
              <hr class="cb_form-divider">
              <editor name="CheckoutTerms" [(ngModel)]="portal.CheckoutTermsCond"
                [init]="{plugins: 'link', content_style: '.mce-content-body {margin: 10px;} .mce-content-body p {font-size:11px;}', toolbar_drawer: 'floating'}"
                [toolbar]="'undo redo | bold italic underline link'" *ngIf="showCheckoutTinyMCE"></editor>

            </div>
          </div>
        </form>
    </cb-tab>

    <cb-tab [title]="'Advanced'" slug="javascript">
        <form class="cb_form" (ngSubmit)="save()" ngNativeValidate #javascript="ngForm">
          <div class="cb_fieldset wide" *ngIf="portal">
            <h3 class="cb_fieldset-headline">Javascript</h3>
            <hr class="cb_form-divider">
            <div class="cb_fieldset-field">
              <cb-tooltip locationId="store_advanced_javascriptTop" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <textarea class="cb_fieldset-field_textarea"
                  [ngClass]="portal.SiteWideTopJavascript ? 'cb_input-value' : 'cb_input-empty'"
                  [(ngModel)]="portal.SiteWideTopJavascript" name="siteWideTopJavascript"></textarea>
                <span class="floating-label">Site Wide Javascript (Top)</span>
              </div>
            </div>
            <div class="cb_fieldset-field">
              <cb-tooltip locationId="store_advanced_javascriptBottom" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <textarea class="cb_fieldset-field_textarea"
                  [ngClass]="portal.SiteWideBottomJavascript ? 'cb_input-value' : 'cb_input-empty'"
                  [(ngModel)]="portal.SiteWideBottomJavascript" name="SiteWideBottomJavascript"></textarea>
                <span class="floating-label">Site Wide Javascript (Bottom)</span>
              </div>
            </div>
            <div class="cb_fieldset-field">
              <cb-tooltip locationId="store_advanced_javascriptExceptReceipt" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <textarea class="cb_fieldset-field_textarea"
                  [ngClass]="portal.SiteWideAnalyticsJavascript ? 'cb_input-value' : 'cb_input-empty'"
                  [(ngModel)]="portal.SiteWideAnalyticsJavascript" name="siteWideAnalyticsJavascript"></textarea>
                <span class="floating-label">Site Wide Javascript (except Order Receipt page)</span>
              </div>
            </div>
            <div class="cb_fieldset-field">
              <cb-tooltip locationId="store_advanced_javascriptReceipt" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <textarea class="cb_fieldset-field_textarea"
                  [ngClass]="portal.OrderReceiptAffiliateJavascript ? 'cb_input-value' : 'cb_input-empty'"
                  [(ngModel)]="portal.OrderReceiptAffiliateJavascript" name="orderReceiptAffiliateJavascript"></textarea>
                <span class="floating-label">Order Receipt Javascript</span>
              </div>
            </div>
          </div>
        </form>
    </cb-tab>

    <cb-tab [title]="'Approvals'" slug="approvals" *ngIf="enableOrderApprovals" [hasError]="approvals && approvals.hasError">
        <form class="cb_form integration" (ngSubmit)="save()" ngNativeValidate #approval="ngForm">
          <div class="cb_tabs-header_headline" style="position:relative; top:-20px; margin-bottom: 0;" *ngIf="portal && profile">
            <cbx-toggle (ngModelChange)="onOrderApprovalChange($event)" name="cb_enable_approval_toggle" [optionOneLabel]="'Enabled'"
              [optionTwoLabel]="'Disabled'" [activeColor]="misType === 1 ?  '#2f82af' : '#99C93C'"
              [(ngModel)]="portal.PortalSetting.EnableOrderApproval" [disabled]="!onlyOnAccountPayment || !portal.PortalSetting.ShowPrices">
            </cbx-toggle>
            <!-- <cb-tooltip locationId="store_approvals_toggle" class="pull-right"></cb-tooltip> -->
          </div>
          <div class="cb_content_primary-description-container" *ngIf="!onlyOnAccountPayment || !portal.PortalSetting.ShowPrices">
            <div class="cb_content_primary-description">
              <i aria-hidden="true" class="fal fa-exclamation-circle"></i>
              To enable Approvals, only the “On Account” payment method should be enabled on the Checkout settings,
               and Show Pricing must be enabled on the Store Details settings.
            </div>
          </div>
        </form>

        <!-- <div class="cb_tabs-header">
            <h2 class="cb_tabs-header_headline">Approvals</h2>
            <p class="cb_tabs-header_description">Enable and manage the order approval process.</p>
        </div> -->

        <!-- <div class="cb_fieldset-field" *ngIf="profile && portal">
            <label class="cb_fieldset-field_label">Order Approvals <cb-tooltip
                    locationId="store_approvals_toggle"></cb-tooltip></label>
            <div class="cb_fieldset-field near">
                <label class="cb_fieldset-field_label--inline">
                    <input type="radio" class="cb_fieldset-field_checkbox" [checked]="portal.PortalSetting.EnableOrderApproval" [disabled]="!onlyOnAccountPayment"
                        (change)="onOrderApprovalChange(true)" name="cb_enable_order_approvals">
                    <span class="cb_fieldset-field_label--inline_text_content"> On</span>
                </label>
            </div>
            <div class="cb_fieldset-field near">
                <label class="cb_fieldset-field_label--inline">
                    <input type="radio" class="cb_fieldset-field_checkbox" [checked]="!portal.PortalSetting.EnableOrderApproval" [disabled]="!onlyOnAccountPayment"
                        (change)="onOrderApprovalChange(false)" name="cb_disable_order_approvals">
                    <span class="cb_fieldset-field_label--inline_text_content"> Off</span>
                </label>
            </div>
            <div  *ngIf="!onlyOnAccountPayment">
                <p class="cb_tabs-header_description">To enable Approvals, only the “On Account” payment method should be enabled on the Checkout settings.</p>
            </div>
        </div> -->

        <app-order-approval-group [portal]="portal" [profile]="profile" #approvals (onValidate)="validateApprovals($event)" (onSave)="setStateApprovals($event)"
          *ngIf="profile && portal?.PortalSetting?.EnableOrderApproval && portal && onlyOnAccountPayment && portal?.PortalSetting?.ShowPrices">
        </app-order-approval-group>

    </cb-tab>

</cb-tabs>

<cb-autosave-bar *ngIf="portal" [state]="saveState" (clickCancel)="cancel()" (clickClose)="cancel()" (clickSave)="save()">
</cb-autosave-bar>
