@import (reference) "custom/colors";

.custom-theme button {
  height: 30px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
}
.cb_fieldset-headline {
  padding-bottom: 0;
}
.cb_input-dropdown select {
  font-size: 13px;
}
:host ::ng-deep form.integration {
  top: -20px;
  .cb_tabs-header_headline {
    background-color: @gray-1;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 6px 0;
    .cb_tooltip {
      top: -3px;
    }
  }
  .cb_fieldset .cb_content_primary-description-container {
    margin: -12px 12px 12px;
  }
  cbx-dropdown {
    width: 276px;
  }
}

editor::ng-deep {
  .tox-tinymce {
    height: 100px !important;
  }
  .tox {
    .tox-editor-container {
      display: flex;
      flex-direction: column-reverse;
       
    }
    .tox-menubar, .tox-statusbar {
      display: none;
    }   

    .tox-toolbar {
      height: 25px;
      transform: scale(0.75);
      position: relative;
      top: -7px;
      left: -40px;
      background-color: transparent;
    }
    .tox-sidebar-wrap {
      border-bottom: 1px solid #cccccc;
    }
  }
}
.floating-label-empty {
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 7px;
  font-size: 11px;
  transition: 0.2s ease all;
  background-color: #FFFFFF;
  padding: 0 4px;
  color: #aaa;
}
