<!-- <cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
<div>
  <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
  <button class="cb_input-keyAction" (click)="save()">Save</button>
</div>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="not-sortable cb_table-col_associated"></th>
      <th class="cb_table-col_id" (click)="sortBy('ProductCategoryId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ProductCategoryId'"></cb-svg></th>
      <th class="not-sortable cb_table-col_image">Image</th>
      <th (click)="sortBy('Category.Name')">Collection <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Category.Name'"></cb-svg></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="associated[row.CategoryId]=!associated[row.CategoryId]">
          <label class="cb_input-checkbox">
            <input type="checkbox" name="remember" tabindex="4" (click)="associated[row.CategoryId]=!associated[row.CategoryId]" [(ngModel)]="associated[row.CategoryId]">
            <span class="cb_input-checkbox_control"></span>
          </label>
        </td>
        <td (click)="associated[row.CategoryId]=!associated[row.CategoryId]">
          {{row.CategoryId}}
        </td>
        <td (click)="associated[row.CategoryId]=!associated[row.CategoryId]" class="cb_table-cell_image">
          <img *ngIf="row.ImageSmallPath" src="{{row.ImageSmallPath | imagePath: imageRoot}}" />
          <img *ngIf="!row.ImageSmallPath" src="assets/img/noimage.gif" />
        </td>
        <td (click)="associated[row.CategoryId]=!associated[row.CategoryId]">
          {{row.Name}}
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
-->

<cb-flex-modal #previewDialog (onCloseDialog)="cancel($event)" (onSave)="save()" modalTitle="Associate Collections"
  [displayDialog]="true" [isLoading]="loading && categoryList.loading" [isSubmitValid]="categoryList.dataTable.selected.length > 0"
  [buttonTexts]="{cancelText: 'Close', saveText: 'Add', saveAndClose: 'Add and Close'}">

  <div class="flex-modal-body-content">
    <br>
    <cb-product-categories-table #categoryList [product]="product" [isAssociateList]="true"></cb-product-categories-table>
    <br>
  </div>

</cb-flex-modal>
