<cb-record-search-actions entity="Surface Preset" relativeAddPath="../surface-presets/add"
  [selected]="presetsTable.selected" (checked)="presetsTable.setSelectAll($event)">
</cb-record-search-actions>
<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
  <ng-content></ng-content>
</cb-table-toolbar>
<br>
<h5>Displaying: {{filtered.length}} Result<span *ngIf="filtered.length > 1">s</span></h5>

<cb2-table [value]="filtered" [cols]="_columns" [rowActions]="[RowAction.Clone, RowAction.Delete]"
  #presetsTable idField="id" (gotoDetail)="goToDetail($event)" (deleteEvent)="delete($event)" (copyEvent)="clone($event)">
</cb2-table>

<!-- <cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)" style="float:right">
</cb-table-pagination> -->
