<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Products</h1>
<div class="cb_content_primary-description-container">
  <div class="exclamation-icon">
    <i class="fal fa-exclamation-circle" aria-hidden="true"></i>
  </div>
  <div class="cb_content_primary-description" style="max-width: unset">
    A product (e.g., Business Cards, Lobby Art) is a collection of information and images describing merchandise to be listed for sale in a storefront.
  </div>
</div>

<br>

<cb-products-table (onLoaded)="onLoaded()" (onLoading)="loading = true"></cb-products-table>
