<cb-flex-modal #previewDialog (onCloseDialog)="onCloseDialog($event)" [displayDialog]="displayDialog"
  modalTitle="Associate Add-Ons" [buttonTexts]="{cancelText: 'Close', saveText: 'Add', saveAndClose: 'Add and Close'}"
  (onSave)="onSave()"
  [isSubmitValid]="productAddonsTable.addOnsTable.selected.length > 0">

  <div class="flex-modal-body-content">

    <cb-product-addons-table [productId]="productId" [isAssociateList]="isAssociateList" #productAddonsTable></cb-product-addons-table>

  </div>

</cb-flex-modal>
