<div *ngIf="domain">

    <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>
      <div class="cb_fieldset">
        <div class="cb_fieldset-field required near" [class.error]="domainName.errors && (domainName.dirty || domainName.touched)">
            <label class="cb_fieldset-field_label">Domain Name</label>
            <input class="cb_fieldset-field_input" type="text" placeholder="Domain Name" [(ngModel)]="domain.DomainName" name="domainName" #domainName="ngModel" required>
            <p class="cb_fieldset-input_error">Domain Name is required</p>
        </div>

        <div class="cb_fieldset-field near">
            <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="domain.IsActive" name="isActive"><span class="cb_fieldset-field_label--inline_text_content"> Enable this URL</span></label>
        </div>
      </div>
      <div class="cb_content_submit">
          <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
          <button class="cb_input-keyAction" type="submit">
              <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
              Save
          </button>
      </div>
    </form>
</div>
