<cb-record-search-actions entity="Catalog" relativeAddPath="../catalogs/add"
  [selected]="catalogsTable.selected" (checked)="catalogsTable.setSelectAll($event)">
</cb-record-search-actions>
<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
</cb-table-toolbar>
<br>
<h5>Displaying: {{filtered.length}} Result<span *ngIf="filtered.length > 1">s</span></h5>

<cb2-table [value]="filtered" [cols]="_columns" [rowActions]="[RowAction.Delete]" #catalogsTable
  idField="CatalogId" (gotoDetail)="goToDetail($event)" (deleteEvent)="delete($event)">
</cb2-table>

<!-- <cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination> -->
