<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)"
[filterSearch]="searchFilters" [select]="dataLoaded" [suggestions]="searchSuggestions" (onSelect2Update)="onFilterChange($event)">
<ng-content></ng-content>
<button type="button" class="cb_input-keyAction" [routerLink]="'/ecommerce/shipping-methods/add'"> + New Shipping Method</button>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th (click)="sortBy('ShippingId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='AddOnId'"></cb-svg></th>
      <th (click)="sortBy('Description')">Display Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Description'"></cb-svg></th>
      <th (click)="sortBy('InternalCode')">Internal Code <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='InternalCode'"></cb-svg></th>
      <th (click)="sortBy('ProfileName')">Storefronts <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ProfileName'"></cb-svg></th>
      <th class="cb_table-col_active" (click)="sortBy('ActiveInd')" data-status="true">Active <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ActiveInd'"></cb-svg></th>
      <th class="not-sortable cb_table-col_copy"></th>
      <th class="not-sortable cb_table-col_delete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="gotoDetail(row.ShippingId)">
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.ShippingId}}
        </td>
        <td (click)="gotoDetail(row.ShippingId)">{{row.Description}}</td>
        <td (click)="gotoDetail(row.ShippingId)">{{row.InternalCode}}</td>
        <td (click)="gotoDetail(row.ShippingId)">{{row.ProfileName}}</td>
        <td (click)="toggleActivation(row)" class="centerAlign" [attr.data-status]="row.ActiveInd"><cb-svg title="Toggle Active State" [icon]="'power'"></cb-svg></td>
        <td class="cb_table-utils">
          <cb-svg title="Duplicate Record" [icon]="'copy'" (click)="copy(row)"></cb-svg>
        </td>
        <td class="cb_table-utils" (click)="delete(row.ShippingId)">
          <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<div *ngIf="!total">
  No results for this filter.
</div>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
