<form ngNativeValidate #detailsForm="ngForm">
  <div class="cb_fieldset" *ngIf="product">
    <h3 class="cb_fieldset-headline">
      Product Details
      <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
    </h3>
    <hr class="cb_form-divider" />

    <div class="cb_fieldset-field required" [class.error]="
        productName.errors && (productName.dirty || productName.touched)
      ">
      <cb-tooltip locationId="products_product_name" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input class="cb_fieldset-field_input" [ngClass]="product.Name ? 'cb_input-value' : 'cb_input-empty'"
          type="text" [(ngModel)]="product.Name" (blur)="onBlur($event)" name="productName" #productName="ngModel"
          required />
        <span class="floating-label">Product Title <span class="required-label">*</span></span>
      </div>
    </div>

    <div class="cb_fieldset-field required" [class.error]="
        (skuName.errors && (skuName.dirty || skuName.touched)) || skuInvalid
      ">
      <cb-tooltip locationId="products_sku" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input class="cb_fieldset-field_input" [ngClass]="sku.Sku ? 'cb_input-value' : 'cb_input-empty'" type="text"
          (blur)="onBlur($event)" [(ngModel)]="sku.Sku" (ngModelChange)="skuChanged()" name="skuName" #skuName="ngModel"
          required />
        <span class="floating-label">SKU or Part # <span class="required-label">*</span></span>
      </div>
    </div>

    <div class="cb_fieldset-field">
      <cbx-checkbox label="Custom Internal Product Code" [(ngModel)]="ipc_checkbox"
        (ngModelChange)="toggleUseInternalCode($event)" name="ipc"></cbx-checkbox>
      <cb-tooltip locationId="products_internal_product_code"></cb-tooltip>
    </div>
    <div *ngIf="ipc_checkbox" class="cb_fieldset-field required" [class.error]="
        productNumber.errors && (productNumber.dirty || productNumber.touched)
      ">
      <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper" style="margin-left: 20px;">
        <input class="cb_fieldset-field_input" [ngClass]="product.ProductNumber ? 'cb_input-value' : 'cb_input-empty'"
          type="text" maxlength="50" [(ngModel)]="product.ProductNumber" (blur)="onBlur($event)" name="productNumber"
          #productNumber="ngModel" required />
        <span class="floating-label">Internal Product Code <span class="required-label">*</span></span>
      </div>
    </div>

    <div class="cb_fieldset-field required" [class.error]="
        minSelectableQuantity.errors &&
        (minSelectableQuantity.dirty || minSelectableQuantity.touched)
      ">
      <cb-tooltip locationId="products_min_selectable_quantity" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input class="cb_fieldset-field_input"
          [ngClass]="product.MinSelectableQuantity != null ? 'cb_input-value' : 'cb_input-empty'" type="number"
          (blur)="onBlur($event)" [(ngModel)]="product.MinSelectableQuantity" name="minSelectableQuantity"
          #minSelectableQuantity="ngModel" pattern="^[1-9]+[0-9]*$" required />
        <span class="floating-label">Min. Selectable Quantity <span class="required-label">*</span></span>
      </div>
    </div>

    <div class="cb_fieldset-field required" [class.error]="
        maxSelectableQuantity.errors &&
        (maxSelectableQuantity.dirty || maxSelectableQuantity.touched)
      ">
      <cb-tooltip locationId="products_max_selectable_quantity" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input class="cb_fieldset-field_input"
          [ngClass]="product.MaxSelectableQuantity != null ? 'cb_input-value' : 'cb_input-empty'" type="number"
          [(ngModel)]="product.MaxSelectableQuantity" name="maxSelectableQuantity" #maxSelectableQuantity="ngModel"
          required />
        <span class="floating-label">Max Selectable Quantity <span class="required-label">*</span></span>
      </div>
    </div>

    <div class="cb_fieldset-field required" [class.error]="
        quantityIncrement.invalid &&
        (quantityIncrement.dirty || quantityIncrement.touched)
      ">
      <cb-tooltip locationId="products_quantity_increment" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input class="cb_fieldset-field_input" [ngClass]="
            product.QuantityIncrement != null ? 'cb_input-value' : 'cb_input-empty'
          " type="number" (blur)="onBlur($event)" [(ngModel)]="product.QuantityIncrement" name="quantityIncrement"
          #quantityIncrement="ngModel" pattern="^[1-9]+[0-9]*$" required />
        <span class="floating-label">Quantity Increment <span class="required-label">*</span></span>
      </div>
    </div>

    <h3 class="cb_fieldset-headline">
      Product Attributes
      <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
    </h3>
    <hr class="cb_form-divider" />

    <div class="cb_fieldset-field">
      <cb-tooltip locationId="products_width" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input class="cb_fieldset-field_input" [ngClass]="product.Width != null ? 'cb_input-value' : 'cb_input-empty'"
          type="number" [(ngModel)]="product.Width" name="width" step="0.01" />
        <span class="floating-label">Width</span>
      </div>
    </div>

    <div class="cb_fieldset-field">
      <cb-tooltip locationId="products_height" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input class="cb_fieldset-field_input" [ngClass]="product.Height != null ? 'cb_input-value' : 'cb_input-empty'"
          type="number" [(ngModel)]="product.Height" name="height" step="0.01" />
        <span class="floating-label">Height</span>
      </div>
    </div>

    <div class="cb_fieldset-field">
      <cb-tooltip locationId="products_length" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input class="cb_fieldset-field_input" [ngClass]="product.Length != null ? 'cb_input-value' : 'cb_input-empty'"
          type="number" [(ngModel)]="product.Length" name="length" step="0.01" />
        <span class="floating-label">Length</span>
      </div>
    </div>

    <div class="cb_fieldset-field">
      <cb-tooltip locationId="products_weight" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input class="cb_fieldset-field_input" [ngClass]="product.Weight != null ? 'cb_input-value' : 'cb_input-empty'"
          type="number" [(ngModel)]="product.Weight" name="weight" step="0.01" />
        <span class="floating-label">Weight</span>
      </div>
    </div>

    <div class="cb_fieldset-field">
      <cbx-checkbox label="Shipping Attributes are Different"
        [(ngModel)]="product?.ProductSetting.ShipAttributeDifferent" name="shipAttributeDiff"></cbx-checkbox>
      <cb-tooltip locationId=""></cb-tooltip>
    </div>

    <ng-container *ngIf="product?.ProductSetting?.ShipAttributeDifferent">
      <div class="cb_fieldset-field">
        <cb-tooltip locationId="shipping_attributes_width" class="pull-right"></cb-tooltip>
        <div class="form-control-float-wrapper" style="margin-left: 20px;">
          <input class="cb_fieldset-field_input"
            [ngClass]="product.ProductSetting.ShipWidth != null ? 'cb_input-value' : 'cb_input-empty'" type="number"
            [(ngModel)]="product.ProductSetting.ShipWidth" name="shippingWidth" step="0.01" />
          <span class="floating-label">Width</span>
        </div>
      </div>

      <div class="cb_fieldset-field">
        <cb-tooltip locationId="shipping_attributes_height" class="pull-right"></cb-tooltip>
        <div class="form-control-float-wrapper" style="margin-left: 20px;">
          <input class="cb_fieldset-field_input"
            [ngClass]="product.ProductSetting.ShipHeight != null ? 'cb_input-value' : 'cb_input-empty'" type="number"
            [(ngModel)]="product.ProductSetting.ShipHeight" name="height" step="0.01" />
          <span class="floating-label">Height</span>
        </div>
      </div>

      <div class="cb_fieldset-field required">
        <cb-tooltip locationId="shipping_attributes_length" class="pull-right"></cb-tooltip>
        <div class="form-control-float-wrapper" style="margin-left: 20px;">
          <input class="cb_fieldset-field_input"
            [ngClass]="product.ProductSetting.ShipLength != null ? 'cb_input-value' : 'cb_input-empty'" type="number"
            [(ngModel)]="product.ProductSetting.ShipLength" name="shippingLength" step="0.01" />
          <span class="floating-label">Length</span>
        </div>
      </div>

      <div class="cb_fieldset-field required">
        <cb-tooltip locationId="shipping_attributes_weight" class="pull-right"></cb-tooltip>
        <div class="form-control-float-wrapper" style="margin-left: 20px;">
          <input class="cb_fieldset-field_input"
            [ngClass]="product.ProductSetting.ShipWeight != null ? 'cb_input-value' : 'cb_input-empty'" type="number"
            [(ngModel)]="product.ProductSetting.ShipWeight" name="shippingWeight" step="0.01" />
          <span class="floating-label">Weight</span>
        </div>
      </div>
    </ng-container>

    <h3 class="cb_fieldset-headline">
      Inventory
    </h3>
    <hr class="cb_form-divider" />

    <div class="cb_fieldset-field">
      <cbx-checkbox label="Enable inventory tracking" [(ngModel)]="product.TrackInventory" name="trackInventory">
      </cbx-checkbox>
      <cb-tooltip locationId="products_inventory_tracking"></cb-tooltip>
    </div>

    <div id="track-inventory-content" *ngIf="product?.TrackInventory">
      <div class="cb_fieldset-field required" [class.error]="
        quantityOnHand.errors &&
        (quantityOnHand.dirty || quantityOnHand.touched)">
        <div class="form-control-float-wrapper" style="margin-left: 20px;">
          <input class="cb_fieldset-field_input"
            [ngClass]="product.QuantityOnHand != null ? 'cb_input-value' : 'cb_input-empty'" type="number"
            [(ngModel)]="product.QuantityOnHand" name="quantityOnHand" step="0.01" #quantityOnHand="ngModel" required />
          <span class="floating-label">Quantity On Hand <span class="required-label">*</span></span>
        </div>
        <br />
        <div class="form-control-float-wrapper" style="margin-left: 20px;">
          <label style="font-weight: 400;">Out of Stock Options
            <cb-tooltip locationId=""></cb-tooltip>
          </label>

          <label class="cb_fieldset-field_label--inline">
            <input type="radio" class="cb_fieldset-field_checkbox" [checked]="product.AllowBackOrder"
              (change)="selectOutOfStockOption(true)" name="cb_enable_allow_backorder" />
            <span class="cb_fieldset-field_label--inline_text_content">Enable product purchasing regardless of
              stock.</span>
          </label>

          <label class="cb_fieldset-field_label--inline">
            <input type="radio" class="cb_fieldset-field_checkbox" [checked]="!product.AllowBackOrder"
              (change)="selectOutOfStockOption(false)" name="cb_disable_allow_backorder" />
            <span class="cb_fieldset-field_label--inline_text_content">Disable Purchasing for out-of-stock
              products.</span>
          </label>
        </div>
      </div>

      <div class="cb_fieldset-field">
        <div class="form-control-float-wrapper">
          <input class="cb_fieldset-field_input"
            [ngClass]="product.InStockMessage ? 'cb_input-value' : 'cb_input-empty'" type="text"
            [(ngModel)]="product.InStockMessage" name="inStockMessage" />
          <span class="floating-label">
            In Stock Message
          </span>
        </div>
      </div>

      <div class="cb_fieldset-field required" [class.error]="
        outOfStockMessage.errors && (outOfStockMessage.dirty || outOfStockMessage.touched)">
        <div class="form-control-float-wrapper">
          <input class="cb_fieldset-field_input"
            [ngClass]="product.OutOfStockMessage ? 'cb_input-value' : 'cb_input-empty'" type="text"
            [(ngModel)]="product.OutOfStockMessage" (blur)="onBlur($event)" name="outOfStockMessage"
            #outOfStockMessage="ngModel" required />
          <span class="floating-label">Out of Stock Message <span class="required-label">*</span></span>
        </div>
      </div>

      <div class="cb_fieldset-field required" *ngIf="product?.AllowBackOrder" [class.error]="
        backOrderMessage.errors && (backOrderMessage.dirty || backOrderMessage.touched)">
        <div class="form-control-float-wrapper">
          <input class="cb_fieldset-field_input"
            [ngClass]="product.BackOrderMessage ? 'cb_input-value' : 'cb_input-empty'" type="text"
            [(ngModel)]="product.BackOrderMessage" (blur)="onBlur($event)" name="backOrderMessage"
            #backOrderMessage="ngModel" required />
          <span class="floating-label">Back Order Message <span class="required-label">*</span></span>
        </div>
      </div>

    </div>

    <div *ngIf="misType == MisTypes.CoreBridge">
      <h3 class="cb_fieldset-headline">
        Corebridge Integration
        <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
      </h3>
      <hr class="cb_form-divider" />

      <div class="cb_fieldset-field" *ngIf="
          settings &&
          settings.IntegrationTypeId &&
          integrationTypes &&
          integrationTypes.length
        ">
        <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
        <div class="cb_fieldset-field_wrapper" style="margin-right: 25px;">
          <cbx-dropdown style="width: 99%" [options]="integrationTypes" dataValue="IntegrationTypeId" dataText="Name"
            [ngModel]="settings?.IntegrationTypeId" label="Integration Type" (onSelect)="selectIntegrationType($event)"
            name="integrationType">
          </cbx-dropdown>
        </div>
      </div>
    </div>
    <div *ngIf="misType == MisTypes.Cyrious">
      <h3 class="cb_fieldset-headline">
        Control Integration
        <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
        <hr class="cb_form-divider" />
        <div *ngIf="controlProducts" class="cb_fieldset-field">
          <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
          <div class="cb_fieldset-field_wrapper" style="margin-right: 25px;">
            <cbx-dropdown style="width: 99%" [options]="controlProducts" dataValue="productId" dataText="productName"
              name="controlProduct" [ngModel]="selectedControlProduct?.productId"
              (onSelect)="selectControlProduct($event)">
            </cbx-dropdown>
          </div>
        </div>
      </h3>
    </div>
  </div>

  <div class="cb_fieldset" *ngIf="product">
    <h3 class="cb_fieldset-headline">
      Pricing
      <cb-tooltip locationId="products_retail_price" class="pull-right"></cb-tooltip>
    </h3>
    <hr class="cb_form-divider" />

    <div class="cb_fieldset-field required" [class.error]="
    retailPrice.errors && (retailPrice.dirty || retailPrice.touched)
    ">
      <cb-tooltip locationId="products_retail_price" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input cbInputCurrency cbInputRestrict="currency" type="number"
          class="cb_fieldset-field_input inputText required" required [ngClass]="
            product.RetailPrice != null ? 'cb_input-value' : 'cb_input-empty'
          " [(ngModel)]="product.RetailPrice" (blur)="onBlur($event)" name="retailPrice" #retailPrice="ngModel" />
        <span class="floating-label">Retail Price <span class="required-label">*</span></span>
      </div>
    </div>

    <div class="cb_fieldset-field required">
      <cb-tooltip locationId="products_sale_price" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input cbInputCurrency cbInputRestrict="currency" type="number"
          class="cb_fieldset-field_input inputText required" [ngClass]="
            product.SalePrice != null ? 'cb_input-value' : 'cb_input-empty'
          " [(ngModel)]="product.SalePrice" name="salePrice" #salePrice="ngModel" />
        <span class="floating-label">Sale Price</span>
      </div>
    </div>

    <div class="cb_fieldset-field required">
      <cb-tooltip locationId="products_wholesale_price" class="pull-right"></cb-tooltip>
      <div class="form-control-float-wrapper">
        <input cbInputCurrency cbInputRestrict="currency" type="number"
          class="cb_fieldset-field_input inputText required" [ngClass]="
            product.WholesalePrice != null ? 'cb_input-value' : 'cb_input-empty'
          " [(ngModel)]="product.WholesalePrice" name="wholesalePrice" #wholesalePrice="ngModel" />
        <span class="floating-label">Wholesale Price</span>
      </div>
    </div>

    <div class="cb_fieldset-field" *ngIf="taxClasses">
      <cb-tooltip locationId="products_tax_class" class="pull-right"></cb-tooltip>
      <div class="cb_fieldset-field_wrapper" style="margin-right: 25px;">
        <cbx-dropdown style="width: 99%" [options]="taxClasses" dataValue="TaxClassId" dataText="Name"
          [ngModel]="product.TaxClassId" label="Tax Class" (onSelect)="selectTaxClass($event)" name="taxClass">
        </cbx-dropdown>
      </div>
    </div>

    <h3 class="cb_fieldset-headline">
      Product Settings
      <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
    </h3>
    <hr class="cb_form-divider" />

    <div class="cb_fieldset-field">
      <cbx-checkbox label="New Product Badge" [(ngModel)]="product.IsNewProduct" name="isNewProduct"></cbx-checkbox>
      <cb-tooltip locationId=""></cb-tooltip>
    </div>

    <div class="cb_fieldset-field">
      <cbx-checkbox label="Featured Product" [(ngModel)]="product.IsHomepageSpecial" name="featured"></cbx-checkbox>
      <cb-tooltip locationId=""></cb-tooltip>
    </div>

    <div class="cb_fieldset-field">
      <cbx-checkbox label="Call For Pricing" [(ngModel)]="product.CallForPricing" name="callForPricing"></cbx-checkbox>
      <cb-tooltip locationId=""></cb-tooltip>
    </div>

    <div class="cb_fieldset-field">
      <cbx-checkbox label="Enable file upload for this product." [(ngModel)]="product.EnableFileUploads"
        name="enableFileUpload"></cbx-checkbox>
      <cb-tooltip locationId=""></cb-tooltip>
    </div>

    <h3 class="cb_fieldset-headline">
      Shipping Settings
      <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
    </h3>
    <hr class="cb_form-divider" />

    <div class="cb_fieldset-field">
      <cbx-checkbox label="Free Shipping" [(ngModel)]="product.AllowFreeShipping" name="allowFreeShipping">
      </cbx-checkbox>
      <cb-tooltip locationId=""></cb-tooltip>
    </div>

    <div class="cb_fieldset-field" *ngIf="!product.AllowFreeShipping">
      <cb-tooltip locationId="catalogs_select_category" class="pull-right"></cb-tooltip>
      <div class="cb_fieldset-field_wrapper" style="margin-right: 25px;">
        <cbx-dropdown style="width: 99%" [options]="shippingRuleTypes" dataValue="ShippingRuleTypeId" dataText="Name"
          [ngModel]="product.ShippingRuleTypeId" label="Shipping Rule" (onSelect)="selectShippingRule($event)"
          name="shippingRuleType">
        </cbx-dropdown>
      </div>
    </div>

    <cb-sku-profile-list *ngIf="product.SkuId" [skuId]="product.SkuId" (isChanged)="isAvailabilityChanged = $event"
      (isSaving)="onSave.emit($event)"></cb-sku-profile-list>
  </div>
</form>