@import (reference) 'custom/variables';
@import (reference) 'custom/colors';
@import (reference) 'corebridge/colors';
@import (reference) 'custom/function-vars';
@import (reference) 'bootstrap/variables';
@import (reference) 'styles';

.addAction {
  border-radius: 3px;
  border: 1px transparent solid;
  box-sizing: border-box;
  color: @cb_42;
  display: inline-block;
  height: 30px;
  max-height: 30px;
  overflow: hidden;
  padding-left: 9px !important;
  text-align: left;
  white-space: nowrap;
  min-width: 30px;

  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -ms-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;

  &:hover:enabled,
  &:focus {
    &:not(.always-show-label) {
      width: auto !important;
    }
  }

  &.always-show-label {
    width: auto !important;

    .addActionHover {
      display: inline-block;
      padding-left: 5px;
    }
  }

  &.button-and-dropdown {
    position: relative;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.page-action-dropdown {
  background-color: @cb_40;
  border-radius: 3px;
  border: 1px transparent solid;
  color: @cb_42;
  display: inline-block;
  height: 30px;
  max-height: 30px;
  width: 47px;
  max-width: 47px;
}

.addAction:hover:enabled .addActionHover {
  display: inline-block;
  white-space: nowrap;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  padding-left: 5px;
}

.actionDropdown:focus {
  border: solid 1px rgb(77, 144, 254);
  outline-color: @gray-lighter;
  padding-left: 7px !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.addActionHover {
  display: none;
  color: @cb_42;
  width: auto;
  position: relative;
  font-weight: 100;
  white-space: nowrap;
}

:host ::ng-deep .selectedCount {
  display: inline-block;
  color: @state-primary;
  position: relative;
  top: -2px;
  left: -2px;
  body.mistype-1 & {
    color: @cy-1;
  }
}

.selectBox {
  width: 14px;
  height: 14px;
  margin: 9px 0px 0px 9px;
  border-radius: 3px;
  border: solid 1px #b6b6b6;
}

.selectBox:checked {
  color: @white;
  background-color: @default-record-icon-color;
  border: none;
}

.actionSelect {
  display: inline-block;
  border-radius: 3px;
  background-color: #f3f3f3;
}

.actionSelect-inner {
  display: inline-block;
  position: relative;
  top: -2px;
}

.actionDropdown {
  width: 110px;
  height: 22px;
  margin-right: 4px;
  border-radius: 3px;
  display: inline-block;
  background-color: @white;
  border: solid 1px #b6b6b6;
  color: #878787;
}

.right-arrow {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid @gray-6;
  height: 0px;
  width: 10px;
  display: inline-block;
  top: 1px;
  position: relative;
}

:host ::ng-deep .ui-state-disabled,
.ui-widget:disabled {
  opacity: 1 !important;
}

.disabled {
  background-color: @gray-4;
  filter: grayscale(100%);
  width: 30px !important;
}

:host ::ng-deep .ui-chkbox {
  margin-right: 0;
  left: 1px;
  position: relative;
  .ui-chkbox-box {
    border: 1px solid @gray-3;
    border-radius: 3px;
    background-color: @white;
  }
}

:host ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-active {
  border: 1px solid @cb_40;
  background-color: @cb_40;
  position: relative;
  body.mistype-1 & {
    border-color: @cy-5;
    background-color: @cy-5 !important;
  }
}

:host ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-focus {
  /* border: 1px solid @cb_40;
  background-color: @cb_40; */
  position: relative;
  border: 1px solid @input-focus-border-color;
  outline: none;
}

.cb_checkbox-container {
  height: 30px;
  width: 30px;
  background: @gray-lighter;
  padding: 5px 7px;
  float: left;
  border-radius: 2px;
}

.cb_numeric {
  height: 30px;
  background: @gray-lighter;
  padding: 8px 4px 7px 0;
  float: left;
}

.right-arrow-container {
  height: 30px;
  background: @gray-lighter;
  padding: 4px 0;
  float: left;
}

.cb_dropdown-container {
  height: 30px;
  background: @gray-lighter;
  margin-right: 10px;
  padding: 6px 2px;
  float: left;
  border-radius: 0 2px 2px 0;
}

.divider {
  border-left: thin @gray-5 solid;
  position: relative;
  height: 30px;
  float: left;
}

.cb_button-add-action {
  height: 30px;
  padding: 0;
  float: left;
  padding-left: 10px;
  &.no-show-actions {
    padding-left: 0px;
  }
}

.border-radius-0 {
  border-radius: 2px 0 0 2px;
}

select {
  border-radius: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  background-color: @white;
  padding: 8px 10px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 35px;
  }
}

label {
  position: relative;
}
label:after {
  content: @fa-var-angle-down;
  font-family: @fa-font-family;
  font-size: 12px;
  color: #aaa;
  right: 10px;
  top: 3px;
  padding: 0 0 1px;
  position: absolute;
  pointer-events: none;
}
label:before {
  content: '';
  right: 5px;
  top: 2px;
  width: 20px;
  height: 16px;
  background: @white;
  position: absolute;
  pointer-events: none;
  display: block;
}

div.cb_button-add-action__disabled-label {
  display: flex;
  position: relative;

  button {
    outline: none;
  }
}

:host::ng-deep .cb_button-add-action__disabled-label cb-select.page-action-dropdown {
  width: 30px;
  max-width: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #c1df8a;

  &.cb-widget-dropdown-open {
    background: @green-4;
    body.mistype-1 & {
      background: @cy-4;
    }
  }

  .cb_dropdown-container {
    position: unset;
  }

  ul.dropdown-menu {
    left: 9px;
  }

  .cb_select-page-action-dropdown {
    padding: unset;
    i.cb_select-icon-button.fa-angle-down {
      top: -1px;
    }
  }
}
.cb_button-add-action {
  padding-right: 15px !important;
}

:host .actionDropdown {
  line-height: 35px;
}

.record-search-actions__container {
  &.display-as-inline-block {
    @media only screen and (max-width: 612px) {
      display: inline-block;
      margin-bottom: 3px;
    }
  }
}
