<div class="record-search-actions__container" [class.display-as-inline-block]="selected && selected.length > 0">
  <div *ngIf="!isDisabled" class="cb_checkbox-container" [class.hidden]="!showActions"
    [ngClass]="selected != undefined && selected.length > 0 ? borderRadiusCss: '' ">
    <span *ngIf="selected != undefined && selected.length > 0; else unChecked">
      <p-checkbox [ngModel]="true" [tabindex]="0" (onChange)="onSelectAll($event)" binary="true"></p-checkbox>
    </span>
  </div>
  <div *ngIf="!isDisabled && selected != undefined && selected.length > 0" class="cb_numeric"
    [class.hidden]="!showActions">
    <span class="selectedCount">{{selected.length}}&nbsp;</span>
  </div>
  <ng-container *ngIf="!isDisabled && !hideGroupActions && hasDisplayedActions()">
    <div *ngIf="selected != undefined && selected.length > 0" class="right-arrow-container"
      [class.hidden]="!showActions">
      <span class="right-arrow"></span>
    </div>
    <div *ngIf="selected != undefined && selected.length > 0" class="cb_dropdown-container"
      [class.hidden]="!showActions">
      <div class="actionSelect-inner">
        <label class="select">
          <select [disabled]="isDisabled" class="actionDropdown" [tabindex]="1" (change)="onActionSelect($event)">
            <option value="" disabled selected style="display:none">Action</option>
            <ng-container *ngIf="!optionsTemplate">
              <option *ngFor="let action of actions" value="{{action.text}}" [class.hidden]="isActionHidden(action)"
                [disabled]="!action.IsEnabled">{{action.text}}
              </option>
            </ng-container>
            <ng-container *ngIf="optionsTemplate">
              <ng-container *ngTemplateOutlet="optionsTemplate;context:{$implicit:actions}"></ng-container>
            </ng-container>
          </select>
        </label>
      </div>
    </div>
    <div *ngIf="selected != undefined && selected.length > 0" class="divider" [class.hidden]="!showActions"></div>
  </ng-container>


  <div *ngIf="!isDisabled" class="cb_button-add-action" [class.cb_button-add-action__disabled-label]="disabledLabel"
    [class.no-show-actions]="!showActions" [class.hide]="!entity || !showAddButton">
    <button *ngIf="!isPageActionDropDown || ButtonAndDropdown" CbButton (click)="doAdd()" class="btn-success addAction"
      [class.disabled]="isDisabled || disableAddButton" [disabled]="isDisabled || disableAddButton"
      [DisableCbButtonHover]="isDisabled || AlwaysShowLabel" [class.always-show-label]="AlwaysShowLabel"
      [class.button-and-dropdown]="ButtonAndDropdown">
      <i *ngIf="buttonIcon" [ngClass]="buttonIcon"></i>
      <i *ngIf="!buttonIcon" class="fal fa-{{isAssociate? 'link' : 'plus'}}"></i>
      <ng-container *ngIf="!disabledLabel">
        <span class="addActionHover" *ngIf="!disableAddButton" (click)="resetToDefaultWidth()"> {{entity}} </span>
      </ng-container>
    </button>
    <cb-select *ngIf="!isDisabled && (isPageActionDropDown || ButtonAndDropdown)"
      [class.disabled]="isDisabled || disableAddButton" [readonly]="isDisabled" [ngModel]="selectedPageAction"
      (ngModelChange)="setPageAction($event)" class="page-action-dropdown"
      [cbSelectClass]="'cb_select-page-action-dropdown'" [isIconButton]="true" buttonIcon="fal fa-plus"
      [onlyDropdownIcon]="ButtonAndDropdown" [options]="pageActionOptions" optionText="key" optionValue="value">
    </cb-select>
  </div>

  <ng-template #unChecked>
    <p-checkbox [disabled]="isDisabled" [ngModel]="false" (onChange)="onSelectAll($event)" binary="true"></p-checkbox>
  </ng-template>
</div>
