@import (reference) 'custom/variables';
@import (reference) 'custom/colors';
@import (reference) 'custom/function-vars';

.cb_modal-content {
  height: 100%;
  // margin: 16px 16px 28px 16px;
  // min-height: 505px;
  // padding-left: 5px;

  &.auto-min-height {
    min-height: auto;
  }

  &.height-200 {
    min-height: 200px;
  }
  &.fullsize {
    padding-left: 0;
  }
}

p-footer {
  padding: 20px 0 10px;
  text-align: right;
  margin-left: -15px;
  margin-right: -14px;
  overflow: hidden;
  padding: 20px 20px 10px;

  & button {
    min-height: 35px;
    font-size: 13px;
    font-family: Roboto;
    margin-top: 8px;
    cursor: pointer;

    &.cb_base-modal-button__save {
      font-weight: bold;
      color: #fefefe;
      margin-right: 11px;
    }

    &.cb_base-modal-button__cancel {
      color: #b6b6b6;
      margin-left: 16px;
    }
  }

  & button:first-child {
    float: left;
    height: 30px;
  }

  & button:nth-child(2) {
    background-color: @button-success-background-color;
  }

  & button:nth-child(2):disabled {
    background-color: @gray-5;
  }

  & button:nth-child(2):disabled:hover {
    background-color: @gray-5;
  }

  button:nth-child(2):hover {
    background-color: @button-success-hover-background-color;
  }
}

.cb_input-keyAction.cancel {
  margin-left: 0;
}

.header-bottom-border .cb_input-keyAction.cancel {
  margin-bottom: 0 !important;
}

.ui-button:enabled:hover,
.ui-button:focus {
  background-color: @gray-5;
  color: @button-text-color; // @button-text-color;
}

.cb_modal-divider {
  // display: block;
  clear: both;
  border: 0;
  border-top: solid 1px #ededed;
  margin: 0px 29px 0px;
  // width: 332px;
}

.clone-modal-divider {
  width: 390px;
  margin-left: 21px;
}

.clone-modal-container {
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 2px;
}

.skip,
.skip.ui-button:enabled:hover,
.skip.ui-button:focus {
  color: @green-3;
  background-color: rgba(0, 0, 0, 0) !important;
}

.save {
  background-color: @green-3 !important;
}

.btn-add,
.btn-add:hover {
  background-color: unset !important;
  color: @green-3 !important;
  border: 1px solid @green-3;
}

p-header {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;

  &.multi-line {
    display: flex;
  }

  i,
  cb-custom-icon {
    font-size: 14px;
    font-weight: normal;
    color: @gray-5;
    padding-right: 13px;

    &:hover {
      color: @gray-6;
    }

    &:active {
      color: @gray-8;
    }

    &:focus {
      outline: 1px dotted @gray-5;
      color: @gray-6;
    }
  }

  .icon-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    padding-right: 4px;
  }

  .allow-full-screen-container {
    position: absolute;
    right: 16px;
    top: 12px;

    i {
      cursor: pointer;
    }
  }
}

p-header i.show-second-icon {
  padding-right: 1px;
}

.layout-element-modal-header {
  font-size: 20px;
  color: @gray-10;
  font-weight: normal;
}
