<p-dialog #PrimeDialog [styleClass]="'cb_base-modal ' + customClass" [closable]="closable" [showHeader]="true"
  [closeOnEscape]="true" (onShow)="onShowModal()" (onHide)="onHideModal()" (keypress)="onCloseDialog.emit(false)"
  [draggable]="draggable" [(visible)]="displayDialog" modal="modal" [width]="width" [height]="height"
  [responsive]="true" appendTo="body" [resizable]="false" [transitionOptions]="transitionOptions">
  <p-header *ngIf="!noHeader" [class.multi-line]="showSecondIcon">
    <ng-container *ngIf="showSecondIcon; else singleLine">
      <div class="icon-wrapper">
        <i [ngClass]="iconClass"></i>
        <i [ngClass]="iconClass"></i>
      </div>
    </ng-container>
    <ng-template #singleLine>
      <ng-container *ngIf="iconClass">
        <i *ngIf="iconClass.indexOf('cb-icon') === -1" [ngClass]="iconClass"></i>
        <!-- <cb-custom-icon *ngIf="iconClass.indexOf('cb-icon') > -1" [customIcon]="iconClass"></cb-custom-icon> -->
      </ng-container>
    </ng-template>
    <div class="inline-block" [ngClass]="{ 'layout-element-modal-header': iconClass != ''}">
      <ng-container *ngIf="headerTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </ng-container>
      <ng-container *ngIf="!headerTemplate">
        {{headerText}}
      </ng-container>
    </div>
    <div class="allow-full-screen-container" *ngIf="AllowFullscreen">
      <i *ngIf="!dialog?.maximized" class="far fa-expand-alt" alt="Maximize" (click)="OnMaximizeModal()"></i>
      <i *ngIf="dialog?.maximized" class="far fa-compress-alt" alt="Minimize" (click)="OnRevertMaximizeModal()"></i>
    </div>
  </p-header>
  <div [class]="loaderClassName" *ngIf="isLoading">
    <i class="fal fa-spinner fa-spin"></i>
  </div>
  <hr class="cb_modal-divider" [ngClass]="{ 'clone-modal-divider': cloneModalStyling}">
  <div class="cb_modal-content-container" *ngIf="!isLoading" [ngClass]="{ 'clone-modal-container': cloneModalStyling}">
    <div class="cb_modal-content" [ngClass]="modalContentClasses">
      <ng-content></ng-content>
    </div>
  </div>
  <p-footer *ngIf="!noFooter">
    <!-- <button class="cb_base-modal-button__cancel cb_input-keyAction cancel" (keydown.tab)="onButtonTabKey.emit($event)" #btnCancel type="button" [disabled]="btnCancelDisable || isLoading || closeDisabled" (click)="onCancelDialog.emit(false)" pButton [label]="btnCancelText"></button>
    <button class="cb_base-modal-button__skip" type="button" *ngIf="showSkip" [ngClass]="{ 'skip': showSkip}" [disabled]="isLoading || closeDisabled || isDisableSkipBtn" (click)="onSkipDialog.emit(true)" pButton [label]="btnSkipText"></button>
    <ng-container *ngIf="EnableNextButton && NextCounter != MaxNextCounter">
      <button class="cb_base-modal-button__next" (keydown.tab)="onButtonTabKey.emit($event)" #btnSave type="button" [ngClass]="{ 'save': showSkip}" [disabled]="btnSaveDisable || isLoading || closeDisabled" (click)="OnNextDialog($event)" pButton [label]="btnSaveText"></button>
    </ng-container>
    <ng-container *ngIf="btnAddText && btnAddText !== ''">
      <button type="button" class="cb_base-modal-button__add btn-add" [disabled]="btnSaveDisable || isLoading || closeDisabled" (click)="onAddDialog.emit()" pButton [label]="btnAddText"></button>
    </ng-container>
    <ng-container *ngIf="!EnableNextButton || (EnableNextButton && NextCounter == MaxNextCounter)">
      <button class="cb_base-modal-button__save" (keydown.tab)="onButtonTabKey.emit($event)" #btnSave type="button" [ngClass]="{ 'save': showSkip || btnAddText}" [disabled]="btnSaveDisable || isLoading || closeDisabled" (click)="onSaveDialog.emit(true)" pButton [label]="btnSaveText"></button>
    </ng-container> -->

    <ng-content select="div.base-modal-footer"></ng-content>

  </p-footer>
</p-dialog>
