@import (reference) "custom/function-vars";
@import (reference) "styles";

.cb_username {
  font-weight: 500;

  &:hover {
    height: 26px;
    cursor: pointer;
  }

  &::after {
    content: " @{fa-var-angle-down}";
    font-family: 'Font Awesome 5 Pro';
  }
}
.cb_header-segment_user_symbol {
  display: inline-block;
}
