<div class="cb_content_utils">
    <nav class="cb_content_utils-breadcrumbs">

    <span *ngFor="let item of breadcrumbs; let last = last">
        <a *ngIf="item.path && !last" (click)="goToBreadcrumb(item.path)" class="cb_content_utils-breadcrumbs-step">{{item.title}}</a>
        <span *ngIf="!item.path || last" class="cb_content_utils-breadcrumbs-step current">{{item.title}}</span>
        <span *ngIf="!last">/</span>
    </span>

    </nav>
    <span class="cb_content_utils-clock">{{date}},&nbsp; {{time}} &nbsp;&nbsp;

    <div dropdown class="cb_header-segment_user_symbol">
        <a data-target="#" dropdownToggle>
          <b class="cb_username" *ngIf="user">{{user.FirstName}} {{user.LastName}}</b>
        </a>
        <ul class="dropdown-menu cb_header-submenu--user dropdown-menu-right" *dropdownMenu>
          <li class="cb_header-submenu--user_arrow"></li>
          <li><a [routerLink]="['/profile']" class="cb_header-submenu--user_item">
            My Profile
            <span class="cb_header-submenu--user_item-icon"><img src="assets/svg/profile.svg"></span>
          </a></li>
          <li *ngIf="false"><a href="#" class="cb_header-submenu--user_item">
            Settings
            <span class="cb_header-submenu--user_item-icon"><img src="assets/svg/settings.svg"></span>
          </a></li>
          <li><a [routerLink]="['/logout']" class="cb_header-submenu--user_item">
            Logout
            <span class="cb_header-submenu--user_item-icon"><img src="assets/svg/settings.svg"></span>
          </a></li>
        </ul>
      </div>
    </span>
</div>
