<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>


<div style="postion: fixed; top: 0px; left: 0px; z-level: 1000">
    <p-messages [(value)]="msgs"></p-messages>
    <!-- <p-messages severity="warn" text="No rows returned for Tenant {{ currentTenant }}." style="width:100%;" [ngStyle]="{visibility: tenantError === false ? 'hidden' : 'visible'}"></p-message> -->
</div>

<p-menubar [model]="menuItems">
    <p-dropdown 
        [options]="showRowsList" 
        
        (onChange)="getTotalViews($event)"
        pTooltip="Total records to load."
        tooltipPosition="top"
        ></p-dropdown>
        
    <p-dropdown 
        [options]="showTotal" 
        (onChange)="getTotalRows($event)"
        pTooltip="Records to view per page."
        tooltipPosition="top"
        ></p-dropdown>
    <!-- <p-splitButton  label="Items: {{ rowsToView }}" [model]="showTotal" styleClass="ui-button-secondary"></p-splitButton> -->
</p-menubar>
<p-progressBar [value]="status">Loading</p-progressBar>

<p-table #dt
    [value]="data"
    selectionMode="single" 
    [(selection)]="selectedEvent" 
    (onRowSelect)="onRowSelect($event)"
    [globalFilterFields]="['LogLevel','EntryDT','BID','ID','IpAddress','Message']"
    [paginator]="true"  
    [rows]="rowsToView"
    [columns]="cols" 
    [totalRecords]="totalRecords" 
    (onLazyLoad)="LoadDataLazy($event)"
    >
    <ng-template pTemplate="caption">
            <div style="text-align: right">
                    <i class="pi pi-filter" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>BID</th>
            <th [pSortableColumn]="'IpAddress'">
                IP
                <p-sortIcon [field]="IpAddress"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'EntryDT'">
                Date
                <p-sortIcon [field]="EntryDT"></p-sortIcon>

            </th>
            <th [pSortableColumn]="'LogLevel'">
                Level
                <p-sortIcon [field]="LevelLog"></p-sortIcon>
            </th>
            <th>Event</th>
            <th>Message</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr [pSelectableRow]="data" [ngStyle]="{color: data.LogLevel === 'Error' ? 'red' : 'black' }">
            <td>{{data.ID}}</td>
            <td>{{data.BID}}</td>
            <td>{{data.IpAddress !== "" ? data.IpAddress : "0.0.0.0"}}</td>
            <td>{{data.EntryDT}}</td>
            <td [ngStyle]="{background: data.LogLevel === 'Error' ? 'pink' : 'white'}">{{data.LogLevel}}</td>
            <td>{{data.EventType !== "" ? data.EventType : "None"}}</td>
            <td>{{data.Message.substring(0,25)}}...</td>
            
        </tr>
    </ng-template>
   
    
</p-table>

<p-dialog header="" appendTo="body" [(visible)]="show" [responsive]="true" [modal]="true" showEffect="fade" [style]="{width: '750px', height: '400px'}" >
    <p-header>
        BID: <i>{{eventData.BID}}</i> IP: <b style="color: green">{{eventData.IpAddress || 0.0.0.0}}</b>
    </p-header>
        <b style="font-size: 24px" [ngStyle]="{color: eventData.LogLevel === 'Error' ? 'red' : 'green' }">{{eventData.LogLevel}}</b>
        <h2>ID: {{eventData.ID}}</h2>
        <h3>Message</h3>
        <div>{{eventData.Message}}</div>
        <h3>Exception</h3>
        <div>{{eventData.Exception}}</div>
        <h3>StackTrace</h3>
        <div style="overflow: scroll; height: 200px; font-weight: bold; color: rgba(255,20,20)">{{eventData.StackTrace}}</div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="close()" label="Close"></button>
        </div>
    </p-footer>
</p-dialog>
<router-outlet></router-outlet>

<p-dialog header="Loading All Records" [(visible)]="showAllRecordsWarning" [responsive]="true" [modal]="true" showEffect="fade" [style]="{width: '350px', height: '350px'}">
    <p>Downloading all records, depending on size of database entries, could take a excessive amount of time. Do you wish to Continue?</p>
    <button pButton type="button" label="Continue" (click)="loadAllRecords()"></button>
    <button pButton type="button" label="Cancel" (click)="closeWarning()"></button>
    <p-footer>
            <p-checkbox name="allwaysShowWarning" value="false" label="Do not show this warning again."></p-checkbox>
    </p-footer>
</p-dialog>