.headerStyle
    color: green;

.ui-progressbar
    height: 20px;

body    
    .ui-progressbar
        .ui-progressbar-value
            background: #59af3b;
    .ui-progressbar-determinate
        .ui-progressbar-value
            background: #59af3b;

.ui-dropdown
    margin: 5px;