<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<h1 class="cb_content_primary-headline">New Email Template</h1>
<p class="cb_content_primary-description">Create a new email template.</p>

<form class="cb_form" (ngSubmit)="save()" ngNativeValidate>

  <div class="cb_fieldset">

    <div class="cb_fieldset-field required" [class.error]="templateName.errors && (templateName.dirty || templateName.touched)">
      <label class="cb_fieldset-field_label">File Name <cb-tooltip locationId="email_file_name"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <input class="cb_fieldset-field_input" type="text" [(ngModel)]="template.TemplateName" name="templateName" #templateName="ngModel" required>
        <p class="cb_fieldset-input_error">File Name is required</p>
      </div>
    </div>
  </div>

  <div class="cb_fieldset wide">
    <div class="cb_fieldset-field">
      <label class="cb_fieldset-field_label">Template Content <cb-tooltip locationId="email_template_content"></cb-tooltip></label>
      <ckeditor [(ngModel)]="template.Html" name="html" debounce="500"></ckeditor>
    </div>
  </div>

  <div class="cb_content_submit">
    <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
    <button class="cb_input-keyAction" type="submit">
        <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
        Save
    </button>
  </div>
</form>
