<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<p class="cb_content_primary-headline">Color Groups</p>

<cb-color-groups-table (onLoaded)="onLoaded()"></cb-color-groups-table>
