@import (reference) "custom/colors";
@import (reference) "custom/function-vars";


.cb_sidebar-nav_fa .cb_fa-icons{
    font-size: 20px;
    margin-right: 5px;
    line-height: 42px;
    vertical-align: middle;
    pointer-events: none;
    width: 30px;
    text-align: center;
    margin-top: -3px;
}

.cb_sidebar-nav_fa .cb_fa-icons:hover {
    color: @white;
}

.cb_header-icon {
    font-size: 18px;
    color: @masthead-icon-color;
}
