<!-- <button type="button" class="cb_input-keyAction" (click)="fileupload.click()"> + Upload File</button>
<form>
    <input type="file" #fileupload (change)="onFileChange($event)" multiple style="display:none" />
</form>

<style>
  .cb_table.cb_table-productasset {
    border-collapse: collapse;
  }
  .cb_content_utils-productasset-download {
    text-decoration: none; 
    color: #27acdd;
  }
  .cb_table-row_error,
  .cb_table-col_error, 
  .cb_table.cb_table-productasset tbody .cb_table-col_error:hover td {
    background-color: rgb(249, 212, 212, 0.5)!important;
    border-bottom-color: rgb(241, 182, 182)!important;
    border-top-color: rgb(241, 182, 182)!important;
  }
  .cb_table-col_error {
    padding-left: 30px !important;
    text-align: center;
    font-weight: bold;
    width: 100%;
  }
  .cb_table-row-progress {
    width: 100%;
    font-weight: bold;
    text-align: center;
  }
  .cb_table-row-progress span {
    position: relative;
    z-index: 1;
  }
  .cb_table-file-progress {
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
    background-color: #99CA3B;
    position: absolute;
    height: 40px;
    left: 0px;
    top: 0px;
  }
  .cb_table-file-progress-cancel {
    position: absolute;
    right: 15px;
    top: 10px;
  }
</style>

<table class="cb_table cb_table-productasset">
  <thead>
    <tr>
      <th class="cb_table-col_name">File Name</th>
      <th class="cb_table-col_sm">File Extension</th>
      <th class="cb_table-col_sm">File Size</th>
      <th class="cb_table-col_sm"></th>
      <th class="not-sortable cb_table-col_min"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr [class.cb_table-row_error]="row.HasError">
          <td [hidden]="!row.IsUploading" colspan="5" class="cb_table-row-progress">
            <div [style.width.%]="row.UploadProgress" class="cb_table-file-progress"></div>
            <span>{{row.UploadMessage}} {{row.ProductFile}} <span *ngIf="row.UploadProgress < 100">at {{row.UploadProgress}}%</span></span>
            <a [hidden]="row.UploadProgress == 100" class="cb_table-file-progress-cancel" (click)="cancel(row.XmlHttpRequest)">Cancel</a>
          </td>
          <td [hidden]="row.HasError || row.IsUploading">{{row.ProductFile}}</td>
          <td [hidden]="row.HasError || row.IsUploading">{{row.FileExtension}}</td>
          <td [hidden]="row.HasError || row.IsUploading">{{row.FileSize}}</td>
          <td [hidden]="row.HasError || row.IsUploading"><a [attr.href]="row.FileURI" class="cb_content_utils-productasset-download">Download</a></td>
          <td [hidden]="row.HasError || row.IsUploading" class="cb_table-utils" (click)="delete(row.ProductAssetId)">
            <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg>
          </td>
          <td [hidden]="!row.HasError" colspan="5" class="cb_table-col_error">
            <span>{{row.ErrorMessage}}</span>
          </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<div *ngIf="!total">
  No results for this filter.
</div>

<cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination> -->


<cb-record-search-actions [selected]="downloadsTable.selected" (checked)="downloadsTable.setSelectAll($event)"
  entity="Upload" [buttonIcon]="'fal fa-cloud-upload'"
  (clickButtonEvent)="openUploadModal()">
</cb-record-search-actions>
<cb-table-toolbar
  (onCountChange)="onCountChange($event)"
  [search]="search"
  (onSearchChange)="onSearchChange($event)"
  style="margin-top: 15px;margin-bottom: 15px;"
>
  <ng-content></ng-content>
  <!-- <div>
    <button
      type="button"
      class="cb_input-keyAction"
      [routerLink]="'/ecommerce/storefronts/add'"
      *ngIf="limit && total < limit"
    >
      + New Storefront
    </button>
    <span style="margin-left:15px;" *ngIf="limit"
      >{{ limit - total }} Storefronts Remaining
      <cb-tooltip
        *ngIf="limit && total >= limit"
        locationId="portal_max_storefronts"
      ></cb-tooltip
    ></span>
  </div> -->
</cb-table-toolbar>
<br>
<h5>Displaying: {{filtered.length}} Results</h5>
<cb2-table [value]="filtered" [cols]="cols" [rowActions]="rowActions" [idField]="'ProductAssetId'" #downloadsTable
  (deleteEvent)="delete($event)">
</cb2-table>

<div *ngIf="!total">
  No results for this filter.
</div>