<div class="cb_input-upload" [class.active]="loading" [attr.disabled]="loading">Upload Font
  <input type="file" (change)="onFileChange($event)" accept=".ttf, .ttf, .otf" />
  <img src="/assets/img/ring.gif" *ngIf="loading" style='max-height: 13px;float: left;margin-right: 13px;' />
</div>
