<div class="cb_tabs-header">
  <h2 class="cb_tabs-header_headline">{{title}}</h2>
  <a href="javascript:void(0)" (click)="cancel()" class="cb_tabs-header_return">Return to Values</a>
</div>

<div class="cb_form">

  <div class="cb_fieldset">
    <h3 class="cb_fieldset-headline">Profile Details</h3>

    <div class="cb_fieldset-field">
      <label class="cb_fieldset-field_label">Select Profile</label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select [(ngModel)]="portalProfile.ProfileID">
              <option *ngFor="let profile of profiles" [ngValue]="profile.ProfileId">{{profile.Name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="cb_fieldset-field near">
      <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="IsDefaultAnonymous"><span class="cb_fieldset-field_label--inline_text_content"> Anonymous User</span> <cb-tooltip locationId="portal_anonymous_user"></cb-tooltip></label>
    </div>
    <div class="cb_fieldset-field near">
      <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="IsDefaultRegistered"><span class="cb_fieldset-field_label--inline_text_content"> Registered User</span> <cb-tooltip locationId="portal_registered_user"></cb-tooltip></label>
    </div>
  </div>

</div>

<div class="cb_content_submit">
    <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
    <button class="cb_input-keyAction" (click)="save()">
        <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" /> 
        Save
    </button>
</div>