<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('UrlRedirectId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='UrlRedirectId'"></cb-svg></th>
      <th (click)="sortBy('OldUrl')">From URL <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='OldUrl'"></cb-svg></th>
      <th (click)="sortBy('NewUrl')">TO URL <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='NewUrl'"></cb-svg></th>
      <th class="cb_table-col_active" (click)="sortBy('IsActive')" data-status="true">Active <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='IsActive'"></cb-svg></th>
      <th class="not-sortable cb_table-col_delete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td>
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.UrlRedirectId}}
        </td>
        <td>{{row.OldUrl}}</td>
        <td>{{row.NewUrl}}</td>
        <td [attr.data-status]="row.IsActive"><cb-svg title="Toggle Active State" [icon]="'power'"></cb-svg></td>
        <td class="cb_table-utils">
          <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>