<div *ngIf="tier">

  <div class="cb_tabs-header">
    <h2 class="cb_tabs-header_headline">{{title}}</h2>
    <a href="javascript:void(0)" (click)="cancel()" class="cb_tabs-header_return">&lt; Return to Tiered Pricing</a>
  </div>

  <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>

      <h3 class="cb_fieldset-headline">Tier Pricing Details</h3>

      <div class="cb_fieldset">

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">Select Storefront</label>
          <div class="cb_fieldset-field_wrapper">
            <div class="cb_input-dropdown">
              <select [(ngModel)]="tier.ProfileId" name="profileId">
                <option value="0">All Storefronts</option>
                <option *ngFor="let profile of profiles" [value]="profile.ProfileId">{{profile.Name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="cb_fieldset-field unit price">
          <label class="cb_fieldset-field_label">Price <cb-tooltip locationId="products_price"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <input class="cb_fieldset-field_input" type="text" placeholder="Price" value="{{isNumber(tier.Price)? (tier.Price | number:'1.2-2') : tier.Price}}" #price (blur)="tier.Price=price.value" name="price">
          </div>
        </div>

      </div>

      <div class="cb_fieldset">

        <div class="cb_fieldset-field required" [class.error]="tierStart.errors && (tierStart.dirty || tierStart.touched)">
          <label class="cb_fieldset-field_label">Tier  Start <cb-tooltip locationId="products_tier_start"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Tier Start" [(ngModel)]="tier.TierStart" name="tierStart" #tierStart="ngModel" required>
            <p class="cb_fieldset-input_error">Tier Start is required</p>
        </div>

        <div class="cb_fieldset-field required" [class.error]="tierEnd.errors && (tierEnd.dirty || tierEnd.touched)">
          <label class="cb_fieldset-field_label">Tier End <cb-tooltip locationId="products_tier_end"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Tier End" [(ngModel)]="tier.TierEnd" name="tierEnd" #tierEnd="ngModel" required>
            <p class="cb_fieldset-input_error">Tier End is required</p>
        </div>

      </div>
      <div class="cb_content_submit">
        <button class="cb_input-keyAction cancel" type="button" (click)="cancel()">Cancel</button>
        <button class="cb_input-keyAction" type="submit">
            <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
            Save
        </button>
      </div>

  </form>

</div>
