<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>
<h1 class="cb_content_primary-headline">Settings</h1>

<div class="filter-container">
    <div class="filter-icon">
        <i class="fal fa-filter"></i>
    </div>
    <input type="text" class="cb_input-filter" [(ngModel)]="searchKey">
</div>
<br>
<div class="display-container">
    <h5>Displaying: 0 Result<span *ngIf="false">s</span></h5>
    <span class="collapse-button" (click)="collapseAll()">
        <span>{{isCollapseAll ? 'Expand ' : 'Collapse '}}All</span>
        <i class="fal fa-angle-double-{{isCollapseAll ? 'down' : 'up'}}"></i>
    </span>
</div>

<p-accordion [multiple]="true" [collapseIcon]="'pi pi-fw pi-chevron-up'" [activeIndex]="activeIndex">
    <p-accordionTab [header]="setting.title" *ngFor="let setting of settings">
        <div *ngFor="let child of setting.children" class="setting-row" [routerLink]=child.path>
            <div class="setting-title">{{child.title}}</div>
            <div class="setting-description">{{child.description}}</div>
        </div>
    </p-accordionTab>
</p-accordion>
