
:host ::ng-deep {
    .filter-container {
        display: flex;
        .filter-icon {
            position: absolute;
            margin-top: 7px;
            i {
                width: 30px;
                text-align: center;
                font-size: 14px;
                align-items: center;
                align-self: center;
                color: #cccccc
            }
        }
        .cb_input-filter {
            height: 30px;
        }
    }
    .display-container {
        display: flex;
        justify-content: space-between;
        .collapse-button {
            display: flex;
            cursor: pointer;
            > span {
                font-size: 10px;
                margin-top: 9px;
                margin-right: 5px;
            }
            .fal {
                width: 14px;
                height: 14px;
                border-radius: 3px;
                border: 1px solid #cccccc;
                text-align: center;
                margin-top: 9px;
                margin-bottom: 9px;
            }
        }

    }
    p-accordiontab {
        .ui-accordion-header {
            margin-top: 10px;
            &, &.ui-state-active {
                background-color: #f2f2f2;
                border: 1px solid #f2f2f2;
            }
            &:hover {
                border-color: #deeec1;
                background-color: #eff6e0;
            }
            a {
                padding-top: 11px;
                padding-bottom: 11px;
                padding-left: 0px !important;

                &:focus {
                    outline: none;
                }

                > span {
                    font-size: 14px;
                    top: 0px;
                    &.ui-accordion-header-text > i{
                        text-align: center;
                        margin-right: 8px;
                        margin-left: 13px;
                    }

                }
            }
        }
        .ui-accordion-content {
            padding: 0px;
            .setting-row {
                padding: 14px 40px;
                border-bottom: 1px solid #e6e6e6;
                cursor: pointer;
                &:hover {
                    background-color: #fafafa;
                }
                .setting-title {
                    font-size: 13px;
                    font-weight: 500;
                    color: #99ca3d;
                }
                .setting-description {
                    font-size: 11px;
                }
            }
        }

    }

}



