<div class="cb_alert reveal error major">
  <p class="cb_alert-message">
    <span class="cb_alert-icon">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><path fill="#D95863" d="M50 4C24.6 4 4 24.6 4 50s20.6 46 46 46 46-20.6 46-46S75.4 4 50 4zM54.7 24L54 60.9h-8L45.3 24H54.7zM53.7 77.4C52.8 78.5 51.6 79 50 79s-2.8-0.5-3.7-1.6c-0.9-1.1-1.3-2.3-1.3-3.8 0-1.6 0.4-2.9 1.3-3.9 0.9-1.1 2.2-1.6 3.7-1.6s2.8 0.6 3.7 1.6c0.9 1.1 1.3 2.4 1.3 3.9S54.5 76.4 53.7 77.4z"/></svg>
    </span>
    <ng-content></ng-content>
  </p>
</div>