<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)"
  [filterSearch]="searchFilters" [select]="dataLoaded" [suggestions]="searchSuggestions" (onSelect2Update)="onFilterChange($event)">
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th style="text-align:center;width:90px" (click)="onSort('AccountId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='AccountId'"></cb-svg></th>
      <th (click)="onSort('FirstName')">Full Name <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='FirstName'"></cb-svg></th>
      <th (click)="onSort('PhoneNumber')">Phone # <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='PhoneNumber'"></cb-svg></th>
      <th (click)="onSort('Email')">Email ID <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='Email'"></cb-svg></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows" (click)="gotoDetail(row.AccountId)">
      <td>
        <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
        {{row.AccountId}}
      </td>
      <td>{{row.FirstName}} {{row.LastName}}</td>
      <td>{{row.PhoneNumber | phone}}</td>
      <td>{{row.Email}}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="!response.count">
  No results for this filter.
</div>

<cb-pagination *ngIf="response.count" [count]="response.count" [size]="request.size" [index]="request.index" (pageChange)="onPageChange($event)"></cb-pagination>
