
<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
  <ng-content></ng-content>
  <div>
    <button type="button" class="cb_input-keyAction" [routerLink]="'/ecommerce/styles/add'"> + Add Style</button>
  </div>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('CSSID')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='CSSID'"></cb-svg></th>
      <th (click)="sortBy('Name')">Style <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Name'"></cb-svg></th>
      <th class="not-sortable cb_table-col_delete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="_rows | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="gotoDetail(row.CSSID)">
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.CSSID}}
        </td>
        <td (click)="gotoDetail(row.CSSID)">{{row.Name}}</td>
        <td class="cb_table-utils" (click)="delete(row)">
          <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="_rows.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>