<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Email Templates</h1>
<p class="cb_content_primary-description">An email template defines the look and content of messages sent by the system.</p>

<cb-email-templates-table (onLoaded)="onLoaded()"></cb-email-templates-table>
