<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
<button type="button" class="cb_input-keyAction" (click)="create()">+ Add Product Image</button>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('ProductImageId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ProductImageId'"></cb-svg></th>
      <th class="not-sortable cb_table-col_image">Image</th>
      <th (click)="sortBy('Name')">Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Name'"></cb-svg></th>
      <th (click)="sortBy('ProductImageTypeID')">Image type <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ProductImageTypeID'"></cb-svg></th>
      <th class="not-sortable" [attr.data-status]="true">Product Page</th>
      <th class="not-sortable" [attr.data-status]="true">Collection Page</th>
      <th class="cb_table-col_order" (click)="sortBy('DisplayOrder')">Display Order <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='DisplayOrder'"></cb-svg></th>
      <th class="not-sortable cb_table-col_delete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="goToDetails(row.ProductImageID)">
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.ProductImageID}}
        </td>
        <td (click)="goToDetails(row.ProductImageID)" class="cb_table-cell_image">
          <img *ngIf="row.ImageFile" src="{{row.ImageFile | imagePath: imageRoot}}" />
          <img *ngIf="!row.ImageFile" src="assets/img/noimage.gif" />
        </td>
        <td (click)="goToDetails(row.ProductImageID)">
          {{row.Name}}
        </td>
        <td (click)="goToDetails(row.ProductImageID)">
          {{getProductImageTypeName(row.ProductImageTypeID)}}
        </td>
        <td [attr.data-status]="row.ActiveInd" (click)="goToDetails(row.ProductImageID)">
          <cb-svg title="Active State" [icon]="'checkmark'"></cb-svg>
        </td>
        <td [attr.data-status]="row.ShowOnCategoryPage" (click)="goToDetails(row.ProductImageID)">
          <cb-svg title="Active State" [icon]="'checkmark'"></cb-svg>
        </td>
        <td (click)="goToDetails(row.ProductImageID)">
          {{row.DisplayOrder}}
        </td>
        <td class="cb_table-utils" (click)="delete(row.ProductImageID)">
          <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
