<div class="cb_tabs-header">
  <h2 class="cb_tabs-header_headline">Selections</h2>
</div>

<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
<button type="button" class="cb_input-keyAction" (click)="create()"> + New Add-On Value</button>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('AddOnValueId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='AddOnValueId'"></cb-svg></th>
      <th class="cb_table-col_id" (click)="sortBy('Name')">Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Name'"></cb-svg></th>
      <th class="cb_table-col_sales_price" (click)="sortBy('RetailPrice')">Retail <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='RetailPrice'"></cb-svg></th>
      <th class="cb_table-col_sales_price" (click)="sortBy('SalePrice')">Sale <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='SalePrice'"></cb-svg></th>
      <th class="cb_table-col_price">Wholesale </th>
      <th class="cb_table-col_id">On Hand</th>
      <th class="cb_table-col_order" (click)="sortBy('DisplayOrder')">Order <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='DisplayOrder'"></cb-svg></th>
      <th class="not-sortable cb_table-col_copy"></th>
      <th class="not-sortable cb_table-col_delete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="goToDetails(row.AddOnValueId)">
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.AddOnValueId}}
        </td>
        <td (click)="goToDetails(row.AddOnValueId)">{{row.Name}}</td>
        <td (click)="goToDetails(row.AddOnValueId)">{{row.RetailPrice | currency:'USD':true}}</td>
        <td (click)="goToDetails(row.AddOnValueId)">{{isNumber(row.SalePrice) ? (row.SalePrice | currency:'USD':true) : '' }}</td>
        <td (click)="goToDetails(row.AddOnValueId)">{{isNumber(row.WholesalePrice) ? (row.WholesalePrice | currency:'USD':true) : ''}}</td>
        <td (click)="goToDetails(row.AddOnValueId)">{{row.QuantityOnHand}}</td>
        <td (click)="goToDetails(row.AddOnValueId)">{{row.DisplayOrder}}</td>
        <td class="cb_table-utils">
          <cb-svg title="Duplicate Record" [icon]="'copy'" (click)="copy(row.AddOnValueId)"></cb-svg>
        </td>
        <td class="cb_table-utils" (click)="delete(row.AddOnValueId)">
          <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<div *ngIf="!total">
  No results for this filter.
</div>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
