<p-autoComplete [(ngModel)]="searchText" [suggestions]="searchAccounts" (completeMethod)="onSearch($event)" (onSelect)="onSelect($event)"
    [size]="30" [forceSelection]="true"
    [style]="{'width':'300px'}"
    [dropdown]="true" dropdownIcon="pi pi-chevron-down" dropdownMode="current"
    [placeholder]="placeholder" [minLength]="3">

    <ng-template let-searchText pTemplate="item">
        <div class="ui-helper-clearfix">
            <i class="fal fa-building" *ngIf="searchText.ParentAccountID == null || searchText.ParentAccountID == 0"></i>
            <i class="fal fa-user" *ngIf="searchText.ParentAccountID > 0"></i>
            {{searchText.DisplayName}}
        </div>
    </ng-template>

</p-autoComplete>

<br>
<br>

<p-listbox [options]="selectedItems" readonly="true" [style]="{'width':'300px'}" [class.empty]="selectedItems.length == 0">
    <ng-template let-option let-i="index" pTemplate="item">
        <div class="ui-helper-clearfix">
            <span>
                <i class="fal fa-building" *ngIf="option.value.ParentAccountID == null || option.value.ParentAccountID == 0"></i>
                <i class="fal fa-user" *ngIf="option.value.ParentAccountID > 0"></i>
                {{option.label}} </span>
            <button type="button" class="close" aria-label="Close" (click)="removeItem($event, option)">
                <i class="fal fa-minus-circle"></i>
            </button>
        </div>
    </ng-template>
    <p-footer>
        <!-- <div *ngIf="selectedItems.length > 0">Total: {{selectedItems.length}}</div> -->
        <div *ngIf="selectedItems.length == 0">{{ noItemsLabel }}</div>
    </p-footer>
</p-listbox>



<!-- <p-listbox [options]="selectedOption" [(ngModel)]="selectedOption" multiple="multiple" checkbox="checkbox" filter="filter"
    optionLabel="DisplayName">
    <p-header>
        <i class="fa fa-user"></i>
        Approvers
    </p-header>
</p-listbox>
<span>Approvers: <span *ngFor="let c of selectedOption" style="margin-right: 10px">{{c.DisplayName}}</span></span>
 -->


<!-- <span class="ui-fluid">
    <p-autoComplete [(ngModel)]="selectedOption" [suggestions]="searchAccounts" (completeMethod)="onSearch($event)"
        placeholder="Approver" [minLength]=3 field="DisplayName" [multiple]="true" styleClass="wid100">
    </p-autoComplete>
</span>
<ul>
    <li *ngFor="let account of selectedOption">
        <div>
            <span>{{ account.DisplayName }}</span>
        </div>
    </li>
</ul> -->



<!-- <div class="custom-select">
    <span class="select2 select2-container select2-container--default select2-container--above">
        <span class="selection">
            <span class="select2-selection select2-selection--multiple" (click)="onClickField()">
                <ul class="select2-selection__rendered">
                    <li class="select2-selection__choice" *ngFor="let item of selectedOption; let itemIndex = index" [class.editMode]="isEditMode && item.AccountID == searchEditObj.AccountID">
                        <span (click)="removeItem(itemIndex, item.AccountID)" class="remove-btn">×</span>{{ item.DisplayName}}</li>
                    <li class="select2-selection__choice input-field-container">
                        <input class="cb_fieldset-field_input" [class.selected]="hasSelection" [(ngModel)]="selectedValue"
                    (keyup)="onSearch($event)" (focus)="onFocus()" (blur)="onBlur($event.target.value)" #inputField/>
                    </li>
                </ul>
            </span>
        </span>
    </span>
</div>

<ul class="cb_dropdown-field" *ngIf="showDropdown && searchAccounts.length">
    <li *ngFor="let account of searchAccounts; let accountIndex = index" (mousedown)="(isEditMode || !isIdExist(account.AccountID)) ? onSelect(account, $event) : ''" [class.selected]="searchEditObj && account.AccountID == searchEditObj.AccountID">
        <div>
            <span>{{ account.DisplayName }} <b *ngIf="account.Email && account.ParentAccountID != 0">
                    <{{ account.Email }}>
                </b></span>
        </div>
    </li>
</ul> -->