:host {

    .cb_dropdown-field {
        padding: 0;
        overflow-y: auto;
        max-height: 190px;
        background: #FFF;
        position: absolute;
        list-style: none;
        // top: 61px;
        z-index: 5;
        padding: 5px 0;
        transition: all .5s ease-in-out;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        width: auto;
    }

    .cb_dropdown-field li {
        padding-top: 3px;
        padding-bottom: 3px;
        cursor: pointer;

        &.selected {
            background: #ddd;
        }
    }

    .cb_dropdown-field li:hover {
        background: #6DA721;
    }

    .cb_dropdown-field li:hover div {
        color: #FFF;
    }

    .cb_dropdown-field li div {
        // padding: 0px 40px 0 25px;
        padding: 0px 10px;
        margin: 5px 0;
        color: #333;
        font-size: 14px;
    }

    ::ng-deep p-listbox {
      &:not(.empty) .ui-listbox-list {
        border-top: 1px solid #ccc;
        padding-top: 4px !important;
      }
      .ui-helper-clearfix {
        color: #939393;
        border-bottom: 1px solid #ccc;
        padding-bottom: 4px;
        i {
          color: #666;
          &.fa-building, &.fa-user {
            padding-right: 5px;
          }
        }
        &:hover {
          background-color: #fafafa;
        }
      }
    }

    p-footer div {
      border: solid #e7e7e7;
      border-width: 1px 0;
      padding: 5px 0;
      font-style: italic;
      color: #939393;
    }

    ::ng-deep p-autocomplete {
      input {
        width: 270px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 3px 0 0 3px;
      }
      button.ui-autocomplete-dropdown {
        width: 30px !important;
        height: 30px !important;
        background: transparent;
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 0 3px 3px 0;
        color: #999;
      }
      div.ui-autocomplete-panel {
        background: #fff;
        .ui-autocomplete-items .ui-autocomplete-list-item.ui-state-highlight {
          color: #666;
          background-color: #f2f2f2;
        }
      }
    }
}
.custom-select {
    .select2-container {
        padding: 0px;
        width: 100%;
    }
    .remove-btn {
        padding-right: 2px;
        cursor: pointer;
    }
    .select2-selection__choice.input-field-container {
        background-color: white;
        color: black;
        border-color: white;

        input {
            width: 150px;
            height: 21px;
            color: black;
            border: 0px;
            padding: 0px;
        }

        input:before {
            background: white;
        }

        input:focus {
            outline-width: 0;
        }
    }

    .select2-selection__choice.editMode {
        display: none;
    }

}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    visibility: hidden;
    .ui-helper-clearfix:hover & {
      visibility: visible;
  }
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
