<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Customer Reviews</h1>
<p class="cb_content_primary-description">Approve or disable reviews submitted by customers.</p>

<cb-reviews-table (onLoaded)="onLoaded()"></cb-reviews-table>
