.payment-settings-error {
  font-size: 14px;
  line-height: 1.4;
  color: #d95863;
  margin-top: 5px;
  animation: fade 5s linear;
  opacity: 0;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  50% {
    opacity: 1;
  }
}

.credit-card-container {
  display: flex;
  margin: 0 50px;
  .credit-card-col {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}
