<!-- <table class="cb_table" [ngStyle]="{'min-width': '300px'}">
    <thead>
      <tr>
        <th>Payment Type</th>
        <th class="not-sortable cb_table-col_delete">Active</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-row [ngForOf]="_rows" let-i="index">
        <tr>
          <td>{{row.PaymentTypeName}}</td>
          <td (click)="toggleActivation(row)" class="centerAlign" [attr.data-status]="row.ActiveInd"><cb-svg title="Toggle Active State" [icon]="'power'"></cb-svg></td>
        </tr>
      </ng-template>
    </tbody>
</table> -->
<div *ngFor="let row of _rows">
  <cbx-toggle
    [name]="row.PaymentTypeName"
    (ngModelChange)="toggleActivation(row)"
    [optionOneLabel]="
      row.PaymentTypeName == 'Credit Card'
        ? row.PaymentTypeName + 's'
        : row.PaymentTypeName
    "
    [optionTwoLabel]="' '"
    class="payment-type-toggle"
    [(ngModel)]="row.ActiveInd"
    [disabled]="
      row.PaymentTypeName != 'On Account' && portal.PortalSetting.EnableOrderApproval
    "
  >
  </cbx-toggle>
  <div
    *ngIf="row.PaymentTypeName == 'Credit Card'"
    class="credit-card-container"
  >
    <div class="credit-card-col">
      <cbx-checkbox
        name="amex"
        label="American Express"
        [(ngModel)]="row.EnableAmex"
        [disabled]="!row.ActiveInd || portal.PortalSetting.EnableOrderApproval"
        (ngModelChange)="onValidate.emit(saveState)"
      ></cbx-checkbox>
      <cbx-checkbox
        name="mastercard"
        label="Mastercard"
        [(ngModel)]="row.EnableMasterCard"
        [disabled]="!row.ActiveInd || portal.PortalSetting.EnableOrderApproval"
        (ngModelChange)="onValidate.emit(saveState)"
      ></cbx-checkbox>
    </div>
    <div class="credit-card-col">
      <cbx-checkbox
        name="discover"
        label="Discover"
        [(ngModel)]="row.EnableDiscover"
        [disabled]="!row.ActiveInd || portal.PortalSetting.EnableOrderApproval"
        (ngModelChange)="onValidate.emit(saveState)"
      ></cbx-checkbox>
      <cbx-checkbox
        name="visa"
        label="Visa"
        [(ngModel)]="row.EnableVisa"
        [disabled]="!row.ActiveInd || portal.PortalSetting.EnableOrderApproval"
        (ngModelChange)="onValidate.emit(saveState)"
      ></cbx-checkbox>
    </div>
  </div>
  <hr class="cb_form-divider" />
</div>
<p class="payment-settings-error" *ngIf="toggledError">
  When Approvals are enabled, only the “On Account” payment type can be enabled.
</p>
