<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="!css">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<div *ngIf="css">
  <h1 class="cb_content_primary-headline">{{title}}</h1>
  <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>

    <div class="cb_fieldset near">
      <h3 class="cb_fieldset-headline">Style Name</h3>
      <div class="cb_fieldset-field noBottomMargin required" [class.error]="name.errors && (name.dirty || name.touched)">
        <input class="cb_fieldset-field_input" placeholder="Style Name" [(ngModel)]="css.Name" name="name" #name="ngModel" required>
        <p class="cb_fieldset-input_error">Style Name is required</p>
      </div>
    </div>

		<hr class="cb_form-divider empty">

    <h3 class="cb_fieldset-headline">Fonts</h3>

    <div class="cb_fieldset noBottomMargin">
      <div class="cb_fieldset-field required">
          <label class="cb_fieldset-field_label">Font Family</label>
          <div class="cb_fieldset-field_wrapper">
              <div class="cb_input-dropdown">
                  <select [(ngModel)]="css.StyleDictionary['base-font-family']" name="baseFontFamily">
                      <option value="0" disabled="disabled">Select</option>
                      <option value='"Times New Roman", Times, serif'>Times New Roman</option>
                      <option value='Arial, Helvetica, sans-serif'>Arial</option>
                      <option value='"Lucida Console", Monaco, monospace'>Lucida Console</option>
                  </select>
              </div>
          </div>
      </div>
    </div>

    <div class="cb_fieldset noBottomMargin">
      <div class="cb_fieldset-field required">
          <label class="cb_fieldset-field_label">Font Size</label>
          <div class="cb_fieldset-field_wrapper">
              <div class="cb_input-dropdown">
                  <select [(ngModel)]="css.StyleDictionary['base-font-size']" name="baseFontSize">
                      <option value="0" disabled="disabled">Select</option>
                      <option value="8px">8px</option>
                      <option value="10px">10px</option>
                      <option value="12px">12px</option>
                      <option value="14px">14px</option>
                      <option value="16px">16px</option>
                      <option value="18px">18px</option>
                  </select>
              </div>
          </div>
      </div>
    </div>

		<hr class="cb_form-divider empty">

    <h3 class="cb_fieldset-headline">Colors</h3>

		<div class="cb_fieldset">

      <div class="cb_fieldset-field required">
       	<label class="cb_fieldset-field_label">Header Background</label>
         <input class="cb_fieldset-field_input" colorpicker [color]="css.StyleDictionary['header-bg-color']" (onUpdate)="setHexCode($event, ['header-bg-color'])"/>
      </div>

      <div class="cb_fieldset-field required">
       	<label class="cb_fieldset-field_label">Header Text</label>
         <input class="cb_fieldset-field_input" colorpicker [color]="css.StyleDictionary['heading-text-color']" (onUpdate)="setHexCode($event, ['heading-text-color','button-wishlist-color','button-bg-boulder-wishlist','checkbox-radio-label'])"/>
      </div>


      <div class="cb_fieldset-field required">
       	<label class="cb_fieldset-field_label">Navigation Background</label>
         <input class="cb_fieldset-field_input" colorpicker [color]="css.StyleDictionary['header-nav-bg-color']" (onUpdate)="setHexCode($event, ['header-nav-bg-color'])"/>
      </div>

      <div class="cb_fieldset-field required">
       	<label class="cb_fieldset-field_label">Navigation Hover</label>
         <input class="cb_fieldset-field_input" colorpicker [color]="css.StyleDictionary['nav-link-hover-bg']" (onUpdate)="setHexCode($event, ['nav-link-hover-bg'])"/>
      </div>


    </div>

    <div class="cb_fieldset">

      <div class="cb_fieldset-field required">
       	<label class="cb_fieldset-field_label">Input Text Color</label>
         <input class="cb_fieldset-field_input" colorpicker [color]="css.StyleDictionary['input-text-color']" (onUpdate)="setHexCode($event, ['input-text-color','color-select-shark'])"/>
      </div>

      <div class="cb_fieldset-field required">
       	<label class="cb_fieldset-field_label">Button Primary</label>
         <input class="cb_fieldset-field_input" colorpicker [color]="css.StyleDictionary['button-bg-primary']" (onUpdate)="setHexCode($event, ['button-bg-primary','checkbox-radio-color','base-color-primary','required-star'])"/>
      </div>

      <div class="cb_fieldset-field required">
       	<label class="cb_fieldset-field_label">Button Secondary</label>
         <input class="cb_fieldset-field_input" colorpicker [color]="css.StyleDictionary['button-bg-secondary']" (onUpdate)="setHexCode($event, ['button-bg-secondary','base-color-secondary'])"/>
      </div>

      <div class="cb_fieldset-field required">
       	<label class="cb_fieldset-field_label">Footer Background</label>
         <input class="cb_fieldset-field_input" colorpicker [color]="css.StyleDictionary['footer-bg-color']" (onUpdate)="setHexCode($event, ['footer-bg-color'])"/>
      </div>

      <div class="cb_fieldset-field required">
       	<label class="cb_fieldset-field_label">Footer Text</label>
         <input class="cb_fieldset-field_input" colorpicker [color]="css.StyleDictionary['footer-default-text-color']" (onUpdate)="setHexCode($event, ['footer-news-letter-bg','footer-default-text-color','footer-payment-icon'])"/>
      </div>

    </div>

    <hr class="cb_form-divider empty">

    <h3 class="cb_fieldset-headline">Preview</h3>

    <cb-styles-preview [dictionary]="css.StyleDictionary"></cb-styles-preview>

    <div class="cb_content_submit">
      <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
      <button class="cb_input-keyAction" type="submit">
          <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
          Save
      </button>
    </div>
  </form>
</div>
