<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<h1 class="cb_content_primary-headline">New Color Group</h1>
<form class="cb_form" (ngSubmit)="save()" ngNativeValidate>
  <div class="cb_fieldset">
    <div class="cb_fieldset-field required" [class.error]="name.errors && (name.dirty || name.touched)">
      <label class="cb_fieldset-field_label">Color Group Name</label>
      <input class="cb_fieldset-field_input" [(ngModel)]="colorGroup.name" name="name" #name="ngModel" required />
      <p class="cb_fieldset-input_error">Color Group Name is required</p>
    </div>
  </div>
  <div class="cb_content_submit">
      <button class="cb_input-keyAction cancel" (click)="cancel()" type="button">Cancel</button>
      <button class="cb_input-keyAction" type="submit">
          <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
          Save
      </button>
  </div>
</form>
