@import (reference) "custom/colors";

:host ::ng-deep {
    table {
        thead {
            tr {
                background-color: #f3f3f3;
                th:nth-child(2) {
                    width: 10em;
                }
                th:nth-child(n+3) {
                    text-align:center;
                }
            }
        }
        tbody {
            tr {
                height: 46px;
                border-bottom: 1px solid #e7e7e7;
                td {
                    &:nth-child(n+3) {
                        text-align:center;
                    }
                    i.fas.fa-star {
                        font-size: 10px;
                        position: relative;
                        top: -1px;
                        left: 3px;
                        body.mistype-0 & {
                            color: #99ca3d;
                        }
                        body.mistype-1 & {
                            color: #2f82af;
                        }
                    }
                    button.cb_popover-button.cb-row-menu-trigger {
                      width: 100%
                    }
                    .popover-content {
                        padding: 5px;
                        width: 125px;
                        ul {
                          margin-bottom: 0;
                          li {
                            cursor: pointer;
                            color: @gray-6 !important;
                            &:hover {
                              background-color: @gray-2;
                            }
                            width: 125px;
                          }
                          cb-icon {
                            padding: 0 10px;
                          }
                        }
                      }

                }
            }
            tr.row-add {
                &:hover {
                    background-color: white !important;
                }
                .add-btn {
                    cursor: pointer;
                    font-style: italic;
                    color: #999999;
                }
            }
        }
    }

    .available-dates {
        tr {
            th:nth-child(2) {
                width: unset;
            }
            th:nth-child(n+3), td:nth-child(n+3) {
                text-align: unset;
            }
            td:nth-child(n+4) {
                text-align: unset;
            }
        }
    }
}

cbx-dropdown::ng-deep {
    width: 130px;
    min-width: 130px;

    input {
        width: 90px;
    }

    .cbx-dropdown-menu {
        .cbx-dropdown-item {
            min-height: 30px;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
    }
}
