<!-- <table class="cb_table">
    <thead>
      <tr>
        <th>Country</th>
        <th class="not-sortable cb_table-col_delete" [ngStyle]="{'width': '150px'}">Billing Address</th>
        <th class="not-sortable cb_table-col_delete" [ngStyle]="{'width': '150px'}">Shipping Address</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-row [ngForOf]="_rows" let-i="index">
        <tr>
          <td>{{row.CountryName}}</td>
          <td (click)="toggleBillingAddress(row)" class="centerAlign" [attr.data-status]="row.IsBillingActive"><cb-svg title="Toggle Billing Address State" [icon]="'power'"></cb-svg></td>
          <td (click)="toggleShippingAddress(row)" class="centerAlign" [attr.data-status]="row.IsShippingActive"><cb-svg title="Toggle Shipping Address State" [icon]="'power'"></cb-svg></td>
        </tr>
      </ng-template>
    </tbody>
</table> -->     
<div class="table-component-container">
    <p-table [columns]="cols" [value]="_rows" [styleClass]="'cb_turbotable'">
      <ng-template pTemplate="header" let-columns>
        <tr>
        <th style="width: 1em"></th>
          <th
            *ngFor="let col of columns;"
          >
            {{ col.header }}
          </th>
          <th style="width: 3em"></th>
        
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr>
          <td> </td>
          <td *ngFor="let col of columns">
                <span *ngIf="col.field == 'CountryName'">
                    {{ rowData[col.field] }} 
                    <i class="fas fa-star" *ngIf="rowData['isDefault']"></i>
                  </span>
                  <span *ngIf="col.field == 'IsBillingActive'">
                    <cbx-checkbox [name]="col.field" [(ngModel)]="rowData[col.field]" (click)="toggleBillingAddress(rowData)"></cbx-checkbox>
                  </span>
                  <span *ngIf="col.field == 'IsShippingActive'">
                    <cbx-checkbox [name]="col.field" [(ngModel)]="rowData[col.field]" (click)="toggleShippingAddress(rowData)"></cbx-checkbox>
                  </span>
          </td>
          <td> 
              <ng-template #popTemplate>
                  <ul>
                      <li (click)="makeDefaultCountry(rowData)" *ngIf="rowActions.includes(rowAction.MakeDefault)"><cb-icon [icon]="'fal fa-star'"></cb-icon> Make Default</li>
                      <li (click)="removeCountry(rowData)" *ngIf="rowActions.includes(rowAction.Remove)"><cb-icon [icon]="'fal fa-minus-circle'"></cb-icon> Remove</li>
                  </ul>
                </ng-template>
                <button type="button" class="cb_popover-button cb-row-menu-trigger" class="cb_popover-button cb-row-menu-trigger" *ngIf="rowActions.length > 0"
                    [popover]="popTemplate" [outsideClick]="true" placement="bottom">
                    <i class="fal fa-ellipsis-v-alt"></i>
                </button>
      
      

          </td>

          
        </tr>
        <tr *ngIf="rowIndex == _rows.length - 1 && _rows.length < 4" class="row-add">
          <td></td>
          <td>
            <span *ngIf="!isAddMode" (click)="onEnableAdd()" class="add-btn">
              + Country
            </span>
            <cbx-dropdown *ngIf="isAddMode" name="countrySelected" [options]="filteredCountries" (onSelect)="addCountry($event)"></cbx-dropdown>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  