<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">{{fontGroup.name}}</h1>
<cb-tabs (tabChange)="onTabChange($event)">
  <cb-tab [title]="'General'" slug="general">
    <p class="cb_content_primary-headline"> General </p>
    <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>
      <div class="cb_fieldset">
        <div class="cb_fieldset-field required" [class.error]="name.errors && (name.dirty || name.touched)">
          <label class="cb_fieldset-field_label">Font Group Name</label>
          <input class="cb_fieldset-field_input" [(ngModel)]="fontGroup.name" name="name" #name="ngModel" required />
          <p class="cb_fieldset-input_error">Font Group Name is required</p>
        </div>
      </div>
      <div class="cb_content_submit">
          <button class="cb_input-keyAction cancel" (click)="cancel()" type="button">Cancel</button>
          <button class="cb_input-keyAction" type="submit">
              <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="saving" />
              Save
          </button>
      </div>
    </form>
  </cb-tab>
  <cb-tab [title]="'Associated Fonts'" slug="associate">
    <p class="cb_content_primary-headline">Associated Fonts</p>
    <cb-font-group-links-table [fontGroup]="fontGroup"></cb-font-group-links-table>
  </cb-tab>
</cb-tabs>
