::ng-deep {
  .ui-dialog-content {
    margin-left: 0px;
    .cb_tabs {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }

    .ui-fileupload-buttonbar {
      .ui-fileupload-choose {
        width: 100%;
        height: 200px;
        border: 2px dashed #dbdbdb;
        .ui-button-icon-left {
          display: none;
        }

        .ui-button-text {
          top: 45%;
          position: relative;
          .choose {
            color: #1b9ad7;
            text-decoration-line: underline;
          }
        }
      }
      p-button[type="button"] {
        display: none;
      }
    }

    .hasFiles .ui-fileupload .ui-fileupload-buttonbar .ui-fileupload-choose {
      height: 59px;
    }

    .upload-via-url-container {
      display: flex;
      button {
        margin-left: 10px;
        border-radius: 4px;
        width: 100px;
      }
    }

    .ui-fileupload-content.ui-widget-content.ui-corner-bottom {
      display: none;
    }

    .cb_filename-label, .cb_via-url-label {
        font-weight: 500;
        color: #939393;
    }

    .file-upload-progress {
      position: relative;
      min-height: 1px;
      padding-left: 10px;
      float: left;
      width: 100%;
      height: 140px;
      overflow-y: scroll;
      padding-right: 30px;
      margin-top: 20px;

      &::-webkit-scrollbar {
          width: 5px;
      }
      &::-webkit-scrollbar-thumb {
          background: #666;
          border-radius: 20px;
      }
      &::-webkit-scrollbar-track {
          background-color: #f2f2f2;
          border-radius: 20px;
      }

      .file-upload-item {
          margin-bottom: 20px;
          p {
              font-size: 14px;
              margin-bottom: 0px;
              color: #939393;
          }
      }

      .progress {
          height: 6px;
          margin-bottom: 5px;
      }

      .progress-info {
          font-weight: 300;
          color: #939393;
      }
    }

  }
}
