<cb-flex-modal (onCloseDialog)="close($event)" [displayDialog]="displayDialog" [modalTitle]="'Upload File'"
  [buttonTexts]="{ cancelText: 'Cancel', saveAndClose: 'Done' }" [contentStyle]="contentStyle"
  [isSubmitValid]="(uploadedFiles.length && !isFileUploading) || isSubmitValid">


  <div class="flex-modal-body-content" [style.width.px]="640">
    <cb-tabs>
      <cb-tab [title]="'Upload'" slug="upload">
        <div class="file-upload-progress" *ngIf="isFileUploading || uploadedFiles.length">
          <!--file uploads-->
          <div class="file-upload-item" *ngFor="let item of uploadedFiles.concat(uploadingFiles)">
            <p class="cb_filename-label">{{ item?.ProductFile }}</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.UploadProgress + '%' }"></div>
            </div>
            <div class="progress-info">
                <span *ngIf="!item.IsUploading">
                  {{item.FileSize}} of {{item.FileSize}} ({{item.UploadProgress}}% done)
                </span>
                <span *ngIf="item.IsUploading">
                  {{item["UploadedSize"]}} of {{item.FileSize}} ({{item.UploadProgress}}% done)
                </span>
            </div>
          </div>
        </div>

        <cbx-checkbox name="replaceFile" label="Replace file(s) if already exists"></cbx-checkbox>

        <p-fileUpload name="myfile[]" multiple="multiple" accept="image/*" customUpload="true" (onUpload)="onUpload($event)"
                      (onError)="onError($event)" (onProgress)="onProgress($event)" (onSelect)="onSelect($event)"
                      (onRemove)="onRemove($event)" [class.hasFiles]="isFileUploading || uploadedFiles.length"
        >
          <!-- <ng-template pTemplate="toolbar">
            <div>Upload 3 Files</div>
          </ng-template>
          <ng-template let-file pTemplate="file">
            <div>Custom UI to display a file</div>
          </ng-template>
          <ng-template pTemplate="content">
            <div>Custom UI to manage uploaded files</div>
          </ng-template> -->
        </p-fileUpload>
        <br>
        <h5>Upload Via URL</h5>
        <div class="upload-via-url-container">
          <input
          class="cb_fieldset-field_input"
          placeholder="Copy and Paste URL"
          type="text"
          />
          <button class="btn-primary btn" disabled="true">Upload</button>
        </div>
      </cb-tab>

      <cb-tab [title]="'Files'" slug="files">
        <h1>Files</h1>
      </cb-tab>
    </cb-tabs>

  </div>

</cb-flex-modal>
