@import (reference) "custom/colors";
@import (reference) "custom/function-vars";

.store-theme-dialog-header {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;

  button {
    color: @white;
    outline: none;
    background: transparent;
    border: none !important;

    &:hover {
      background: fade(@blue-gray-1, 40%);
    }

    &.back {
      font-size: @font-size-large;
    }

    &.icon {
      font-size: 20px;
      padding: 0;
    }
  }
}

.store-theme-dialog-content {
  padding: 30px;
  height: 100%;
  display: flex;
  .customize-theme-form-container {
    width: 378px;
    .form-headline {
      font-size: 20px;
      font-family: Roboto;
    }

    .tab-container {
      .cb_tabs-navigation {
        width: 348px;
      }
    }
  }
  .cb_input-keyAction {
    margin-left: 0;
    margin-right: 0;;
  }
  .preview-container {
    width: 90%;
    iframe, textarea {
      width: 100%;
      height: 100%;
    }
  }
}

cb-tabs::ng-deep .cb_tabs {
  margin-left: 0px;
  margin-right: 30px;

  .cb_fieldset-headline {
    margin-top: 0px;
    padding: 15px 0px 3px;
    svg {
      top: -1px;
    }
  }

  nav.cb_tabs-navigation {
    margin-bottom: 21px;
  }

  cb-tab {
    .cb_tabs-content > .cb_content_primary {
      padding-left: 0px;
      padding-right: 0px;
      .cb_fieldset {
        width: 100%;
        .form-control-float-wrapper {
          margin-right: 20px;
          input.cb_fieldset-field_input {
            width: 290px;
          }
          p-colorpicker {
            margin-left: 8px;
            position: relative;
            input.ui-colorpicker-preview {
              width: 30px;
              border-radius: 3px;
              border: 1px solid;
            }
          }
        }
        .cb_input-dropdown {
          height: 30px;
          margin-right: 20px;
        }
      }
      .cb_form-divider {
        margin-bottom: 21px;
      }
    }
  }
}
