<cb-full-size-modal
  #previewDialog
  (onCloseDialog)="displayDialog = false"
  (onCancelDialog)="displayDialog = false"
  [displayDialog]="displayDialog"
>
  <div class="store-theme-dialog-header line-item-detail-header">
    <button
      pButton
      class="black back"
      (click)="closeDialog()"
      icon="fal fa-arrow-left"
      label="Back"
    ></button>
  </div>

  <div class="store-theme-dialog-content line-item-detail-content">
    <div class="customize-theme-form-container">
      <h1 class="form-headline">{{ store.StoreName }} Theme</h1>
      <div class="tab-container">
        <cb-tabs>
          <cb-tab [title]="'Styles'" slug="styles">
            <form class="cb_form" (ngSubmit)="saveContentSection()" ngNativeValidate>
              <h3 class="cb_fieldset-headline">
                Template Preview
                <cb-tooltip class="pull-right"></cb-tooltip>
              </h3>
              <hr class="cb_form-divider" />
              <div class="cb_fieldset">
                <div
                  class="cb_fieldset-field required"
                  [class.error]="
                    companyName.errors &&
                    (companyName.dirty || companyName.touched)
                  "
                >
                  <div class="form-control-float-wrapper">
                    <input
                      class="cb_fieldset-field_input"
                      type="text"
                      [(ngModel)]="store.CompanyName"
                      name="companyName"
                      #companyName="ngModel"
                      required
                      [ngClass]="store.CompanyName ? 'cb_input-value' : 'cb_input-empty'"
                    />
                    <span class="floating-label"
                      >Preview Page <span class="required-label">*</span></span
                    >
                  </div>
                  <p class="cb_fieldset-input_error">
                    Preview Page is required
                  </p>
                </div>

                <div *ngIf="css && css.StyleDictionary">
                  <h3 class="cb_fieldset-headline">
                    Fonts
                    <cb-tooltip class="pull-right"></cb-tooltip>
                  </h3>
                  <hr class="cb_form-divider" />

                  <!-- <div class="cb_fieldset-field">
                    <div class="form-control-float-wrapper">
                      <input
                        class="cb_fieldset-field_input"
                        type="text"
                        [(ngModel)]="css.StyleDictionary['base-font-family']"
                        (blur)="onBlur($event)"
                        name="fontFamily"
                        #fontFamily="ngModel"
                        required
                      />
                      <span class="floating-label">Font Family</span>
                    </div>
                  </div> -->

                  <!--  -->
                  <div class="cb_fieldset-field">
                    <div class="cb_fieldset-field_wrapper">
                      <div class="cb_input-dropdown">
                        <select
                          [(ngModel)]="css.StyleDictionary['base-font-family']"
                          [style.font-family]="
                            css.StyleDictionary['base-font-family']
                          "
                          (change)="selectFontFamily()"
                          name="fontFamily"
                          #fontFamily="ngModel"
                        >
                          <option value="0" disabled="disabled">Select</option>
                          <option
                            value='"Times New Roman", Times, serif'
                            style="font-family: 'Times New Roman'"
                            >Times New Roman</option
                          >
                          <option value="Arial" style="font-family: 'Arial'"
                            >Arial</option
                          >
                          <option
                            value='"Lucida Console", Monaco, monospace'
                            style="font-family: 'Lucida Console'"
                            >Lucida Console</option
                          >
                        </select>
                      </div>
                      <span class="floating-label">Font Family</span>
                    </div>
                  </div>

                  <div class="cb_fieldset-field">
                    <div class="cb_fieldset-field_wrapper">
                      <div class="cb_input-dropdown">
                        <select
                          [(ngModel)]="css.StyleDictionary['base-font-size']"
                          name="fontSize"
                          #fontSize="ngModel"
                        >
                          <option value="0" disabled="disabled">Select</option>
                          <option value="8px">8px</option>
                          <option value="10px">10px</option>
                          <option value="12px">12px</option>
                          <option value="14px">14px</option>
                          <option value="16px">16px</option>
                          <option value="18px">18px</option>
                        </select>
                      </div>
                      <span class="floating-label">Font Size</span>
                    </div>
                  </div>
                  <!--  -->
                  <!-- <div class="cb_fieldset-field">
                    <div class="form-control-float-wrapper">
                      <input
                        class="cb_fieldset-field_input"
                        type="text"
                        [(ngModel)]="css.StyleDictionary['base-font-size']"
                        (blur)="onBlur($event)"
                        name="fontSize"
                        #fontSize="ngModel"
                        required
                      />
                      <span class="floating-label">Font Size</span>
                    </div>
                  </div> -->
                  <h3 class="cb_fieldset-headline">
                    Colors
                    <cb-tooltip class="pull-right"></cb-tooltip>
                  </h3>
                  <hr class="cb_form-divider" />


                  <store-theme-color-bar (update)="styleChange($event)" name="Header Background" cssClassName='header-bg-color' [cssStyle]="css.StyleDictionary['header-bg-color']" cssElement="headerBackground"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Heading Text" cssClassName='heading-text-color' [cssStyle]="css.StyleDictionary['heading-text-color']" cssElement="headerText"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Top Navigation Background" cssClassName='top-header-nav-bg-color' [cssStyle]="css.StyleDictionary['top-header-nav-bg-color']" cssElement="topNavBgColor"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Top Navigation Text Color" cssClassName='top-header-nav-text' [cssStyle]="css.StyleDictionary['top-header-nav-text']" cssElement="topNavTextColor"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Top Navigation Hover" cssClassName='top-header-nav-link-hover-bg' [cssStyle]="css.StyleDictionary['top-header-nav-link-hover-bg']" cssElement="topNavLinkHover"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Navigation Background" cssClassName='header-nav-bg-color' [cssStyle]="css.StyleDictionary['header-nav-bg-color']" cssElement="navigationBackground"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Navigation Hover" cssClassName='nav-link-hover-bg' [cssStyle]="css.StyleDictionary['nav-link-hover-bg']" cssElement="navigationHover"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Input Text Color" cssClassName='input-text-color' [cssStyle]="css.StyleDictionary['input-text-color']" cssElement="inputTextColor"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Button Primary" cssClassName='button-bg-primary' [cssStyle]="css.StyleDictionary['button-bg-primary']" cssElement="buttonPrimary"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Button Secondary" cssClassName='button-bg-secondary' [cssStyle]="css.StyleDictionary['button-bg-secondary']" cssElement="buttonSecondary"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Footer Background" cssClassName='footer-bg-color' [cssStyle]="css.StyleDictionary['footer-bg-color']" cssElement="footerBackground"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Footer Text" cssClassName='footer-default-text-color' [cssStyle]="css.StyleDictionary['footer-default-text-color']" cssElement="footerText"></store-theme-color-bar>
                  <store-theme-color-bar (update)="styleChange($event)" name="Default Hover" cssClassName='nav-link-hover-bg' [cssStyle]="css.StyleDictionary['nav-link-hover-bg']" cssElement="defaultHover"></store-theme-color-bar>

                </div>
              </div>
            </form>
          </cb-tab>
          <cb-tab [title]="'Content'" slug="content" #tabContent>
            <form class="cb_form" (ngSubmit)="saveContentSection()" ngNativeValidate>
              <h3 class="cb_fieldset-headline">
                Content Sections
                <cb-tooltip class="pull-right"></cb-tooltip>
              </h3>
              <hr class="cb_form-divider" />
              <div class="cb_fieldset">
                <div class="cb_fieldset-field">
                  <cb-tooltip locationId="undefined" class="pull-right"></cb-tooltip>
                  <div class="cb_fieldset-field_wrapper">
                    <cbx-dropdown name="selectContentSection" dataValue="ID" dataText="Name" label="Section Name" [options]="contentSections"
                      (onSelect)="setContentStation($event)" [selectedColor]="misType === 1 ? '#cae1ed' : '#e3f0c9'"></cbx-dropdown>
                  </div>
                </div>
                <button class="cb_input-keyAction cb_input-default" type="button" (click)="editContent = true" *ngIf="contentSection && !editContent">Edit HTML</button>
                <ng-container *ngIf="contentSection && editContent">
                  <button class="cb_input-keyAction cancel" (click)="editContent = false">Cancel</button>
                  <button class="cb_input-keyAction cb_input-default pull-right">Save HTML</button>
                </ng-container>

              </div>
            </form>
          </cb-tab>
        </cb-tabs>
      </div>
    </div>
    <div class="preview-container">
      <app-store-theme-preview [styleData]="styleData" [class.hidden]="tabContent.active"></app-store-theme-preview>
      <ng-container *ngIf="tabContent.active && contentSection">
        <iframe *ngIf="!editContent" [srcdoc]="contentSection?.HtmlContent"></iframe>
        <textarea *ngIf="editContent" class="cb_fieldset-field_textarea" [(ngModel)]="contentSection.HtmlContent"></textarea>
      </ng-container>
    </div>
  </div>


</cb-full-size-modal>
