<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<h1 class="cb_content_primary-headline">New Product</h1>
<div class="cb_content_primary-description-container">
  <div class="exclamation-icon">
    <i class="fal fa-exclamation-circle" aria-hidden="true"></i>
  </div>
  <div class="cb_content_primary-description">
    Create a new product. After the new product is created, edit the record to
    configure advanced settings.
  </div>
</div>

<!-- <form class="cb_form" (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()" ngNativeValidate #productForm="ngForm"> -->
<div>
  <cb-product-tab-detail #productDetail [product]="product" [sku]="sku" [productInfo]="productInfo"
    [shippingRuleTypes]="shippingRuleTypes" [taxClasses]="taxClasses" [settings]="settings" (onValidate)="validate($event, productDetail.ngForm)">
  </cb-product-tab-detail>
</div>

<!-- <div class="cb_content_submit">
  <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
  <button class="cb_input-keyAction" (click)="save()" [disabled]="productDetail.ngForm?.pristine || productDetail.ngForm?.invalid">
      <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
      Save
  </button>
</div> -->

<cb-autosave-bar style="display: block;"
  [isNewEntity]="true"
  [isManualSave]="true"
  (clickCancel)="cancel()"
  (clickClose)="cancel()"
  (clickSave)="productDetail.ngForm?.pristine || productDetail.ngForm?.invalid ? focusInvalid() : save()"
  [state]="saveState" >
</cb-autosave-bar>
