<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<h1 class="cb_content_primary-headline">My Profile</h1>
<p class="cb_content_primary-description">Profile details are viewable in the Ecommerce module and editable in your MIS.</p>

<div class="cb_display">
	<div class="cb_display-segment">
		<p class="cb_display-segment_heading">User Details</p>
		<p class="cb_display-segment_label">First Name</p>
		<p class="cb_display-segment_value">{{user.FirstName}}</p>
		<p class="cb_display-segment_label">Last Name</p>
		<p class="cb_display-segment_value">{{user.LastName}}</p>
		<p class="cb_display-segment_label">Username</p>
		<p class="cb_display-segment_value">{{user.UserName}}</p>
		<p class="cb_display-segment_label">Date of Birth</p>
		<p class="cb_display-segment_value">{{ user.BirthDate | date:"MM/dd/yy" }}</p>
		<p class="cb_display-segment_label">Anniversary</p>
		<p class="cb_display-segment_value">{{ user.AnniversaryDate | date:"MM/dd/yy" }}</p>
		<p class="cb_display-segment_label">Gender</p>
		<p class="cb_display-segment_value">{{user.Gender}} <span *ngIf="!user.Gender">Undisclosed</span></p>
	</div>
	<div class="cb_display-segment" *ngIf="user.Address">
		<p class="cb_display-segment_heading">Address</p>
		<p class="cb_display-segment_value" *ngIf="user.Address.address1">{{user.Address.address1}}</p>
		<p class="cb_display-segment_value" *ngIf="user.Address.address2">{{user.Address.address2}}</p>
		<p class="cb_display-segment_value" *ngIf="user.Address.address3">{{user.Address.address3}}</p>
		<p class="cb_display-segment_value" *ngIf="user.Address">{{user.Address.city + ", " + user.Address.state + " " + user.Address.postalCode }}</p>
		<p class="cb_display-segment_value" *ngIf="user.Address">{{user.Address.country}}</p>
	</div>
	<div class="cb_display-segment">
		<p class="cb_display-segment_heading">Email Address</p>
		<p class="cb_display-segment_value">{{user.EmailAddress}}</p>
	</div>
</div>