<div class="cb_tabs-header">
  <h2 class="cb_tabs-header_headline">Storefront Access</h2>
</div>

<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('ProfileId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ProfileId'"></cb-svg></th>
      <th (click)="sortBy('Name')">Storefront <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Name'"></cb-svg></th>
      <th class="not-sortable cb_table-col_delete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td>
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.ProfileId}}
        </td>
        <td>{{row.Name}}</td>
        <td class="cb_table-utils" [attr.data-status]="isAssociated(row)" (click)="activateProfile(row)">
          <cb-svg class="closeCircle" title="Storefront Access On/Off" [icon]="'power'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<div *ngIf="!total">
  No results for this filter.
</div>

<cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
