<cb-flex-modal #previewDialog (onCloseDialog)="cancel($event)" (onSave)="save()" modalTitle="Associate Products"
  [buttonTexts]="{cancelText: 'Close', saveText: 'Add', saveAndClose: 'Add and Close'}" [displayDialog]="true"
  [isSubmitValid]="associateList.dataTable.selected.length > 0" [isLoading]="loading && !associateList.dataLoaded">

  <div class="flex-modal-body-content">
    <cb-bundle-table [product]="product" [isAssociateList]="true" #associateList (onLoaded)="loading = false"></cb-bundle-table>
  </div>

</cb-flex-modal>
