<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div *ngIf="error">
  <h1>Server Error</h1>
  <h2>{{error}}</h2>
</div>

<div *ngIf="catalog">
  <h1 class="cb_content_primary-headline">New Catalog</h1>
  <div class="cb_content_primary-description-container">
    <div class="exclamation-icon">
      <i class="fal fa-exclamation-circle" aria-hidden="true"></i>
    </div>
    <div class="cb_content_primary-description">
      Create a new catalog. Once the new catalog is created, you can edit it to add Collections.
    </div>
  </div>
  <br><br>
  <form class="cb_form" (ngSubmit)="save()" ngNativeValidate #newForm="ngForm">
    <div class="cb_fieldset">
      <div class="cb_fieldset-field required" [class.error]="name.errors && (name.dirty || name.touched)">
        <cb-tooltip locationId="catalog_general_title" class="pull-right"></cb-tooltip>
        <div class="form-control-float-wrapper" #inputDiv>
          <input class="cb_fieldset-field_input" [ngClass]="catalog.Name ? 'cb_input-value' : 'cb_input-empty'" type="text"
            [(ngModel)]="catalog.Name" (input)="onBlur($event)" (blur)="onBlur($event)" name="name" #name="ngModel" required>
          <span class="floating-label">Catalog Title <span class="required-label">*</span></span>
        </div>
      </div>
    </div>

    <!-- <div class="cb_content_submit">
      <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
      <button class="cb_input-keyAction" type="submit" [disabled]="newForm.invalid">
          <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
          Save
      </button>
    </div> -->

  </form>

  <cb-autosave-bar style="display: block;" [isNewEntity]="true" [isManualSave]="true" [state]="saveState"
    (clickCancel)="cancel()" (clickClose)="cancel()" (clickSave)="save()">
  </cb-autosave-bar>

</div>
