@import (reference) "custom/colors";

.modal-dialog-header button {
  color: @white;
  outline: none;
  background: transparent;
  border: none !important;
  font-size: 14px;
}

.modal-dialog-content form {
  padding: 30px;
  height: 100%;
  display: flex;
  .page-settings {
    width: 378px;
    padding-right: 30px;
    h1 {
      font-size: 20px;
    }
  }
  .page-content {
    width: 100%;
    padding-right: 20px;
  }
  .cb_content_submit {
    width: 100%;
    padding-right: 30px;
  }
}

.cb_fieldset-headline {
  padding-bottom: 0;
}

textarea:disabled {
  background: transparent;
  color: @gray-5;
}

button.cb_input-keyAction.invalid {
  background: transparent;
  border: none;
  color: @red-3;
}
