<cb-full-size-modal
  #previewDialog
  (onCloseDialog)="displayDialog = false"
  (onCancelDialog)="displayDialog = false"
  [displayDialog]="displayDialog"
>
  <div class="modal-dialog-header line-item-detail-header">
    <button
      pButton
      class="black back"
      (click)="cancel()"
      icon="fal fa-arrow-left"
      label="Back to Pages"
    ></button>
  </div>

  <div class="modal-dialog-content line-item-detail-content">
    <div class="full-page-loader" *ngIf="loading || saveState == 'saving'">
      <i class="fal fa-spinner fa-spin"></i>
    </div>
    <form [formGroup]="contentPageForm" (ngSubmit)="save()">
      <div class="page-settings">
        <h1>{{ pageTitle }}</h1>
        <hr class="cb_form-divider" />

        <div class="cb_fieldset">
          <h3 class="cb_fieldset-headline">
            Page Details
          </h3>
          <hr class="cb_form-divider" />

          <div
            class="cb_fieldset-field near required"
            [class.error]="
              contentPageForm.get('Title').errors &&
              (contentPageForm.get('Title').touched ||
                contentPageForm.get('Title').dirty)
            "
          >
            <cb-tooltip
              locationId="store_page_title"
              class="pull-right"
            ></cb-tooltip>
            <div class="form-control-float-wrapper">
              <input
                class="cb_fieldset-field_input"
                [ngClass]="
                  contentPageForm.get('Title').value
                    ? 'cb_input-value'
                    : 'cb_input-empty'
                "
                type="text"
                formControlName="Title"
                (blur)="onBlur($event, 'Title')"
              />
              <span class="floating-label"
                >Page Title <span class="required-label">*</span></span
              >
            </div>
          </div>
        </div>

        <div class="cb_fieldset">
          <h3 class="cb_fieldset-headline">
            SEO Settings
          </h3>
          <hr class="cb_form-divider" />

          <div
            class="cb_fieldset-field required"
            [class.error]="
              contentPageForm.get('SEOTitle').errors &&
              (contentPageForm.get('SEOTitle').touched ||
                contentPageForm.get('SEOTitle').dirty)
            "
          >
            <cb-tooltip
              locationId="store_page_seo_title"
              class="pull-right"
            ></cb-tooltip>
            <div class="form-control-float-wrapper">
              <input
                class="cb_fieldset-field_input"
                [ngClass]="
                  contentPageForm.get('SEOTitle').value
                    ? 'cb_input-value'
                    : 'cb_input-empty'
                "
                type="text"
                formControlName="SEOTitle"
                (blur)="onBlur($event, 'SEOTitle')"
              />
              <span class="floating-label"
                >SEO Title <span class="required-label">*</span></span
              >
            </div>
          </div>

          <div class="cb_fieldset-field">
            <cb-tooltip
              locationId="store_page_seo_description"
              class="pull-right"
            ></cb-tooltip>
            <div class="form-control-float-wrapper">
              <textarea
                class="cb_fieldset-field_textarea"
                [ngClass]="
                  contentPageForm.get('SEOMetaDescription').value
                    ? 'cb_input-value'
                    : 'cb_input-empty'
                "
                type="text"
                formControlName="SEOMetaDescription"
              ></textarea>
              <span class="floating-label">SEO Description</span>
            </div>
          </div>

          <div
            class="cb_fieldset-field near required"
            [class.error]="
              contentPageForm.get('SEOURL').errors &&
              (contentPageForm.get('SEOURL').touched ||
                contentPageForm.get('SEOURL').dirty)
            "
          >
            <cb-tooltip
              locationId="store_page_urlHandle"
              class="pull-right"
            ></cb-tooltip>
            <div class="form-control-float-wrapper">
              <input
                class="cb_fieldset-field_input"
                [ngClass]="
                  contentPageForm.get('SEOURL').value
                    ? 'cb_input-value'
                    : 'cb_input-empty'
                "
                type="text"
                formControlName="SEOURL"
                (blur)="onBlur($event, 'SEOURL')"
                (input)="setUrlHandle($event.target.value)"
                maxlength="100"
              />
              <span class="floating-label"
                >URL Handle <span class="required-label">*</span></span
              >
            </div>
            <p
              class="cb_fieldset-input_error"
              *ngIf="
                contentPageForm.get('SEOURL').hasError('seoUrlAlreadyExists') &&
                (contentPageForm.get('SEOURL').touched ||
                  contentPageForm.get('SEOURL').dirty)
              "
            >
              URL Handle already exists.
            </p>
          </div>
        </div>
      </div>

      <div class="page-content">
        <div class="cb_fieldset wide">
          <div class="cb_fieldset-field">
            <h3 class="cb_fieldset-headline">
              Page Content<cb-tooltip
                locationId="store_page_content"
                class="pull-right"
              ></cb-tooltip>
            </h3>
            <hr class="cb_form-divider" />
            <editor
              *ngIf="!loading"
              formControlName="Html"
              [init]="{
                height: 500,
                menubar: false,
                branding: false,
                base_url: '../../..',
                suffix: '.min',
                plugins: [
                  'visualblocks',
                  'lists',
                  'image',
                  'media',
                  'link',
                  'anchor',
                  'table',
                  'hr',
                  'charmap',
                  'code',
                  'fullscreen'
                ],
                toolbar:
                  'undo redo | formatselect | bold italic strikethrough backcolor forecolor | alignleft aligncenter alignright alignjustify visualblocks | bullist numlist outdent indent | image media link anchor | table hr blockquote charmap | removeformat | code | fullscreen preview',
                toolbar_drawer: 'floating'
              }"
            ></editor>
          </div>
        </div>
      </div>

      <div class="cb_content_submit">
        <button
          class="cb_input-keyAction cancel"
          type="button"
          (click)="cancel()"
        >
          Cancel
        </button>
        <button
          class="cb_input-keyAction"
          type="submit"
          [class.invalid]="saveState == 'invalid'"
        >
          <img
            src="/assets/img/ring.gif"
            style="max-height: 13px;float: left;margin-right: 13px;"
            *ngIf="saveState == 'saving'"
          />
          {{
            saveState === "invalid"
              ? "Not Saved"
              : saveState === "saving"
              ? "Saving"
              : "Save"
          }}
        </button>
      </div>
    </form>
  </div>
</cb-full-size-modal>
