<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">{{title}}</h1>

<cb-tabs (onChange)="changedTab($event)">

  <cb-tab [title]="'General'" slug="general">

    <h1 class="cb_content_primary-headline">General</h1>
    <p class="cb_content_primary-description">Each shipping option consists of the shipping details below PLUS the four shipping rules defined under the shipping rules tab.</p>

    <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>

      <div class="cb_fieldset">

        <h3 class="cb_fieldset-headline">General Settings</h3>

        <div class="cb_fieldset-field required" [class.error]="description.errors && (description.dirty || description.touched)">
          <label class="cb_fieldset-field_label">Display Name <cb-tooltip locationId="shipping_options_display_name"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Display Name" [(ngModel)]="ShippingMethod.Description" name="description" #description="ngModel" required>
          <p class="cb_fieldset-input_error">Display Name is required</p>
        </div>

        <div class="cb_fieldset-field required" [class.error]="shippingCode.errors && (shippingCode.dirty || shippingCode.touched)">
          <label class="cb_fieldset-field_label">Shipping Code <cb-tooltip locationId="shipping_options_shipping_code"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Shipping Code" [(ngModel)]="ShippingMethod.ShippingCode" (change)="checkIfUniqueValue($event)" name="shippingCode" #shippingCode="ngModel" required>
            <p class="cb_fieldset-input_error" *ngIf="!shipCodeInvalid">Shipping Code is required</p>
            <p class="cb_fieldset-input_error" [ngStyle]="{'display':!shipCodeUnique ? 'block':'none' }">Shipping Code must be unique</p>
            <p class="cb_fieldset-input_error" [ngStyle]="{'display': shipCodeInvalid ? 'block':'none' }">Allowed special characters: - . _</p>
        </div>

        <div class="cb_fieldset-field required" *ngIf="profiles">
          <label class="cb_fieldset-field_label">Storefront <cb-tooltip locationId="shipping_options_storefront"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <div class="cb_input-dropdown">
              <select [(ngModel)]="ShippingMethod.ProfileId" name="profileId">
                <option value="0" disabled="disabled">Select</option>
                <option value="-1">All Storefronts</option>
                <option *ngFor="let profile of profiles" [value]="profile.ProfileId">{{profile.Name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="cb_fieldset-field required unit price" [class.error]="handlingCharge.errors && (handlingCharge.dirty || handlingCharge.touched)">
          <label class="cb_fieldset-field_label">Handling Charge <cb-tooltip locationId="shipping_options_handling_charge"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <input class="cb_fieldset-field_input" type="text" placeholder="0.00" value="{{ isNumber(ShippingMethod.HandlingCharge) ? (ShippingMethod.HandlingCharge | number:'1.2-2') : 0.00 }}" #handlingCharge (blur)="ShippingMethod.HandlingCharge=handlingCharge.value" name="handlingCharge" required>
            <p class="cb_fieldset-input_error">Handling Charge is required</p>
          </div>
        </div>

        <div class="cb_fieldset-field required" *ngIf="countries">
          <label class="cb_fieldset-field_label">Destination Country <cb-tooltip locationId="shipping_options_destination_country"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <div class="cb_input-dropdown">
              <select [(ngModel)]="ShippingMethod.CountryCode" name="countryCode">
                <option value="0">All Countries</option>
                <option *ngFor="let country of countries" [value]="country.Code">{{country.Name}}</option>
              </select>
            </div>
          </div>
        </div>


      </div>

      <div class="cb_fieldset">

        <h3 class="cb_fieldset-headline">Display Settings</h3>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="ShippingMethod.ActiveInd" name="activeInd"><span class="cb_fieldset-field_label--inline_text_content"> Active for checkout</span> <cb-tooltip locationId="shipping_options_enable"></cb-tooltip></label>
        </div>

        <div class="cb_fieldset-field required" [class.error]="displayOrder.errors && (displayOrder.dirty || displayOrder.touched)">
          <label class="cb_fieldset-field_label">Display Order <cb-tooltip locationId="shipping_options_display_order"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Display Order" [(ngModel)]="ShippingMethod.DisplayOrder" name="displayOrder" #displayOrder="ngModel" required>
          <p class="cb_fieldset-input_error">Display Order is required</p>
        </div>

      </div>

      <div class="cb_content_submit">
        <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
        <button class="cb_input-keyAction" type="submit">
            <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="saving" />
            Save
        </button>
      </div>

    </form>

  </cb-tab>

  <cb-tab [title]="'Shipping Rules'" slug="shipping-rules">

    <h1 class="cb_content_primary-headline">Shipping Rules: {{title}}</h1>
    <p class="cb_content_primary-description">Create rules to calculate shipping rate for this method during checkout. Rules can be based on a flat rate, quantity, weight, or fixed rate for specific products. For systems with an active XPS Ship integration and US destinations, an additional Carrier Rate option is available to generate live quotes on checkout. Rate markups are handled based on the XPS Ship Integration Settings in the CoreBridge Management System.</p>

    <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>
      <ng-container *ngIf="isCarrierRateEnabled" [ngSwitch]="ShippingMethod.CountryCode">
        <div *ngSwitchCase="0"></div>
        <div *ngSwitchDefault>
        <h3 class="cb_fieldset-headline">Carrier Rate</h3>
        <div class="cb_form">
          <div class="cb_fieldset">
              <label class="cb_fieldset-field_label">Carrier <cb-tooltip locationId="shipping_options_carrier"></cb-tooltip></label>
              <div class="cb_input-dropdown">
                <select name="ShippingCarrierID" [(ngModel)]="shippingCarrierRateRule.ShippingCarrierID" (change)="getCarrierServiceTypeByCarrier($event.target.value)">
                  <option value="" disabled="disabled">Select</option>
                  <option *ngFor="let shippingCarrier of shippingCarriers" [value]="shippingCarrier.ID">{{shippingCarrier.Name}}</option>
                </select>
            </div>
        </div>

      <div class="cb_fieldset">
        <label class="cb_fieldset-field_label">Service Type <cb-tooltip locationId="shipping_options_service_type"></cb-tooltip></label>
        <div [ngClass]="{'cb_fieldset-field required': shippingCarrierRateRule.ShippingCarrierID > 0}">
          <div class="cb_input-dropdown">
              <select name="ShippingCarrierServiceTypeID" [(ngModel)]="shippingCarrierRateRule.ShippingCarrierServiceTypeID" [required]="shippingCarrierRateRule.ShippingCarrierID > 0">
                  <option value="" disabled="disabled">Select</option>
                  <option *ngFor="let shippingCarrierSeriveType of shippingCarrierServiceTypes" [value]="shippingCarrierSeriveType.ID">{{shippingCarrierSeriveType.Name}}</option>
              </select>
          </div>
        </div>
      </div>

      <div class="cb_fieldset">
          <label class="cb_fieldset-field_label">Insurance <cb-tooltip locationId="shipping_options_insurance"></cb-tooltip></label>
          <div [ngClass]="{'cb_fieldset-field required': shippingCarrierRateRule.ShippingCarrierID > 0}">
            <div class="cb_input-dropdown">
                <select name="ShippingInsuranceSettingID" [(ngModel)]="shippingCarrierRateRule.ShippingInsuranceSettingID" [required]="shippingCarrierRateRule.ShippingCarrierID > 0">
                  <option value="" disabled="disabled">Select</option>
                  <option *ngFor="let shippingInsurance of shippingInsurances" [value]="shippingInsurance.ID">{{shippingInsurance.Name}}</option>
                </select>
            </div>
          </div>
        </div>
      </div>
    </div>
      </ng-container>
      <div class="cb_form">

        <h3 class="cb_fieldset-headline">Flat Rate Per Item</h3>

        <div class="cb_fieldset">

          <div class="cb_fieldset-field required unit price" [class.error]="baseCost.errors && (baseCost.dirty || baseCost.touched)">
            <label class="cb_fieldset-field_label">Base Rate <cb-tooltip locationId="shipping_options_flat_base"></cb-tooltip></label>
            <div class="cb_fieldset-field_wrapper">
              <input class="cb_fieldset-field_input" type="text" placeholder="0.00" value="{{ isNumber(flatRateShippingRule.BaseCost) ? (flatRateShippingRule.BaseCost | number:'1.2-2') : 0.00 }}" #baseCost (blur)="flatRateShippingRule.BaseCost=baseCost.value" name="baseCost" required>
              <p class="cb_fieldset-input_error">Base Rate is required</p>
            </div>
          </div>

        </div>

        <div class="cb_fieldset">

          <div class="cb_fieldset-field required unit price" [class.error]="perItemCost.errors && (perItemCost.dirty || perItemCost.touched)">
            <label class="cb_fieldset-field_label">Per Unit Cost <cb-tooltip locationId="shipping_options_flat_unit"></cb-tooltip></label>
            <div class="cb_fieldset-field_wrapper">
              <input class="cb_fieldset-field_input" type="text" placeholder="0.00" value="{{ isNumber(flatRateShippingRule.PerItemCost) ? (flatRateShippingRule.PerItemCost | number:'1.2-2') : 0.00 }}" #perItemCost (blur)="flatRateShippingRule.PerItemCost=perItemCost.value" name="perItemCost" required>
              <p class="cb_fieldset-input_error">Per Unit Cost is required</p>
            </div>
          </div>

        </div>

        <h3 class="cb_fieldset-headline">Fixed Rate Per Item</h3>

        <div class="cb_fieldset">

          <div class="cb_fieldset-field required unit price" [class.error]="baseCost.errors && (baseCost.dirty || baseCost.touched)">
            <label class="cb_fieldset-field_label">Base Rate <cb-tooltip locationId="shipping_options_fixed_base"></cb-tooltip></label>
            <div class="cb_fieldset-field_wrapper">
              <input class="cb_fieldset-field_input" type="text" placeholder="0.00" value="{{ isNumber(fixedRateShippingRule.BaseCost) ? (fixedRateShippingRule.BaseCost | number:'1.2-2') : 0.00 }}" #fixedBaseCost (blur)="fixedRateShippingRule.BaseCost=fixedBaseCost.value" name="fixedBaseCost" required>
              <p class="cb_fieldset-input_error">Base Rate is required</p>
            </div>
          </div>

        </div>

        <div class="cb_fieldset">
          &nbsp;
        </div><br/><br/><br/><br/><br/>

        <h3 class="cb_fieldset-headline">Quantity-Based Rate</h3>

        <div class="cb_fieldset">

          <div class="cb_fieldset-field required unit price" [class.error]="quantityBaseCost.errors && (quantityBaseCost.dirty || quantityBaseCost.touched)">
            <label class="cb_fieldset-field_label">Base Rate <cb-tooltip locationId="shipping_options_qty_base"></cb-tooltip></label>
            <div class="cb_fieldset-field_wrapper">
              <input class="cb_fieldset-field_input" type="text" placeholder="0.00" value="{{ isNumber(quantityRateShippingRule.BaseCost) ? (quantityRateShippingRule.BaseCost | number:'1.2-2') : 0.00 }}" #quantityBaseCost (blur)="quantityRateShippingRule.BaseCost=quantityBaseCost.value" name="quantityBaseCost" required>
              <p class="cb_fieldset-input_error">Base Rate is required</p>
            </div>
          </div>

        </div>

        <div class="cb_fieldset">

          <div class="cb_fieldset-field required unit price" [class.error]="quantityPerItemCost.errors && (quantityPerItemCost.dirty || quantityPerItemCost.touched)">
            <label class="cb_fieldset-field_label">Per Unit Cost <cb-tooltip locationId="shipping_options_qty_unit"></cb-tooltip></label>
            <div class="cb_fieldset-field_wrapper">
              <input class="cb_fieldset-field_input" type="text" placeholder="0.00" value="{{ isNumber(quantityRateShippingRule.PerItemCost) ? (quantityRateShippingRule.PerItemCost | number:'1.2-2') : 0.00 }}" #quantityPerItemCost (blur)="quantityRateShippingRule.PerItemCost=quantityPerItemCost.value" name="quantityPerItemCost" required>
              <p class="cb_fieldset-input_error">Per Unit Cost is required</p>
            </div>
          </div>

        </div>

        <div class="cb_fieldset wide">

          <div class="cb_fieldset-field" >
            <label class="cb_fieldset-field_label">Enter Limits for Tiered Pricing</label>
            <p>The lower and upper limits will create a tiered pricing scheme. For example, you may want to create a rule where shipping for items from 0-10 costs $10. In this case you would set the lower limit to 0 and the upper limit to 10.</p>
          </div>

        </div>

        <div class="cb_fieldset">

          <div class="cb_fieldset-field required" [class.error]="lowerLimit.errors && (lowerLimit.dirty || lowerLimit.touched)">
            <label class="cb_fieldset-field_label">Lower Limit</label>
            <input class="cb_fieldset-field_input" type="text" placeholder="# Items" [(ngModel)]="quantityRateShippingRule.LowerLimit" name="lowerLimit" #lowerLimit="ngModel" required>
            <p class="cb_fieldset-input_error">Lower Limit is required</p>
          </div>

        </div>

        <div class="cb_fieldset">

          <div class="cb_fieldset-field required" [class.error]="upperLimit.errors && (upperLimit.dirty || upperLimit.touched)">
            <label class="cb_fieldset-field_label">Upper Limit</label>
            <input class="cb_fieldset-field_input" type="text" placeholder="# Items" [(ngModel)]="quantityRateShippingRule.UpperLimit" name="upperLimit" #upperLimit="ngModel" required>
            <p class="cb_fieldset-input_error">Upper Limit is required</p>
          </div>

        </div>

        <h3 class="cb_fieldset-headline">Weight-Based Rate</h3>

        <div class="cb_fieldset">

          <div class="cb_fieldset-field required unit price" [class.error]="weightBaseCost.errors && (weightBaseCost.dirty || weightBaseCost.touched)">
            <label class="cb_fieldset-field_label">Base Rate <cb-tooltip locationId="shipping_options_weight_base"></cb-tooltip></label>
            <div class="cb_fieldset-field_wrapper">
              <input class="cb_fieldset-field_input" type="text" placeholder="0.00" value="{{ isNumber(weightRateShippingRule.BaseCost) ? (weightRateShippingRule.BaseCost | number:'1.2-2') : 0.00 }}" #weightBaseCost (blur)="weightRateShippingRule.BaseCost=weightBaseCost.value" name="weightBaseCost" required>
              <p class="cb_fieldset-input_error">Base Rate is required</p>
            </div>
          </div>

        </div>

        <div class="cb_fieldset">

          <div class="cb_fieldset-field required unit price" [class.error]="weightPerItemCost.errors && (weightPerItemCost.dirty || weightPerItemCost.touched)">
            <label class="cb_fieldset-field_label">Per Unit Cost <cb-tooltip locationId="shipping_options_weight_unit"></cb-tooltip></label>
            <div class="cb_fieldset-field_wrapper">
              <input class="cb_fieldset-field_input" type="text" placeholder="0.00" value="{{ isNumber(weightRateShippingRule.PerItemCost) ? (weightRateShippingRule.PerItemCost | number:'1.2-2') : 0.00 }}" #weightPerItemCost (blur)="weightRateShippingRule.PerItemCost=weightPerItemCost.value" name="weightPerItemCost" required>
              <p class="cb_fieldset-input_error">Per Unit Cost is required</p>
            </div>
          </div>

        </div>

        <div class="cb_fieldset wide">

          <div class="cb_fieldset-field" >
            <label class="cb_fieldset-field_label">Enter Limits for Tiered Pricing</label>
            <p>The lower and upper limits will create a tiered pricing scheme. For example, you may want to create a rule where shipping for items from 0-10 costs $10. In this case you would set the lower limit to 0 and the upper limit to 10.</p>
          </div>

        </div>

        <div class="cb_fieldset">

          <div class="cb_fieldset-field required" [class.error]="weightLowerLimit.errors && (weightLowerLimit.dirty || weightLowerLimit.touched)">
            <label class="cb_fieldset-field_label">Lower Limit</label>
            <input class="cb_fieldset-field_input" type="text" placeholder="lbs" [(ngModel)]="weightRateShippingRule.LowerLimit" name="weightLowerLimit" #weightLowerLimit="ngModel" required>
            <p class="cb_fieldset-input_error">Lower Limit is required</p>
          </div>

        </div>

        <div class="cb_fieldset">

          <div class="cb_fieldset-field required" [class.error]="weightUpperLimit.errors && (weightUpperLimit.dirty || weightUpperLimit.touched)">
            <label class="cb_fieldset-field_label">Upper Limit</label>
            <input class="cb_fieldset-field_input" type="text" placeholder="lbs" [(ngModel)]="weightRateShippingRule.UpperLimit" name="weightUpperLimit" #weightUpperLimit="ngModel" required>
            <p class="cb_fieldset-input_error">Upper Limit is required</p>
          </div>

        </div>
      </div>

      <div class="cb_content_submit">
        <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
        <button class="cb_input-keyAction" type="submit">
            <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="saving" />
            Save
        </button>
      </div>
    </form>
  </cb-tab>

</cb-tabs>
