<cb-tooltip-explanation></cb-tooltip-explanation>
<cb-header *ngIf="loggedIn && !loading" (sidebarToggle)="onSidebarToggle($event)"></cb-header>
<div class="cb_container" *ngIf="loggedIn && !loading">
  <cb-sidebar [overlay]="sidebarToggle" (sidebarToggle)="onSidebarToggle($event)"></cb-sidebar>

  <section class="cb_content">
    <cb-alerts></cb-alerts>

    <div class="cb_content_primary">
      <ng-content></ng-content>
    </div>

  </section>

</div>
<cb-modals *ngIf="!loading"></cb-modals>
<cb-login *ngIf="!loggedIn && !loading"></cb-login>
