<div class="cb_content_primary-pagination">
  <p class="cb_content_primary-pagination_count" style="visibility: hidden;">
    Showing {{(_size * (_index - 1)) + 1}} - {{_count < (_size * _index) ? _count : _size * _index}} of {{_count}} Results
  </p>
  <nav class="cb_content_pager" *ngIf="pages.length > 1">
    <button class="cb_content_pager-prev" [class.disabled]="_index == 1" (click)="changePage(1)">First</button>
    <button class="cb_content_pager-prev" [class.disabled]="_index == 1" (click)="changePage(_index- 1)">&lt;</button>
    <button class="cb_content_pager-page" *ngFor="let i of pages" [class.current]="_index== i" (click)="changePage(i)">{{i}}</button>
    <button class="cb_content_pager-next" [class.disabled]="_index == totalPages" (click)="changePage(_index+ 1)">&gt;</button>
    <button class="cb_content_pager-next" [class.disabled]="_index == totalPages" (click)="changePage(totalPages)">Last</button>
  </nav>
</div>
