<p-tabView>
  <p-tabPanel header="Features" leftIcon="pi pi-cog">
     <app-features></app-features>
  </p-tabPanel>
  <p-tabPanel header="Event Log" leftIcon="pi pi-info-circle">
      <app-event-log></app-event-log>
  </p-tabPanel>
</p-tabView>