<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="!review">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<div *ngIf="review">
  <h1 class="cb_content_primary-headline">Edit Review</h1>

  <div class="cb_form">

    <div class="cb_form">
      <h3 class="cb_fieldset-headline">Review Details</h3>

      <div class="cb_fieldset">

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">Review Status</label>
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="active"><span class="cb_fieldset-field_label--inline_text_content"> Active</span></label>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">Product Name</label>
          <input class="cb_fieldset-field_input" disabled="true" type="text" placeholder="Product Name" [(ngModel)]="review.ProductName">
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">Headline</label>
          <textarea class="cb_fieldset-field_textarea" [(ngModel)]="review.Subject"></textarea>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">Comments</label>
          <textarea class="cb_fieldset-field_textarea" [(ngModel)]="review.Comments"></textarea>
        </div>

      </div>
      <div class="cb_fieldset">

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">Created User</label>
          <input class="cb_fieldset-field_input" type="text" placeholder="User" [(ngModel)]="review.CreateUser">
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">User Location</label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Location" [(ngModel)]="review.UserLocation">
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">Rating</label>
          <div class="cb_fieldset-field_wrapper">
            <div class="cb_input-dropdown">
              <select [(ngModel)]="review.Rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4 - That's good stuff!</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">Create Date</label>
          <input class="cb_fieldset-field_input" disabled="true" type="text" placeholder="Date" [(ngModel)]="review.CreateDate">
        </div>

      </div>

  </div>

  <div class="cb_content_submit">
    <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
    <button class="cb_input-keyAction" (click)="save()">
        <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
        Save
    </button>
  </div>
</div>
