<h3 class="cb_fieldset-headline" *ngIf="profiles">
  Collection Available Dates
  <cb-tooltip
    locationId="catalog_associated_availableDates"
    class="pull-right"
  ></cb-tooltip>
</h3>
<hr class="cb_form-divider" />

<div class="table-component-container ">
  <p-table [value]="categoryProfiles" [styleClass]="'cb_turbotable available-dates'">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Store</th>
        <th>Start Date</th>
        <th style="width: 5em"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr *ngIf="rowIndex > 0">
        <td>{{rowData.ProfileName}}</td>
        <td>{{(rowData.EffectiveDate | date: 'MM/dd/yyyy') || '-'}}</td>
        <td>
          <ng-template #popTemplate>
            <ul>
              <li (click)="remove(rowData, rowIndex)">
                <cb-icon [icon]="'fal fa-minus-circle'"></cb-icon> Remove
              </li>
            </ul>
          </ng-template>
          <button type="button" class="cb_popover-button cb-row-menu-trigger"
            class="cb_popover-button cb-row-menu-trigger" [popover]="popTemplate"
            [outsideClick]="true" placement="bottom">
            <i class="fal fa-ellipsis-v-alt"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="rowIndex == categoryProfiles.length - 1 && categoryProfiles.length - 1 < portalProfiles.length" class="row-add">
        <td>
          <span *ngIf="!isAddMode" (click)="onClickAdd()" class="add-btn">
            + Add
          </span>
          <cbx-dropdown *ngIf="isAddMode" name="profileSelected" dataValue="ProfileID" dataText="Name"
            [options]="filteredPortalProfiles" (onSelect)="onSelectProfile($event)" (click)="onInputAdd()">
          </cbx-dropdown>
        </td>
        <td>
          <cbx-datepicker *ngIf="isAddMode" pickerType="date" [(ngModel)]="newEffectiveDate"
            (ngModelChange)="onSelectDate($event)" (click)="onInputAdd()">
          </cbx-datepicker>
        </td>
        <td>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
