<!-- <div class="cb_tooltip" (mouseover)="showTooltip()" (mouseout)="tooltip.hide()" (click)="onClick($event)" [ngStyle]="{'margin-left':'5px'}">
    <div class="cb_tooltip-explanation" [class.open]="open" [innerHTML]="locationDictionary[locationId]" *ngIf="false"></div>
    <cb-svg [icon]="'question'"></cb-svg>
</div> -->


<!-- ENDOR TOOLTIP IMPLEMENTATION -->
<div class="cb_tooltip cb_tooltip-string-container" (mouseenter)="onContainerMouseEnter($event)" (mouseleave)="onContainerMouseLeave($event)" (click)="onClick($event)">
    <ng-container [ngSwitch]="tooltipTemplate" >
        <div class="cb_tooltip-explanation" [class.computed-position]="computedPosition" *ngSwitchCase="null" [ngClass]="tooltipPositionClass" [class.open]="open" [innerHTML]="locationDictionary[locationId]"></div>
        <div class="cb_tooltip-explanation" [class.computed-position]="computedPosition" [ngClass]="tooltipPositionClass" [class.open]="open" *ngSwitchDefault >
            <ng-container *ngTemplateOutlet="tooltipTemplate"></ng-container>
        </div>
    </ng-container>    
    <i *ngIf="!infoIcon" class="fal fa-question-circle"></i>
    <i *ngIf="infoIcon" class="fal fa-info-circle"></i>
</div>
