@import (reference) 'custom/colors';

.cb_tooltip-explanation {
  border-radius: 3px;
  border: 1px solid #8c8c8c !important;
  background-color: white;
  border-color: #8c8c8c !important;
  padding: 12px;
  font-size: 11px;
}

.cb_tooltip-explanation:before {
  content: '';
  display: block;  
  position: absolute;
  // left: 140px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  // border-bottom-color: #8c8c8c !important;
}

.cb_tooltip-explanation:after {
  content: '';
  display: block;  
  position: absolute;
  // left: 141px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  // border-bottom-color: red;
   
}

.cb_tooltip-explanation[x-placement="top"] {
	&:before {
    top: 100%;
    border-top-color: #8c8c8c !important; 
    left: 142px;
  }
  &:after {
    top: 100%;
    border-top-color: white;
    left: 143px;
  }
}

.cb_tooltip-explanation[x-placement="top-start"] {
  left: -16px !important;
	&:before {
    top: 100%;
    border-top-color: #8c8c8c !important; 
		left: 16px;
  }
  &:after {
    top: 100%;
    border-top-color: white;
    left: 17px;
  }
}

.cb_tooltip-explanation[x-placement="top-end"] {
  left: 17px !important;
	&:before {
    top: 100%;
    border-top-color: #8c8c8c !important; 
		right: 32px;
  }
  &:after {
    top: 100%;
    border-top-color: white;
    right: 30px;
  }
}

.cb_tooltip-explanation[x-placement="bottom"] {
	&:before {
    bottom: 100%;
    border-bottom-color: #8c8c8c !important;
    border-top-color: white !important;
    left: 142px;
  }
  &:after {
    bottom: 100%;
    border-bottom-color: white !important;
    left: 143px;
  }
}

.cb_tooltip-explanation[x-placement="bottom-start"] {
  left: -15px !important;
	&:before {
    bottom: 100%;
    border-bottom-color: #8c8c8c !important;
    border-top-color: white !important;
		left: 16px;
  }
  &:after {
    bottom: 100%;
    border-bottom-color: white !important;
    left: 17px;
  }
}

.cb_tooltip-explanation[x-placement="bottom-end"] {
  left: 15px !important;
	&:before {
    bottom: 100%;
    border-bottom-color: #8c8c8c !important;
    border-top-color: white !important;
		right: 32px;
  }
  &:after {
    bottom: 100%;
    border-bottom-color: white !important;
    right: 30px;
  }
}

.cb_tooltip i.fa-question-circle:hover,
::ng-deep .cb_tooltip-sticky i.fa-question-circle {
	color: @gray-6;
}
