<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="!editorPreset">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">{{ title }}</h1>

<form class="cb_form" #cbForm="ngForm">
  <ng-container *ngIf="editorPreset">
    <div class="cb_fieldset wide" style="margin-bottom: 0px;">
      <div class="cb_fieldset near">
        <h3 class="cb_fieldset-headline">Preset Details
          <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
        </h3>
        <hr class="cb_form-divider">
        <div class="cb_fieldset-field required near" [class.error]="name.errors &&(name.dirty || name.touched)">
          <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
          <div class="form-control-float-wrapper">
            <input type="text" name="name" #name="ngModel" required class="cb_fieldset-field_input" [disabled]="isStandard"
              [ngClass]="editorPreset.name ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="editorPreset.name" />
            <span class="floating-label">Preset Name <span class="required-label">*</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="cb_fieldset mb-80">
      <h3 class="cb_fieldset-headline">Design Editor
        <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
      </h3>
      <hr class="cb_form-divider">
      <div class="cb_fieldset-field">
        <cb-tooltip locationId="" class="pull-right" style="padding-top: 20px;"></cb-tooltip>
        <cbx-radio-group label="Editor" display="inline" [options]="editorTypes" [hideClearButton]="true" name="editMode"
          [(ngModel)]="editMode" [disabled]="isStandard" (ngModelChange)="setEditMode()"></cbx-radio-group>
      </div>
      <div class="cb_fieldset-field" style="margin-left: 20px;" [class.hidden]="editMode !== 'Basic & Advanced'">
        <cb-tooltip locationId="" class="pull-right" ></cb-tooltip>
        <div class="cb_fieldset-field_wrapper" *ngIf="!isStandard">
          <cbx-dropdown label="Default Editor" name="defaultEditor" id="defaultEditor" dataValue="ID" dataText="Name"
            [options]="initialModes" [ngModel]="initialMode" (onSelect)="setDefaultEditor($event)"></cbx-dropdown>
        </div>
        <div class="form-control-float-wrapper" *ngIf="isStandard">
          <input type="text" name="defaultEditor" class="cb_fieldset-field_input" [(ngModel)]="presetJSON.initialMode" [disabled]="true" />
          <span class="floating-label">Default Editor</span>
        </div>
      </div>

      <div class="cb_fieldset near">
        <h5>Text</h5>
        <hr class="cb_form-divider">
        <div class="cb_fieldset-field">
          <cbx-radio-group label="Font Mode" display="inline" [options]="fontModes" [hideClearButton]="true" name="fontMode" [(ngModel)]="presetJSON.fontListMode" [disabled]="isStandard"></cbx-radio-group>
        </div>

        <div class="cb_fieldset-field font-groups">
          <div class="header-label">
            Font Groups
            <cb-tooltip locationId=""></cb-tooltip>
          </div>
          <div class="viewEdit">
              View/Edit…
          </div>
        </div>

        <div class="cb_fieldset-field">
          <cbx-checkbox name="spellCheck" label="Spell Check" [(ngModel)]="presetJSON.spellCheckEnabled" [disabled]="isStandard"></cbx-checkbox>
          <cb-tooltip locationId=""></cb-tooltip>
        </div>
      </div>

      <div class="cb_fieldset near">
        <h5>Images</h5>
        <hr class="cb_form-divider">
        <div class="cb_fieldset-field">
          <cbx-checkbox name="imageEditor" label="Image Editor" [(ngModel)]="presetJSON.imageEditorEnabled" [disabled]="isStandard"></cbx-checkbox>
          <cb-tooltip locationId=""></cb-tooltip>
        </div>
        <div class="cb_fieldset-field">
          <cbx-checkbox name="maintainAspectRatios" label="Maintain Image Aspect Ratios"
            [(ngModel)]="presetJSON.arbitraryResizeForImageItemEnabled" [disabled]="isStandard"></cbx-checkbox>
          <cb-tooltip locationId=""></cb-tooltip>
        </div>
      </div>

      <div class="cb_fieldset near">
        <h5>Canvas</h5>
        <hr class="cb_form-divider">
        <div class="cb_fieldset-field">
          <cbx-checkbox name="dpiQualityMeter" label="DPI Quality Meter" [(ngModel)]="presetJSON.dpiQualityMeter" [disabled]="isStandard"></cbx-checkbox>
          <cb-tooltip locationId=""></cb-tooltip>
        </div>
        <div class="cb_fieldset-field">
          <cbx-checkbox name="preflightWarnings" label="Preflight Warnings" [(ngModel)]="presetJSON.preflightWarnings" [disabled]="isStandard"></cbx-checkbox>
          <cb-tooltip locationId=""></cb-tooltip>
        </div>
        <ng-container *ngIf="presetJSON.preflightWarnings">
          <div class="cb_fieldset-field required near" style="margin-left: 20px;" [class.error]="dpiWarningLevel.errors &&(dpiWarningLevel.dirty || dpiWarningLevel.touched)">
            <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
            <div class="form-control-float-wrapper">
              <input type="number" name="dpiWarningLevel" #dpiWarningLevel="ngModel" required class="cb_fieldset-field_input" [disabled]="isStandard"
                [ngClass]="presetJSON.dpiWarningLevel ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="presetJSON.dpiWarningLevel" />
              <span class="floating-label">DPI Warning Level <span class="required-label">*</span></span>
            </div>
          </div>
          <div class="cb_fieldset-field required near" style="margin-left: 20px;" [class.error]="dpiFailureLevel.errors &&(dpiFailureLevel.dirty || dpiFailureLevel.touched)">
            <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
            <div class="form-control-float-wrapper">
              <input type="number" name="dpiFailureLevel" #dpiFailureLevel="ngModel" required class="cb_fieldset-field_input" [disabled]="isStandard"
                [ngClass]="presetJSON.dpiFailureLevel ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="presetJSON.dpiFailureLevel" />
              <span class="floating-label">DPI Failure Level <span class="required-label">*</span></span>
            </div>
          </div>
        </ng-container>

        <div class="cb_fieldset-field">
          <cbx-checkbox name="ruler" label="Ruler" [(ngModel)]="presetJSON.canvas.rulers.enabled" [disabled]="isStandard"></cbx-checkbox>
          <cb-tooltip locationId=""></cb-tooltip>
        </div>
        <div class="cb_fieldset-field" style="margin-left: 20px;" [class.hidden]="!presetJSON.canvas.rulers.enabled">
          <cb-tooltip locationId="" class="pull-right" ></cb-tooltip>
          <div class="cb_fieldset-field_wrapper" *ngIf="!isStandard">
            <cbx-dropdown label="Units" name="rulerUnits" id="rulerUnits" [options]="units" dataValue="ID" dataText="Name"
            [ngModel]="unit" (onSelect)="setUnit($event)"></cbx-dropdown>
          </div>
          <div class="form-control-float-wrapper" *ngIf="isStandard">
            <input type="text" name="rulerUnits" class="cb_fieldset-field_input" [(ngModel)]="presetJSON.canvas.rulers.unit" [disabled]="true" />
            <span class="floating-label">Units</span>
          </div>
        </div>
        <ng-container *ngIf="presetJSON.canvas.rulers.enabled">
          <div style="display:flex;margin-left: 20px;">
            <div class="cb_fieldset-field required near" style="width:150px;" [class.error]="xOrigin.errors &&(xOrigin.dirty || xOrigin.touched)">
              <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input type="number" name="xOrigin" #xOrigin="ngModel" required class="cb_fieldset-field_input" [disabled]="isStandard"
                  [ngClass]="presetJSON.canvas.rulers.origin.X > -1 ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="presetJSON.canvas.rulers.origin.X" />
                <span class="floating-label">X Origin <span class="required-label">*</span></span>
              </div>
            </div>
            <div class="cb_fieldset-field required near" style="width:150px;" [class.error]="yOrigin.errors &&(yOrigin.dirty || yOrigin.touched)">
              <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
              <div class="form-control-float-wrapper">
                <input type="number" name="yOrigin" #yOrigin="ngModel" required class="cb_fieldset-field_input" [disabled]="isStandard"
                  [ngClass]="presetJSON.canvas.rulers.origin.Y > -1 ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="presetJSON.canvas.rulers.origin.Y" />
                <span class="floating-label">Y Origin <span class="required-label">*</span></span>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="cb_fieldset-field">
          <cbx-checkbox name="snapLines" label="Snap Lines" [(ngModel)]="presetJSON.canvas.snapLines.enabled" [disabled]="isStandard"></cbx-checkbox>
          <cb-tooltip locationId=""></cb-tooltip>
        </div>
        <ng-container *ngIf="presetJSON.canvas.snapLines.enabled">
          <store-theme-color-bar name="Color" (update)="setCanvasSnapLineColor($event)" [cssStyle]="presetJSON.canvas.snapLines.color" 
            cssElement="presetJSON.canvas.snapLines.color"></store-theme-color-bar>

          <div class="cb_fieldset-field required near" [class.error]="snapLinesTolerance.errors &&(snapLinesTolerance.dirty || snapLinesTolerance.touched)" style="margin-left:20px;">
            <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
            <div class="form-control-float-wrapper">
              <input type="text" name="snapLinesTolerance" #snapLinesTolerance="ngModel" required class="cb_fieldset-field_input" [disabled]="isStandard"
                [ngClass]="presetJSON.canvas.snapLines.tolerance ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="presetJSON.canvas.snapLines.tolerance" />
              <span class="floating-label">Tolerance <span class="required-label">*</span></span>
            </div>
          </div>
        </ng-container>

        <div class="cb_fieldset-field">
          <cbx-checkbox name="surfaceBoundaries" label="Surface Boundaries" [(ngModel)]="presetJSON.canvas.safetyLinesVisible" [disabled]="isStandard"></cbx-checkbox>
          <cb-tooltip locationId=""></cb-tooltip>
        </div>
      </div>
    </div>
    <div class="cb_fieldset">
      <h3 class="cb_fieldset-headline">Proof Output
        <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
      </h3>
      <hr class="cb_form-divider">
      <div class="cb_fieldset-field required">
        <cb-tooltip locationId="" class="pull-right" ></cb-tooltip>
        <div class="cb_fieldset-field_wrapper" *ngIf="!isStandard">
          <cbx-dropdown label="Output Format" name="proofOutputFormat" id="proofOutputFormat" [options]="proofFormats" dataValue="ID" dataText="Name"
            [ngModel]="proofImageFileFormat" (onSelect)="setRenderOutput($event, 'proofImageFileFormat')"></cbx-dropdown>
        </div>
        <div class="form-control-float-wrapper" *ngIf="isStandard">
          <input type="text" name="proofOutputFormat" class="cb_fieldset-field_input" [disabled]="true" [(ngModel)]="presetJSON.rendering.proofImageFileFormat" />
          <span class="floating-label">Output Format <span class="required-label">*</span></span>
        </div>
      </div>
      <div class="cb_fieldset-field required">
        <cb-tooltip locationId="" class="pull-right" ></cb-tooltip>
        <div class="cb_fieldset-field_wrapper" *ngIf="!isStandard">
          <cbx-dropdown label="Flip Output Orientation" name="proofOutputOrientation" id="proofOutputOrientation" [options]="proofFlipModes" dataValue="ID" dataText="Name"
          [ngModel]="proofImageFlipMode" (onSelect)="setRenderOutput($event, 'proofImageFlipMode')"></cbx-dropdown>
        </div>
        <div class="form-control-float-wrapper" *ngIf="isStandard">
          <input type="text" name="proofOutputOrientation" class="cb_fieldset-field_input" [disabled]="true" [(ngModel)]="presetJSON.rendering.proofImageFlipMode" />
          <span class="floating-label">Flip Output Orientation <span class="required-label">*</span></span>
        </div>
      </div>
      <div class="cb_fieldset-field">
        <cbx-checkbox name="renderSurfaceBoundaries" label="Render Surface Boundaries" [disabled]="isStandard" [(ngModel)]="presetJSON.rendering.proofImageSafetyLinesEnabled"></cbx-checkbox>
        <cb-tooltip locationId=""></cb-tooltip>
      </div>

      <h3 class="cb_fieldset-headline">High Resolution Output
        <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
      </h3>
      <hr class="cb_form-divider">
      <div class="cb_fieldset-field required">
        <cb-tooltip locationId="" class="pull-right" ></cb-tooltip>
        <div class="cb_fieldset-field_wrapper" *ngIf="!isStandard">
          <cbx-dropdown label="Output Format" name="hiresOutputFormat" id="hiresOutputFormat" [options]="hiResFormats" dataValue="ID" dataText="Name"
            [ngModel]="hiResOutputFileFormat" (onSelect)="setRenderOutput($event, 'hiResOutputFileFormat')"></cbx-dropdown>
        </div>
        <div class="form-control-float-wrapper" *ngIf="isStandard">
          <input type="text" name="hiresOutputFormat" class="cb_fieldset-field_input" [(ngModel)]="presetJSON.rendering.hiResOutputFileFormat" [disabled]="true" />
          <span class="floating-label">Output Format <span class="required-label">*</span></span>
        </div>
      </div>
      <div class="cb_fieldset-field required" style="margin-left: 20px;" [class.hidden]="![1,2,4].includes(hiResOutputFileFormat)">
        <cb-tooltip locationId="" class="pull-right" ></cb-tooltip>
        <div class="cb_fieldset-field_wrapper" *ngIf="!isStandard">
          <cbx-dropdown label="Output Compression" name="outputCompression" id="outputCompression" dataValue="ID" dataText="Name"
            [options]="outputCompressions" [ngModel]="hiResOutputCompression" (onSelect)="setRenderOutput($event, 'hiResOutputCompression')"></cbx-dropdown>
        </div>
        <div class="form-control-float-wrapper" *ngIf="isStandard">
          <input type="text" name="outputCompression" class="cb_fieldset-field_input" [(ngModel)]="presetJSON.rendering.hiResOutputCompression" [disabled]="true" />
          <span class="floating-label">Output Compression <span class="required-label">*</span></span>
        </div>
      </div>

      <div class="cb_fieldset-field required near" style="margin-left: 40px;" [class.error]="name.errors &&(name.dirty || name.touched)" *ngIf="hiResOutputCompression == 1">
        <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
        <div class="form-control-float-wrapper">
          <input type="number" id="jpegCompression" name="jpegCompression" #name="ngModel" required class="cb_fieldset-field_input" [disabled]="isStandard"
            [ngClass]="presetJSON.rendering.hiResOutputJpegCompressionQuality ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="presetJSON.rendering.hiResOutputJpegCompressionQuality" />
          <span class="floating-label">JPEG Compression <span class="required-label">*</span></span>
        </div>
      </div>

      <div class="cb_fieldset-field required">
        <cb-tooltip locationId="" class="pull-right" ></cb-tooltip>
        <div class="cb_fieldset-field_wrapper" *ngIf="!isStandard">
          <cbx-dropdown label="Color Space" name="hiresColorSpace" id="hiresColorSpace" [options]="hiResColorSpaces" dataValue="ID" dataText="Name"
            [ngModel]="hiResOutputColorSpace" (onSelect)="setRenderOutput($event, 'hiResOutputColorSpace')"></cbx-dropdown>
        </div>
        <div class="form-control-float-wrapper" *ngIf="isStandard">
          <input type="text" name="hiresColorSpace" class="cb_fieldset-field_input" [(ngModel)]="presetJSON.rendering.hiResOutputColorSpace" [disabled]="true" />
          <span class="floating-label">Color Space <span class="required-label">*</span></span>
        </div>
      </div>
      <div class="cb_fieldset-field required near" [class.error]="name.errors &&(name.dirty || name.touched)">
        <cb-tooltip locationId="" class="pull-right"></cb-tooltip>
        <div class="form-control-float-wrapper">
          <input type="number" name="outputResolution" #name="ngModel" required class="cb_fieldset-field_input" [disabled]="isStandard"
            [ngClass]="presetJSON.rendering.hiResOutputDpi ? 'cb_input-value' : 'cb_input-empty'" [(ngModel)]="presetJSON.rendering.hiResOutputDpi" />
          <span class="floating-label">Output Resolution <span class="required-label">*</span></span>
        </div>
      </div>
      <div class="cb_fieldset-field required">
        <cb-tooltip locationId="" class="pull-right" ></cb-tooltip>
        <div class="cb_fieldset-field_wrapper" *ngIf="!isStandard">
          <cbx-dropdown label="Flip Output Orientation" name="hiresOutputOrientation" id="hiresOutputOrientation" [options]="hiResFlipModes" dataValue="ID" dataText="Name"
            [ngModel]="hiResOutputFlipMode" (onSelect)="setRenderOutput($event, 'hiResOutputFlipMode')"></cbx-dropdown>
        </div>
        <div class="form-control-float-wrapper" *ngIf="isStandard">
          <input type="text" name="hiresOutputOrientation" class="cb_fieldset-field_input" [(ngModel)]="presetJSON.rendering.hiResOutputFlipMode" [disabled]="true" />
          <span class="floating-label">Flip Output Orientation <span class="required-label">*</span></span>
        </div>
      </div>
      <div class="cb_fieldset-field">
        <cbx-checkbox name="splitFileOutput" label="Split File Output by Surface" [(ngModel)]="presetJSON.rendering.hiResOutputToSeparateFiles" [disabled]="isStandard"></cbx-checkbox>
        <cb-tooltip locationId=""></cb-tooltip>
      </div>
    </div>
  </ng-container>
</form>

<cb-autosave-bar [state]="saveState" [isManualSave]="isNew"
  (clickCancel)="cancel()" (clickClose)="cancel()" (clickSave)="save()">
</cb-autosave-bar>
