@import (reference) "custom/colors";
@import (reference) 'styles';

.cb_fieldset-field cbx-dropdown::ng-deep {
  width: 92%;
  .required-label {
    font-size: 11px;
    font-weight: 100;
    color: #D95762;
  }
}

.cb_fieldset-field_wrapper {
  margin-right: 7px;
}

.cb_form-divider {
  margin-bottom: 15px;
}

h5 {
  width: 37px;
  height: 14px;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: @gray-8;
  margin-bottom: 4px;
}

:host ::ng-deep  {
  cbx-radio-group {
    & div.options label.option-label {
      font-size: 11px !important;
    }
    &.cbx-state-disabled {
      opacity: 0.4;
    }
    body.mistype-1 & {
      input[type=radio]:checked ~ .display.radio {
        border-color: @cy-1;
      }
    }
  }
  store-theme-color-bar {
    .cb_fieldset-field {
      margin-left: 20px;
    }
    .form-control-float-wrapper {
      display: flex;
      input.cb_fieldset-field_input {
        margin-right: 3px;
      }
    }
    p-colorpicker {
      margin-left: 8px;
      position: relative;
      input.ui-colorpicker-preview {
        width: 30px;
        border-radius: 3px;
        border: 1px solid;
      }
    }
  }

  .font-groups {
    .header-label {
      color: #999;
      font-size: 13px;
    }
    .viewEdit {
      font-size: 11px;
      color: #1b9ad7;
    }
  }

  .mb-80 {
    margin-bottom: 80px;
  }
}
