<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

  <h1 class="cb_content_primary-headline">Profiles</h1>
  <p class="cb_content_primary-description">A profile stores settings for promotions, pricing, tax and shipping to be applied to customers.</p>

<cb-profiles-table (onLoaded)="onLoaded()"></cb-profiles-table>
