<cb-table-toolbar (onCountChange)="onCountChange($event)" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th *ngFor="let title of columns">{{title}}</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td *ngFor="let item of row" [innerHTML]="item.content" [attr.data-status]="item.data.status" [attr.data-online]="item.data.online"></td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>