<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)"
[filterSearch]="searchFilters" [select]="dataLoaded" [suggestions]="searchSuggestions" (onSelect2Update)="onFilterChange($event)">
<ng-content></ng-content>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('OrderId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='OrderId'"></cb-svg></th>
      <th (click)="sortBy('StoreName')">Store Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='StoreName'"></cb-svg></th>
      <th (click)="sortBy('CompanyName')">Company <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='CompanyName'"></cb-svg></th>
      <th (click)="sortBy('LastName')">Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='LastName'"></cb-svg></th>
      <th (click)="sortBy('OrderDate')">Date <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='OrderDate'"></cb-svg></th>
      <th (click)="sortBy('Total')">Amount <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Total'"></cb-svg></th>
      <th (click)="sortBy('PaymentTypeName')">Payment Type <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='PaymentTypeName'"></cb-svg></th>
      <th>Custom Art PDF </th>
    </tr>
  </thead>
  <tbody>
    <a id="receiptUrl" target="_blank" hidden="true"></a>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr>
        <td (click)="viewReceipt(row)">
          <cb-svg class="cb_table-edit" title="View Receipt" [icon]="'eye'"></cb-svg>
          {{row.OrderId}}
        </td>
        <td (click)="viewReceipt(row)">{{ storefronts[row.PortalId] }}</td>
        <td (click)="viewReceipt(row)">{{ row.Account.ParentCompanyName }}</td>
        <td (click)="viewReceipt(row)">{{row.BillingFirstName}} {{row.BillingLastName}}</td>
        <td (click)="viewReceipt(row)">{{row.OrderDate}}</td>
        <td (click)="viewReceipt(row)">{{ row.Total | currency:'USD':true }}</td>
        <td (click)="viewReceipt(row)">{{ paymentTypes[row.PaymentTypeId] }}</td>
        <td>
            <div *ngFor="let item of row.OrderLineItems">
                <a *ngIf="item.HasCustomArtwork" (click)="viewOrderItem(item)">
                {{item.Name}}
                </a>
            </div>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<div *ngIf="!total">
  No results for this filter.
</div>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
<br/>

<p class="cb_content_primary-headline">Download Orders</p>


<form class="cb_form" (ngSubmit)="download()" ngNativeValidate>
  <div class="cb_fieldset" style="margin-bottom:0px;">
    <div class="cb_fieldset-field required" [class.error]="orderId.errors && (orderId.dirty || orderId.touched)">
      <label class="cb_fieldset-field_label">Starting Order ID <cb-tooltip locationId="orders_orders_starting_id"></cb-tooltip></label>
      <input class="cb_fieldset-field_input" [(ngModel)]="downloadOrderId" name="orderId" #orderId="ngModel" required  />
      <p class="cb_fieldset-input_error">Starting Order ID is required</p>
    </div>
  </div>
  <div style="clear:both;">
    <button type="submit" class="cb_input-keyAction" *ngIf="filtered" (click)="submit='csv'">Download Orders</button>
    <button type="submit" class="cb_input-keyAction" *ngIf="filtered" (click)="submit='line'">Download Order Line Items</button>
  </div>
</form>
