<aside class="cb_sidebar-container">
  <div class="cb_sidebar" [class.closed]="sidebarCollapsed" [class.overlay]="overlay">
    <nav class="cb_sidebar-nav">
    <ul class="cb_sidebar-nav_list clearfix">

      <li class="cb_sidebar-nav_item nav_container" [class.open]="openItem.startsWith(item.title)" [class.top]="!!(item.children)" *ngFor="let item of menu; let i = index; let o = odd; let e = even;">

        <a class="cb_sidebar-nav_item-link" [routerLink]=item.path routerLinkActive="active" *ngIf="!item.children" (click)="menuItemClicked(item.children)">
          <cb-icon *ngIf="item.icon" [icon]="item.icon" [iconTypeClass]="'cb_sidebar-nav_fa'"></cb-icon>
          <cb-svg *ngIf="!item.icon && item.custom_icon" [icon]="item.custom_icon" [sidebar]="true"></cb-svg>
          <label class="cb_sidebar-nav_item-label">{{item.title}}</label>
          <i class="cb_sidebar-nav_item-badge cb_badge" [ngClass]="{'med': o, 'low': e}" *ngIf="item.badge">{{item.badge}}</i>
        </a>


        <span class="cb_sidebar-nav_item-link top" [class.open]="openItem.startsWith(item.title)" *ngIf="item.children" (click)="triggerMenuItem(item)">
          <cb-icon *ngIf="item.icon" [icon]="item.icon" [iconTypeClass]="'cb_sidebar-nav_fa'"></cb-icon>
          <cb-svg *ngIf="!item.icon && item.custom_icon" [icon]="item.custom_icon" [sidebar]="true"></cb-svg>
          <label class="cb_sidebar-nav_item-label">{{item.title}}</label>
          <i class="cb_sidebar-nav_item-badge cb_badge high" *ngIf="item.badge">{{item.badge}}</i>
        </span>

        <ul class="cb_sidebar-nav_subnav-list" *ngIf="item.children">
          <li class="cb_sidebar-nav_subnav-item" *ngFor="let child of item.children">
            <ng-container *ngIf="!child.children">
              <a [routerLink]=child.path routerLinkActive="active" class="cb_sidebar-nav_subnav-item_link" (click)="menuItemClicked(false)">{{child.title}}</a>
            </ng-container>
            <ng-container *ngIf="child.children">
              <span class="cb_sidebar-nav_item-link top" [class.open]="openItem==item.title + '.' + child.title" (click)="triggerMenuItem(item, child)">
                <label class="cb_sidebar-nav_item-label">{{child.title}}</label>
              </span>
              <ul class="cb_sidebar-nav_subnav-list" *ngIf="child.children">
                <li class="cb_sidebar-nav_subnav-item" *ngFor="let grandchild of child.children">
                  <a [routerLink]=grandchild.path routerLinkActive="active" class="cb_sidebar-nav_subnav-item_link" (click)="menuItemClicked(false)">{{grandchild.title}}</a>
                </li>
              </ul>
            </ng-container>
          </li>
        </ul>

      </li>

    </ul>

  </nav>
  </div>
  <div class="cb_sidebar-toggle" (click)="toggleSidebar()" *ngIf="false">
    <span class="cb_sidebar-toggle_arrow">{{ sidebarCollapsed ? '&raquo;' : '&laquo;' }}</span>
  </div>
</aside>
