:host{
    background-color: #303940;
}

li.cb_sidebar-nav_subnav-item {
  .cb_sidebar-nav_item-link {
    display: inline-block;
    padding-left: 58px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    &.top::before {
      top: -10px;
    }
  }
  .cb_sidebar-nav_subnav-item {
    padding-left: 10px;
  }
}

a.cb_sidebar-nav_item-link cb-svg {
  width: 20px;
  margin: 5px;
}
