<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="!template">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<div *ngIf="template">
  <h1 class="cb_content_primary-headline">{{template.TemplateName}}.{{template.Extension}}</h1>
  <p class="cb_content_primary-description">Manage the email template. The email template name is the emails unique ID and isn't editable after creation.</p>

  <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>
    <div class="cb_fieldset-field">
      <ckeditor [config]="config" [(ngModel)]="template.Html" (change)="onChange($event)" name="html"></ckeditor>
    </div>

    <div class="cb_content_submit">
      <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
      <button class="cb_input-keyAction" type="submit">
          <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
          Save
      </button>
    </div>
  </form>
</div>
