<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Shipping Methods</h1>
<p class="cb_content_primary-description">A shipping option (e.g., Flat, Expedited) consists of settings and shipping rules.</p>

<cb-shipping-methods-table (onLoaded)="onLoaded()"></cb-shipping-methods-table>
