<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
<button type="button" class="cb_input-keyAction" (click)="create()" *ngIf="false"> + Add Domain</button>
</cb-table-toolbar>

<table class="cb_table noEdit">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('DomainId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='DomainId'"></cb-svg></th>
      <th (click)="sortBy('DomainName')">URL Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='DomainName'"></cb-svg></th>
      <th *ngIf="false" class="cb_table-col_active" (click)="sortBy('IsActive')" data-status="true">Active <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='IsActive'"></cb-svg></th>
      <th *ngIf="false" data-status="true">Clear Cache</th>
      <th class="cb_table-col_delete" *ngIf="false"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="goToDetails(row.DomainId)">{{row.DomainId}}</td>
        <td (click)="goToDetails(row.DomainId)">{{row.DomainName}}</td>
        <td [attr.data-status]="row.IsActive" *ngIf="false"><cb-svg [icon]="'power'"></cb-svg></td>
        <td *ngIf="false" data-status="true"><cb-svg [icon]="'refresh'"></cb-svg></td>
        <td class="cb_table-utils" (click)="delete(row.DomainId)" *ngIf="false">
          <cb-svg class="closeCircle" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
