<div class="page-container" [class.shrink]="showSidePanelPropertyEditor">
  <button *ngIf="state === 'saved'" (click)="onClose($event)" class="cb_input-keyAction cancel cb_close">Close</button>

  <button *ngIf="state !== 'saved'" (click)="onCancel($event)" class="cb_input-keyAction cancel cb_close">Cancel</button>

  <span
    *ngIf="(state == 'error' || state == 'invalid') && !hideSaveButton"
    class="cb_error-message-container pointer"
    (click)="clickViewErrors.emit($event)"
    [class.before-save-button]="manualEditSaveHasError">
    <span>{{'Not Saved' }}</span>
  </span>

  <span *ngIf="state == 'saving'" class="cb_saving-container">
    <i class="far fa-spinner fa-pulse"></i>
    {{ 'Saving' }}...
  </span>

  <span *ngIf="state == 'validating'" class="cb_saving-container">
    <i class="far fa-spinner fa-pulse"></i>
    {{ 'Validating' }}...
  </span>

  <ng-container *ngIf="showSavedLabel()">
    <span class="cb_saving-container saved">
      {{ 'Saved' }}
    </span>
  </ng-container>

  <button *ngIf="(state != 'error' && state != 'invalid' && state != 'saving' && state != 'validating') && showSaveButton()" class="btn btn-success" (click)="clickSave.emit($event)" >
    {{ CustomSaveButtonText? CustomSaveButtonText : 'Save' }}
  </button>
</div>
