@import (reference) "custom/function-vars";

:host{
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    margin: 0 -30px;
    padding: 15px 0 0 0;
    border-top: 1px solid #EFF0F2;
    background-color: #fefefe;
    text-align: right;
    z-index: 1020;

    &.has-right-side-panel {
        .cb_error-message-container, .cb_saving-container {
            right: 435px;
            &.before-save-button{
                right: 505px;
            }
        }

        button.btn-success {
            right: 435px;
        }
    }

    button {
        height: 35px;
        min-width: 85px;
        font-size: 16px;

        &.cancel {
            color: @gray-6;
            opacity: 1; // overwrite opacity 0.5 from cancel
        }
    }

    .cb_error-message-container, .cb_saving-container {
        display: block;
        position: fixed;
        right: 40px;
        margin: 3px 0;
        -webkit-transition: right .25s ease-in-out;
        -moz-transition: right .25s ease-in-out;
        -ms-transition: right .25s ease-in-out;
        -o-transition: right .25s ease-in-out;
        transition: right .25s ease-in-out;
        &.before-save-button{
            right: 110px;
        }
    }
    
    .cb_input-keyAction {
        background-color: transparent;
        left: 0;
    }
    
    .cb_input-keyAction:hover {
        background-color: #f2f2f2;
    }
    
    .cb_saving-container {
        font-size: 16px;
        color: @gray-6;

        .far.fa-spinner{
            color: @green-3;
            font-size: 13px;
            margin-right: 5px;
        }
    }
    
    .cb_error-message-container {
        font-size: 16px;
        color: @state-danger;
    }
    
    .cb_close:hover {
        color: @gray-8;
    }
    
    button.btn-success {
        -webkit-transition: right .25s ease-in-out;
        -moz-transition: right .25s ease-in-out;
        -ms-transition: right .25s ease-in-out;
        -o-transition: right .25s ease-in-out;
        transition: right .25s ease-in-out;
        position: fixed;
        right: 40px
    }
        
    ::ng-deep {
        div.page-container {
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            &.shrink {
                width: ~"calc(100% - 423px)";
            }
        }
    }

    .saved {
        cursor: default;
    }
}
