<cb-record-search-actions entity="Product" relativeAddPath="../products/add"
  [selected]="productsTable.selected" (checked)="productsTable.setSelectAll($event)">
</cb-record-search-actions>
<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
  <ng-content></ng-content>
</cb-table-toolbar>
<br>
<h5>Displaying: {{filtered.length}} Result<span *ngIf="filtered.length > 1">s</span></h5>

<cb2-table [value]="filtered" [cols]="_columns" [rowActions]="[RowAction.Clone, RowAction.Activate, RowAction.Delete]"
  #productsTable idField="ProductId" (gotoDetail)="gotoDetail($event)" (copyEvent)="copy($event)"
  canActivate="true" (toggleActiveEvent)="toggleActivation($event)" (deleteEvent)="delete($event)">
</cb2-table>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)" style="float:right">
</cb-table-pagination>
