<!-- <cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
<button type="button" class="cb_input-keyAction" (click)="associate()">+ Add Add-Ons</button>
</cb-table-toolbar>

<table class="cb_table noEdit">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('AddOnId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='AddOnId'"></cb-svg></th>
      <th class="cb_table-col_name" (click)="sortBy('Name')">Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Name'"></cb-svg></th>
      <th (click)="sortBy('DisplayOrder')">Order <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='DisplayOrder'"></cb-svg></th>
      <th class="not-sortable cb_table-col_delete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr>
        <td>{{row.AddOnId}}</td>
        <td>{{row.Name}}</td>
        <td>{{row.DisplayOrder}}</td>
        <td class="cb_table-utils" (click)="delete(row.ProductAddOnId)">
          <cb-svg class="closeCircle" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination> -->
<br *ngIf="isAssociateList">
<cb-record-search-actions
  entity="Associate Add-Ons"
  relativeAddPath="" isAssociate="true"
  [showAddButton]="!isAssociateList"
  [selected]="addOnsTable.selected"
  (checked)="addOnsTable.setSelectAll($event)"
  (clickButtonEvent)="onAssociate.emit()"
>
</cb-record-search-actions>
<cb-table-toolbar
  (onCountChange)="onCountChange($event)"
  [search]="search"
  (onSearchChange)="onSearchChange($event)"
>
  <ng-content></ng-content>
</cb-table-toolbar>
<br />
<h5>
  Displaying: {{ filtered.length }} Result<span *ngIf="filtered.length > 1"
    >s</span
  >
</h5>

<cb2-table
  [value]="filtered"
  [cols]="isAssociateList ? _columns.slice(0,1) : _columns"
  [rowActions]="isAssociateList ? [] : [RowAction.Delete]"
  #addOnsTable
  [idField]="isAssociateList ? 'AddOnId' : 'ProductAddOnId'"
  (deleteEvent)="delete($event)"
>
</cb2-table>
