<div class="cb_content_primary-toolbar">

  <div>
    <ng-content></ng-content>
  </div>

  <div *ngIf="hasToolBarMessage">
    {{toolbarMessage}}
  </div>

  <div class="cb_input-wrapper">
    <div class="cb_input-filter-wrapper" *ngIf="!hideSearch" style="display:flex;top: 0px;">
      <input class="cb_input-filter" type="text" [value]="search" (keyup)="changeSearch($event.target.value)">
      <div class="input-group-btn cb_fieldset-field">
        <button class="cb-dropdown-btn btn btn-default btn-default dropdown-toggle btn-outline" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [class.focused]="focused || isDropdownOpen">
          <i class="fal fa-angle-down"></i>
        </button>
      </div>
    </div>

    <!--label *ngIf="select">Filter by Category or Catalog...</label-->
    <select2 *ngIf="select && suggestions.length > 0" [data]="suggestions" [options]="options" [value]="filterSearch" (valueChanged)="updateSelection($event)" [cssImport]="false"></select2>

    <!-- <div class="cb_input-dropdown">
      <select [(ngModel)]="count" (change)="changeCount($event.target.value)">
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div> -->
    
  </div>

</div>
