<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Shipping Boxes</h1>
<p class="cb_content_primary-description">A shipping box is a box you would use to package one or more products in for shipment. Shipping boxes are used to calculate a shipping amount if a product is set to use the shipping rule Carrier Rate.</p>

<cb-shipping-boxes-table (onLoaded)="onLoaded()"></cb-shipping-boxes-table>
