<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Add-Ons</h1>
<p class="cb_content_primary-description">A product option (e.g., Gift Wrap, Product Size, Product Color) allows a customer to configure a product using selections defined in the product option.</p>

<cb-addons-table productId='0' (onLoaded)="onLoaded()"></cb-addons-table>
