// ADMIN NEW STYLES BASED FROM ENDOR
.reset-text-styles,
th,
td {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: unset;
}

.cb_content_primary-headline {
  .reset-text-styles();
  margin-bottom: 18px;
}

.cb_content_primary-description {
  .reset-text-styles();
  line-height: 1.5;
  font-size: 12px;
}

.cb_content_primary-description-container {
  display: flex;
  > .exclamation-icon {
    width: 21px;
  }
  > .cb_content_primary-description {
    max-width: 480px;
  }
}
