<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">My Stores</h1>
<div class="cb_content_primary-description-container">
  <div class="exclamation-icon">
    <i class="fal fa-exclamation-circle" aria-hidden="true"></i>
  </div>
  <div class="cb_content_primary-description">
    A Store is a dedicated ecommerce website utilizing a custom name, logo, style and a catalog populated with collections of products.
  </div>
</div>

<br>

<cb-storefronts-table (onLoaded)="onLoaded()"></cb-storefronts-table>
