<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<p class="cb_content_primary-headline"> Fonts </p>

<cb-tabs (tabChange)="onTabChange($event)">
  <cb-tab [title]="'Custom Fonts'" slug="custom">
    <h3 class="cb_content_primary-headline">Custom Fonts</h3>
    <cb-fonts-table></cb-fonts-table>
  </cb-tab>
  <cb-tab [title]="'System Fonts'" slug="system">
    <h3 class="cb_content_primary-headline">System Fonts</h3>
    <cb-fonts-table [isSystem]="true"></cb-fonts-table>
  </cb-tab>
</cb-tabs>
