<div class="cb_tabs">
  <nav class="cb_tabs-navigation">
    <a class="cb_tabs-navigation_tab" *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
      {{tab.title}}
      <i class="fas fa-exclamation-circle" *ngIf="tab.hasError"
        style="width:12px; font-size:11px; color:#ce2f3c; margin:4px; position:relative; top:-2px">
      </i>
    </a>
  </nav>

  <ng-content></ng-content>
</div>
