<div *ngIf="!edit">
  <cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
    <ng-content></ng-content>
    <div>
      <button type="button" class="cb_input-keyAction" (click)="edit=true">&#9745; Associate Font Group</button>
    </div>
  </cb-table-toolbar>

  <table class="cb_table noEdit">
    <thead>
      <tr>
        <th class="cb_table-col_id" (click)="sortBy('id')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='id'"></cb-svg></th>
        <th (click)="sortBy('name')">Font Group Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='name'"></cb-svg></th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
        <tr *ngIf="onCurrentPage(i)">
          <td >{{row.id}}</td>
          <td >{{row.name}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
</div>
<div *ngIf="edit">
  <cb-font-links-associate-table [font]="font" (onExit)="getRows()"></cb-font-links-associate-table>
</div>
