<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<h1 class="cb_content_primary-headline">{{title}}</h1>

<p class="cb_content_primary-description">
  {{themeService.currentTheme.name}} Online Designer supports custom fonts in the following formats: TrueType(TTF), TrueType Collections(TTC), and OpenType Font(OTF).
</p>

<p class="cb_content_primary-description">
  Upload the Normal font style first. For compatibility between the screen and PDF rendering engines, you must upload all other styles (Bold, Italic and Bold-Italic)
  you plan to use in your online designs Any font styles not uploaded will be disabled in the Online Designer.
</p>

<p class="cb_content_primary-description">
  You are responsible for font licensing. The licensing of a font may or may not permit the font to be embedded in a document (usually a PDF). If the font is embedddable,
  the actual font file is included in the document so any system viewing the font can properly render it. If a font is not embeddable, only the name of the font is included
  in the PDF and the font must be present on the computer used to view the document for proper rendering.
</p>

<cb-tabs (tabChange)="onTabChange($event)">
  <cb-tab [title]="'General'" slug="general">
    <p class="cb_content_primary-headline">
      General
    </p>
    <h3 class="cb_fieldset-headline">Upload Font File</h3>
    <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>
      <div class="cb_fieldset">
        <div class="cb_fieldset-field">
          <input class="cb_fieldset-field_input" disabled name="file" />
        </div>
        <div class="cb_fieldset-field">
          <cb-font-upload></cb-font-upload>
        </div>
        <div class="cb_fieldset-field required" [class.error]="displayName.errors && (displayName.dirty || displayName.touched)">
          <label class="cb_fieldset-field_label">Display Name</label>
          <input class="cb_fieldset-field_input" [(ngModel)]="font.displayName" name="displayName" #displayName="ngModel" required />
          <p class="cb_fieldset-input_error">Display Name is required</p>
        </div>
      </div>
      <div class="cb_content_submit">
          <button class="cb_input-keyAction cancel" (click)="cancel()" type="button">Cancel</button>
          <button class="cb_input-keyAction" type="submit">
              <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="saving" />
              Save
          </button>
      </div>
    </form>
  </cb-tab>
  <cb-tab [title]="'Associated Font Groups'" slug="associate">
    <p class="cb_content_primary-headline">
      Associated Font Groups
    </p>
    <cb-font-links-table [font]="font"></cb-font-links-table>
  </cb-tab>
</cb-tabs>
