<form class="cb_form" style="max-width: 870px;" #customArtForm="ngForm">
  <div *ngIf="ECODLandCODAEnabled">
    <div class="subtab-container inline-block">
      <div class="subtab-list">
        <div *ngFor="let subtab of designerTabs" class="subtab" [class.active]="activeDesignerTab == subtab.value"
          (click)="activeDesignerTab = subtab.value">
          <span class="subtab-name" [class.inactive]="!subtab.isActiveDesignerOfProduct">{{ subtab.text }}{{subtab.isActiveDesignerOfProduct == false ? ' | Inactive' : ''}}</span>

          <ng-template #popTemplate>
            <ul>
              <li (click)="setActiveDesignerType(subtab.value)">
                <ng-container>
                  <cb-icon [icon]="'fal fa-toggle-on'"></cb-icon> Set
                  Active
                </ng-container>
              </li>
            </ul>
          </ng-template>
          <button type="button" class="cb_popover-button cb-row-menu-trigger" [popover]="popTemplate"
            [outsideClick]="true" placement="bottom" *ngIf="!subtab.isActiveDesignerOfProduct">
            <i class="fal fa-ellipsis-v-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <cbx-checkbox label="Customization Required" name="customRequired" [(ngModel)]="product.ProductSetting.IsCustomReq"
    *ngIf="product && product.ProductSetting"></cbx-checkbox>
  <br />

  <div *ngIf="OnlyCODAEnabled || activeDesignerTab == 1">
    <button class="cb_input-keyAction" (click)="ccIntegrationModal.showDialog()">
      <i class="fas fa-pencil-ruler"></i>
      Online Designer...
    </button>
    <customer-canvas-integration-modal #ccIntegrationModal [product]="product">
    </customer-canvas-integration-modal>
    <p-listbox>
      <p-footer>
        <div>No Templates</div>
      </p-footer>
    </p-listbox>
  </div>

  <div *ngIf="OnlyECODLEnabled || activeDesignerTab == 0">
    <button class="cb_input-keyAction" (click)="artwork.OpenModal()">
      <i class="fas fa-pencil-ruler"></i>
      Online Designer...
    </button>
    <br>
    <div *ngIf="image" class="custom-art" [style.backgroundImage]="'url(' + image.getImageThumbnail() + ')'"></div>
  </div>
</form>
