@import (reference) 'custom/colors';

:host {
  ::ng-deep {
    p-listbox {
      .ui-listbox.ui-inputtext {
        border: none;
      }
    }
  }
  p-footer div {
    border: solid @gray-5;
    border-width: 1px 0;
    color: @gray-5;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 0;
    width: 355px;
  }
}

:host ::ng-deep {
  popover-container {
    .arrow:after {
      top: 2px !important;
    }
  }
}

button.cb_input-keyAction {
  font-size: 13px;
  margin: 10px 0 20px;
  height: 30px;
  width: 200px;
}

div.custom-art {
  width: 94px;
  height: 94px;
  border: solid 1px @gray-6;
  background-color: white;
  background-size: cover;
}

button.cb_popover-button.cb-row-menu-trigger {
  opacity: 0;
}

.subtab {
  &:hover {
    button.cb_popover-button.cb-row-menu-trigger {
      opacity: 1;
    }
  }
  .subtab-name {
    &.inactive {
      font-style: italic;
      font-size: 12px;
    }
  }
  &.active {
    font-weight: 500;
  }
}
