<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<h1 class="cb_content_primary-headline">Company/Financials Reports</h1>

<div class="cb_content_primary-toolbar">
	<div class="cb_input-filter-wrapper solo">
    <input class="cb_input-filter" type="text">
 	</div>
</div>

<ul class="cb_accordion">
	<li class="cb_accordion-segment">
		<input class="cb_accordion-segment_toggle" type="checkbox" checked />
		<div class="cb_accordion-segment_header clearfix">
			<i class="cb_accordion-segment_header-openState"></i>
			<h3 class="cb_accordion-segment_header-title">Business Summary:</h3>
			<p class="cb_accordion-segment_header-description">Lorem ipsum dolor sit amet.</p>
		</div>
		<ul class="cb_accordion-segment_content">
			<li class="cb_accordion-segment_content-item clearfix">
				<p class="cb_accordion-segment_content-item_description"><span class="cb_accordion-segment_content-item_title">Summary:</span> Sales totals by income account for each salesperson.</p>
				<a class="cb_accordion-segment_content-item_link"></a>
			</li>
			<li class="cb_accordion-segment_content-item clearfix">
				<p class="cb_accordion-segment_content-item_description"><span class="cb_accordion-segment_content-item_title">Detail:</span> Invoices and customers broken down by income account for each salesperson.</p>
				<a class="cb_accordion-segment_content-item_link"></a>
			</li>
			<li class="cb_accordion-segment_content-item clearfix">
				<p class="cb_accordion-segment_content-item_description"><span class="cb_accordion-segment_content-item_title">Drilldown:</span> Show/hide information as desired. Includes parameters to filter by Completed of Closed sales and Vended products.</p>
				<a class="cb_accordion-segment_content-item_link"></a>
			</li>
		</ul>
	</li>
	<li class="cb_accordion-segment">
		<input class="cb_accordion-segment_toggle" type="checkbox" checked />
		<div class="cb_accordion-segment_header clearfix">
			<i class="cb_accordion-segment_header-openState"></i>
			<h3 class="cb_accordion-segment_header-title">Customer Earnings:</h3>
			<p class="cb_accordion-segment_header-description">Lorem ipsum dolor sit amet.</p>
		</div>
		<ul class="cb_accordion-segment_content">
			<li class="cb_accordion-segment_content-item clearfix">
				<p class="cb_accordion-segment_content-item_description"><span class="cb_accordion-segment_content-item_title">Summary:</span> Sales totals by income account for each salesperson.</p>
				<a class="cb_accordion-segment_content-item_link"></a>
			</li>
			<li class="cb_accordion-segment_content-item clearfix">
				<p class="cb_accordion-segment_content-item_description"><span class="cb_accordion-segment_content-item_title">Detail:</span> Invoices and customers broken down by income account for each salesperson.</p>
				<a class="cb_accordion-segment_content-item_link"></a>
			</li>
			<li class="cb_accordion-segment_content-item clearfix">
				<p class="cb_accordion-segment_content-item_description"><span class="cb_accordion-segment_content-item_title">Drilldown:</span> Show/hide information as desired. Includes parameters to filter by Completed of Closed sales and Vended products.</p>
				<a class="cb_accordion-segment_content-item_link"></a>
			</li>
		</ul>
	</li>
</ul>