<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th (click)="sortBy('TemplateName')">File Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='TemplateName'"></cb-svg></th>
      <th [attr.data-status]="true" class="not-sortable cb_table-col_preview">Preview</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i) && !templateBlackList.includes(row.TemplateName)">
        <td (click)="gotoDetail(row.TemplateName)" >
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.TemplateName}}
        </td>
        <td data-status="false" (click)="preview(row)">
          <cb-svg title="Preview" [icon]="'eye'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<div *ngIf="!total">
  No results for this filter.
</div>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
