<div class="full-page-loader tab" *ngIf="!dataLoaded">
  <i class="fal fa-spinner fa-spin"></i>
</div>
<br *ngIf="isAssociateList">
<cb-record-search-actions
  entity="Associate Products"
  relativeAddPath="" isAssociate="true"
  [showAddButton]="!isAssociateList"
  [selected]="productsTable.selected"
  [actions]="isAssociateList ? [] : recordActions"
  (checked)="productsTable.setSelectAll($event)"
  (clickButtonEvent)="state='associate'"
>
</cb-record-search-actions>
<cb-table-toolbar
  (onCountChange)="onCountChange($event)"
  [search]="search"
  (onSearchChange)="onSearchChange($event)"
>
  <ng-content></ng-content>
</cb-table-toolbar>
<br />
<h5>
  Displaying: {{ rows.length }} Result<span *ngIf="rows.length > 1"
    >s</span
  >
</h5>

<cb2-table
  [value]="rows"
  [cols]="_columns"
  [rowActions]="isAssociateList ? [] : [RowAction.Delete]"
  #productsTable
  idField="ProductId"
  (deleteEvent)="delete($event)"
>
</cb2-table>
<cb-pagination *ngIf="response.count" [count]="response.count" [size]="request.size" [index]="request.index" (pageChange)="onPageChange($event)"></cb-pagination>

<cb-bundle-associate-table *ngIf="state=='associate'" [product]="product" (onExit)="associated()"></cb-bundle-associate-table>
<!--
  <div [hidden]="state!='list'">
  <cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
    <button type="button" class="cb_input-keyAction" (click)="state='associate'">+ Add Child Products</button>
  </cb-table-toolbar>

  <table class="cb_table noEdit">
    <thead>
      <tr>
        <th class="cb_table-col_id" (click)="onSort('ProductId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='ProductId'"></cb-svg></th>
        <th class="not-sortable cb_table-col_image">Image</th>
        <th class="cb_table-col_product_name" (click)="onSort('Name')">Name <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='Name'"></cb-svg></th>
        <th class="cb_table-col_retail_price" (click)="onSort('RetailPrice')">Retail <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='RetailPrice'"></cb-svg></th>
        <th class="cb_table-col_sales_price" (click)="onSort('SalePrice')">Sales <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='SalePrice'"></cb-svg></th>
        <th class="cb_table-col_wholesale_price" (click)="onSort('WholesalePrice')">Wholesale <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='WholesalePrice'"></cb-svg></th>
        <th class="not-sortable cb_table-col_quantity_on_hand">On Hand</th>
        <th class="cb_table-col_active" (click)="onSort('IsActive')" data-status="true">Active <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='IsActive'"></cb-svg></th>
        <th class="not-sortable cb_table-col_delete"></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows">
      <td>
        {{row.ProductId}}
      </td>
      <td class="cb_table-cell_image">
        <img *ngIf="row.ArtworkThumbnailUri" [src]="row.ArtworkThumbnailUri" />
        <img *ngIf="row.ImageSmallPath && !row.ArtworkThumbnailUri" src="{{row.ImageSmallPath | imagePath: imageRoot}}" />
        <img *ngIf="!row.ImageSmallPath && !row.ArtworkThumbnailUri" src="assets/img/noimage.gif" />
      </td>
      <td>{{row.Name}}</td>
      <td>{{row.RetailPrice | currency:'USD':true}}</td>
      <td>{{row.SalePrice | currency:'USD':true}}</td>
      <td>{{row.WholesalePrice | currency:'USD':true}}</td>
      <td>{{row.QuantityOnHand || 0}}</td>
      <td [attr.data-status]="row.IsActive"><cb-svg [icon]="'power'"></cb-svg></td>
      <td class="cb_table-utils" (click)="delete(row.ProductId)">
        <cb-svg class="closeCircle" [icon]="'closeCircle'"></cb-svg>
      </td>
    </tr>
    </tbody>
  </table>

  <cb-pagination *ngIf="response.count" [count]="response.count" [size]="request.size" [index]="request.index" (pageChange)="onPageChange($event)"></cb-pagination>
</div> -->
