<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="!profile">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<div *ngIf="profile">

  <h1 class="cb_content_primary-headline">{{title}}</h1>
  <p class="cb_content_primary-description">Manage profile settings.</p>

  <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>

      <div class="cb_fieldset">

        <h3 class="cb_fieldset-headline">General Information</h3>

        <div class="cb_fieldset-field near" [class.error]="name.errors && (name.dirty || name.touched)">
            <label class="cb_fieldset-field_label">Profile Name <span class="cb_fieldset-name_required">*</span></label>
            <input class="cb_fieldset-field_input" type="text" placeholder="Profile Name" [(ngModel)]="profile.Name" name="name" #name="ngModel" required>
            <p class="cb_fieldset-input_error">Profile Name is required</p>
        </div>

        <div class="cb_fieldset-field near" >
            <label class="cb_fieldset-field_label">Profile Code <cb-tooltip locationId="profiles_code"></cb-tooltip></label>
            <input class="cb_fieldset-field_input" type="text" placeholder="Profile Code" [(ngModel)]="profile.ExternalId" name="externalId">
        </div>

        <div class="cb_fieldset-field near" >
            <label class="cb_fieldset-field_label">Weighting <cb-tooltip locationId="profiles_weighting"></cb-tooltip></label>
            <input class="cb_fieldset-field_input" type="text" placeholder="Profile Weighting" [(ngModel)]="profile.Weighting" name="weighting">
        </div>

      </div>

      <div class="cb_fieldset">

        <h3 class="cb_fieldset-headline">Settings</h3>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="profile.ShowPricing" name="showPricing"><span class="cb_fieldset-field_label--inline_text_content"> Display product price for this profile</span></label>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="profile.UseWholesalePricing" name="useWholesalePricing"><span class="cb_fieldset-field_label--inline_text_content"> Enable Wholesale Pricing for this profile</span></label>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="profile.ShowOnPartnerSignup" name="showOnParterSignup"><span class="cb_fieldset-field_label--inline_text_content"> Enable Affiliate sign-up option for this profile</span></label>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="profile.TaxExempt" name="taxExempt"><span class="cb_fieldset-field_label--inline_text_content"> This profile has Tax Exempt status</span></label>
        </div>

      </div>

      <div class="cb_content_submit">
        <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
        <button class="cb_input-keyAction" type="submit">
            <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
            Save
        </button>
      </div>
  </form>
</div>
