<div *ngIf="fontGroup">
  <div *ngIf="!edit">
    <cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
      <ng-content></ng-content>
      <div>
        <button type="button" class="cb_input-keyAction" (click)="edit=true">&#9745; Associate Fonts</button>
      </div>
    </cb-table-toolbar>

    <table class="cb_table noEdit">
      <thead>
        <tr>
          <th (click)="sortBy('displayName')">Display Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='displayName'"></cb-svg></th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
          <tr *ngIf="onCurrentPage(i)">
            <td>{{row.displayName}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>

    <cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
  </div>
  <div *ngIf="edit">
    <cb-font-group-links-associate-table [fontGroup]="fontGroup" (onExit)="getRows()"></cb-font-group-links-associate-table>
  </div>
</div>
