<div class="cb_tabs-header">
  <div class="cb_content_primary-description-container">
    <div class="exclamation-icon"><i aria-hidden="true" class="fal fa-exclamation-circle"></i></div>
    <div class="cb_content_primary-description">
      Associate collections and optionally assign a collection to a parent collection to define a hierarchy.
    </div>
  </div>
</div>

<cb-record-search-actions entity="Associate Collections" (add)="associate()" (clickButtonEvent)="onAdd.emit()"
  [selected]="nodesTable.selected" (checked)="nodesTable.setSelectAll($event)">
</cb-record-search-actions>
<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
  <ng-content></ng-content>
</cb-table-toolbar>
<br>
<h5>Displaying: {{filtered.length}} Result<span *ngIf="filtered.length > 1">s</span></h5>

<cb2-table [value]="filtered" [cols]="_columns" [rowActions]="[RowAction.Activate, RowAction.Remove]" canActivate="true" #nodesTable
  idField="CategoryNodeId" (gotoDetail)="gotoDetail($event)" (deleteEvent)="delete($event)" (toggleActiveEvent)="toggleActive($event)">
</cb2-table>
