<!-- <cb-flex-modal #previewDialog (onCloseDialog)="close()" modalTitle="Canvas Editor"
  [displayDialog]="displayDialog" [isLoading]="false" [width]="'1500px'"
  [buttonTexts]="{cancelText: 'Close', saveText: 'Add', saveAndClose: 'Add and Close'}">

  <div class="flex-modal-body-content" style="width: 1400px;">
    <br>
    <div id="editor-container" style="height: 700px"></div>
    <br>
  </div>

</cb-flex-modal> -->

<div id="editor-container" style="height: 700px"></div>