<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
  <ng-content></ng-content>
  <div>
    <button type="button" class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
    <button type="button" class="cb_input-keyAction" (click)="save()">
      <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="saving" /> Save
    </button>
  </div>
</cb-table-toolbar>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<table class="cb_table">
  <thead>
    <tr>
      <td class="not-sortable cb_table-col_associated"></td>
      <th class="cb_table-col_id" (click)="sortBy('id')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='id'"></cb-svg></th>
      <th class="not-sortable">Colors</th>
      <th (click)="sortBy('name')">Display Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='name'"></cb-svg></th>
      <th class="not-sortable">CMYK</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)" (click)="associatedColors[row.id] = !associatedColors[row.id]">
        <td>
          <label class="cb_input-checkbox">
            <input type="checkbox" (click)="associatedColors[row.id] = !associatedColors[row.id]" [(ngModel)]="associatedColors[row.id]">
            <span class="cb_input-checkbox_control"></span>
          </label>
        </td>
        <td>
          {{row.id}}
        </td>
        <td>
          <div class="cb_table-color_swatch" [style.background]="row | color: 'rgb'"></div>
        </td>
        <td>{{row.name}}</td>
        <td>{{row | color: 'cmyk'}}</td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
