<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<h1 class="cb_content_primary-headline">{{title}}</h1>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<cb-tabs (onChange)="changedTab($event)">
  <cb-tab [title]="'General'" slug="general">

    <div class="cb_tabs-header">
      <h2 class="cb_tabs-header_headline">General</h2>
    </div>

    <form class="cb_form" (ngSubmit)="save()" ngNativeValidate>

      <h3 class="cb_fieldset-headline">General Settings</h3>

      <div class="cb_fieldset">

        <div class="cb_fieldset-field required" [class.error]="name.errors && (name.dirty || name.touched)">
          <label class="cb_fieldset-field_label">Add-On Name <cb-tooltip locationId="addons_name"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Add-On Name" [(ngModel)]="addon.Name" (blur)="onBlur($event)" name="name" #name="ngModel" required>
          <p class="cb_fieldset-input_error">Add-On Name is required</p>
        </div>

        <div class="cb_fieldset-field required" [class.error]="addonTitle.errors && (addonTitle.dirty || addonTitle.touched)">
          <label class="cb_fieldset-field_label">Add-On Title <cb-tooltip locationId="addons_title"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Add-On Title" [(ngModel)]="addon.Title" (blur)="onBlur($event)" name="addonTitle" #addonTitle="ngModel" required>
          <p class="cb_fieldset-input_error">Add-On Title is required</p>
        </div>

      </div>

      <div class="cb_fieldset">

        <div class="cb_fieldset-field required" [class.error]="displayOrder.errors && (displayOrder.dirty || displayOrder.touched)">
          <label class="cb_fieldset-field_label">Display Order <cb-tooltip locationId="addons_display_order"></cb-tooltip></label>
          <input class="cb_fieldset-field_input" type="number" placeholder="Display Order" [(ngModel)]="addon.DisplayOrder" name="displayOrder" #displayOrder="ngModel" required>
          <p class="cb_fieldset-input_error">Display Order is required</p>
        </div>

        <div class="cb_fieldset-field near">
          <label class="cb_fieldset-field_label">Display Type <cb-tooltip locationId="addons_display_type"></cb-tooltip></label>
          <div class="cb_input-dropdown">
            <select [(ngModel)]="addon.DisplayType" name="displayType">
              <option value="0" disabled="disabled">Select</option>
              <option value="DropDownList">Drop Down List</option>
              <option value="RadioButtons">Radio Buttons</option>
              <option value="CheckBox">Check Boxes</option>
              <option value="TextBox">Text Box</option>
            </select>
          </div>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="addon.IsOptional" name="isOptional"><span class="cb_fieldset-field_label--inline_text_content"> Check if Add-On is optional</span> <cb-tooltip locationId="addons_optional"></cb-tooltip></label>
        </div>

      </div>

      <div class="cb_fieldset wide">

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">Add-On Tooltip <cb-tooltip locationId="addons_description"></cb-tooltip></label>
          <textarea [(ngModel)]="addon.Description" name="description" class="cb_fieldset-field_textarea--half"></textarea>
        </div>

      </div>

      <h3 class="cb_fieldset-headline full">Inventory Settings</h3>

      <div class="cb_fieldset">
        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label--inline">
            <input class="cb_fieldset-field_checkbox"
            type="checkbox"
            [(ngModel)]="addon.TrackInventory"
            name="trackInventory"
            value="false">
            <span class="cb_fieldset-field_label--inline_text_content"> Enable inventory tracking</span>
            <cb-tooltip locationId="addons_inventory_tracking"></cb-tooltip>
          </label>
        </div>
        <div class="cb_fieldset near" *ngIf="this.addon.TrackInventory">
          <label class="cb_fieldset-field_label">Out of Stock Options</label>
          <div class="cb_fieldset-field near">
            <label class="cb_fieldset-field_label--inline">
              <input class="cb_fieldset-field_checkbox"
                type="radio"
                [(ngModel)]="addon.AllowBackOrder"
                name="allowBackOrder"
                [value]="true"
                (click)="this.setDefaultStockMsg()">
                <span class="cb_fieldset-field_label--inline_text_content"> Enable product purchasing regardless of stock.</span>
            </label>
          </div>
          <div class="cb_fieldset-field">
            <label class="cb_fieldset-field_label--inline">
              <input class="cb_fieldset-field_checkbox"
                type="radio"
                [(ngModel)]="addon.AllowBackOrder"
                name="allowBackOrder"
                [value]="false"
                (click)="this.setDefaultStockMsg()">
                <span class="cb_fieldset-field_label--inline_text_content"> Disable Purchasing for out-of-stock products</span>
            </label>
          </div>
        </div>
      </div>

      <div class="cb_fieldset" *ngIf="this.addon.TrackInventory">
        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">In Stock Message</label>
          <input class="cb_fieldset-field_input" type="text" placeholder="In Stock Message" [(ngModel)]="addon.InStockMessage" name="inStockMessage" #inStockMessage="ngModel">
        </div>
        <div class="cb_fieldset-field required" [class.error]="outOfStockMessage.errors && (outOfStockMessage.dirty || outOfStockMessage.touched)">
          <label class="cb_fieldset-field_label">Out of Stock Message</label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Out of Stock Message" [(ngModel)]="addon.OutOfStockMessage" name="outOfStockMessage" #outOfStockMessage="ngModel" required>
          <p class="cb_fieldset-input_error">Out of Stock Message is required</p>
        </div>
        <div class="cb_fieldset-field" [class.required]="addon.AllowBackOrder" [class.error]="backOrderMessage.errors && (backOrderMessage.dirty || backOrderMessage.touched)">
          <label class="cb_fieldset-field_label">Back Order Message</label>
          <input class="cb_fieldset-field_input" type="text" placeholder="Back Order Message" [(ngModel)]="addon.BackOrderMessage" name="backOrderMessage" #backOrderMessage="ngModel" [required]="addon.AllowBackOrder">
          <p class="cb_fieldset-input_error">Back Order Message is required</p>
        </div>
      </div>

      <div class="cb_content_submit">
        <button class="cb_input-keyAction cancel" (click)="cancel()" type="button">Cancel</button>
        <button class="cb_input-keyAction" type="submit">
            <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="saving" />
            Save
        </button>
      </div>

    </form>
  </cb-tab>
  <cb-tab [title]="'Values'" slug="values">
    <div *ngIf="addon.AddOnId > 0">
      <cb-addon-values-table *ngIf="state=='list'" [AddonId]="addon.AddOnId" (onCreate)="create()" (onSelect)="select($event)"></cb-addon-values-table>
      <cb-addon-value-new *ngIf="state=='new'" [AddonId]="addon.AddOnId" (onExit)="listView()"></cb-addon-value-new>
      <cb-addon-value-details *ngIf="state=='detail'" [AddonId]="addon.AddOnId" [AddonValueId]="selectedId" (onExit)="listView()" (onLoad)="addBreadcrumb($event)"></cb-addon-value-details>
    </div>
  </cb-tab>
</cb-tabs>
