<div [class]="'color-picker-container ' + dashedName">
  <div class="form-control-float-wrapper">
    <input class="cb_fieldset-field_input" [ngClass]="colorValue ? 'cb_input-value' : 'cb_input-empty'" type="text"
      [name]="dashedName" [(ngModel)]="colorValue" (ngModelChange)="change($event)">
    <span class="floating-label">{{name}} <span class="required-label">*</span></span>

</div>
  <p-colorPicker [ngModel]="colorValue" (click)="clickColorPicker()" (ngModelChange)="change($event)"></p-colorPicker>
  <cb-tooltip *ngIf="tooltipLocationId" [locationId]="tooltipLocationId" class="pull-right"></cb-tooltip>
</div>
