:host ::ng-deep {
  .color-picker-container {
    display: flex;
    margin-bottom:15px;
    .form-control-float-wrapper {
      margin-right: 3px;
    }
  }
  p-colorpicker {
    input {
      height:30px;
      width: 30px;
    }

    .ui-colorpicker-panel.advanced-colorpicker-panel {
      margin-top: 4px;
      background-color: white;
      border: 1px solid #cccccc;
      border-radius: 3px;
      // height:300px;
      .hex {
        position: relative;
        top: 170px;
      }
    }
  }
  cb-tooltip {
    margin-left: 4px;
    margin-top: 6px;
    .cb_tooltip {
      width: 19px;
    }
  }

}
