<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<div class="cb_tabs-header">
  <h2 class="cb_tabs-header_headline">New Store Info Page</h2>
  <a href="javascript:void(0)" (click)="cancel()" class="cb_tabs-header_return">&lt; Return to Store Info</a>
</div>

<form class="cb_form" (ngSubmit)="save()" ngNativeValidate>

    <div class="cb_fieldset">

    <h3 class="cb_fieldset-headline">General Settings</h3>

    <div class="cb_fieldset-field near required" [class.error]="title.errors && (title.dirty || title.touched)">
        <label class="cb_fieldset-field_label">Page Title <cb-tooltip locationId="portal_page_title"></cb-tooltip></label>
        <input class="cb_fieldset-field_input" type="text" placeholder="Page Title" [(ngModel)]="page.Title" name="title" #title="ngModel" required>
        <p class="cb_fieldset-input_error">Page Title is required</p>
    </div>

    <div class="cb_fieldset-field near required" [class.error]="name.errors && (name.dirty || name.touched)">
        <label class="cb_fieldset-field_label">Page Name <cb-tooltip locationId="portal_page_name"></cb-tooltip></label>
        <input class="cb_fieldset-field_input" type="text" placeholder="Page Name" [(ngModel)]="page.Name" name="name" #name="ngModel" required>
        <p class="cb_fieldset-input_error">Page Name is required</p>
    </div>

    <div class="cb_fieldset-field required" *ngIf="false">
        <label class="cb_fieldset-field_label">Select Theme</label>
        <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
            <select [(ngModel)]="page.ThemeID" name="themeId">
                <option value="0">Same as Store</option>
                <option *ngFor="let theme of themes" value="{{theme.ThemeID}}">{{theme.Name}}</option>
            </select>
        </div>
        </div>
    </div>

    </div>

    <div class="cb_fieldset">

    <h3 class="cb_fieldset-headline">SEO Settings</h3>

    <div class="cb_fieldset-field near">
        <label class="cb_fieldset-field_label">SEO Title <cb-tooltip locationId="portal_seo_title"></cb-tooltip></label>
        <input class="cb_fieldset-field_input" type="text" placeholder="SEO Title" [(ngModel)]="page.SEOTitle" (blur)="onBlur($event)" name="seoTitle">
    </div>

    <div class="cb_fieldset-field near">
        <label class="cb_fieldset-field_label">SEO Keywords <cb-tooltip locationId="portal_seo_keywords"></cb-tooltip></label>
        <input class="cb_fieldset-field_input" type="text" placeholder="SEO Keywords" [(ngModel)]="page.SEOMetaKeywords" (blur)="onBlur($event)" name="seoMetaKeywords">
    </div>

    <div class="cb_fieldset-field near">
        <label class="cb_fieldset-field_label">SEO Description <cb-tooltip locationId="portal_seo_description"></cb-tooltip></label>
        <input class="cb_fieldset-field_input" type="text" placeholder="SEO Description" [(ngModel)]="page.SEOMetaDescription" name="seoMetaDescription">
    </div>

    <div class="cb_fieldset-field near">
        <label class="cb_fieldset-field_label">Additional Meta Information</label>
        <input class="cb_fieldset-field_input" type="text" placeholder="Additional Meta Information" [(ngModel)]="page.MetaTagAdditional" name="seoMetaTagAdditional">
    </div>

    <div class="cb_fieldset-field near" [class.error]="seoUrlInvalid">
        <label class="cb_fieldset-field_label">SEO Friendly Page Name <cb-tooltip locationId="portal_seo_friendly_name"></cb-tooltip></label>
        <input class="cb_fieldset-field_input" type="text" placeholder="SEO Friendly Page Name" [(ngModel)]="page.SEOURL" (blur)="onBlur($event, 'SeoUrl')" name="seoUrl">
        <p class="cb_fieldset-input_error" *ngIf="seoUrlInvalid">SEO Url already exist.</p>
    </div>

    </div>

    <div class="cb_fieldset wide">

    <div class="cb_fieldset-field">
        <label class="cb_fieldset-field_label">Page Content <cb-tooltip locationId="store_page_content"></cb-tooltip></label>
        <ckeditor [(ngModel)]="page.Html" name="html" debounce="500"></ckeditor>
    </div>

    </div>

    <div class="cb_content_submit">
        <button class="cb_input-keyAction cancel" type="button" (click)="cancel()">Cancel</button>
        <button class="cb_input-keyAction" type="submit">
            <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
            Save
        </button>
    </div>

</form>
