<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">{{ title }}</h1>

<form class="cb_form" (ngSubmit)="save()" ngNativeValidate>

  <div class="cb_fieldset">

    <h3 class="cb_fieldset-headline">Box Attributes</h3>

    <div class="cb_fieldset-field required" [class.error]="displayName.errors && (displayName.dirty || displayName.touched)">
      <label class="cb_fieldset-field_label">Display Name <cb-tooltip locationId="shipping_boxes_display_name"></cb-tooltip></label>
      <input class="cb_fieldset-field_input" type="text" placeholder="Display Name" [(ngModel)]="shippingBox.DisplayName" name="displayName" #displayName="ngModel" maxlength="50" required>
      <p class="cb_fieldset-input_error">Display Name is required</p>
    </div>

    <div class="cb_fieldset-field required unit inch" [class.error]="length.errors && (length.dirty || length.touched)">
      <label class="cb_fieldset-field_label">Length <cb-tooltip locationId="shipping_boxes_length"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <input class="cb_fieldset-field_input" type="number" placeholder="0.00" [(ngModel)]="shippingBox.Length" name="length" step="0.001" #length="ngModel" min="0.01" pattern="^([0-9]{0,5})(\.[0-9]{1,2})?$" required>
      </div>
      <p class="cb_fieldset-input_error" *ngIf="length.errors?.required">Length is required</p>
      <p class="cb_fieldset-input_error" *ngIf="length.errors?.pattern">Max value is 99999.99</p>
    </div>

    <div class="cb_fieldset-field required unit inch" [class.error]="width.errors && (width.dirty || width.touched)">
      <label class="cb_fieldset-field_label">Width <cb-tooltip locationId="shipping_boxes_weight"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <input class="cb_fieldset-field_input" type="number" placeholder="0.00" [(ngModel)]="shippingBox.Width" name="width" step="0.001" #width="ngModel" min="0.01" pattern="^([0-9]{0,5})(\.[0-9]{1,2})?$" required>
      </div>
      <p class="cb_fieldset-input_error" *ngIf="width.errors?.required">Width is required</p>
      <p class="cb_fieldset-input_error" *ngIf="width.errors?.pattern">Max value is 99999.99</p>
    </div>

    <div class="cb_fieldset-field required unit inch" [class.error]="depth.errors && (depth.dirty || depth.touched)">
      <label class="cb_fieldset-field_label">Height <cb-tooltip locationId="shipping_boxes_depth"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <input class="cb_fieldset-field_input" type="number" placeholder="0.00" [(ngModel)]="shippingBox.Depth" name="depth" step="0.001" #depth="ngModel" min="0.01" pattern="^([0-9]{0,5})(\.[0-9]{1,2})?$" required>
      </div>
      <p class="cb_fieldset-input_error" *ngIf="depth.errors?.required">Height is required</p>
      <p class="cb_fieldset-input_error" *ngIf="depth.errors?.pattern">Max value is 99999.99</p>
    </div>

    <div class="cb_fieldset-field required unit lbs" [class.error]="boxWeight.errors && (boxWeight.dirty || boxWeight.touched)">
      <label class="cb_fieldset-field_label">Box Weight <cb-tooltip locationId="shipping_boxes_box_weight"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <input class="cb_fieldset-field_input" type="number" placeholder="0.00" [(ngModel)]="shippingBox.BoxWeight" name="boxWeight" step="0.001" #boxWeight="ngModel" min="0.01" pattern="^([0-9]{0,5})(\.[0-9]{1,2})?$" required>
      </div>
      <p class="cb_fieldset-input_error" *ngIf="boxWeight.errors?.required">Box Weight is required</p>
      <p class="cb_fieldset-input_error" *ngIf="boxWeight.errors?.pattern">Max value is 99999.99</p>
    </div>

    <div class="cb_fieldset-field required unit lbs" [class.error]="maxWeightCapacity.errors && (maxWeightCapacity.dirty || maxWeightCapacity.touched)">
      <label class="cb_fieldset-field_label">Max Weight Capacity <cb-tooltip locationId="shipping_boxes_max_weight"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <input class="cb_fieldset-field_input" type="number" placeholder="0.00" [(ngModel)]="shippingBox.MaxWeightCapacity" name="maxWeightCapacity" step="0.001" #maxWeightCapacity="ngModel" min="0.01" pattern="^([0-9]{0,5})(\.[0-9]{1,2})?$" required>
      </div>
      <p class="cb_fieldset-input_error" *ngIf="maxWeightCapacity.errors?.required">Max Weight Capacity is required</p>
      <p class="cb_fieldset-input_error" *ngIf="maxWeightCapacity.errors?.pattern">Max value is 99999.99</p>
    </div>

    <div class="cb_fieldset-field required">
      <label class="cb_fieldset-field_label">Flute Direction <cb-tooltip locationId="shipping_boxes_flute_direction"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select [(ngModel)]="shippingBox.FluteDirection" name="fluteDirection">
            <option value="0" disabled="disabled">Select</option>
            <option *ngFor="let fluteDirection of fluteDirections" [value]="fluteDirection.FluteDirectionId">{{fluteDirection.FluteDirectionName}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="cb_fieldset-field required" *ngIf="profiles">
      <label class="cb_fieldset-field_label">Storefront <cb-tooltip locationId="shipping_boxes_storefront"></cb-tooltip></label>
      <div class="cb_fieldset-field_wrapper">
        <div class="cb_input-dropdown">
          <select [(ngModel)]="shippingBox.ProfileId" name="ProfileId">
            <option value="0" disabled="disabled">Select</option>
            <option value="null">All Storefronts</option>
            <option *ngFor="let profile of profiles" [value]="profile.ProfileId">{{profile.Name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="cb_fieldset-field">
      <label class="cb_fieldset-field_label--inline">
        <input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="shippingBox.Active" name="active">
        <span class="cb_fieldset-field_label--inline_text_content"> Active</span> <cb-tooltip locationId="shipping_boxes_enable"></cb-tooltip>
      </label>
    </div>

  </div>

  <div class="cb_content_submit">
    <button class="cb_input-keyAction cancel" (click)="cancel()" type="button">Cancel</button>
    <button class="cb_input-keyAction" type="submit">
        <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
        Save
    </button>
  </div>

</form>
