<!-- <base-modal [noHeader]="false" [isLoading]="isLoading" [displayDialog]="displayDialog" [closable]="false" [width]="width"
  [headerText]="modalTitle">

  <div class="full-page-loader" *ngIf="isLoading">
    <i class="fal fa-spinner fa-spin"></i>
  </div>

  <div class="full-size-modal__body">
    <ng-content select="div.line-item-detail-content"></ng-content>
  </div>

  <div class="flex-modal__footer base-modal-footer" *ngIf="!isLoading">
    <button class="cb_input-keyAction cancel" type="button" (click)="close()" *ngIf="buttonTexts.cancelText">
      {{buttonTexts.cancelText}}
    </button>
    <button class="cb_input-keyAction cb_input-default" type="button" (click)="save()" *ngIf="buttonTexts.saveText" [disabled]="!isSubmitValid">{{buttonTexts.saveText}}</button>
    <button class="cb_input-keyAction" type="submit" (click)="saveAndClose()" *ngIf="buttonTexts.saveAndClose" [disabled]="!isSubmitValid"> {{buttonTexts.saveAndClose}} </button>
  </div>
  <br>
</base-modal> -->

<div class="full-page-loader tab" *ngIf="isLoading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<p-dialog [(visible)]="displayDialog" [style]="{'min-width': width, 'width': width}" [maximizable]="true" appendTo="body" [closable]="false"
  [styleClass]="'flex-modal ' + styleClass" modal="true" blockScroll="true" *ngIf="!isLoading" [contentStyle]="contentStyle">
  <p-header>
    <span [class.title-inactive]="!isActive">{{modalTitle}}</span>
    <span class="white-space"></span>
    <a role="button" class="cb_popover-button cb-row-menu-trigger" [popover]="actionTemplate" [outsideClick]="true" placement="bottom" *ngIf="rowActions?.length">
      <i class="fal fa-ellipsis-v-alt"></i>
    </a>
  </p-header>
  <div style="max-height: 70vh">

    <ng-content select="div.flex-modal-body-content"></ng-content>
  </div>

  <p-footer>
    <button class="cb_input-keyAction cancel" type="button" (click)="close()" *ngIf="buttonTexts.cancelText" [disabled]="isCancelDisabled">
      {{buttonTexts.cancelText}}
    </button>
    <button class="cb_input-keyAction cb_input-default" type="button" (click)="save()" *ngIf="buttonTexts.saveText"
      [disabled]="!isSubmitValid">{{buttonTexts.saveText}}</button>
    <button class="cb_input-keyAction" type="submit" (click)="saveAndClose()" *ngIf="buttonTexts.saveAndClose"
      [disabled]="!isSubmitValid"> {{buttonTexts.saveAndClose}} </button>
  </p-footer>
</p-dialog>

<ng-template #actionTemplate>
  <ul>
    <li (click)="setActive()" *ngIf="rowActions?.indexOf(rowAction.Activate) > -1">
      <ng-container *ngIf="isActive"><cb-icon [icon]="'fal fa-toggle-off'"></cb-icon> Set Inactive</ng-container>
      <ng-container *ngIf="!isActive"><cb-icon [icon]="'fal fa-toggle-on'"></cb-icon> Set Active</ng-container>
    </li>
    <li (click)="remove()" *ngIf="rowActions?.indexOf(rowAction.Remove) > -1">
      <cb-icon icon="fal fa-minus-circle"></cb-icon> Remove
    </li>
  </ul>
</ng-template>
