@import (reference) 'custom/colors';

.cb_input-keyAction.cancel {
  margin-left: 0px;
  margin-bottom: 0px;
}

.title-inactive {
  font-style: italic;
  color: @gray-6;
}

button.cb_popover-button.cb-row-menu-trigger {
  width: 100%
}
