@import (reference) "custom/function-vars";
@import (reference) "custom/variables";
@import (reference) "corebridge/colors";

.full-size-modal__header {
    width: 100%;
    background: @blue-gray-4;
    padding: 15px 21.5px;
}

.full-size-modal__body {
    width: 100%;
    height: calc(~"100% - 60px");
}