<base-modal
  [noHeader]="true"
  [noFooter]="true"
  [isLoading]="isLoading"
  customClass="full-size-modal"
  [displayDialog]="displayDialog"
  [closable]="false"
  [cancellable]="true"
  [closeOnXClick]="false"
  modalContentClasses="fullsize"
  (onCancelDialog)="onCloseDialog.emit(false)">
  <div class="full-size-modal__header">
    <ng-content select="div.line-item-detail-header"></ng-content>
  </div>
  <div class="full-size-modal__body">
    <!-- BODY HERE -->        
    <ng-content select="div.line-item-detail-content"></ng-content>
  </div>

  <div class="full-size-modal__footer">
    <ng-content select="div.line-item-detail-footer"></ng-content>
  </div>
</base-modal>