/* You can add global styles to this file, and also import other style files */
@import (reference) "custom/colors";
@import "../node_modules/dragula/dist/dragula.css";

// Theme Colors

@cb-1: #99ca3b;
@cy-1: #2f82af;
@cb-2: #99c93c;
@cy-2: #2f82af;
@cb-3: #6da721;
@cy-3: #25698e;
@cb-4: #dbebad;
@cy-4: #cae1ed;
@cb-5: #afd147;
@cy-5: #2f84b1;
@cb-6: #faffea;
@cy-6: #cbe1ed;

@cb-7: #e3f0c9;
@cy-7: #cae1ed;

.cb_input-upload {
  body.mistype-0 & {
    color: @cb-1;
    border-color: @cb-1;
  }
  body.mistype-1 & {
    color: @cy-1;
    border-color: @cy-1;
  }
  &:focus,
  &:hover {
    body.mistype-0 & {
      color: white;
      background: @cb-1;
    }
    body.mistype-1 & {
      color: white;
      background: @cy-1;
    }
  }
}
.cb_content_pager-page.current,
.cb_tooltip-explanation {
  body.mistype-0 & {
    border-color: @cb-1;
  }
  body.mistype-1 & {
    border-color: @cy-1;
  }
}
.cb_tooltip-explanation:before {
  body.mistype-0 & {
    border-top-color: @cb-1;
  }
  body.mistype-1 & {
    border-top-color: @cy-1;
  }
}

body
  .ui-autocomplete-panel
  .ui-autocomplete-items
  .ui-autocomplete-list-item.ui-state-highlight,
.cb_login-form > input[type="submit"].cb_login-form_submit,
.cb_content_pager-page.current,
.cbx-state-checked .cbx-check-toggler,
.cbx-state-mixed .cbx-check-toggler,
button.toggle-btn.toggle-btn-on {
  body.mistype-0 & {
    background-color: @cb-1 !important;
  }
  body.mistype-1 & {
    background-color: @cy-1 !important;
  }
}
.cb_sidebar-nav_item-link.active .cb_sidebar-nav_item-label,
.cb_sidebar-nav_item-link.active .cb_sidebar-nav_item-icon,
.cb_sidebar-nav_item-link.active cb-icon span i.cb_fa-icons,
.cb_sidebar-nav_subnav-item_link.active,
.cb_tabs-navigation_tab.active,
.cb_tabs-navigation_tab:hover,
.cb_display-segment_heading {
  body.mistype-0 & {
    color: @cb-1 !important;
    border-bottom-color: @cb-1;
  }
  body.mistype-1 & {
    color: @cy-1 !important;
    border-bottom-color: @cy-1;
  }
}
.cb_sidebar-nav_item-link.active .cb_sidebar-nav_item-label,
.cb_sidebar-nav_item-link.active .cb_sidebar-nav_item-icon,
.cb_sidebar-nav_item-link.active cb-icon span i.cb_fa-icons,
.cb_sidebar-nav_subnav-item_link.active,
.cb_table th svg {
  body.mistype-0 & {
    fill: @cb-1 !important;
  }
  body.mistype-1 & {
    fill: @cy-1 !important;
  }
}

.btn-success,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice,
.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--classic
  .select2-results__option--highlighted[aria-selected],
.cb_table td[data-status="true"]:after {
  body.mistype-0 & {
    background-color: @cb-2 !important;
  }
  body.mistype-1 & {
    background-color: @cy-2 !important;
  }
}
.full-page-loader .fal, .no-errors span,
.cb_sidebar-nav_subnav-item_link:hover,
.cb_table th.selected:after,
.cb_table td[data-online="true"] {
  body.mistype-0 & {
    color: @cb-2 !important;
  }
  body.mistype-1 & {
    color: @cy-2 !important;
  }
}
.btn-success,
.cb_login-form_credentials-remember_control,
.select2-container--classic .select2-selection--single:focus,
.select2-container--classic.select2-container--open .select2-selection--single,
.select2-container--classic .select2-selection--multiple:focus {
  body.mistype-0 & {
    border-color: @cb-2 !important;
  }
  body.mistype-1 & {
    border-color: @cy-2 !important;
  }
}
.cb_table td[data-status="true"] svg {
  body.mistype-0 & {
    fill: @cb-2 !important;
    stroke: @cb-2 !important;
  }
  body.mistype-1 & {
    fill: @cy-2 !important;
    stroke: @cy-2 !important;
  }
}
.cb_login-form_submit:hover,
.cb_login-form_submit:active {
  body.mistype-0 & {
    background-color: @cb-3 !important;
  }
  body.mistype-1 & {
    background-color: @cy-3 !important;
  }
}
.cb_field-switch i.active {
  body.mistype-0 & {
    color: @cb-3 !important;
  }
  body.mistype-1 & {
    color: @cy-3 !important;
  }
}
.cb_content_pager-prev:hover,
.cb_content_pager-prev:focus,
.cb_content_pager-next:hover,
.cb_content_pager-next:focus,
.cb_content_pager-page:hover,
.cb_content_pager-page:focus {
  body.mistype-0 & {
    background-color: @cb-4 !important;
  }
  body.mistype-1 & {
    background-color: @cy-4 !important;
  }
}
.cb_table:not(.noEdit) tbody tr:hover td {
  body.mistype-0 & {
    background-color: @cb-4 !important;
    border-top-color: @cb-5 !important;
    border-bottom-color: @cb-5 !important;
  }
  body.mistype-1 & {
    background-color: @cy-4 !important;
    border-top-color: @cy-5 !important;
    border-bottom-color: @cy-5 !important;
  }
}
.cb_table:not(.noEdit) tbody tr:hover td:first-child {
  body.mistype-0 & {
    border-left-color: @cb-5 !important;
  }
  body.mistype-1 & {
    border-left-color: @cy-5 !important;
  }
}
.cb_table:not(.noEdit) tbody tr:hover td:last-child {
  body.mistype-0 & {
    border-right-color: @cb-5 !important;
  }
  body.mistype-1 & {
    border-right-color: @cy-5 !important;
  }
}
.cb_accordion-segment_content-item:hover {
  body.mistype-0 & {
    background-color: @cb-4 !important;
    border-color: @cb-5 !important;
  }
  body.mistype-1 & {
    background-color: @cy-4 !important;
    border-color: @cy-5 !important;
  }
  .cb_tooltip-explanation {
    body.mistype-0 & {
      background-color: @cb-6 !important;
    }
    body.mistype-1 & {
      background-color: @cy-6 !important;
    }
  }
}
.cb_input-keyAction {
  white-space: nowrap;
  &.cb_input-error {
    color: #db3847;
    border: solid 1px #db3847;
  }
  body.mistype-0 & {
    background-color: @cb-1;
    &.cancel,
    &:disabled,
    .cb_fieldset-field.disabled &,
    &.cb_input-default,
    &.cb_input-error,
    &.empty {
      background: transparent;
    }
    &.cb_input-default {
      color: @cb-1;
      border: solid 1px @cb-1;
      &:focus,
      &:hover {
        color: white;
        background-color: @cb-1;
      }
    }
    &.cb_input-error {
      &:focus,
      &:hover {
        color: white;
        background: #db3847;
      }
    }
    &.empty {
      color: @cb-1;
      border-color: @cb-1;
      &:active {
        background-color: @cb-3;
        border-color: @cb-3;
      }
      &:focus,
      &:hover {
        color: white;
        background-color: @cb-1;
      }
    }
    &.cancel {
      &:focus,
      &:hover {
        color: @white;
        background-color: @gray-5;
      }
    }
  }
  body.mistype-1 & {
    background-color: @cy-1;
    &.cancel,
    &:disabled,
    .cb_fieldset-field.disabled &,
    &.cb_input-default,
    &.cb_input-error,
    &.empty {
      background: transparent;
    }
    &.cb_input-default {
      color: @cy-1;
      border: solid 1px @cy-1;
      &:focus,
      &:hover {
        color: white;
        background-color: @cy-1;
      }
    }
    &.cb_input-error {
      &:focus,
      &:hover {
        color: white;
        background: #db3847;
      }
    }
    &.empty {
      color: @cy-1;
      border-color: @cy-1;
      &:active {
        background-color: @cy-3;
        border-color: @cy-3;
      }
      &:focus,
      &:hover {
        color: white;
        background-color: @cy-1;
      }
    }
    &.cancel {
      &:focus,
      &:hover {
        color: @white;
        background-color: @gray-5;
      }
    }
  }
  &:focus,
  &:hover {
    outline: none;
  }
}
cb-image-upload + .cb_input-keyAction {
  height: 30px;
}
.reset-text-styles {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: unset;
}
.cb_content_primary-description-container {
  display: flex;
  > .exclamation-icon {
    width: 21px;
  }
  .cb_content_primary-description {
    .reset-text-styles();
    line-height: 1.5;
    font-size: 12px;
    max-width: 480px;
    i {
      padding-right: 8px;
    }
  }
}
.cb_tabs-header {
  border: none;
}
a:hover {
  text-decoration-color: transparent;
}
.cb_field-switch i.inactive {
  color: #dedede;
}
.cb_fieldset-headline {
  color: @gray-6;
  padding-top: 10px;
  + div {
    padding-top: 10px;
  }
}
.cb_fieldset-field-input {
  width: inherit;
}
.cb_fieldset-field.scoped .cb_fieldset-field_inputgroup {
  border-radius: 3px;
  border: 1px solid #b9bfc7;
}
.cb_fieldset-field.scoped .cb_fieldset-field_inputgroup > * {
  border: none;
  background: none;
  text-align: center;
}
.cb_fieldset-field.scoped .cb_fieldset-description {
  color: initial;
}
.cb_fieldset-field.scoped .cb_fieldset-field_label--inline {
  display: inline-block;
  width: 100%;
}
.cb_fieldset-field.scoped .cb_fieldset-field_label--inline [class^="ui-"] {
  padding-left: 0;
}
.cb_fieldset-field.scoped
  .cb_fieldset-field_label--inline
  > [class^="ui-"]
  > span {
  position: absolute;
  margin-top: 5px;
}
.cb_fieldset-field_label--inline {
  font-size: 11px;
  .cb_fieldset-field_checkbox {
    margin: 2.5px 0 0;
  }
}
.cb_fieldset-field input[type]:disabled {
  color: @gray-5;
}
.cb_fieldset .ui-inputgroup input {
  width: 100%;
}
.cb-field-indent-left {
  margin-left: 20px;
}
td.cb_table-cell_image img {
  display: inline-block;
  max-width: 100%;
  max-height: 25px;
  vertical-align: middle;
}
.ui-colorpicker {
  display: inline-block;
  width: 9%;
  height: 26px;
  background: transparent;
}
.color-picker-holder {
  display: inline;
  background: transparent !important;
  color: rgb(255, 255, 255);
  width: 91%;
  height: 33px;
}
.cb_fieldset-field > cb-tooltip.pull-right {
  padding-top: 5px;
}
.cb_tooltip svg {
  fill: @gray-5;
}
.cb_fieldset-field_wrapper .floating-label {
  top: -3px;
  font-size: 11px;
  opacity: 1;
  line-height: 5px;
}
.cb_input-upload-preview {
  width: 50px;
  height: auto;
  border-radius: 4px;
  border: solid 1px @gray-3;
  display: inline-block;
  margin-right: 20px;
  margin-top: 14px;
}
.cb_input-upload {
  height: 30px;
  font-size: 12px;
  font-weight: 500;
}
cbx-checkbox + cb-tooltip {
  margin-left: 5px;
  vertical-align: top;
}
cbx-checkbox .cbx-check-toggler i.fal {
  top: 4px !important;
  left: 2px !important;
}
textarea:not(:focus):not(.cb_input-empty) ~ .floating-label {
  top: -3px;
  font-size: 11px;
  opacity: 1;
  line-height: 5px;
}
.cb_overlay.open {
  z-index: 1110;
}

/* * * * * *

	Theme-specific styles

 * * * * * */
body.mistype-0 {
  .cb_fieldset-field.deletable .fa-times-circle-o {
    position: absolute;
    margin-top: 4px;
    margin-left: 13px;
    color: #d1d1d1;
    font-size: 19px;
    cursor: pointer;
  }
  .cb_field-text-swtich-inline {
    position: relative;
    top: -8px;
    margin-left: 30px !important;
  }

  .cb_field-switch .active,
  .inactive {
    font-size: 40px;
    cursor: pointer;
  }
  .ui-autocomplete-panel
    .ui-autocomplete-items
    .ui-autocomplete-list-item.ui-state-highlight {
    color: #fff;
  }
}

body.mistype-1 {
  .cb_login-brand {
    background: url("./assets/img/cyrious_logo_login.png") no-repeat;
    width: 165px;
    height: 79px;
  }
  .cb_table-edit {
    width: 36px;
  }
  .cb_table tr td:first-child,
  .cb_table tr th:first-child {
    padding-left: 10px !important;
  }
  .cb_fieldset-field.controlIntegration {
    margin-left: 0px;
  }
  .cb_fieldset-field_label.productDefaults {
    margin-left: 20px;
  }
  .cb_variablesToSetFieldTextArea {
    margin-left: 0px;
    height: 180px;
    width: 298px;
  }
  .cb_variablesToSetFieldTextAreaForProductDefaults {
    margin-left: 20px;
    height: 180px;
    width: 278px;
  }
}

body .ui-chkbox,
body .ui-chkbox .ui-chkbox-box {
  height: 14px;
  width: 14px;
}

// SET DEFAULT FONT FAMILIY
.cb_fieldset-headline,
body .ui-widget {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cb_base-modal.ui-dialog {
  .ui-dialog-footer {
    padding: 0em 1em 0em 2em;
  }
}

// BUTTONS

button {
  &.cb_input-keyAction:disabled {
    background-color: #d9d9d9 !important;
    border-color: #d9d9d9;
  }
  &.cb_input-keyAction.cb_input-default:disabled {
    background-color: transparent !important;
    color: #d9d9d9;
    border-color: #d9d9d9;
    &:hover {
      color: #d9d9d9;
    }
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.ui-dialog-mask {
  background: rgba(74, 74, 74, 0.5);
}

.flex-modal {
  &.ui-dialog-maximized {
    width: 100%;
  }
  &:not(.ui-dialog-maximized) {
    max-width: 80%;
  }

  .ui-dialog-titlebar {
    margin: 7px 30px 0 30px;
    padding: 18px 0;
    border-bottom: 1px solid #d9d9d9;
    display: flex;

    .ui-dialog-title {
      width: 100%;
      p-header {
        font-size: 20px;
        display: flex;
        .white-space {
          flex: 1;
        }

        .cb_popover-button {
          width: 20px;
          align-self: center;
          margin-right: 10px;
          text-align: center;
        }
      }
    }

    .ui-dialog-titlebar-maximize {
      outline: 0;
      .pi.pi-window-maximize,
      .pi.pi-window-minimize {
        margin-right: 0 !important;
      }
    }
  }

  .ui-dialog-titlebar-icon {
    float: unset;
    margin-left: auto;
  }

  .ui-dialog-content {
    margin: 0px 0px 0px 30px;
    padding: 0 30px 0px 0px;
  }

  .ui-dialog-footer {
    padding: 20px 30px;
    border-top: 1px solid #d9d9d9;

    button:last-child {
      margin-right: 0;
    }
  }
}

.popover-content {
  padding: 5px 0 5px 5px;
  ul {
    margin-bottom: 0;
    li {
      color: @gray-6 !important;
      cursor: pointer;
      &:hover {
        background-color: @gray-2;
      }
    }
    cb-icon {
      padding: 0 10px;
    }
  }
}

.full-page-loader .fal {
  top: 50vh;
}
.full-page-loader.tab .fal {
  top: calc(50vh - 150px);
}

cbx-datepicker {
  .today {
    border-right-color: transparent !important;
    & + span {
      background: @gray-3;
      border-radius: .25em;
    }
  }
  body.mistype-1 & .selected-day > span  {
		background: @cy-1 !important;
	}
	.optionTab {
		display: none;
	}
}

cb2-table + cb-table-pagination {
  float: right;
}

.subtab-container {
  margin-bottom: 15px;
  .subtab-list {
    display: flex;
    .subtab {
      border-width: 1px;
      border-style: solid;
      border-color: #cccccc;
      padding: 8px 18px;
      cursor: pointer;
      &.active {
        background-color: @cb-7;
        body.mistype-1 & {
          background-color: @cy-7;
        }
      }
      &:not(:last-child) {
        border-right-width: 1px;
        border-left-width: 0px;
      }
      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-left-width: 1px;
      }
      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left-width: 0px;
      }

    }
  }
}

//  for accordiontab
.ui-accordion .ui-accordion-header {
  a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    &:focus {
      outline: none;
    }
  }

  &, &.ui-state-active {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
  }
  &:hover {
    border-color: #deeec1;
    background-color: #eff6e0;
  }
}

.progress .progress-bar {
  body.mistype-0 & {
    background-color: @cb-1;
  }
  body.mistype-1 & {
    background-color: @cy-1;
  }
}

.btn-white-green {
  body.mistype-1 & {
    border-color: @cy-1;
    color: @cy-1;
    i.fa, i.fal, i.far, i.fas {
      color: @cy-1;
    }
    &.green-hover:hover {
      background-color: @cy-4;
    }
  }
}

.customer-canvas-integration-dialog-content {
  .container-right {
    div.content {
      body.mistype-1 & {
        background-color: @cy-7 !important;
      }
    }
  }
}
