
<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
  <ng-content></ng-content>
</cb-table-toolbar>

<table class="cb_table noEdit">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('CSSID')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='CSSID'"></cb-svg></th>
      <th (click)="sortBy('Name')">Style <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Name'"></cb-svg></th>
      <th *ngIf="portalCatalog" data-status="true" class="not-sortable cb_table-col_enabled">Enabled</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="_rows | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td>{{row.CSSID}}</td>
        <td>{{row.Name}}</td>
        <td *ngIf="portalCatalog" [attr.data-status]="portalCatalog.CssId==row.CSSID" (click)="update(row)">
          <cb-svg [icon]="'power'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="_rows.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>