<div *ngIf="productImage">

  <div class="cb_tabs-header">
    <h2 class="cb_tabs-header_headline">{{title}}</h2>
    <a href="javascript:void(0)" (click)="cancel()" class="cb_tabs-header_return">&lt; Return to Images</a>
    <p class="cb_tabs-header_description">The product image edit feature allows modifications to the general image information. When an image change is required, delete the image record and create a new record.</p>
  </div>

  <div class="cb_form">

      <div class="cb_fieldset">

        <h3 class="cb_fieldset-headline">General Information</h3>

        <div class="cb_fieldset-field near" [class.error]="productImage.Name==''">
            <label class="cb_fieldset-field_label">Title <span class="cb_fieldset-name_required">*</span> <cb-tooltip locationId="products_image_title"></cb-tooltip></label>
            <input class="cb_fieldset-field_input" type="text" placeholder="Image Title" [(ngModel)]="productImage.Name">
            <p class="cb_fieldset-input_error">Image Title is required</p>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label">Image Type <cb-tooltip locationId="products_image_type"></cb-tooltip></label>
          <div class="cb_fieldset-field_wrapper">
            <div class="cb_input-dropdown">
              <select [(ngModel)]="productImage.ProductImageTypeID">
                <option value="0" disabled="disabled">Select</option>
                <option *ngFor="let type of productImageTypes" [(ngValue)]="type.ProductImageTypeID">{{type.Name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="productImage.ActiveInd"><span class="cb_fieldset-field_label--inline_text_content"> Display thumbnail on product page</span> <cb-tooltip locationId="products_thumbs_on_product_page"></cb-tooltip></label>
        </div>

        <div class="cb_fieldset-field">
          <label class="cb_fieldset-field_label--inline"><input class="cb_fieldset-field_checkbox" type="checkbox" [(ngModel)]="productImage.ShowOnCategoryPage"><span class="cb_fieldset-field_label--inline_text_content"> Display thumbnail on category page</span> <cb-tooltip locationId="products_thumbs_on_category_page"></cb-tooltip></label>
        </div>

      </div>

      <div class="cb_fieldset">

        <h3 class="cb_fieldset-headline">Product Image <cb-tooltip locationId="products_product_image"></cb-tooltip></h3>

        <img *ngIf="productImage.ImageFile" src="{{productImage.ImageFile | imagePath: imageRoot}}" style='max-width:100%' />
        <br />
        <br />

        <div class="cb_fieldset-field near">
            <label class="cb_fieldset-field_label">Image Alt Text <cb-tooltip locationId="products_image_alt_text"></cb-tooltip></label>
            <input class="cb_fieldset-field_input" type="text" placeholder="Image Alt Text" [(ngModel)]="productImage.ImageAltTag">
        </div>

        <div class="cb_fieldset-field near">
            <label class="cb_fieldset-field_label">Display Order <cb-tooltip locationId="products_image_display_order"></cb-tooltip></label>
            <input class="cb_fieldset-field_input" type="text" placeholder="Display Order" [(ngModel)]="productImage.DisplayOrder">
        </div>

      </div>
  </div>

  <div class="cb_content_submit">
    <button class="cb_input-keyAction cancel" (click)="cancel()">Cancel</button>
    <button class="cb_input-keyAction" (click)="save()">
        <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="loading" />
        Save
    </button>
  </div>

</div>
