<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>
<div>
  <h1 class="cb_content_primary-headline">New Collection</h1>
  <div class="cb_content_primary-description-container">
    <div class="exclamation-icon">
      <i class="fal fa-exclamation-circle" aria-hidden="true"></i>
    </div>
    <div class="cb_content_primary-description">
      Create a new collection. After the new catalog is created, edit the record
      to add products to the collection.
    </div>
  </div>

  <form
    class="cb_form"
    (ngSubmit)="save()"
    ngNativeValidate
    #detailsForm="ngForm"
  >
    <div class="cb_fieldset" *ngIf="category">
      <h3 class="cb_fieldset-headline">
        General Settings</h3>
      <hr class="cb_form-divider" />

      <div
        class="cb_fieldset-field required"
        [class.error]="
          (title.errors && (title.dirty || title.touched)) || invalid['Title']
        "
      >
        <cb-tooltip
          locationId="collection_general_title"
          class="pull-right"
        ></cb-tooltip>
        <div class="form-control-float-wrapper">
          <input
            class="cb_fieldset-field_input"
            [ngClass]="category.Title ? 'cb_input-value' : 'cb_input-empty'"
            type="text"
            [(ngModel)]="category.Title"
            name="title"
            #title="ngModel"
            required
            (blur)="onBlur($event, 'Title', 'Collection Title')"
            maxlength="100"
          />
          <span class="floating-label"
            >Collection Title <span class="required-label">*</span></span
          >
        </div>
      </div>

      <div
        class="cb_fieldset-field required"
        [class.error]="
          (name.errors && (name.dirty || name.touched)) || invalid['Name']
        "
      >
        <cb-tooltip
          locationId="collection_general_navLabel"
          class="pull-right"
        ></cb-tooltip>
        <div class="form-control-float-wrapper">
          <input
            class="cb_fieldset-field_input"
            [ngClass]="category.Name ? 'cb_input-value' : 'cb_input-empty'"
            type="text"
            [(ngModel)]="category.Name"
            name="name"
            #name="ngModel"
            required
            (blur)="onBlur($event, 'Name', 'Navigation Label')"
            maxlength="100"
          />
          <span class="floating-label"
            >Navigation Label <span class="required-label">*</span></span
          >
        </div>
      </div>
    </div>

    <div class="cb_fieldset" *ngIf="category">
      <h3 class="cb_fieldset-headline">
        Display Settings
        </h3>
      <hr class="cb_form-divider" />

      <div
        class="cb_fieldset-field required"
        [class.error]="
          displayOrder.errors && (displayOrder.dirty || displayOrder.touched)
        "
      >
        <cb-tooltip
          locationId="collection_display_displayOrder"
          class="pull-right"
        ></cb-tooltip>
        <div class="form-control-float-wrapper">
          <input
            class="cb_fieldset-field_input"
            [ngClass]="displayOrder.errors && (displayOrder.dirty || displayOrder.touched) ? 'cb_input-empty' : 'cb_input-value'"
            type="number"
            [(ngModel)]="category.DisplayOrder"
            (blur)="onBlur($event, 'DisplayOrder', 'Display Order')"
            name="displayOrder"
            #displayOrder="ngModel"
            required
          />
          <span class="floating-label"
            >Display Order <span class="required-label">*</span></span
          >
        </div>
      </div>

      <div class="cb_fieldset-field ">
        <cbx-checkbox
          [(ngModel)]="category.Properties.IsFeatured"
          name="categoryIsFeatured"
          label="Featured Collection"
        ></cbx-checkbox>
        <cb-tooltip locationId="collection_display_featuredCategory"></cb-tooltip>
      </div>

      <div class="cb_fieldset-field ">
        <cbx-checkbox
          [(ngModel)]="category.SubcategoryGridIsVisible"
          name="subcategoryGridIsVisible"
          label="Show Child Collections in Navigation"
        ></cbx-checkbox>
        <cb-tooltip locationId="collections_display_displayChild"></cb-tooltip>
      </div>
    </div>

    <div class="cb_fieldset" style="margin-top: -60px;" *ngIf="category">
      <h3 class="cb_fieldset-headline">
        Collection Image
        <cb-tooltip
          locationId="collection_image"
          class="pull-right"
        ></cb-tooltip>
      </h3>
      <hr class="cb_form-divider" style="margin-bottom: 10px" />

      <div class="cb_fieldset-field noBottomMargin">
        <img
          *ngIf="category.ImageFile"
          class="cb_input-upload-preview"
          src="{{ category.ImageFile | imagePath: imageRoot }}?v={{
            imageVersion
          }}"
        />
        <img
          *ngIf="!category.ImageFile"
          class="cb_input-upload-preview"
          src="assets/img/noimage.gif"
        />

        <cb-image-upload
          (onUpload)="uploadCategoryImage($event)"
          [portalId]="category.PortalID"
        ></cb-image-upload>
        <input
          type="button"
          class="cb_input-keyAction empty cb_input-upload"
          value="Delete"
          (click)="category.ImageFile = ''"
        />
      </div>

      <div class="cb_fieldset-field ">
        <cb-tooltip
          locationId="collection_image_AltText"
          class="pull-right"
        ></cb-tooltip>
        <div class="form-control-float-wrapper">
          <input
            class="cb_fieldset-field_input"
            type="text"
            [ngClass]="category.ImageAltTag ? 'cb_input-value' : 'cb_input-empty'"
            [(ngModel)]="category.ImageAltTag"
            name="imageAltTag"
          />
          <span class="floating-label">Image Alt Text</span>
        </div>
      </div>

      <h3 class="cb_fieldset-headline">
        SEO Settings
      </h3>
      <hr class="cb_form-divider" />

      <div class="cb_fieldset-field">
        <cb-tooltip
          locationId="collection_seo_title"
          class="pull-right"
        ></cb-tooltip>
        <div class="form-control-float-wrapper">
          <input
            class="cb_fieldset-field_input"
            type="text"
            [ngClass]="category.SeoTitle ? 'cb_input-value' : 'cb_input-empty'"
            [(ngModel)]="category.SeoTitle"
            name="seoTitle"
            maxlength="100"
          />
          <span class="floating-label">SEO Title</span>
        </div>
      </div>
      <div class="cb_fieldset-field">
        <cb-tooltip
          locationId="collection_seo_description"
          class="pull-right"
        ></cb-tooltip>
        <div class="form-control-float-wrapper">
          <textarea
            class="cb_fieldset-field_textarea"
            [ngClass]="category.SeoDescription ? 'cb_input-value' : 'cb_input-empty'"
            [(ngModel)]="category.SeoDescription"
            name="seoDescription"
          ></textarea>
          <span class="floating-label">SEO Description</span>
        </div>
      </div>
      <div class="cb_fieldset-field required"
        [class.error]="(seoUrl.errors && (seoUrl.dirty || seoUrl.touched)) || invalid['SeoUrl']">
        <cb-tooltip
          locationId="collection_seo_urlHandle"
          class="pull-right"
        ></cb-tooltip>
        <div class="form-control-float-wrapper">
          <input
            class="cb_fieldset-field_input"
            [ngClass]="category.SeoUrl ? 'cb_input-value' : 'cb_input-empty'"
            type="text"
            [(ngModel)]="category.SeoUrl"
            name="seoUrl"
            #seoUrl="ngModel"
            (blur)="onBlur($event, 'SeoUrl', 'URL Handle')"
            required
            maxlength="100"
            (input)="setUrlHandle($event.target.value, $event)"
          />
          <span class="floating-label">URL Handle <span class="required-label">*</span></span>
        </div>
      </div>
    </div>

    <!-- <div class="cb_content_submit">
      <button class="cb_input-keyAction cancel" (click)="cancel()" type="button">
        Cancel
      </button>
      <button
        class="cb_input-keyAction"
        type="submit"
        [disabled]="detailsForm.invalid || detailedErrors.length"
      >
        <img
          src="/assets/img/ring.gif"
          style="max-height: 13px;float: left;margin-right: 13px;"
          *ngIf="loading"
        />
        Save
      </button>
    </div> -->
  </form>
</div>

<cb-autosave-bar (clickCancel)="cancel()" (clickClose)="cancel()" (clickSave)="detailsForm.invalid || detailedErrors.length ? focusInvalid() : save()"
  [state]="saveState" [isNewEntity]="true" [isManualSave]="true">
</cb-autosave-bar>
