<div *ngIf="colorGroup">
  <div *ngIf="!edit">
    <cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
      <ng-content></ng-content>
      <div>
        <button type="button" class="cb_input-keyAction" (click)="edit=true">&#9745; Associate Colors</button>
      </div>
    </cb-table-toolbar>

    <table class="cb_table noEdit">
      <thead>
        <tr>
          <th class="cb_table-col_id" (click)="sortBy('id')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='id'"></cb-svg></th>
          <th class="not-sortable">Colors</th>
          <th (click)="sortBy('name')">Display Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='name'"></cb-svg></th>
          <th class="not-sortable">CMYK</th>
          <th class="not-sortable cb_table-col_min"></th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
          <tr *ngIf="onCurrentPage(i)">
            <td>
              {{row.id}}
            </td>
            <td>
              <div class="cb_table-color_swatch" [style.background]="row | color: 'rgb'"></div>
            </td>
            <td>{{row.name}}</td>
            <td>{{row | color: 'cmyk'}}</td>
            <td class="cb_table-utils" (click)="delete(row.id)">
              <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>

    <cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
  </div>
  <div *ngIf="edit">
    <cb-color-group-links-associate-table [colorGroup]="colorGroup" (onExit)="getRows()"></cb-color-group-links-associate-table>
  </div>
</div>
