<div *ngIf="category">
    <cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

    <h1 class="cb_content_primary-headline">Associate Product with Collection - {{category.Name}}</h1>

    <cb-product-associate-table [category]="category.CategoryId"></cb-product-associate-table>
</div>
