<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<div class="full-page-loader" *ngIf="loading">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<h1 class="cb_content_primary-headline">Surface Presets</h1>

<cb-surface-presets-table (onLoaded)="onLoaded()"></cb-surface-presets-table>
