<cb-breadcrumbs [breadcrumbs]="breadcrumbs"></cb-breadcrumbs>

<h1 class="cb_content_primary-headline">New Color</h1>
<div class="cb_fieldset">
  <div class="cb_fieldset-field">
      <!-- <p-colorPicker  [(ngModel)]="color1" format="rgb" [inline]="true" (colorChange)="colorChange($event)"></p-colorPicker> -->
      <!-- <p style="margin-top:.5em">Selected Color: <span [ngStyle]="{'color':color2}">{{color2}}</span></p> -->
    <cb-color-picker [color]="color | color: 'hex'" (colorChange)="colorChange($event)"></cb-color-picker>
  </div>
  <div class="cb_fieldset-col_container">
    <div class="cb_fieldset-col_left">
      <div class="link-arrows"></div>
      <div class="link">
        <cb-svg *ngIf="link" [icon]="'link'" (click)="link = !link"></cb-svg>
        <cb-svg *ngIf="!link" [icon]="'unlink'" (click)="link = !link"></cb-svg>
      </div>
    </div>
    <div class="cb_fieldset-col_right">
      <div class="cb_fieldset-field">
        <label class="cb_fieldset-field_label--inline">
          <div class="cb_fieldset-field_color" [style.background]="color | color:'rgb'"></div>
          RGB for On-screen Preview
        </label>
      </div>
      <div class="cb_fieldset-field">
        <label class="cb_fieldset-field_label--inline small">
          R
          <input class="cb_fieldset-field_input small" [ngModel]="color.r" (ngModelChange)="updateCmyk('r', $event)" />
        </label>
        <label class="cb_fieldset-field_label--inline small">
          G
          <input class="cb_fieldset-field_input small" [ngModel]="color.g" (ngModelChange)="updateCmyk('g', $event)" />
        </label>
        <label class="cb_fieldset-field_label--inline small">
          B
          <input class="cb_fieldset-field_input small" [ngModel]="color.b" (ngModelChange)="updateCmyk('b', $event)" />
        </label>
      </div>
      <div class="cb_fieldset-field">
        <label class="cb_fieldset-field_label--inline">
          <div class="cb_fieldset-field_color" [style.background]="color | color:'cmyk-rgb'"></div>
          CMYK Values to be Printed
        </label>
      </div>
      <div>
        <label class="cb_fieldset-field_label--inline small">
          C
          <input class="cb_fieldset-field_input small" [ngModel]="color.c" (ngModelChange)="updateRgb('c', $event)" />
        </label>
        <label class="cb_fieldset-field_label--inline small">
          M
          <input class="cb_fieldset-field_input small" [ngModel]="color.m" (ngModelChange)="updateRgb('m', $event)" />
        </label>
        <label class="cb_fieldset-field_label--inline small">
          Y
          <input class="cb_fieldset-field_input small" [ngModel]="color.y" (ngModelChange)="updateRgb('y', $event)" />
        </label>
        <label class="cb_fieldset-field_label--inline small">
          K
          <input class="cb_fieldset-field_input small" [ngModel]="color.k" (ngModelChange)="updateRgb('k', $event)" />
        </label>
      </div>
    </div>
  </div>
</div>
<form class="cb_form" (ngSubmit)="save()" ngNativeValidate>
  <div class="cb_fieldset">
    <div class="cb_fieldset-field required" [class.error]="name.errors && (name.dirty || name.touched)">
      <label class="cb_fieldset-field_label">Name</label>
      <input class="cb_fieldset-field_input" [(ngModel)]="color.name" name="name" #name="ngModel" required />
      <p class="cb_fieldset-input_error">Name is required</p>
    </div>
    <div class="cb_fieldset-field">
      <label class="cb_fieldset-field_label--inline">
        <input [(ngModel)]="color.printAsSpot" type="checkbox" class="cb_fieldset-field_checkbox" name="printAsSpot" />
        <span class="cb_fieldset-field_label--inline_text_content"> Print As Spot Color </span>
      </label>
    </div>
    <div *ngIf="color.printAsSpot" class="cb_fieldset-field">
      <label class="cb_fieldset-field_label">Name in PDF</label>
      <input class="cb_fieldset-field_input" [(ngModel)]="color.spotName" name="spotName" />
    </div>
  </div>
  <div class="cb_content_submit">
      <button class="cb_input-keyAction cancel" (click)="cancel()" type="button">Cancel</button>
      <button class="cb_input-keyAction" type="submit">
          <img src='/assets/img/ring.gif' style='max-height: 13px;float: left;margin-right: 13px;' *ngIf="saving" />
          Save
      </button>
  </div>
</form>
