<h3 class="cb_fieldset-headline">
  Product Availability Restrictions
  <cb-tooltip locationId="undefined" class="pull-right"></cb-tooltip>
</h3>
<hr class="cb_form-divider" />

<div class="table-component-container">
  <p-table [value]="skuProfiles.concat(emptyProfile)" [styleClass]="'cb_turbotable available-dates'">
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr *ngIf="rowIndex < skuProfiles.length">
        <td>
          <div class="cb_fieldset-field near">
            <cb-tooltip
              locationId="undefined"
              class="pull-right"
            ></cb-tooltip>
            <cbx-dropdown
              label="Store"
              dataValue="ProfileID"
              dataText="Name"
              [options]="[rowData['PortalProfile']].concat(filteredPortalProfiles)"
              [ngModel]="rowData.ProfileId"
              (onSelect)="onSelectProfile($event,rowData)"
            >
            </cbx-dropdown>
          </div>
          <div class="cb_fieldset-field near">
            <cbx-datepicker pickerType="date" label="Start Date"
              [ngModel]="rowData.EffectiveDate" (ngModelChange)="onSelectDate($event,rowData)">
            </cbx-datepicker>
            <cb-tooltip locationId="undefined"></cb-tooltip>
          </div>
        </td>
        <td>
          <ng-template #popTemplate>
            <ul>
              <li (click)="remove(rowIndex)">
                <cb-icon [icon]="'fal fa-trash-alt'"></cb-icon> Delete
              </li>
            </ul>
          </ng-template>
          <button type="button" class="cb_popover-button cb-row-menu-trigger"
            [popover]="popTemplate" [outsideClick]="true" placement="bottom">
            <i class="fal fa-ellipsis-v-alt"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf=" rowIndex == skuProfiles.length && skuProfiles.length < portalProfiles.length" class="row-add">
        <td>
          <span class="add-btn" *ngIf="!isAddMode" (click)="onClickAdd()">
            + Availability Restriction
          </span>
          <ng-container *ngIf="isAddMode">
            <div class="cb_fieldset-field near">
              <cb-tooltip
                locationId="undefined"
                class="pull-right"
              ></cb-tooltip>
              <cbx-dropdown
                label="Store"
                dataValue="ProfileID"
                dataText="Name"
                [options]="filteredPortalProfiles"
                (onSelect)="onSelectProfile($event)"
              >
              </cbx-dropdown>
            </div>
            <div class="cb_fieldset-field near">
              <cbx-datepicker pickerType="date" label="Start Date"
                [(ngModel)]="newEffectiveDate" (ngModelChange)="onSelectDate($event)">
              </cbx-datepicker>
              <cb-tooltip locationId="undefined"></cb-tooltip>
            </div>
          </ng-container>
        </td>
        <td>
          <ng-template #popTemplate>
            <ul>
              <li (click)="isAddMode = false">
                <cb-icon [icon]="'fal fa-trash-alt'"></cb-icon> Delete
              </li>
            </ul>
          </ng-template>
          <button *ngIf="isAddMode" type="button" class="cb_popover-button cb-row-menu-trigger"
            [popover]="popTemplate" [outsideClick]="true" placement="bottom">
            <i class="fal fa-ellipsis-v-alt"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
