@import (reference) "custom/colors";

:host ::ng-deep {
  table {
    tbody {
      tr {
        border-bottom: 1px solid @gray-3;
        td {
          padding-top: 12px !important;
          &:first-child,
          cbx-dropdown {
            width: 90%;
          }
          .winkel-calendar .border-less,
          .wc-date-container {
            border-color: @gray-5 !important;
            width: 90% !important;
          }
          cbx-datepicker + cb-tooltip {
            padding-left: 4px;
          }
          button.cb_popover-button.cb-row-menu-trigger {
            width: 100%;
          }
          .popover-content {
            ul {
              margin-bottom: 0;
              li {
                cursor: pointer;
                color: @gray-6 !important;
                &:hover {
                  background-color: @gray-2;
                }
              }
            }
          }
        }
      }
      tr.row-add {
        td {
          padding-top: 12px;
          cbx-dropdown {
            width: 90%;
          }
          cbx-datepicker + cb-tooltip {
            padding-left: 4px;
          }
        }
        &:hover {
          background-color: white !important;
        }
        .add-btn {
          cursor: pointer;
          font-style: italic;
          color: @gray-6;
        }
      }
    }
  }
  .table-component-container {
    margin-top: -12px;
  }
}
