<cb-flex-modal (onCloseDialog)="closeDialog($event)" [displayDialog]="displayDialog" modalTitle="Image Properties"
  [isLoading]="loading" [buttonTexts]="{cancelText: 'Close', saveAndClose: 'Save'}" 
  [isSubmitValid]="true" width="370px">

  <div class="flex-modal-body-content" *ngIf="productImage">
    <br>
    <div class="cb_fieldset" style="margin-right: 10px;">
      <div class="cb_fieldset-field image-div">
        <button style="display: none;"></button>  
        <div class="p-grid">
          <div class="p-col image-thumbnail"
            
            style="height: 50px; width: 50px; border: 1px darkgray solid; background-size: cover;"
            [style.backgroundImage]="'url(' + productImage.ImageFile + ')'"></div>
        </div>
        <button class="cb_input-keyAction cb_input-default">Upload Image</button>
        <button class="cb_input-keyAction cb_input-error">Delete</button>

      </div>
      
      <div class="cb_fieldset-field">
        <cb-tooltip locationId="products_image_title" class="pull-right"></cb-tooltip>
        <div class="form-control-float-wrapper">
          <input class="cb_fieldset-field_input" type="text" name="imageTitle" [(ngModel)]="productImage.Name" autofocus/>
          <span class="floating-label">Image Title</span>
        </div>
      </div>

      <div class="cb_fieldset-field">
        <cb-tooltip locationId="products_image_alt_text" class="pull-right"></cb-tooltip>
        <div class="form-control-float-wrapper">
          <input class="cb_fieldset-field_input" type="text" name="imageAltText"
            [(ngModel)]="productImage.ImageAltTag" />
          <span class="floating-label">Image Alt Text</span>
        </div>
      </div>

      <div class="cb_fieldset-field">
        <cbx-checkbox label="Display thumbnail on product page" name="displayProductPage"
          [(ngModel)]="productImage.ActiveInd"></cbx-checkbox>
        <cb-tooltip locationId="products_thumbs_on_product_page"></cb-tooltip>
      </div>

      <div class="cb_fieldset-field">
        <cbx-checkbox label="Display thumbnail on category page" name="displayCategoryPage"
          [(ngModel)]="productImage.ShowOnCategoryPage"></cbx-checkbox>
        <cb-tooltip locationId="products_thumbs_on_category_page"></cb-tooltip>
      </div>
    </div>


  </div>

</cb-flex-modal>