<div
  class="table-component-container"
  [class.compact]="compact"
  [style.width]="width"
>
  <p-table [columns]="cols" [value]="_rows" [styleClass]="'cb_turbotable'">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em"></th>
        <th
          *ngFor="let col of columns; let first = first; let last = last"
          [pSortableColumn]="
            col['header'] == 'Thumbnail' ||
            (col['sortArrows'] && col['sortArrows'] == 'Hide')
              ? ''
              : col['sortField']
              ? col['sortField']
              : col['field']
          "
          [class]="col['class']"
          [class.thumbnail-col]="col['header'] == 'Thumbnail'"
          [class.text-right]="col['align'] == 'right' || col['currency']"
          [class.text-center]="col['align'] == 'center'"
        >
          {{ col.header }}
          <p-sortIcon
            *ngIf="
              !col['sortArrows']
                ? true
                : col['sortArrows'] == 'Hide'
                ? false
                : true
            "
            [field]="col.sortField ? col.sortField : col.field"
            ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"
          >
          </p-sortIcon>
        </th>
        <th style="width: 3em"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr (click)="onRowClickHandler($event, rowData)">
        <td>
          <p-checkbox
            [(ngModel)]="rowData.isChecked"
            binary="true"
            (click)="onClickItem(rowData, rowData.isChecked)"
          ></p-checkbox>
        </td>
        <td
          *ngFor="let col of columns"
          [class]="col['class']"
          [class.row-inactive]="canActivate && !rowData['IsActive']"
          [class.indent]=" col['header'] == 'Thumbnail' && rowData['class-indent']"
          [class.text-right]="col['align'] == 'right' || col['currency']"
          [class.text-center]="col['align'] == 'center'"
        >
          <span *ngIf="col['header'] == 'Thumbnail'">
            <img
              *ngIf="rowData[col['field']]"
              [src]="rowData[col['field']]"
              alt=""
            />
            <i *ngIf="!rowData[col['field']]" class="far fa-image"></i>
          </span>
          <ng-container *ngIf="col['header'] != 'Thumbnail'">
            <span *ngIf="!col['currency']">{{ rowData[col["field"]] }}</span>
            <span *ngIf="col['currency']">{{
              rowData[col["field"]] | currency: col["currency"]:true
            }}</span>
            <span
              *ngIf="
                canActivate &&
                col['field'] == appendInactiveField &&
                !rowData['IsActive']
              "
            >
              | Inactive</span
            >
          </ng-container>
        </td>
        <td>
          <div *ngIf="rowActions.length">
            <ng-template #popTemplate>
              <ul>
                <li
                  (click)="previewEventEmit(rowData)"
                  *ngIf="rowActions.includes(rowAction.Preview)"
                >
                  <cb-icon [icon]="'fal fa-eye'"></cb-icon> Preview
                </li>
                <li
                  (click)="copyEventEmit(rowData)"
                  *ngIf="rowActions.includes(rowAction.Clone)"
                >
                  <cb-icon [icon]="'fal fa-clone'"></cb-icon> Clone
                </li>
                <li
                  (click)="toggleActive(rowData)"
                  *ngIf="rowActions.includes(rowAction.Activate)"
                >
                  <ng-container *ngIf="!canActivate || rowData['IsActive']"
                    ><cb-icon [icon]="'fal fa-toggle-off'"></cb-icon> Set
                    Inactive</ng-container
                  >
                  <ng-container *ngIf="canActivate && !rowData['IsActive']"
                    ><cb-icon [icon]="'fal fa-toggle-on'"></cb-icon> Set
                    Active</ng-container
                  >
                </li>
                <li
                  (click)="deleteEventEmit(rowData)"
                  *ngIf="rowActions.includes(rowAction.Delete)"
                >
                  <cb-icon [icon]="'fal fa-trash-alt'"></cb-icon> Delete
                </li>
                <li
                  (click)="deleteEventEmit(rowData)"
                  *ngIf="rowActions.includes(rowAction.Remove)"
                >
                  <cb-icon icon="fal fa-minus-circle"></cb-icon> Remove
                </li>
              </ul>
            </ng-template>
            <button
              type="button"
              class="cb_popover-button cb-row-menu-trigger"
              *ngIf="rowActions.length > 0"
              [popover]="popTemplate"
              [outsideClick]="true"
              placement="bottom"
            >
              <i class="fal fa-ellipsis-v-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" *ngIf="showFooter">
      End of Results
    </ng-template>
  </p-table>
</div>
