@import (reference) 'custom/colors';
@import (reference) 'styles';

:host ::ng-deep {
  .table-component-container {
    margin-top: 15px;
    .cb_turbotable {
      thead.ui-table-thead {
        background-color: @gray-2;
        th.thumbnail-col {
          width: 4em;
          color: transparent;
        }
      }
      tbody.ui-table-tbody > tr {
        border: 1.5px solid transparent;
        border-bottom-color: @gray-2;
        background-color: transparent;
        cursor: pointer;
        button.cb_popover-button.cb-row-menu-trigger {
          opacity: 0;
        }
        &:hover {
          background-color: @gray-1 !important;
          button.cb_popover-button.cb-row-menu-trigger {
            opacity: 1;
            width: 100%;
          }
        }
        td {
          padding: 10px;
          .popover-content {
            padding: 5px 0 5px 5px;
            ul {
              margin-bottom: 0;
              li {
                color: @gray-6 !important;
                cursor: pointer;
                &:hover {
                  background-color: @gray-2;
                }
              }
              cb-icon {
                padding: 0 10px;
              }
            }
          }
          .ui-chkbox .ui-chkbox-box.ui-state-active {
            body.mistype-1 & {
              border-color: @cy-5;
              background-color: @cy-5 !important;
            }
          }
          img {
            height: 30px;
            width: 30px;
            border-radius: 3px;
          }
          i.fa-image {
            color: @gray-5;
            font-size: 16px;
            padding: 7px;
            border: 1px solid @gray-4;
            border-radius: 3px;
          }
          &.row-inactive {
            font-style: italic;
            color: @gray-6;
          }
          &.indent, &.indent + td {
            padding-left: 30px;
          }
        }
      }
      .ui-table-summary {
        background-color: @gray-1;
      }
    }
    &.compact {
      height: 260px;
      overflow-y: auto;
      .cb_turbotable tbody.ui-table-tbody > tr td {
        padding: 5px;
        &:first-child {
          display: none;
        }
        &:nth-child(2) {
          width: 40px;
        }
      }
      thead.ui-table-thead,
      .ui-table-summary {
        display: none;
      }
    }
  }
  th, td {
    &.text-center {
      text-align: center;
    }
    &.text-right {
      text-align: right;
    }
  }
}
