<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('ReviewId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ReviewId'"></cb-svg></th>
      <th (click)="sortBy('ProductName')">Product Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ProductName'"></cb-svg></th>
      <th (click)="sortBy('Comments')">Comments <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Comments'"></cb-svg></th>
      <th (click)="sortBy('CreateUser')">User Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='CreateUser'"></cb-svg></th>
      <th (click)="sortBy('UserLocation')">User Location <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='UserLocation'"></cb-svg></th>
      <th (click)="sortBy('Rating')">Rating <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Rating'"></cb-svg></th>
      <th (click)="sortBy('CreateDate')">Date <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='CreateDate'"></cb-svg></th>
      <th class="cb_table-col_active" (click)="sortBy('Status')" data-status="true">Active <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Status'"></cb-svg></th>
      <th class="not-sortable cb_table-col_delete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="gotoDetail(row.ReviewId)">
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.ReviewId}}
        </td>
        <td (click)="gotoDetail(row.ReviewId)">{{row.ProductName}}</td>
        <td (click)="gotoDetail(row.ReviewId)">{{row.Comments}}</td>
        <td (click)="gotoDetail(row.ReviewId)">{{row.CreateUser}}</td>
        <td (click)="gotoDetail(row.ReviewId)">{{row.UserLocation}}</td>
        <td (click)="gotoDetail(row.ReviewId)" >{{row.Rating}}</td>
        <td (click)="gotoDetail(row.ReviewId)">{{row.CreateDate}}</td>
        <td (click)="toggleActivation(row)" [attr.data-status]="row.Status=='A'"><cb-svg title="Toggle Active State" [icon]="'power'"></cb-svg></td>
        <td class="cb_table-utils">
          <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'" (click)="delete(row.ReviewId)"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<cb-table-pagination *ngIf="total" [total]="total" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
