<div class="full-page-loader tab" *ngIf="!dataLoaded">
  <i class="fal fa-spinner fa-spin"></i>
</div>

<div [hidden]="state!='list'">

  <!-- <cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search"
  (onSearchChange)="onSearchChange($event)" [toolbarMessage]="inactiveMessage" [hasToolBarMessage]="isInactive">
    <button type="button" class="cb_input-keyAction" (click)="state='associate'">+ Add Associated Products</button>
  </cb-table-toolbar> -->

  <!-- <table class="cb_table noEdit">
    <thead>
      <tr>
        <th class="cb_table-col_id" (click)="onSort('ProductId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='ProductId'"></cb-svg></th>
        <th class="not-sortable cb_table-col_image">Image</th>
        <th class="cb_table-col_product_name" (click)="onSort('Name')">Name <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='Name'"></cb-svg></th>
        <th class="cb_table-col_retail_price" (click)="onSort('RetailPrice')">Retail <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='RetailPrice'"></cb-svg></th>
        <th class="cb_table-col_sales_price" (click)="onSort('SalePrice')">Sales <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='SalePrice'"></cb-svg></th>
        <th class="cb_table-col_wholesale_price" (click)="onSort('WholesalePrice')">Wholesale <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='WholesalePrice'"></cb-svg></th>
        <th class="not-sortable cb_table-col_quantity_on_hand">On Hand</th>
        <th class="cb_table-col_order" (click)="onSort('DisplayOrder')">Order <cb-svg icon="carrot" [class.flipHorizontally]="!sort" *ngIf="sortString=='DisplayOrder'"></cb-svg></th>
        <th class="cb_table-col_active" (click)="onSort('IsActive')" data-status="true">Active <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='IsActive'"></cb-svg></th>
        <th class="not-sortable cb_table-col_delete"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td>
          {{row.ProductId}}
        </td>
        <td class="cb_table-cell_image">
            <img *ngIf="row.ArtworkThumbnailUri" [src]="row.ArtworkThumbnailUri" />
            <img *ngIf="row.ImageSmallPath && !row.ArtworkThumbnailUri" src="{{row.ImageSmallPath | imagePath: imageRoot}}" />
            <img *ngIf="!row.ImageSmallPath && !row.ArtworkThumbnailUri" src="assets/img/noimage.gif" />
        </td>
        <td>{{row.Name}}</td>
        <td>{{row.RetailPrice | currency:'USD':true}}</td>
        <td>{{row.SalePrice | currency:'USD':true}}</td>
        <td>{{row.WholesalePrice | currency:'USD':true}}</td>
        <td>{{row.QuantityOnHand || 0}}</td>
        <td>{{row.DisplayOrder}}</td>
        <td (click)="toggleActivation(row.ProductId)" class="centerAlign cb_table-utils" [attr.data-status]="row.IsActive"><cb-svg title="Toggle Active State" [icon]="'power'"></cb-svg></td>
        <td class="cb_table-utils" (click)="delete(row.ProductId)">
          <cb-svg class="closeCircle" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </tbody>
  </table>

  <cb-pagination *ngIf="response.count" [count]="response.count" [size]="request.size" [index]="request.index" (pageChange)="onPageChange($event)"></cb-pagination> -->
  <cb-category-products-associate-table *ngIf="category" #categoryProductAssociateModal [category]="category"
    modalTitle="Associate Products" (onAdd)="getRows(true)"></cb-category-products-associate-table>

  <cb-record-search-actions entity="Associate Products" relativeAddPath="" isAssociate="true" [actions]="recordActions"
    [selected]="productsTable.selected" (checked)="productsTable.setSelectAll($event)"
    (clickButtonEvent)="categoryProductAssociateModal.showDialog()">
  </cb-record-search-actions>
  <cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
    <ng-content></ng-content>
  </cb-table-toolbar>
  <br>
  <h5>Displaying: {{filtered.length}} Result<span *ngIf="filtered.length > 1">s</span></h5>

  <cb2-table [value]="filtered" [cols]="_columns" [rowActions]="rowActions" canActivate="true" #productsTable
    idField="ProductId" (deleteEvent)="delete($event)" (toggleActiveEvent)="toggleActivation($event)"
    (selectedChange)="refreshActions()">
  </cb2-table>
</div>

<cb-category-products-associate-table *ngIf="state=='associate'" [category]="category" (onExit)="associate()">
</cb-category-products-associate-table>
