<div class="cb_content_primary-pagination">
  <p class="cb_content_primary-pagination_count" *ngIf="false">Showing {{(_count * (page - 1))+1}} - {{maxIndex}} of {{_total}} Results</p>
  <nav class="cb_content_pager" *ngIf="pages.length > 1">
    <button class="cb_content_pager-prev" [class.disabled]="page == start" (click)="changePage(1)">First</button>
    <button class="cb_content_pager-page" (click)="changePage(page-1)">&lt;</button>
    <button class="cb_content_pager-page" *ngFor="let i of pages" [class.current]="page==i" (click)="changePage(i)">{{i}}</button>
    <button class="cb_content_pager-page" (click)="changePage(page+1)">&gt;</button>
    <button class="cb_content_pager-next" [class.disabled]="page == end" (click)="changePage(maxPageNum)">Last</button>
  </nav>
</div>
