<ng-template #popTemplate>
    <ul>
        <!-- <li>Clone</li> -->
        <li><cb-svg title="Preview" [icon]="'eye'"></cb-svg> Preview</li>
        <li><cb-svg title="Duplicate Record" [icon]="'copy'"></cb-svg> Clone</li>
        <li><cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg> Set Inactive</li>
    </ul>
</ng-template>
<button type="button" class="btn btn-light" [popover]="popTemplate" [isOpen]="isOpen" placement="bottom"  (click)="isOpen = !isOpen">
    <i class="fal fa-ellipsis-v-alt"></i>
</button>

