@import (reference) "custom/colors";
@import (reference) "corebridge/colors";
@import (reference) "custom/function-vars";

::ng-deep{
  .cb-row-action-ul{
      cursor: initial !important;
      li{
        cursor: pointer !important;
        & > span:first-child{
          width: 20px;
          text-align: center;
        }
      }
  }
}

button.cb_popover-button {
  color: @gray-5 !important;
  border-radius: 4px;
  
  &:hover {
    background-color: @gray-2;
    color: @gray-6 !important;
  }
}

.popover-content {
  padding: 0px;
}

.btn {
  padding: 0px;
  background-color: white;
}

