<div class="cb_tabs-header">
  <h2 class="cb_tabs-header_headline">Profiles</h2>
</div>

<cb-table-toolbar (onCountChange)="onCountChange($event)" [search]="search" (onSearchChange)="onSearchChange($event)">
<ng-content></ng-content>
<button type="button" class="cb_input-keyAction" (click)="create()">+ New Linked Profile</button>
</cb-table-toolbar>

<table class="cb_table">
  <thead>
    <tr>
      <th class="cb_table-col_id" (click)="sortBy('ProfileId')">ID <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='ProfileId'"></cb-svg></th>
      <th (click)="sortBy('Name')">Name <cb-svg icon="carrot" [class.flipHorizontally]="!sortAsc" *ngIf="sortString=='Name'"></cb-svg></th>
      <th [attr.data-status]="true">Default Anonymous Profile</th>
      <th [attr.data-status]="true">Default Registered Profile</th>
      <th class="not-sortable cb_table-col_delete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="filtered | orderBy : sort" let-i="index">
      <tr *ngIf="onCurrentPage(i)">
        <td (click)="goToDetails(row.ProfileId)">
          <cb-svg class="cb_table-edit" title="Edit Record" [icon]="'pencil'"></cb-svg>
          {{row.ProfileId}}
        </td>
        <td (click)="goToDetails(row.ProfileId)">{{row.Name}}</td>
        <td [attr.data-status]="portal.DefaultAnonymousProfileId==row.ProfileId" (click)="goToDetails(row.ProfileId)">
          <cb-svg [icon]="portal.DefaultAnonymousProfileId==row.ProfileId ? 'checkFilled' : 'checkEmpty'"></cb-svg>
        </td>
        <td [attr.data-status]="portal.DefaultRegisteredProfileId==row.ProfileId" (click)="goToDetails(row.ProfileId)">
          <cb-svg [icon]="portal.DefaultRegisteredProfileId==row.ProfileId ? 'checkFilled' : 'checkEmpty'"></cb-svg>
        </td>
        <td class="cb_table-utils" (click)="delete(row.ProfileId)">
          <cb-svg class="closeCircle" title="Delete Record" [icon]="'closeCircle'"></cb-svg>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<p *ngIf="filtered.length<1" class="cb_content_primary-description">There currently are no profiles assigned to this storefront.</p>

<cb-table-pagination *ngIf="total" [total]="filtered.length" [count]="count" (onPageChange)="onPageChange($event)"></cb-table-pagination>
