<cb-flex-modal
  #previewDialog
  (onCloseDialog)="close($event)"
  (onSave)="btnSubmit.click()"
  [displayDialog]="displayDialog"
  [modalTitle]="isNew ? 'New Collection Hierarchy' : node?.Category?.Name"
  [width]="640"
  [isLoading]="loading || (categoryProfileList && categoryProfileList.loading)"
  [buttonTexts]="{ cancelText: 'Cancel', saveAndClose: 'Save' }"
  [isSubmitValid]="cbForm.valid"
  [isActive]="isActive"
  [rowActions]="isNew ? [] : recordActions"
  (onSetActive)="toggleActive()"
  (onRemove)="remove()"
>
  <div class="flex-modal-body-content">
    <div>
      <form
        class="cb_form"
        (ngSubmit)="save()"
        ngNativeValidate
        #cbForm="ngForm"
      >
        <div
          class="cb_fieldset"
          style="min-width: 260px; margin-bottom: 0"
          *ngIf="!loading"
        >
          <h3 class="cb_fieldset-headline">
            Associated Collection Details</h3>
          <hr class="cb_form-divider" />

          <div class="cb_fieldset-field">
            <cb-tooltip
              locationId="catalog_associated_selectCategory"
              class="pull-right"
            ></cb-tooltip>
            <div class="cb_fieldset-field_wrapper" style="margin-right: 25px;">
              <cbx-dropdown
                name="category"
                dataValue="CategoryId"
                dataText="DisplayText"
                label="Select Collection"
                [options]="categories"
                [ngModel]="node.CategoryId"
                (onSelect)="selectCategory($event)"
                [selectedColor]="selectColor"
                style="width: 99%"
              >
              </cbx-dropdown>
            </div>
          </div>

          <div class="cb_fieldset-field">
            <cb-tooltip
              locationId="catalog_associated_selectParentCategory"
              class="pull-right"
            ></cb-tooltip>
            <div class="cb_fieldset-field_wrapper" style="margin-right: 25px;">
              <cbx-dropdown
                name="parentCategoryNodeId"
                dataValue="CategoryNodeId"
                dataText="DisplayText"
                label="Parent Collection"
                [options]="parentNodes"
                [ngModel]="node.ParentCategoryNodeId"
                [selectedColor]="selectColor"
                style="width: 99%"
                (onSelect)="selectParent($event)"
              >
              </cbx-dropdown>
            </div>
          </div>

          <div
            class="cb_fieldset-field required"
            [class.error]="
              displayOrder.errors &&
              (displayOrder.dirty || displayOrder.touched)
            "
          >
            <cb-tooltip
              locationId="catalog_associated_displayOrder"
              class="pull-right"
            ></cb-tooltip>
            <div class="form-control-float-wrapper">
              <input
                class="cb_fieldset-field_input"
                [ngClass]="node.DisplayOrder ? 'cb_input-value' : 'cb_input-empty'"
                type="text"
                [(ngModel)]="node.DisplayOrder"
                name="displayOrder"
                #displayOrder="ngModel"
                required
              />
              <span class="floating-label"
                >Display Order <span class="required-label">*</span></span
              >
            </div>
          </div>

          <img
            *ngIf="node.Category?.ImageFile"
            class="cb_input-upload-preview"
            [src]="node.Category.ImageFile"
            alt=""
            style="margin-top: 0;"
          />
        </div>

        <div
          class="cb_fieldset-field"
          style="min-width: 260px; margin: 0; display: inline-block;"
        >
          <h3 class="cb_fieldset-headline">
            Products in Associated Collection
            <cb-tooltip locationId="catalog_associated_productsInCollection" class="pull-right"></cb-tooltip>
          </h3>
          <hr class="cb_form-divider" />

          <cb2-table
            *ngIf="categoryProducts.length"
            [value]="categoryProducts"
            [cols]="productColumns"
            [compact]="true"
            [width]="'260px'"
          >
          </cb2-table>
        </div>

        <!-- <div class="cb_fieldset" *ngIf="node.CategoryId">
          <cb-category-profile-list
            [category]="node.CategoryId"
          ></cb-category-profile-list>
        </div> -->

        <div class="cb_fieldset-field" *ngIf="!isNew">
          <cb-category-profile-list #profileList (isChanged)="checkProfileListChanges($event)"></cb-category-profile-list>
        </div>

        <div class="cb_content_submit" style="display: none;">
          <button
            class="cb_input-keyAction cancel"
            (click)="close()"
            type="button"
          >
            Cancel
          </button>
          <button class="cb_input-keyAction" type="submit" #btnSubmit>
            <img
              src="/assets/img/ring.gif"
              style="max-height: 13px;float: left;margin-right: 13px;"
              *ngIf="saving"
            />
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</cb-flex-modal>
