<header class="cb_header" [class.overlay]="overlay">
  <h1 class="cb_header-brand" [class.overlay]="overlay"><a [routerLink]="['/ecommerce/storefronts']" class="cb_header-brand_logo">{{themeService.currentTheme.name}}</a></h1>
  <div class="cb_header-search" *ngIf="false">
    <label class="cb_header-search_label"><i class="glyphicon glyphicon-search"></i></label>
    <input class="cb_header-search_input" type="text" placeholder="I'm looking for...">
    <span class="cb_header-search_advanced">&#9650;</span>
  </div>
  <div class="dropdown cb_header-roles" *ngIf="modules.length>1">
    <a class="cb_header-roles_trigger" data-target="#" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">{{currentModule}}</a>
    <div class="cb_header-roles_handle"></div>
    <ul class="dropdown-menu cb_header-roles_dropdown">
      <li><a href="#" class="cb_header-roles_items--disabled">Select Role</a></li>
      <li><a href="#" class="cb_header-roles_items" *ngFor="let module of modules">{{module}}</a></li>
    </ul>
  </div>

  <div class="dropdown cb_header-segment" *ngIf="false">
    <a href="#" class="cb_header-segment_symbol" data-target="#" href="#" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">
      <img class="cb_header-segment_icon" src="assets/svg/alerts.svg">
      <i class="cb_badge high" *ngIf="alerts">{{alerts.length}}</i>
    </a>

    <ul class="dropdown-menu cb_header-submenu">
      <li class="cb_header-submenu_arrow"></li>
      <li class="cb_header-submenu_header">
        <p class="cb_header-submenu_header-content">
          Alerts ({{alerts.length}})
          <a class="cb_header-submenu_header-icon"><img src="assets/svg/settings.svg"></a>
        </p>
      </li>
      <ul class="cb_header-submenu_collection" *ngIf="alerts">
        <li *ngFor="let alert of alerts">
          <a [routerLink]=alert.path [class.cb_header-submenu--alerts_item--read]="alert.read" [class.cb_header-submenu--alerts_item]="!alert.read">
            <span *ngIf="alert.icon" class="cb_header-submenu--alerts_item-icon"><img src="assets/svg/{{alert.icon}}.svg"></span>
            {{alert.title}}
            <span class="cb_header-submenu--alerts_item-received">{{alert.date}}</span>
          </a>
        </li>
      </ul>
      <li class="cb_header-submenu_footer" *ngIf="alerts">
        <p class="cb_header-submenu_footer-content">
          <a class="cb_header-submenu_footer-link">Mark all seen</a>
        </p>
      </li>
    </ul>

  </div>
  <div class="dropdown cb_header-segment" *ngIf="false">
    <a href="#" class="cb_header-segment_symbol" data-target="#" href="#" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">
      <img class="cb_header-segment_icon" src="assets/svg/messages.svg">
      <i class="cb_badge low" *ngIf="messages">{{messages.length}}</i>
    </a>

    <ul class="dropdown-menu cb_header-submenu">
      <li class="cb_header-submenu_arrow"></li>
      <li class="cb_header-submenu_header">
        <p class="cb_header-submenu_header-content">
          Messages ({{messages.length}})
          <a class="cb_header-submenu_header-icon" href="#"><img src="assets/svg/settings.svg"></a>
          <a class="cb_header-submenu_header-link" href="#">+ New Message</a>
        </p>
      </li>

      <li *ngFor="let message of messages">
        <a [routerLink]=message.path [class.cb_header-submenu--messages_item--read]="message.read" [class.cb_header-submenu--messages_item]="!message.read">
          <img class="cb_header-submenu--messages_sender" src="{{message.img}}">
          <div class="cb_header-submenu--messages_summary">
            <p class="cb_header-submenu--messages_summary-sender">{{message.sender}}</p>
            <p class="cb_header-submenu--messages_summary-preview">{{message.content}}</p>
          </div>
          <div class="cb_header-submenu--messages_meta">
            <p class="cb_header-submenu--messages_meta-received">
              {{message.date}}
              <span class="cb_header-submenu--messages_meta-read"><img src="assets/svg/messages.svg"></span>
            </p>
          </div>
        </a>
      </li>

    </ul>

  </div>

  <div class="cb_header-segment--user" [class.overlay]="overlay">
    <div dropdown class="cb_header-segment_user_symbol">
        <a data-target="#" dropdownToggle>
          <cb-icon [icon]="'fal fa-question'" [iconTypeClass]="'cb_header-icon'"></cb-icon>
        </a>
        <ul class="dropdown-menu cb_header-submenu--user dropdown-menu-right" *dropdownMenu>
          <li *ngFor="let supportOption of helpSupportOptions">
            <a href="{{supportOption.link}}" target="_blank">
              {{supportOption.name}}
            </a>
          </li>
        </ul>
    </div>

  </div>
</header>
